<section class="hero-section">
    <owl-carousel-o [options]="customOptions">

        <ng-template carouselSlide>
            <div class="bg1">
                <div class="container hero-content d-flex flex-wrap default-animation">
                    <div class="hero-model-img">
                        <img src="../../../assets/girl.png" alt="" class="hero-img1">
                        <!-- <div class="hero-img1"></div> -->
                    </div>
                    <div class="hero-text d-flex align-items-center justify-content-center flex-column">
                        <div class="hero-text-container">
                            <h1 class="heading">
                                <p class="title">NEW TRENDS</p>
                                WINTER SALE
                                <h3>GIRLS</h3>
                            </h1>
                            <button class="heading-button"><a href="">Explore More</a></button>
                        </div>
                    </div>
                </div>
            </div>
        </ng-template>

        <ng-template carouselSlide>
            <div class="bg2">
                <div class="container hero-content d-flex">
                    <div class="hero-text d-flex align-items-center justify-content-center flex-column">
                        <div class="hero-text-container">
                           <h1 class="heading">
                            <p class="title">HOT DEALS</p>
                            TRENDING STYLES
                            <h3>BOYS</h3>
                           </h1>

                           <button class="heading-button"><a href="">Explore More</a></button>
                        </div>

                    </div>
                    <div class="hero-model-img">
                        <img src="../../../assets/boy2.png" alt="" class="hero-img2">
                    </div>
                </div>
            </div>
        </ng-template>
 
        <!-- <ng-template carouselSlide>Slide 3</ng-template>   -->
    </owl-carousel-o>
</section>