<section class="hero-section">
    <div *ngIf="bannerData | async">
        <owl-carousel-o [options]="customOptions">
            <ng-container *ngFor="let banner of bannerData">
                <ng-template carouselSlide>
                    <ng-container *ngIf="!banner.title; else bannerData1">
                        <a [routerLink]="[getLink(banner.buttonLink)]">
                            <div class="banner-background" [ngStyle]="{
                            'background-image': 'url(' + banner.backgroundImage + ')',
                            'background-size': 'cover',
                            'background-position': 'center'
                          }">
                            </div>
                        </a>
                    </ng-container>
                    <ng-template #bannerData1>
                        <div class="banner-background relative" [ngStyle]="{
                        'background-image': 'url(' + banner.backgroundImage + ')',
                        'background-size': 'cover',
                        'background-position': 'center'
                      }">
                            <div class="overlay absolute mh100 mw100"></div>
                            <ng-container *ngIf="banner.contentAlign">
                                <div class="container d-flex align-item-center default-animation mh100"
                                    [ngStyle]="{ 'justify-content': banner.contentAlign === 'Center' ? 'center' : banner.contentAlign === 'Right' ? 'flex-end' : 'flex-start' }">
                                    <div class="hero-text-container d-flex flex-column gap-10"
                                        [ngClass]="{ 'align-item-center': banner.contentAlign === 'Center', 'align-item-flex-end': banner.contentAlign === 'Right' }">
                                        <p class="title" [ngStyle]="{'color': banner.colors.subTitleColor}">
                                            {{ banner.subTitle }}
                                        </p>
                                        <h3 [ngStyle]="{'color': banner.colors.titleColor}">
                                            {{ banner.title }}
                                        </h3>
                                        <a [routerLink]="[getLink(banner.buttonLink)]">
                                            <button class="heading-button"
                                                [ngStyle]="{'color': banner.colors.buttonColor, 'border-color': banner.colors.buttonColor}">
                                                Explore More
                                            </button>
                                        </a>
                                    </div>
                                </div>
                            </ng-container>

                            <!-- <ng-container *ngIf="banner.contentAlign == 'Left'">
                                <div class="container d-flex align-item-center default-animation mh100"
                                    style="justify-content: flex-start;">
                                    <div class="hero-text-container d-flex flex-column gap-10">
                                        <p class="title" [ngStyle]="{'color' : banner.colors.subTitleColor}">
                                            {{banner.subTitle}}</p>
                                        <h3 [ngStyle]="{'color' : banner.colors.titleColor}">{{banner.title}}</h3>
                                        <a [routerLink]="[getLink(banner.buttonLink)]">
                                            <button class="heading-button" [ngStyle]="{'color' : banner.colors.buttonColor, 
                                'border-color' : banner.colors.buttonColor}">Explore
                                                More</button>
                                        </a>
                                    </div>
                                </div>
                            </ng-container>
                            
                            <ng-container *ngIf="banner.contentAlign == 'Center'">
                                <div class="container d-flex align-item-center default-animation mh100"
                                    style="justify-content: center;">
                                    <div class="hero-text-container d-flex flex-column gap-10 align-item-center">
                                    
                                            <p class="title" [ngStyle]="{'color' : banner.colors.subTitleColor}">
                                                {{banner.subTitle}}</p>
                                            <h3 [ngStyle]="{'color' : banner.colors.titleColor}">{{banner.title}}</h3>
                            
                                        <a [routerLink]="[getLink(banner.buttonLink)]">
                                            <button class="heading-button" [ngStyle]="{'color' : banner.colors.buttonColor, 
                                'border-color' : banner.colors.buttonColor}">Explore
                                                More</button>
                                        </a>
                                    </div>
                                </div>
                            </ng-container>
                            <ng-container *ngIf="banner.contentAlign == 'Right'">
                                <div class="container d-flex align-item-center default-animation mh100"
                                    style="justify-content: flex-end;">
                                    <div class="hero-text-container d-flex flex-column gap-10" style="align-items: flex-end;">
                                     
                                            <p class="title" [ngStyle]="{'color' : banner.colors.subTitleColor}">
                                                {{banner.subTitle}}</p>
                                            <h3 [ngStyle]="{'color' : banner.colors.titleColor}">{{banner.title}}</h3>
                             
                                        <a [routerLink]="[getLink(banner.buttonLink)]">
                                            <button class="heading-button" [ngStyle]="{'color' : banner.colors.buttonColor, 
                                'border-color' : banner.colors.buttonColor}">Explore
                                                More</button>
                                        </a>
                                    </div>
                                </div>
                            </ng-container> -->

                        </div>
                    </ng-template>
                </ng-template>
            </ng-container>
        </owl-carousel-o>
    </div>
    <owl-carousel-o [options]="customOptions">
        <ng-container *ngIf="bannerData == ''">
            <ng-template carouselSlide>
                <div class="bg1">
                    <div class="container hero-content d-flex flex-wrap default-animation">
                        <div class="hero-model-img">
                            <img src="../../../assets/girl.png" alt="" class="hero-img1">

                        </div>
                        <div class="hero-text d-flex align-item-center justify-content-center flex-column">
                            <div class="hero-text-container">
                                <h1 class="heading">
                                    <p class="title">NEW TRENDS</p>
                                    WINTER SALE
                                    <h3>GIRLS</h3>
                                </h1>
                                <a [routerLink]="['explore']"> <button class="heading-button">Explore More</button></a>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-template>

            <ng-template carouselSlide>
                <div class="bg2">
                    <div class="container hero-content d-flex">
                        <div class="hero-text d-flex align-item-center justify-content-center flex-column">
                            <div class="hero-text-container">
                                <h1 class="heading">
                                    <p class="title">HOT DEALS</p>
                                    TRENDING STYLES
                                    <h3>BOYS</h3>
                                </h1>

                                <a [routerLink]="['explore']"> <button class="heading-button">Explore More</button></a>
                            </div>

                        </div>
                        <div class="hero-model-img">
                            <img src="../../../assets/boy2.png" alt="" class="hero-img2">
                        </div>
                    </div>
                </div>
            </ng-template>
        </ng-container>

    </owl-carousel-o>
</section>