.hero-section {
    margin-block-start: 80px;

    /* background-image: url(../../assets/hero-bg.png); */
    & .hero-text {
        width: 50%;
    }

    & .hero-model-img {
        width: 50%;
    }

    .bg1 {
        /* background:  url(../../../assets/hero-bg1.png); */
        background-color: rgba(0, 234, 255, 0.1);
        background-image: url(../../../assets/deal-of-week-component/dealOfWeek-homeBg.png);
        background-size: cover;
    }

    .bg2 {
        /* background: url(../../../assets/hero-bg2.png); */
        background-color: rgba(0, 255, 30, 0.1);
        background-image: url(../../../assets/deal-of-week-component/dealOfWeek-homeBg.png);
        background-size: cover;
    }

    & .hero-img1 {
        min-height: 100%;
        background: url(../../../assets/girl.png);
        background-size: cover;
    }

    & .hero-img2 {
        min-height: 100%;
        background: url(../../../assets/boy2.png);
        background-size: cover;
    }

    & .hero-text-container {

        & p {
            font-size: 12px;
            color: rgb(var(--primary));
            font-weight: 500;
        }

        & h2 {
            font-size: 46px;
            font-weight: 400;
            letter-spacing: 1.2px;
        }

        & h3 {
            font-size: 46px !important;
            font-weight: 700;
        }
    }

}

.hero-content {
    height: calc(100vh - 80px);
}