<section class="hero-section">
    <div *ngIf="bannerData">
        <owl-carousel-o [options]="customOptions">
            <ng-container *ngFor="let banner of bannerData">
                <ng-template carouselSlide>
                    <div class="banner-background" [ngStyle]="{
                        'background-image': 'url(' + banner.backgroundImage + ')',
                        'background-size': 'cover',
                        'background-position': 'center'
                      }">
                        <div class="container hero-content d-flex flex-wrap default-animation">
                            <ng-template *ngIf="banner.contentAlign === 'Left'">
                                <div class="hero-text-container" style="margin-inline-start: 0;">
                                    <h1 class="heading">
                                        <p class="title" [ngStyle]="{'color' : banner.colors.subTitleColor}">
                                            {{banner.subTitle}}</p>
                                        <h3 [ngStyle]="{'color' : banner.colors.titleColor}">{{banner.title}}</h3>
                                    </h1>
                                    <a [routerLink]="['explore']">
                                        <button class="heading-button" [ngStyle]="{'color' : banner.colors.buttonColor, 
                                        'border-color' : banner.colors.buttonColor}">Explore
                                            More</button>
                                    </a>
                                </div>
                            </ng-template>
                            <ng-template *ngIf="banner.contentAlign === 'Center'">
                                <div class="hero-text-container" style="margin-inline: auto">
                                    <h1 class="heading">
                                        <p class="title" [ngStyle]="{'color' : banner.colors.subTitleColor}">
                                            {{banner.subTitle}}</p>
                                        <h3 [ngStyle]="{'color' : banner.colors.titleColor}">{{banner.title}}</h3>
                                    </h1>
                                    <a [routerLink]="['explore']">
                                        <button class="heading-button" [ngStyle]="{'color' : banner.colors.buttonColor, 
                                        'border-color' : banner.colors.buttonColor}">Explore
                                            More</button>
                                    </a>
                                </div>
                            </ng-template>
                            <ng-template *ngIf="banner.contentAlign === 'Right'">
                                <div class="hero-text-container" style="margin-inline-end: 0;">
                                    <h1 class="heading">
                                        <p class="title" [ngStyle]="{'color' : banner.colors.subTitleColor}">
                                            {{banner.subTitle}}</p>
                                        <h3 [ngStyle]="{'color' : banner.colors.titleColor}">{{banner.title}}</h3>
                                    </h1>
                                    <a [routerLink]="['explore']">
                                        <button class="heading-button" [ngStyle]="{'color' : banner.colors.buttonColor, 
                                        'border-color' : banner.colors.buttonColor}">Explore
                                            More</button>
                                    </a>
                                </div>
                            </ng-template>

                            <div class="hero-text d-flex flex-column hero-text-container">
                                <div class="hero-text-container">
                                    <h1 class="heading">
                                        <p class="title" [ngStyle]="{'color' : banner.colors.subTitleColor}">
                                            {{banner.subTitle}}</p>
                                        <h3 [ngStyle]="{'color' : banner.colors.titleColor}">{{banner.title}}</h3>
                                    </h1>
                                    <a [routerLink]="['explore']">
                                        <button class="heading-button" [ngStyle]="{'color' : banner.colors.buttonColor, 
                                    'border-color' : banner.colors.buttonColor}">Explore
                                            More</button>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-template>
            </ng-container>
        </owl-carousel-o>
    </div>
    <owl-carousel-o [options]="customOptions">


        <!-- <ng-container *ngIf="bannerData !== ''">
            <ng-template carouselSlide>
                <div class="bg1">
                    <div class="container hero-content d-flex flex-wrap default-animation">
                        <div class="hero-model-img">
                            <img src="../../../assets/girl.png" alt="" class="hero-img1">
            
                        </div>
                        <div class="hero-text d-flex align-item-center justify-content-center flex-column">
                            <div class="hero-text-container">
                                <h1 class="heading">
                                    <p class="title">NEW TRENDS</p>
                                    WINTER SALE
                                    <h3>GIRLS</h3>
                                </h1>
                                <a [routerLink]="['explore']"> <button class="heading-button">Explore More</button></a>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-template>

            <ng-template carouselSlide>
                <div class="bg2">
                    <div class="container hero-content d-flex">
                        <div class="hero-text d-flex align-item-center justify-content-center flex-column">
                            <div class="hero-text-container">
                                <h1 class="heading">
                                    <p class="title">HOT DEALS</p>
                                    TRENDING STYLES
                                    <h3>BOYS</h3>
                                </h1>

                                <a [routerLink]="['explore']"> <button class="heading-button">Explore More</button></a>
                            </div>

                        </div>
                        <div class="hero-model-img">
                            <img src="../../../assets/boy2.png" alt="" class="hero-img2">
                        </div>
                    </div>
                </div>
            </ng-template>
        </ng-container> -->

    </owl-carousel-o>
</section>