<div class="explore-container d-flex ">

    <div class="filters d-flex flex-column gap-10">
        <div class="head d-flex justify-content-md-between align-items-center">
            <h4>FILTERS</h4>
            <button  class="clear-btn" >Clear all</button>
        </div>
        <div class="brand-filter d-flex flex-column gap-10">
            <h5>BRAND</h5>
            <div class="brand-check d-flex gap-5">
                <input type="checkbox" name="brand" id="bonkers" >
                <label for="bonkers">Bonkers Corners</label>
            </div>
        </div>
        <div class="category-filter d-flex flex-column gap-10">
            <h5>CATEGORY</h5>
            <!-- <div class="category-check d-flex gap-5" *ngFor="let category of categories">
                <input type="checkbox" name="category" id="{{category}}" value="{{category}}"
                   (click) = "categoryChecked($event)" >
                <label for="{{category}}">{{category}}</label>
            </div> -->
        </div>
        <div class="price-filter d-flex flex-column gap-10">
            <h5>PRICE</h5>
            <div class="price-check d-flex gap-5">
                <input type="checkbox" name="price" id="price">
                <label for="price">₹500 - ₹1000</label>
            </div>
        </div>
        <div class="color-filter d-flex flex-column gap-10">
            <h5>COLOR</h5>
            <div class="color-check d-flex gap-5 align-items-center"    >
                <input type="checkbox" name="price" id="price">
                <div class="color-circle"></div>
                <label for="price">Green</label>
            </div>
        </div>
        <div class="discount-filter d-flex flex-column gap-10">
            <h5>DISCOUNT</h5>
            <div class="discount-check d-flex gap-5 align-items-center">
                <input type="radio" name="discount" id="discount">
                <label for="discount">30% and above</label>
            </div>
        </div>
    </div>
   
</div>
