.explore-container{
    padding-inline: 20px;
    gap: 20px;
    width: 100%;
  
}
.filter-icon {
    display: none;
}
.explore-cards{
    width: 85%;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    justify-content: center;

}
.filters {
    position: sticky;
    inset-block-start: 0;
    inset-inline-start: 0;
    width: 15%;

    & h4 {
        font-weight: 600;
        border-block-end: 1px solid rgb(var(--text-black), 0.2);
        padding-block-end: 10px;
        font-size: 20px !important;
       
    }
    & .show-btn {
        font-size: 12px !important;
        color: rgb(var(--accent));
        cursor: pointer;
    }
    & .capital {
        text-transform: capitalize;
    }
    .types:last-child{
        border-bottom: none;
    }
    & label {
        font-size: 12px !important;
        color: rgb(var(--text-black), 0.8);
        white-space: nowrap;
    }
    & .types {
        border-block-end: 1px solid rgb(var(--text-black), 0.2); 
        padding-block-end: 10px;
    }
    & .color-circle{
        width : 10px;
        height : 10px;
        background-color: green;
        border-radius: 50%;
    }
    & .clear-btn {
        background-color: transparent;
        font-size: 12px !important;
        padding: 0;
        color: rgb(var(--accent));
       
    }

}

.filter .types{
    margin-block-start: 10px;
}
.filtersMenu {
    background-color: rgb(var(--text-white));
    opacity: 1;
    /* min-width: 20vw; */
    z-index: 99;
    height: 100vh;
}

@media screen and (max-width: 1370px){
    .explore-cards {
        gap: 15px;
        width: 87%;
    }
    .filters {
        width: 13%;
    }
}

@media screen and (max-width: 1290px){
    .filters {
        width: 20%;
    }
    .explore-cards {
        width: 80%;
        grid-template-columns: repeat(3, 1fr);
        gap: 30px;

    }
}

@media screen and (max-width: 1040px){
    .explore-cards {
        gap : 15px;
    }
    .filters {
        width: 15%;
    }
    .explore-cards {
        width: 85%;
    }
    .explore-container {
        gap: 15px;
    }
}

@media screen and (max-width: 1020px) {
    .explore-cards{
        grid-template-columns: repeat(3, 1fr);
        justify-items: center;
        & div{
            max-width: 280px;
        }
    }
}
@media screen and (max-width: 990px){
    .explore-cards{
        column-gap: 0px ;
    }
}
@media screen and (max-width: 970px){
    .filters{
        width: 20%;
    }
    .explore-cards {
        width: 80%;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 0px;


    }
}

@media screen and (max-width: 530px) {
    .explore-cards{
        grid-template-columns: repeat(1, 1fr);
        
    }
}
@media screen and (max-width: 790px){
    .explore-cards{
        column-gap: 15px;
    }
}
@media screen and (max-width: 730px){
    .filters{
        display: none;
    }
    .filter-icon{
        width: 8%;
        display: flex;
        & span {
            color: rgb(var(--text-black), 0.8)
        }
    }
    .explore-container{
        gap: 15px;
    }
    .explore-cards{
        padding-inline: 15px;
    }
}




/* @media screen and (max-width: 720px) {
    .explore-cards{
        grid-template-columns: repeat(2, 1fr);
       
    }
} */