<div *ngIf="dataLoaded">
    <div class="explore-container d-flex">
        <div class="filters d-flex flex-column gap-10">
            <div class="head ">
                <h4>FILTERS</h4>
                <!-- <button  class="clear-btn" >Clear all</button> -->
            </div>
            <div *ngFor="let filter of uniqueData | keyvalue" class="types">
                <div class="category d-flex flex-column gap-10" >
                    <h5 class="capital">{{ filter.key }}</h5>
                    <div class="d-flex gap-10" *ngFor="let value of filter.value">
                        <input type="checkbox" [name]="filter.key" [value]="value" [id]="value">
                        <label [for]="value" class="capital">{{ value }}</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="explore-cards grid">
            <div *ngFor="let product of productData" class="idhar">
                <app-card-template [product]="product"></app-card-template>
            </div>
        </div>
    </div>
</div>