#productDetails{

    & .product__content{ 

        gap: 20px;
        d-grid-template-columns: repeat(1fr, 250px);
    }

    & .d-grid__items, .table__items{
        padding: 20px;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
        border-radius: 10px;
        border: none;
        background-color: rgb(var(--whiteClr));
    }

    & .d-grid__items{
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    & .customerInfo{
        d-grid-column-start: 1;
        d-grid-column-end: 2;
    }

    & .orderStatus{
        d-grid-column-start: 2;
        d-grid-column-end: 5;
    }

    & .OrderItems{
        d-grid-column-start: 1;
        d-grid-column-end: 5;
    }


    & table{
        & td, th{
            padding: 10px;
        }

        & th{
            text-align: left;
        }
    }
}

.milestone{

    & .milestone-row{
        display: flex;
        flex-direction: column;
        gap: 10px;        

        & .milestone-bar{
            display: flex;
            align-items: center;

            & .milestone-check{
                width: 15px;
                height: 15px;
                /* border-radius: 25px; */
                border-radius: 50%;
                background-color: rgb(var(--blue-clr));
            }
        }

        & .status{
            font-size: 14px;
            font-weight: 500;
            padding-inline-end: 20px;
        }
    }

    & .milestone-row:not(:last-child){
        & .milestone-line{
            width: 90%;
            height: 5px;
            background-color: rgb(var(--blue-clr));
        }
    }
}
