.header {
    inset-block-start: 50px;
    inset-inline-start: 50px;
    z-index: 1;

    & img {
        width: 150px;
    }
}

.login {
    min-height: 100dvh;

    & .relative {
        position: relative;
    }

    & .column {
        padding: 0;
        width: 50%;
        background-color: rgb(var(--whiteClr));
    }

    .google-btn-wrapper {
        height: 50px;
    }

    & .google-btn {
        opacity: 0;
        position: absolute;
    }

    & .or-div {
        margin-block: 20px;
        opacity: 0.8;
        border-block-start: 1px solid rgb(var(--textClr), 0.3);

        & p {
            background-color: rgb(var(--whiteClr));
            left: 50%;
            transform: translate(-50%, -10px);
            padding-inline: 10px;
            color: rgb(var(--textClr), 0.8);
        }
    }

    & .form-container,
    .password-container {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-inline: 20px;
        width: min(100%, 400px);
        /* height: min(100%, 600px); */

        & .login-title {
            font-size: 32px;
            font-weight: 500;
            letter-spacing: 0.4px;
            line-height: 0.9;
            margin-block-end: 35px;
            color: rgb(var(--blackClr))
        }


        & .key {
            transform: rotate(90deg);
        }

        & .eye {
            font-size: 15px;
            color: rgb(var(--textClr), 0.3);
            font-weight: 900;
        }


        & .eye-btn:is(:active, :hover) {
            & .eye {

                color: rgb(var(--primaryClr), 0.7);
            }
        }


        & .eye-btn {

            padding: 13px 5px;
            border-radius: 10px;
            border: none;

            position: absolute;
            inset-block-start: 30px;
            inset-inline-end: 7px;
            background-color: transparent;
        }

        & .invalid {
            color: rgb(var(--danger));
            font-size: 12px !important;
            position: absolute;
            inset-block-start: 73px;
        }

        & .sign-up-text {
            color: rgb(var(--primaryClr));

            &:is(:hover, :active, :focus) {
                text-decoration: underline;
            }
        }

        & .acc-text {
            font-size: 14px !important;
        }

        & .forgot-pass {
            font-size: 12px;
            text-align: right;
            color: rgb(var(--primaryClr));
            padding-inline-end: 5px;
            padding-block-start: 7px;
        }
    }

    & .right-column {
        background-image: url(../../../assets/login.avif);
        background-size: cover;
    }

}

.form__group {
    width: 100%;
    margin-block-end: 12px;

    & input {
        width: 100%;
        height: 52px;
        padding-inline-start: 40px;
        padding-inline-end: 30px;
        border-radius: 8px;
        border: 1px solid rgb(var(--blackClr), 0.08);
        background-color: rgba(var(--blackClr),0.05);
        font-size: 14px;
        outline: none;
        color: rgb(var(--textClr));

    }

    & input:focus {
        border-color: rgb(var(--textClr), 0.4);
    }

    & label {
        font-size: 14px;
        color: rgb(var(--textClr), 0.9);
        padding-bottom: 5px;
    }

    & label span {
        color: rgb(var(--danger));
    }

    & label::after {
        content: "*";
        color: rgb(var(--danger));
        right: 0;
    }

    & .form__icon {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40px;
        inset-block-start: 40px;
        inset-inline-start: 0;
        background-color: transparent;
        color: rgb(var(--textClr), 0.5);
    }

    & ::placeholder {
        color: rgb(var(--textClr), 0.3);
    }

    & small {
        margin-block-start: 8px;
    }
}



@keyframes spinner {
    to {transform: rotate(360deg);}
  }


@media screen and (max-width: 960px) {
    .form-container {

        & .login-title {
            font-size: 40px !important;
        }
    }
}


@media screen and (max-width: 992px) {
    .header {
        position: static;
        display: flex;
        justify-content: center;

        & img {
            min-width: 240px !important;
        }
    }

    .login-title {
        display: none;
    }

    .login {
        position: relative;

        & .column {
            padding: 0;
            width: 50%;
            background-color: rgb(var(--whiteClr));
        }

        & .left-column {
            position: absolute;
            inset-inline: 0;
            width: 100%;
            height: 100%;
            background-color: #00000027;
        }

        & .form-container {
            gap: 25px;
            background: rgb(var(--whiteClr));
            padding: 40px;
            border-radius: 5px;
        }

        & .right-column {
            width: 100%;
        }
    }

    .loginbtn {
        height: 48px;
    }
}

@media screen and (max-width: 480px) {
    .login {
        & .column {
            width: 100%;
            height: 100%;
            background-color: rgb(var(--whiteClr), 0.9);
        }

        & .left-column {
            width: 100%;
        }
    }

    .login {

        & .form-container {
            transform: translateY(-10px);
            padding: 0px 35px;
        }
    }
}