<section class="login d-flex">
    <div class="column left-column d-flex justify-content-center align-item-center ">
        <div class="form-container d-flex flex-column relative" *ngIf="showPasswordForm==false">
            <div class="header fixed">
                <a routerLink="/"><img src="../../assets/logo.svg" alt="logo"></a>
            </div>
            <h2 class="login-title text-center">Welcome Back</h2>
            <form [formGroup]="loginForm" class="mw100 d-flex flex-column gap-15">

                <div class="form__group relative d-flex flex-column">
                    <label class="form__label">Email</label>
                    <span class="material-symbols-outlined person form__icon absolute">person</span>
                    <input type="text" placeholder="Enter Your Email" formControlName="email">


                </div>

                <!-- PASSWORD INPUT  -->
                <div class="form__group d-flex  flex-column relative">


                    <label class="d-flex  password-label">Password</label>
                    <span class="material-symbols-outlined key  form__icon absolute">key</span>
                    <input [type]="passwordFieldType" placeholder="Enter Your Password" formControlName="password">
                    <a class="eye-btn flex justify-content-center align-item-center"
                        (click)="togglePasswordVisibility()">
                        <span class="material-symbols-outlined eye">{{ showPassword ? 'visibility' :
                            'visibility_off'}}</span>
                    </a>
                    <div class="forgot-pass">
                        <a class="pointer sign-up-text" (click)="showPasswordForm=true">Forgot password?</a>
                    </div>

                </div>


                <button class="btn btn-md fw-500 btn-rounded btn-primary  relative" [disabled]="loginForm.invalid"
                    [ngClass]="{'disabled':loginForm.invalid, 'spinner' : loading}" (click)="onLogin()">Login</button>
                <div class="or-div relative">
                    <p class="absolute">or</p>
                </div>

                <button
                    class="btn btn-md fw-500 btn-rounded btn-secondary relative d-flex justify-content-center align-item-center google-btn-wrapper ">
                    <img src="../../../assets/logos/google-logo.svg" width="50px" height="50px" alt="google" />
                    Sign in with Google
                    <div class="google-btn ">
                        <div id="g_id_onload"
                            data-client_id="772184715446-gek74bjj4p973rl3jtcbhmmrtsdp2dsl.apps.googleusercontent.com"
                            data-context="signin" data-ux_mode="popup" data-callback="LoginGoogleHandler"
                            data-auto_prompt="false">
                        </div>

                        <div class="g_id_signin" data-type="standard" data-shape="rectangular" data-theme="outline"
                            data-text="signin_with" data-size="large" data-logo_alignment="left">
                        </div>
                    </div>
                </button>

                <p class="text-center acc-text">Don't have an account? <a class="sign-up-text"
                        [routerLink]="['/auth/signup']">Sign up</a></p>
            </form>
        </div>
        <div class="form-container d-flex flex-column relative" *ngIf="showPasswordForm==true">
            <div class="header fixed">
                <a routerLink="/"><img src="../../assets/logo.svg" alt="logo"></a>
            </div>
            <h2 class="login-title text-center">Forgot Password</h2>
            <form [formGroup]="forgetPasswordForm" class="mw100 d-flex flex-column gap-15">
                <div class="form__group relative d-flex flex-column">
                    <label class="form__label">Email</label>
                    <span class="material-symbols-outlined person form__icon absolute">mail</span>
                    <input type="text" placeholder="Enter Your Email" formControlName="passwordEmail">
                    <small
                        *ngIf="forgetPasswordForm.get('passwordEmail')?.hasError('email') && forgetPasswordForm.get('passwordEmail')?.touched"
                        class="invalid">
                        *Please enter valid Email.
                    </small>
                </div>
                <a class="forgot-pass pointer" (click)="showPasswordForm=false">Go Back</a>
                <button class="btn-primary loginbtn" [disabled]="forgetPasswordForm.invalid"
                    (click)="onResetPassword();">Reset Password</button>
            </form>
        </div>
        <!-- <app-dialog *ngIf="isactive" [type]="'success'"
            [ngStyle]="{'display': isactive ? 'flex': 'none'}"></app-dialog> -->
    </div>
    <div class="column right-column"></div>
</section>