.empty{
    min-height: calc(100vh - 150px);
}

.checkout-container{
    /* padding-block-start: 100px; */
    padding-block-end: 50px;
}

.border{
    padding-block: 10px;
    /* padding-inline: 10px; */
    border-block: 1px solid rgb(var(--text-black),0.09);
}
.cart{
    width: 70%;
    padding-inline-end: 25px;

    & h4{
        font-weight: 700;
    }

    /* & .cartAndBilling{
        background-color: aqua;
    } */
    
}
.orderSummary{
    height: fit-content;
    position: sticky;
    top: 0;
    z-index: 1;
    width:30%;
    padding-block: 0px;
    transition: all 0.5s ease-in-out;
}

.orderSummary.active{
    padding-block: 100px;
}


@media screen and(max-width: 768px) {
    .checkout-container{
        flex-direction: column;
    }
}

/* ORDER SUMMARY */
.summary-container{
    width: 100%;
    padding-block: 20px;
    padding-inline: 20px;
    background-color: rgb(var(--secondary), 0.5);

    & h2 {
        font-size: 24px;
        color: rgb(var(--text-black));
    }
    & .border-end {
        padding-block-end: 10px;
        border-block-end: 1px solid rgb(var(--text-black),0.09);
    }
    & .item {

        & .itemname p{
            font-size: 14px !important;
            font-weight: 500;
        }
        & .itemtype p {
            font-size: 12px !important;
            color: rgb(var(--text-black),0.6);
        }
    }

    & .subtotal p, .shipping p{
        font-size: 14px !important;

        &:first-child{
            font-weight: 500;
        }
    }

    & .savings{
        & .savings-amt{
            color: rgb(var(--success));
        }
    }

    & .total p {
        font-size: 20px !important;
        font-weight: 500;
    }

    & .btn-primary a{
        font-size: 14px !important;
        font-weight: 600;
        color: rgb(var(--text-white));
    }
}