<section class="faq">
  <div class="container">
    <div class="accordion">
      <h2>FAQ's</h2>
      <div class="accordion-item" *ngFor="let question of faqQuestions; let i = index">
        <button
          id="accordion-button-{{i}}"
          [attr.aria-expanded]="question.isExpanded ? 'true' : 'false'"
          (click)="toggleAccordion(i)"
        >
          <span class="accordion-title">{{ question.title }}</span>
          <span class="icon" [ngClass]="{'expanded': question.isExpanded}"></span>
        </button>
        <div
          class="accordion-content"
          [style.maxHeight.px]="question.isExpanded ? contentMaxHeight : 0"
          [style.opacity]="question.isExpanded ? 1 : 0"
        >
          <p>{{ question.content }}</p>
        </div>
      </div>
    </div>
  </div>
</section>
