.search-bar {
    width: initial;
    margin-inline-end: initial;
}

#product-section {

    & .operational-buttons {

        & button {
            border: 1px solid rgba(var(--blackClr), 0.1);
            border-radius: 5px;
            background: none;
            font-weight: 400;
            color: rgb(var(--textClr));

            &:not(:disabled):hover {
                border: 1px solid rgba(var(--blackClr), 0);
                background-color: rgb(var(--blackClr), 0.03);
            }
        }

        & .operational-buttons-icons {
            font-size: 22px;
            font-weight: 300;
            transition: transform 0.3s ease-in-out;
        }

        & button:first-child .operational-buttons-icons {
            color: rgb(var(--blue-clr));
        }

        & button:last-child .operational-buttons-icons {
            color: rgb(var(--red-clr));
        }

        & button:disabled:last-child .operational-buttons-icons {
            color: rgb(var(--red-clr), 0.5);
        }
    }

    & .file-section {
        & input[type="file"] {
            display: none;
        }

        & .uploadbtn,
        .downloadBtn {
            border: 1px solid rgba(var(--textClr), 0.1);
            border-radius: 5px;
            letter-spacing: 0.5px;
            padding: 10px 24px;
            transition: all 0.3s ease-in-out;

            &:hover {
                border: 1px solid rgba(var(--blackClr), 0);
                background-color: rgb(var(--blackClr), 0.03);
            }
        }

        & .operation-icon {
            font-size: 22px;
            font-weight: 300;
            transition: transform 0.3s ease-in-out;
        }

        & .uploadbtn span {
            color: rgb(var(--blue-clr), 0.8);
        }

        & .downloadBtn span {
            color: rgb(var(--green-clr), 0.9);
        }
    }

}

.items.displayInfo div:hover>.popup {
    opacity: 1;
    pointer-events: all;
}


.popup {
    position: absolute;
    z-index: 2;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease-in-out;
    background-color: rgb(var(--whiteClr));

    /* &::before {
        position: absolute;
        content: '\e5de';
        display: flex;
        font-size: 40px;
        font-family: 'Material Symbols Outlined';
        color: rgb(var(--blackClr));
        z-index: 2;
    }

    &::after {
        position: absolute;
        content: '\e5de';
        display: flex;
        font-size: 45px;
        font-family: 'Material Symbols Outlined';
        color: rgb(var(--blackClr), 0.2);
        z-index: 1;
    } */

    & .close__icon {
        display: none;
    }

    & .popup_content {
        background-color: rgb(var(--whiteClr));
        box-shadow: 0px 0px 10px rgba(var(--blackClr), 0.3);
        padding: 8px;
        border-radius: 4px; 
    }

    & input[type="radio"] + label {
        width: 15px;
        height: 15px;
        border-radius: 50%;
        border: 1px solid rgb(var(--blackClr), 0.4);
    }

    & input[type="radio"] + label::after {
        content: '';
        display: block;
        position: absolute;
        width: 6px;
        height: 6px;
        border-radius: 50%;
        background-color: transparent;
        transition: all 0.3 ease-in-out;
    }

    & input[type="radio"]:checked + label::after {
        background-color: rgb(var(--whiteClr));
        border: 1px solid rgb(var(--blackClr), 0.4);
    }

    & .items {
        padding: 5px 10px !important;
        font-size: 10px !important;
    }

}

tr:not(:first-child, :last-child) td.items.displayInfo .popup{
    inset-block-start: 0%;
    inset-inline-start: 100%;
    transform: translateY(-54%);
}

tr:last-child td.items.displayInfo .popup{
    inset-block-end: 0%;
    inset-inline-start: 100%;
}

tr:first-child td.items.displayInfo .popup{
    inset-block-start: 0%;
    inset-inline-start: 100%;
}

.items.action-btns {

    & input[type="checkbox"]+label::before {
        content: '\e838';
        font-family: 'Material Symbols Outlined';
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 100%;
        font-size: 20px;
        font-weight: 300;
    }

    & input[type="checkbox"]:checked+label::before {
        content: '\e838';
        font-size: 20px;
        color: rgb(var(--goldClr));
        font-variation-settings:
            'FILL' 1,
            'wght' 400,
            'GRAD' 0,
            'opsz' 24
    }
}

.info__icon {
    font-size: 13px;
    color: rgb(var(--blue-clr));
    pointer-events: none;
}

.clear_btn {
    height: 40px;
    padding-block: 0;
    padding-inline: 16px;
}

@media screen and (max-width: 780px) {

    .popup {
        position: fixed;
        height: 100dvh;
        width: 100vw;
        inset-inline-start: 0;
        inset-block-start: 0;
        visibility: hidden;
        transform: translateX(0%);
        opacity: 0;
        pointer-events: none;
        background-color: rgb(var(--blackClr), 0.1);
        margin-top: 0;

        &::before {
            display: none;
        }

        & .close__icon {
            display: block;
            inset-block-start: -5px;
            inset-inline-end: -5px;
            font-size: 20px;
            width: 20px;
            height: 20px;
            background-color: rgb(var(--whiteClr));
            border: 1px solid rgb(var(--blackClr), 0.3);
            border-radius: 50%;
        }

        & .popup_content {
            background-color: rgb(var(--whiteClr));
            box-shadow: 0px 0px 2px rgb(var(--blackClr), 0.1);
            padding: 20px;
            border-radius: 4px;
        }
    }

    .popup.active {
        z-index: 3;
        pointer-events: all;
        visibility: visible;
        opacity: 1;
    }
}

@media screen and (max-width: 678px) {
    .search-bar, .search-bar+span{
        width: 100%;
    }

    .filters {
        flex-direction: column;
    }

}


@media screen and (max-width: 480px) {
    .filters {
        & select {
            width: 100% !important;
        }
    }

}