<section id="product-section">
    <div class="product-table">
        <div class="row-1">
            <h1>Products Inventory</h1>
            <span class="search-menu">
                <app-search-bar [searchPlaceholder]="'Search Products...'"></app-search-bar>
            </span>
        </div>
        <!-- <div class="filters d-flex justify-content-md-between">
            <div class="product-display">
                <p class="fs-12">
                    Products: <b>All</b><span> &#40;1234&#41;</span>
                </p>
                <p class="fs-12">
                    Selected Items: <span> 0/100</span>
                </p>
            </div>
        </div> -->
        <!-- <div class="operation-buttons d-flex justify-content-md-between gap-20 flex-wrap">
            <span class="d-flex gap-20 flex-wrap">
                <button routerLink="" class="d-flex align-items-center gap-5">
                    Add Product
                    <span class="material-symbols-outlined">add</span>
                </button>
                <button class="d-flex align-items-center gap-5">
                    Delete All
                    <span class="material-symbols-outlined">delete</span>
                </button>
            </span>
        </div> -->

        <div class="row-2 d-flex flex-column gap-20">
            <div class="filters product-header d-flex justify-content-md-between align-items-center">
                
                <div class="d-flex align-center gap-20">
                    <h3>Products List</h3>

                    <span class="operational-buttons d-flex  flex-wrap">
                        <button routerLink="" class="d-flex align-items-center gap-5">
                            <span class="material-symbols-outlined operational-buttons-add">add</span>
                        </button>
                        <button class="d-flex align-items-center gap-5">
                            <span class="material-symbols-outlined operational-buttons-delete">delete</span>
                        </button>
                    </span>
                </div>
                
                <div class="d-flex gap-20">
                    <!-- Product Inventory -->
                   <div class="customSelect">
                    <select name="" id="inventory_status">
                        <option value="" selected disabled>Filter by Stock Status</option>
                        <option value="">Out of Stock</option>
                        <option value="">Low Inventory</option>
                        <option value="">In Stock</option>
                    </select>
                   </div>
                   <!-- Product Category -->
                   <div class="customSelect">
                    <select name="" id="" class="form-select">
                        <option value="" selected disabled>Product Catgory</option>
                        <option value="">Category 1</option>
                        <option value="">Category 2</option>
                        <option value="">Category 3</option>
                        <option value="">Category 4</option>
                    </select>
                   </div>
                   <!-- Rating -->
                   <div class="customSelect">
                    <select name="" id="">
                        <option value="" selected disabled>Sort by: Rating</option>
                        <option value="">Best Seller</option>
                        <option value="">Top Rated</option>
                        <option value="">New In</option>
                    </select>
                   </div>
                   <!-- <select name="" id="">
                       <option value="" selected disabled>Best Seller Product</option>
                       <option value=""></option>
                       <option value=""></option>
                       <option value=""></option>
                       <option value=""></option>
                   </select> -->
   
                   <a id="apply-fliter" class="button d-flex gap-5 align-items-center" href="javascript: void(0);">
                       Apply<i class="fa-solid fa-chevron-right"></i>
                   </a>
                   <a id="clear-filter" class="button" href="javascript: void(0);">Clear</a>
               </div>
            </div>
            <div class="product-list">
                <table id="datatable1" class="text-wrap">
                    <thead>
                        <tr>
                            <th class="product-items heading">
                                <div class="item-check d-flex justify-content-center">
                                    <input type="checkbox" id="all_product">
                                    <label for='all_product'>
                                        <span class="material-symbols-outlined">done</span>
                                    </label>
                                </div>
                            </th>
                            <th class="product-items heading">Product Name</th>
                            <th class="product-items heading">Category</th>
                            <th class="product-items heading">Price</th>
                            <th class="product-items heading">Unit Sold</th>
                            <th class="product-items heading">In Stock</th>
                            <th class="product-items heading">Rating</th>
                            <th class="product-items heading">Last Modified</th>
                            <th class="product-items heading">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of items | paginate: {
                            itemsPerPage: pageSize,
                            currentPage: currentPage
                        }; let i = index">
                            <td class="product-items">
                                <div class="item-check d-flex justify-content-center">
                                    <input type="checkbox" id="row{{i}}">
                                    <label for='row{{i}}'>
                                        <span class="material-symbols-outlined">done</span>
                                    </label>
                                </div>
                            </td>
    
                            <th class="product-items">
                                <div class=" d-flex gap-10 align-center mh100">
                                    <div class="product-image">
                                        <span class="material-symbols-outlined icons">laundry</span>
                                    </div>
                                    <span>{{item.product_name}}</span>
                                </div>
                            </th>
    
                            <td class="product-items">{{item.category}}</td>
    
                            <td class="product-items">&#8377; {{item.price}}</td>
    
                            <td class="product-items">{{item.unit_sold}}</td>
    
                            <td class="product-items">
                                <span *ngIf="item.product_inventory >= 20; else low_inventry" class="inventory good">
                                    In Stock &#40;{{ item.product_inventory }}&#41;
                                </span>
    
                                <ng-template #low_inventry>
    
                                    <span *ngIf="item.product_inventory != 0; else empty_inventry" class="inventory okay">
                                        Low Inventory &#40;{{ item.product_inventory }}&#41;
                                    </span>
    
                                    <ng-template #empty_inventry>
                                        <span class="inventory bad">
                                            Out of Stock &#40;{{ item.product_inventory }}&#41;
                                        </span>
                                    </ng-template>
    
                                </ng-template>
    
                            </td>
    
                            <td class="product-items">
                                <div class="d-flex gap-5 align-items-center">
                                    <ng-container *ngFor="let star of rating">
                                        <span *ngIf="star <= item.rating">
                                            <i class="fa-solid fa-star" style="color: rgb(var(--dash-blue-clr));"></i>
                                        </span>
                                        <span *ngIf="star > item.rating">
                                            <i class="fa-regular fa-star" style="color: rgb(var(--dash-blue-clr));"></i>
                                        </span>
                                    </ng-container>
                                    &#40;{{item.rating}}&#41;
                                </div>
                            </td>
                            <td class="product-items">{{item.last_updated}}</td>
                            <td class="product-items">
                                <div>
                                    <a href="javascript:void(0);" style="color: rgb(var(--dash-blue-clr));">
                                        <i class="fa-icon fa-regular fa-pen-to-square"></i>
                                    </a>
                                    <a href="javascript:void(0);" style="color: rgb(var(--dash-red-clr));">
                                        <i class="fa-icon fa-regular fa-trash-can"></i>
                                    </a>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="table-controls d-flex justify-content-md-between">
                <pagination-controls (pageChange)="pageChanged($event)" previousLabel="Previous"
                    nextLabel="Next"></pagination-controls>
            </div>
        </div>
    </div>
</section>