
    <section id="product-section">
    <div class="product-table">
        <div class="row-1">
            <h3>Products Inventory</h3>
        </div>
        <div class="operation-buttons d-flex justify-content-md-between gap-20 flex-wrap">
            <span class="d-flex gap-20 flex-wrap">
                <button routerLink="" class="d-flex align-items-center">
                    Add New Product
                    <span class="material-symbols-outlined">add</span>
                </button>
                <button class="d-flex align-items-center">
                    Delete Selected Products
                    <span class="material-symbols-outlined">delete</span>
                </button>
            </span>
            <span class="search-menu">
                <app-search-bar></app-search-bar>
                <!-- <input type="search" placeholder="Search Products">
                <span class="material-symbols-outlined d-flex align-center justify-content-center">search</span> -->
            </span>
        </div>
        <div class="product-display">
            <p class="fs-12">
                Products: <b>All</b><span> &#40;1234&#41;</span>
            </p>
        </div>
        <div class="filters">
            <!-- Product Inventory -->
            <select name="" id="inventory_status">
                <option value="" selected disabled>Filter by Stock Status</option>
                <option value="">Out of Stock</option>
                <option value="">Low Inventory</option>
                <option value="">In Stock</option>
            </select>
            <!-- Product Category -->
            <select name="" id="" class="form-select">
                <option value="" selected disabled>Product Catgory</option>
                <option value="">Category 1</option>
                <option value="">Category 2</option>
                <option value="">Category 3</option>
                <option value="">Category 4</option>
            </select>
            <!-- Rating -->
            <select name="" id="">
                <option value="" selected disabled>Sort by: Rating</option>
                <option value="">Best Seller</option>
                <option value="">Top Rated</option>
                <option value="">New In</option>
            </select>
            <!-- <select name="" id="">
                <option value="" selected disabled>Best Seller Product</option>
                <option value=""></option>
                <option value=""></option>
                <option value=""></option>
                <option value=""></option>
            </select> -->

            <a id="apply-fliter" class="button d-flex gap-5 align-items-center" href="javascript: void(0);">
                 Apply
                 <span class="material-symbols-outlined">arrow_forward_ios</span>
            </a>
            <a id="clear-filter" class="button" href="javascript: void(0);">Clear</a>
        </div>
        <div class="product-display">
            <p class="fs-12">
                Selected Items: <span> 0/100</span>
            </p>
        </div>
        <div class="product-list">
            <table id="datatable1">
                <thead>
                    <tr>
                        <th class="product-items heading"></th>
                        <th class="product-items heading">Product ID</th>
                        <th class="product-items heading">Product Name</th>
                        <th class="product-items heading">Category</th>
                        <th class="product-items heading">Price</th>
                        <th class="product-items heading">Unit Sold</th>
                        <th class="product-items heading">In Stock</th>
                        <th class="product-items heading">Rating</th>
                        <th class="product-items heading">Last Modified</th>
                        <th class="product-items heading">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="product-items">
                            <input type="checkbox">
                        </td>
                        <td class="product-items">#123</td>
                        <td class="product-items">Product 1</td>
                        <td class="product-items">Category 1</td>
                        <td class="product-items">&#8377; 2000</td>
                        <td class="product-items">250</td>
                        <td class="product-items">20</td>
                        <td class="product-items d-flex gap-5 align-items-center">
                            <i class="fa-regular fa-star" style="color: rgb(var(--dash-blue-clr));" ></i>4</td>
                        <td class="product-items" style="font-weight: 600;">03/11/2023</td>
                        <td class="product-items">
                            <a href="javascript:void(0);" style="color: rgb(var(--dash-blue-clr));">
                                <i class="fa-icon fa-regular fa-pen-to-square"></i>
                            </a>
                            <a href="javascript:void(0);" style="color: rgb(var(--dash-red-clr));">
                                <i class="fa-icon fa-regular fa-trash-can"></i>
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td class="product-items">
                            <input type="checkbox">
                        </td>
                        <td class="product-items">#123</td>
                        <td class="product-items">Product 1</td>
                        <td class="product-items">Category 1</td>
                        <td class="product-items">&#8377; 2000</td>
                        <td class="product-items">250</td>
                        <td class="product-items">20</td>
                        <td class="product-items d-flex gap-5 align-items-center">
                            <i class="fa-regular fa-star" style="color: rgb(var(--dash-blue-clr));" ></i>4</td>
                        <td class="product-items" style="font-weight: 600;">03/11/2023</td>
                        <td class="product-items">
                            <a href="javascript:void(0);" style="color: rgb(var(--dash-blue-clr));">
                                <i class="fa-icon fa-regular fa-pen-to-square"></i>
                            </a>
                            <a href="javascript:void(0);" style="color: rgb(var(--dash-red-clr));">
                                <i class="fa-icon fa-regular fa-trash-can"></i>
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td class="product-items">
                            <input type="checkbox">
                        </td>
                        <td class="product-items">#123</td>
                        <td class="product-items">Product 1</td>
                        <td class="product-items">Category 1</td>
                        <td class="product-items">&#8377; 2000</td>
                        <td class="product-items">250</td>
                        <td class="product-items">20</td>
                        <td class="product-items d-flex gap-5 align-items-center">
                            <i class="fa-regular fa-star" style="color: rgb(var(--dash-blue-clr));" ></i>4</td>
                        <td class="product-items" style="font-weight: 600;">03/11/2023</td>
                        <td class="product-items">
                            <a href="javascript:void(0);" style="color: rgb(var(--dash-blue-clr));">
                                <i class="fa-icon fa-regular fa-pen-to-square"></i>
                            </a>
                            <a href="javascript:void(0);" style="color: rgb(var(--dash-red-clr));">
                                <i class="fa-icon fa-regular fa-trash-can"></i>
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td class="product-items">
                            <input type="checkbox">
                        </td>
                        <td class="product-items">#123</td>
                        <td class="product-items">Product 1</td>
                        <td class="product-items">Category 1</td>
                        <td class="product-items">&#8377; 2000</td>
                        <td class="product-items">250</td>
                        <td class="product-items">20</td>
                        <td class="product-items d-flex gap-5 align-items-center">
                            <i class="fa-regular fa-star" style="color: rgb(var(--dash-blue-clr));" ></i>4</td>
                        <td class="product-items" style="font-weight: 600;">03/11/2023</td>
                        <td class="product-items">
                            <a href="javascript:void(0);" style="color: rgb(var(--dash-blue-clr));">
                                <i class="fa-icon fa-regular fa-pen-to-square"></i>
                            </a>
                            <a href="javascript:void(0);" style="color: rgb(var(--dash-red-clr));">
                                <i class="fa-icon fa-regular fa-trash-can"></i>
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td class="product-items">
                            <input type="checkbox">
                        </td>
                        <td class="product-items">#123</td>
                        <td class="product-items">Product 1</td>
                        <td class="product-items">Category 1</td>
                        <td class="product-items">&#8377; 2000</td>
                        <td class="product-items">250</td>
                        <td class="product-items">20</td>
                        <td class="product-items d-flex gap-5 align-items-center">
                            <i class="fa-regular fa-star" style="color: rgb(var(--dash-blue-clr));" ></i>4</td>
                        <td class="product-items" style="font-weight: 600;">03/11/2023</td>
                        <td class="product-items">
                            <a href="javascript:void(0);" style="color: rgb(var(--dash-blue-clr));">
                                <i class="fa-icon fa-regular fa-pen-to-square"></i>
                            </a>
                            <a href="javascript:void(0);" style="color: rgb(var(--dash-red-clr));">
                                <i class="fa-icon fa-regular fa-trash-can"></i>
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td class="product-items">
                            <input type="checkbox">
                        </td>
                        <td class="product-items">#123</td>
                        <td class="product-items">Product 1</td>
                        <td class="product-items">Category 1</td>
                        <td class="product-items">&#8377; 2000</td>
                        <td class="product-items">250</td>
                        <td class="product-items">20</td>
                        <td class="product-items d-flex gap-5 align-items-center">
                            <i class="fa-regular fa-star" style="color: rgb(var(--dash-blue-clr));" ></i>4</td>
                        <td class="product-items" style="font-weight: 600;">03/11/2023</td>
                        <td class="product-items">
                            <a href="javascript:void(0);" style="color: rgb(var(--dash-blue-clr));">
                                <i class="fa-icon fa-regular fa-pen-to-square"></i>
                            </a>
                            <a href="javascript:void(0);" style="color: rgb(var(--dash-red-clr));">
                                <i class="fa-icon fa-regular fa-trash-can"></i>
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td class="product-items">
                            <input type="checkbox">
                        </td>
                        <td class="product-items">#123</td>
                        <td class="product-items">Product 1</td>
                        <td class="product-items">Category 1</td>
                        <td class="product-items">&#8377; 2000</td>
                        <td class="product-items">250</td>
                        <td class="product-items">20</td>
                        <td class="product-items d-flex gap-5 align-items-center">
                            <i class="fa-regular fa-star" style="color: rgb(var(--dash-blue-clr));" ></i>4</td>
                        <td class="product-items" style="font-weight: 600;">03/11/2023</td>
                        <td class="product-items">
                            <a href="javascript:void(0);" style="color: rgb(var(--dash-blue-clr));">
                                <i class="fa-icon fa-regular fa-pen-to-square"></i>
                            </a>
                            <a href="javascript:void(0);" style="color: rgb(var(--dash-red-clr));">
                                <i class="fa-icon fa-regular fa-trash-can"></i>
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td class="product-items">
                            <input type="checkbox">
                        </td>
                        <td class="product-items">#123</td>
                        <td class="product-items">Product 1</td>
                        <td class="product-items">Category 1</td>
                        <td class="product-items">&#8377; 2000</td>
                        <td class="product-items">250</td>
                        <td class="product-items">20</td>
                        <td class="product-items d-flex gap-5 align-items-center">
                            <i class="fa-regular fa-star" style="color: rgb(var(--dash-blue-clr));" ></i>4</td>
                        <td class="product-items" style="font-weight: 600;">03/11/2023</td>
                        <td class="product-items">
                            <a href="javascript:void(0);" style="color: rgb(var(--dash-blue-clr));">
                                <i class="fa-icon fa-regular fa-pen-to-square"></i>
                            </a>
                            <a href="javascript:void(0);" style="color: rgb(var(--dash-red-clr));">
                                <i class="fa-icon fa-regular fa-trash-can"></i>
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td class="product-items">
                            <input type="checkbox">
                        </td>
                        <td class="product-items">#123</td>
                        <td class="product-items">Product 1</td>
                        <td class="product-items">Category 1</td>
                        <td class="product-items">&#8377; 2000</td>
                        <td class="product-items">250</td>
                        <td class="product-items">20</td>
                        <td class="product-items d-flex gap-5 align-items-center">
                            <i class="fa-regular fa-star" style="color: rgb(var(--dash-blue-clr));" ></i>4</td>
                        <td class="product-items" style="font-weight: 600;">03/11/2023</td>
                        <td class="product-items">
                            <a href="javascript:void(0);" style="color: rgb(var(--dash-blue-clr));">
                                <i class="fa-icon fa-regular fa-pen-to-square"></i>
                            </a>
                            <a href="javascript:void(0);" style="color: rgb(var(--dash-red-clr));">
                                <i class="fa-icon fa-regular fa-trash-can"></i>
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td class="product-items">
                            <input type="checkbox">
                        </td>
                        <td class="product-items">#123</td>
                        <td class="product-items">Product 1</td>
                        <td class="product-items">Category 1</td>
                        <td class="product-items">&#8377; 2000</td>
                        <td class="product-items">250</td>
                        <td class="product-items">20</td>
                        <td class="product-items d-flex gap-5 align-items-center">
                            <i class="fa-regular fa-star" style="color: rgb(var(--dash-blue-clr));" ></i>4</td>
                        <td class="product-items" style="font-weight: 600;">03/11/2023</td>
                        <td class="product-items">
                            <a href="javascript:void(0);" style="color: rgb(var(--dash-blue-clr));">
                                <i class="fa-icon fa-regular fa-pen-to-square"></i>
                            </a>
                            <a href="javascript:void(0);" style="color: rgb(var(--dash-red-clr));">
                                <i class="fa-icon fa-regular fa-trash-can"></i>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <!-- <div>
        <div class="category-section">
            <div class="row-1">
                <p>Product Categories</p>
            </div>
            <div class="row-2">

            </div>
        </div>
    </div> -->
</section>