<section id="product-adding-section">

    <!-- <div class="heading d-flex justify-content-md-between align-center">
        <div class="file-section">
            <input type="file" id="sizes" maxlength="1" minlength="1" (change)="uploadFile($event)"
                accept="image/CSV, application/vnd.ms-excel ,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" />
            <label for="sizes"><span class="material-symbols-outlined">upload_file</span></label>
            <a class="downloadBtn" href="../../../assets/ExcelSampleFile/sampleFullData.xlsx" download><span
                    class="material-symbols-outlined">download</span></a>
        </div>
    </div> -->

    <div class="product_form">

        <form [formGroup]="productsForm">

            <div class="row row-1 d-flex justify-content-md-between">
                <span class="d-flex gap-15 align-center">
                    <h2 *ngIf="current_form != 'product_images'; else title2">Basic Info</h2>
                    <ng-template #title2>
                        <span class="d-flex gap-15">
                            <h2>Product Images</h2>
                        </span>
                    </ng-template>

                    <div class="file-section d-flex align-center gap-5">
                        <input type="file" id="sizes" maxlength="1" minlength="1" (change)="uploadFile($event)"
                            accept="image/CSV, application/vnd.ms-excel ,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" />
                        <label class="uploadbtn tooltip" for="sizes">
                            <span class="material-symbols-outlined operation-icon">upload_file</span>
                            <span class="tooltiptext">Upload Excel</span>
                        </label>
                        <a class="downloadBtn tooltip" href="../../../assets/ExcelSampleFile/sampleFullData.xlsx" download>
                            <span class="material-symbols-outlined operation-icon">download</span>
                            <span class="tooltiptext">Download Excel Sample</span>
                        </a>
                    </div>
                </span>


                <div class="next_prev_btn d-flex align-items-center gap-15">

                    <button class="button add_form d-flex flex-center" (click)="addProductImageForm()"
                        [ngStyle]="{display: current_form != 'product_images'? 'none' : 'flex' }">
                        <span class="add_form_icon material-symbols-outlined">add</span>
                    </button>


                    <button class="button previous d-flex flex-center" (click)="current_form = ''"
                        [disabled]="current_form == ''" [ngStyle]="{display: current_form == ''? 'none' : 'flex' }">
                        <span class="back_icon material-symbols-outlined">arrow_back_ios_new</span>
                    </button>
                    <!-- <button class="button next d-flex align-items-center gap-5"
                        (click)="current_form = 'product_images'"
                        [disabled]="productsForm.get('basicinfo')?.invalid || current_form == 'product_images'"
                        [ngStyle]="{display: current_form == 'product_images'? 'none' : 'flex' }" >
                        <span class="material-symbols-outlined">arrow_forward_ios</span>
                    </button> -->

                    <button class="button next d-flex flex-center" (click)="current_form = 'product_images'"
                        [ngStyle]="{display: current_form == 'product_images'? 'none' : 'flex' }">
                        <span class="next_icon material-symbols-outlined">arrow_forward_ios</span>
                    </button>
                </div>
            </div>

            <div [ngSwitch]="current_form">

                <div *ngSwitchCase="'product_images'">

                    <div class="form-2">
                        <div class="product__image__container grid grid-cols-2 gap-20" formArrayName="productImages">
                            <ng-container *ngFor="let form of productImagesFormArray();let i=index">
                                <div [formGroupName]="i" class="d-flex flex-column gap-10">

                                    <div class="form__group">
                                        <label for="colors" class="input__label">Colors<span
                                                class="important">*</span></label>

                                        <span class="form__input">
                                            <input type="text" id="color" placeholder="Choose/Enter your Color "
                                                formControlName="color" required />
                                            <input type="color" value="#188ae2" (input)="updateColor($event, i)">
                                        </span>
                                        <span class="error">
                                            <small
                                                *ngIf="form.get('colors')?.hasError('required') && form.get('colors')?.touched">*Field
                                                Required</small>
                                        </span>
                                    </div>

                                    <div class="form__group">
                                        <label for="quantity" class="input__label">Quantity in Stock<span
                                                class="important">*</span></label>
                                        <input type="number" placeholder="Quantity" id="quantity"
                                            formControlName="stockQuantity" required />

                                        <span class="error"
                                            *ngIf="form.get('stockQuantity')?.invalid && (form.get('stockQuantity')?.dirty || form.get('stockQuantity')?.touched)">
                                            <small *ngIf="form.get('stockQuantity')?.hasError('required')">*Field
                                                Required</small>
                                        </span>
                                    </div>

                                    <div class="form__group">
                                        <label [for]="'productImages'+ i" class="input__label">Product Images :</label>
                                        <div class="product-images relative">
                                            <input type="file" [id]="'productImages'+ i"
                                                accept="image/jpg, image/jpeg, image/png" maxlength="6" minlength="3"
                                                (change)="onFileChange($event, i)" multiple />
                                            <span
                                                class="image_instruction absolute d-flex flex-column text-center flex-center gap-10">
                                                <h3>Upload Product Images</h3>
                                                <small>
                                                    Maximum 0f 6 images and minimum of 3 images need to be uploaded,make
                                                    sure the image size match the proper background
                                                    size and all images should be uniformly maintained with width and
                                                    height to the image
                                                    container,image size should not exceed 5MB,once uploaded to change
                                                    the image you need to wait
                                                    minimum of 24hrs.
                                                </small>
                                            </span>
                                            <span class="images_list">
                                                <span>
                                                    <img src="../../../assets/Gallery/Gallery1 (8).jpg" alt="">
                                                    <span class="remove-btn" href="">
                                                        <span class="material-symbols-outlined">close</span>
                                                    </span>
                                                </span>
                                                <span>
                                                    <img src="../../../assets/Gallery/Gallery1 (8).jpg" alt="">
                                                    <span class="remove-btn" href="">
                                                        <span class="material-symbols-outlined">close</span>
                                                    </span>
                                                </span>
                                                <span>
                                                    <img src="../../../assets/Gallery/Gallery1 (8).jpg" alt="">
                                                    <span class="remove-btn" href="">
                                                        <span class="material-symbols-outlined">close</span>
                                                    </span>
                                                </span>
                                                <span>
                                                    <img src="../../../assets/Gallery/Gallery1 (8).jpg" alt="">
                                                    <span class="remove-btn" href="">
                                                        <span class="material-symbols-outlined">close</span>
                                                    </span>
                                                </span>
                                                <span>
                                                    <img src="../../../assets/Gallery/Gallery1 (8).jpg" alt="">
                                                    <span class="remove-btn" href="">
                                                        <span class="material-symbols-outlined">close</span>
                                                    </span>
                                                </span>
                                                <span>
                                                    <img src="../../../assets/Gallery/Gallery1 (8).jpg" alt="">
                                                    <span class="remove-btn" href="">
                                                        <span class="material-symbols-outlined">close</span>
                                                    </span>
                                                </span>
                                            </span>
                                            <label [for]="'productImages'+ i" class="absolute d-flex flex-center gap-5">
                                                <span class="upload_icon material-symbols-outlined">add_a_photo</span>
                                                <!-- Upload File -->
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </ng-container>
                        </div>
                    </div>
                </div>
                <div *ngSwitchDefault>
                    <div formGroupName="basicinfo" class="form-1 row-2 add_product d-flex gap-30">
                        <div class="col col-1">
                            <div class="form__group">
                                <label for="name" class="input__label">Product Name<span
                                        class="important">*</span></label>
                                <input type="text" id="name" placeholder="Name" #productName formControlName="name">

                                <span class="error d-flex gap-20 flex-wrap"
                                    *ngIf="productSubForm('name')?.invalid && (productSubForm('name')?.dirty || productSubForm('name')?.touched)">
                                    <small *ngIf="productSubForm('name')?.hasError('required')">*Field Required</small>
                                    <small *ngIf="productSubForm('name')?.hasError('invalidformat')">*Invalid
                                        Name</small>
                                </span>

                            </div>
                            <div class="form__group">
                                <label for="code" class="input__label">Product Code<span
                                        class="important">*</span></label>
                                <input type="text" id="code" placeholder="Product Code" formControlName="code">

                                <span class="error d-flex flex-wrap"
                                    *ngIf="productSubForm('code')?.invalid && (productSubForm('code')?.dirty || productSubForm('code')?.touched)">
                                    <small *ngIf="productSubForm('code')?.hasError('required')">*Field Required</small>
                                </span>
                            </div>

                            <div class="form__group">
                                <label for="subtitle" class="input__label">Subtitle<span
                                        class="important">*</span></label>
                                <input type="text" id="subtitle" placeholder="Sub Title" formControlName="subtitle" />

                                <span class="error d-flex flex-wrap"
                                    *ngIf="productSubForm('subtitle')?.invalid && (productSubForm('subtitle')?.dirty || productSubForm('subtitle')?.touched)">
                                    <small *ngIf="productSubForm('subtitle')?.hasError('required')">*Field
                                        Required</small>
                                </span>
                            </div>
                            <div class="form__group">
                                <label for="description" class="input__label">Product Description <span
                                        class="important">*</span></label>
                                <textarea id="description" placeholder="Product Details..." cols="30" rows="9"
                                    formControlName="description" maxlength="800"
                                    (input)="letterCounter($event, 800)"></textarea>
                                <small class="note d-flex justify-content-md-between align-center">
                                    *Description should not exceed 800 letters
                                    <span>{{textarea_letterCount}} / 800</span>
                                </small>

                                <span class="error d-flex flex-wrap"
                                    *ngIf="productSubForm('description')?.invalid && (productSubForm('description')?.dirty || productSubForm('description')?.touched)">
                                    <small *ngIf="productSubForm('description')?.hasError('required')">*Field
                                        Required</small>
                                </span>
                            </div>
                        </div>

                        <div class="col col-2">
                            <div class="sub-block d-flex flex-wrap">
                                <div class="form__group">
                                    <label for="category" class="input__label">Category<span
                                            class="important">*</span></label>
                                    <app-custom-select id="categories" [options]="categories" [type]="'searchSelect'"
                                        [selectedOption]="'Select Category'"
                                        (final_option)="updateFormFields($event, 'category')"></app-custom-select>
                                    <span class="error"
                                        *ngIf="productSubForm('category')?.invalid && (productSubForm('category')?.dirty || productSubForm('category')?.touched)">
                                        <small *ngIf="productSubForm('category')?.hasError('required')">*Field
                                            Required</small>
                                    </span>
                                </div>

                                <div class="form__group">
                                    <label for="brand" class="input__label">Brand<span
                                            class="important">*</span></label>
                                    <app-custom-select id="brand" [options]="brands" [type]="'searchSelect'"
                                        [selectedOption]="'Select Brand'"
                                        (final_option)="updateFormFields($event, 'brand')"></app-custom-select>
                                    <span class="error"
                                        *ngIf="productSubForm('basicinfo')?.invalid && (productSubForm('basicinfo')?.dirty || productSubForm('basicinfo')?.touched)">
                                        <small *ngIf="productSubForm('basicinfo')?.hasError('required')">*Field
                                            Required</small>
                                    </span>
                                </div>

                                <div class="form__group">
                                    <label for="gender" class="input__label">Gender<span
                                            class="important">*</span></label>
                                    <app-custom-select id="gender" [options]="gender" [type]="'searchSelect'"
                                        [selectedOption]="'Select Gender'"
                                        (final_option)="updateFormFields($event, 'gender')"></app-custom-select>

                                    <span class="error"
                                        *ngIf="productSubForm('gender')?.invalid && (productSubForm('gender')?.dirty || productSubForm('gender')?.touched)">
                                        <small *ngIf="productSubForm('gender')?.hasError('required')">*Field
                                            Required</small>
                                    </span>
                                </div>

                                <div class="form__group">
                                    <label for="sizes" class="input__label">Size<span class="important">*</span></label>
                                    <app-custom-select id="sizes" [options]="sizes" [type]="'multiSelect'"
                                        [selectedOption]="'Select Sizes'"
                                        (SelectedList)="updateFormFields($event, 'sizes')"></app-custom-select>
                                    <span class="error"
                                        *ngIf="productSubForm('sizes')?.invalid && (productSubForm('sizes')?.dirty || productSubForm('sizes')?.touched)">
                                        <small *ngIf="productSubForm('sizes')?.hasError('required')">*Field
                                            Required</small>
                                    </span>
                                </div>

                                <div class="form__group">
                                    <label for="" class="input__label">Product Tags<span
                                            class="important">*</span></label>
                                    <app-custom-select [options]="tags" [type]="'multiSelect'"
                                        [selectedOption]="'Select Tags'"
                                        (SelectedList)="updateFormFields($event, 'tags')"></app-custom-select>
                                    <span class="error"
                                        *ngIf="productSubForm('tags')?.invalid && (productSubForm('tags')?.dirty || productSubForm('tags')?.touched)">
                                        <small *ngIf="productSubForm('tags')?.hasError('required')">*Field
                                            Required</small>
                                    </span>
                                </div>

                                <div class="form__group">
                                    <label for="price" class="input__label">Actual Price<span
                                            class="important">*</span></label>
                                    <input type="number" placeholder="Actual Price" id="price"
                                        formControlName="actualprice" required
                                        onKeyPress="if(this.value.length == 7) return false;" max="7" min="2" />

                                    <span class="error"
                                        *ngIf="productSubForm('actualprice')?.invalid && (productSubForm('actualprice')?.dirty || productSubForm('actualprice')?.touched)">
                                        <small *ngIf="productSubForm('actualprice')?.hasError('required')">*Field
                                            Required</small>
                                    </span>
                                </div>


                                <!-- <div class="form__group">
                                    <label for="discount" class="input__label">Discount (%age)</label>
                                    <input type="number" (input)="calculateDiscount()" placeholder="Discount"
                                        id="discount" formControlName="discount" />
                                </div>

                                <div class="form__group">
                                    <label for="discountprice" class="input__label">Discount Price</label>
                                    <input type="number" placeholder="Discount Price" id="discountprice" readonly
                                        formControlName="discountprice" />
                                </div> -->

                                <div class="form__group">
                                    <label for="materialType" class="input__label">Material Type<span
                                            class="important">*</span></label>
                                    <input type="text" placeholder="Material Type" id="materialType"
                                        formControlName="materialType" required />
                                    <span class="error"
                                        *ngIf="productSubForm('materialType')?.invalid && (productSubForm('materialType')?.dirty || productSubForm('materialType')?.touched)">
                                        <small *ngIf="productSubForm('materialType')?.hasError('required')">*Field
                                            Required</small>
                                    </span>
                                </div>

                                <div class="form__group">
                                    <label for="itemWeight" class="input__label">Item Weight<span
                                            class="important">*</span></label>
                                    <input type="number" placeholder="Weight in gms" id="itemWeight"
                                        formControlName="weight" required />
                                    <span class="error"
                                        *ngIf="productSubForm('weight')?.invalid && (productSubForm('weight')?.dirty || productSubForm('weight')?.touched)">
                                        <small *ngIf="productSubForm('weight')?.hasError('required')">*Field
                                            Required</small>
                                    </span>
                                </div>

                                <div class="form__group">
                                    <label for="" class="input__label">Order Quantity<span
                                            class="important">*</span></label>
                                    <app-custom-select [options]="orderQuantity" [type]="'multiSelect'"
                                        [selectedOption]="'Select Quantity'"
                                        (SelectedList)="updateFormFields($event, 'orderQuantity')"></app-custom-select>
                                    <small class="note">*Order Quantity is various Unit to be Sold</small>
                                    <span class="error"
                                        *ngIf="productSubForm('orderQuantity')?.invalid && (productSubForm('orderQuantity')?.dirty || productSubForm('orderQuantity')?.touched)">
                                        <small *ngIf="productSubForm('orderQuantity')?.hasError('required')">*Field
                                            Required</small>
                                    </span>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="submit_btn d-flex justify-content-end">
                    <button class="add d-flex align-items-center gap-5" (click)="onsubmit()"
                        [disabled]="productsForm.invalid" [ngStyle]="{display: current_form == ''? 'none' : 'flex' }">
                        <a href="javascript:void(0);">Submit Product</a>
                        <span class="material-symbols-outlined">upload</span>
                    </button>
                </div>
            </div>
        </form>
    </div>

</section>




<!-- 


                <div class="form__group">
                <label for="" class="input__label">Product Images :</label>

                <div class="product-images">
                    <input type="file" id="productImages" accept="image/jpg, image/jpeg, image/png" maxlength="6" minlength="3"
                        (change)="onFileChange($event)" multiple />
                    <label for="productImages">Drag & Drop your Files</label>
                </div>

                
                <div *ngIf="productImagesD.length !== 0" class="images__container d-flex flex-column gap-5">
                    <span *ngFor="let image of productImagesD; let i=index"
                    class="images d-flex justify-content-md-between align-items-center">
                    <span>{{image.name}}</span>
                    <span class="material-symbols-outlined" (click)="deleteImage(image.name)">close</span>
                </span>
            </div>
            
            <div class="error d-flex gap-15">
                <small *ngIf="productsForm.get('productImages')?.hasError('required') && productsForm.get('productImages')?.touched">Required</small>
                <small *ngIf="productsForm.get('productImages')?.hasError('invalidExtension') ">Invalid
                    Extension</small>
                <small *ngIf="productsForm.get('productImages')?.hasError('maxlength')">Maximum 6 Images
                    Allowed</small>
                <small *ngIf="productsForm.get('productImages')?.hasError('exceedSize')">Maximum 5MB per Images
                    Allowed</small>
            </div>
            
                <div *ngIf="errorFile.length !== 0" class="images__container d-flex flex-column gap-5">
                    <span *ngFor="let file of errorFile[0]"
                        class="error_images images d-flex justify-content-md-between align-items-center">
                        <span>{{file.name}}</span>
                        <span class="material-symbols-outlined" (click)="deleteImage(file.name)">close</span>
                    </span>
                </div>

                <small>
                    Maximum 0f 6 images and minimum of 3 images need to be uploaded,make sure the image size match the proper background
                    size and all images should be uniformly maintained with width and height to the image
                    container,image size should not exceed 5MB,once uploaded to change the image you need to wait
                    minimum of 24hrs.
                </small>
            </div>
 -->