app-custom-select {
    width: 100%;
}

.uploading{
    position: fixed !important;
    z-index: 15;
    height: 100%;
    inset-block: 0;
    inset-inline: 0;
    background-color: rgb(var(--blackClr), 0.2);
    transform: translateY(0px);
}

#product-adding-section {
    border-radius: 10px;
    background: transparent;

    & .important {
        color: rgb(var(--danger));
    }

    & .heading {
        padding-inline: 20px;
        margin-bottom: 20px !important;
    }

    & .col {
        width: 50%;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    & .col-2 .sub-block {
        gap: 20px;

        & .form__group {
            width: calc(50% - 10px);
        }
    }

    & .form__group {
        position: relative;
        display: flex;
        flex-direction: column;
        gap: 8px;

        & .input__label {
            font-weight: 500;
        }

        & input::-webkit-inner-spin-button {
            display: none !important;
        }

        & .error {
            position: absolute;
            inset-block-start: calc(100% + 2px);
            inset-inline-start: 0px;
        }

    }

    & .product__card{
        grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
    }

    & .product__image__card {
        padding: 25px;
        border: 1px solid rgb(var(--blackClr), 0.1);
        background-color: rgb(var(--whiteClr));
        border-radius: 10px;
        /* width: calc(50% - 10px); */

        & .options {
            inset-inline-end: 0px;
            inset-block-start: 0px;

            & .options_icon {
                height: 35px;
                width: 35px;
                padding-inline: 12px;
                background-color: rgb(var(--primaryClr));
                color: rgb(var(--whiteClr));
                font-weight: 300;
                font-size: 20px;
                border-radius: 0px 8px 0px 8px;
                box-shadow: 0px 0px 5px rgb(var(--blackClr), 0.1);
                transition: all 0.3s;
            }

        }

        & .color__picker {
            grid-template-columns: repeat(auto-fit, minmax(20px, 20px));
            min-height: 40px;

            & input[type="radio"]+label {
                width: 25px;
                height: 25px;
                border-radius: 50%;
                border: 1px solid rgb(var(--blackClr), 0.3);
                box-shadow: inset 0px 0px 2px rgb(var(--blackClr), 0.3);
                cursor: pointer;
            }
    
            & input[type="radio"] + label::before {
                width: 23px;
                height: 23px;
                content: '';
                display: flex;
                position: absolute;
                border-radius: 50%;
                filter: brightness(90%);
                transition: 0.1s ease-in-out;
            }
    
            & input[type="radio"]:checked+label::before {
                border: 3px solid #fff;
            }

            & input[type="color"] {
                visibility: hidden;
            }

            & input[type="color" i]::-webkit-color-swatch-wrapper {
                padding: 0px 0px !important;
            }

            & input[type="color" i]::-webkit-color-swatch {
                border-radius: 50%;
                border: none;
            }

            & .input__label,
            .picker__label {
                width: 25px;
                height: 25px;
                border-radius: 50%;
                background-color: transparent;
                border: 1px solid rgb(var(--blackClr), 0.8);
            }

            & .input__label {
                position: relative;
                border: 1px solid rgb(var(--blackClr), 0.2);
            }

            & .color_picker_icon {
                font-size: 21px;
                font-weight: 400;
                color: rgb(var(--blackClr), 0.8);
            }
        }
    }

    & .product__image__container {
        min-height: 100px;
        padding: 15px;
        background-color: rgb(var(--secondary));
        border-radius: 4px;
        grid-template-columns: repeat(auto-fill, minmax(90px, 1fr));

        & input[type="file"] {
            display: none;

            &::-webkit-file-upload-button {
                display: none;
            }
        }

        & .upload__block {
            height: 100px;
            border-radius: 4px;
            width: 100px;
            border: 1px dashed rgb(var(--textClr), 0.5);
            padding: 8px;
            font-size: 10px;
            font-weight: 500;
            color: rgb(var(--blackClr), 0.6);

        }

        & .upload_icon {
            font-size: 40px;
        }

        & .images img {
            object-fit: cover;
            border-radius: 4px;
            box-shadow: 1px 1px 3px rgba(var(--blackClr), 0.1);
        }

        & .remove-btn {
            font-size: 14px;
            border-radius: 50%;
            inset-block-start: -7px;
            inset-inline-end: -7px;
            background-color: rgb(var(--blackClr));
            border: 2px solid rgb(var(--whiteClr));
            color: rgb(var(--whiteClr));
            font-weight: 600;
        }
    }

    & .price__block {
        width: 100%;
        overflow: hidden;
        margin-inline: -10px;

        & .form__group {
            width: 33.3%;
            padding-inline: 10px;
        }
    }

    & .row {

        & .previous {
            height: 35px;
            width: 35px;
            padding: 7px;
            border: 1px solid rgba(var(--blackClr), 0.1);
            border-radius: 4px;
            background-color: rgb(var(--whiteClr));

            &:is(:hover) {
                border: 1px solid rgba(var(--blackClr), 0);
                background-color: rgba(var(--blackClr), 0.03);
            }
            & .back_icon {
                font-weight: 300;
                font-size: 18px;
            }
        }
    }

    & .stock-table{
         & th, td{
            padding: 5px;
         }

         & .delete__icon {
            height: 25px !important;
            width: 25px !important;
            border-radius: 6px !important;
        }

        & .options_icon:hover {
            transform: rotate(90deg);
        }

        & th {
            & .options_icon{
                padding: 0px;
                font-size: 20px;
                font-weight: 400;
            }
        }
    }

}


.btn-primary,
.btn-secondary {

    & .form_icon {
        font-size: 21px;
    }

    & .next_icon{
        font-weight: 300;
        font-size: 10px;
    }
}

.note {
    font-weight: 500;
    color: rgb(var(--textClr), 0.45);
}

.error small {
    color: rgb(var(--danger)) !important;
    font-weight: 500 !important;
}

/* POP UP */
.card-container {
    gap: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.data-field__text{
    text-transform: capitalize;
}

.card__block{
    padding: 25px;
    background-color: rgb(var(--whiteClr));
    border: 1px solid rgb(var(--blackClr), 0.1);
    border-radius: 5px;

    & .row-1 {
        border-bottom: 1px solid rgba(128, 128, 128, 0.1);
        padding-bottom: 5px;
        margin-bottom: 10px;

        & h4 {
            font-size: 22px !important;
        }
    }

    & .row-2{
        margin-bottom: 10px;
    }

    & .card-data{
        height: 174px;
        overflow-y: auto;
        padding: 10px 14px;
        background-color: rgb(var(--secondary));
        border-radius: 5px;

        &::-webkit-scrollbar {
            width: 3px;
            border-radius: 0px 5px 5px 0;
            background-color: rgb(var(--secondary), 0.4);
        }

        &::-webkit-scrollbar-thumb {
            border-radius: 0px 5px 5px 0;
            background-color: rgb(var(--primaryClr), 0.8);
        }

        & .data__field{
            border-radius: 2px;
            font-weight: 500;

            & span:last-child {
                font-size: 20px;
                color: rgb(var(--danger));

                &:hover {
                    font-weight: 500;
                    transform: scale(1.1);
                }
            }
        }

    }
}

.form__input{
  padding-inline-end: 45px;
}

input[type="file"] {
    display: none;

    &::-webkit-file-upload-button {
        display: none;
    }
}

input[type="file"] + label {
    border: none;
    padding: 5px 10px;
    border-radius: 8px;
    color: rgb(var(--blackClr));
    font-weight: 500;
    font-size: 13px;
}

input[type="file"]+label:hover, .file-section span:hover {
    color: rgb(var(--primaryClr));
    border-color: rgb(var(--whiteClr));
}




@media (max-width: 768px) {
    .form_container {
        grid-template-columns: 2fr;
    }
}

@media (max-width: 480px) {
    .form_container {
        grid-template-columns: 1fr;
    }
}