<section id="product-adding-section">
    <div class="heading d-flex justify-content-md-between align-center">
        <h1>Add Product</h1>
        <div class="file-section">
            <input type="file" id="sizes" maxlength="1" minlength="1" (change)="uploadFile($event)"
            accept="image/CSV, application/vnd.ms-excel ,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" />
            <label for="sizes"><span class="material-symbols-outlined">upload_file</span></label>
            <a class="downloadBtn" href="" download><span class="material-symbols-outlined">download</span></a>
        </div>
    </div>

    <div class=" product-form">
        <form action="" class="row-1 add__product d-flex" [formGroup]="productsForm">

            <div class="col">
                <div class="form__group">
                    <label for="" class="input__label">Product Images :</label>

                    <div class="product-images">
                        <input type="file" id="productImages" accept="image/jpg, image/jpeg, image/png" maxlength="6" minlength="3"
                            (change)="onFileChange($event)" multiple />
                        <label for="productImages">Drag & Drop your Files</label>
                    </div>

                    
                    <div *ngIf="productImagesD.length !== 0" class="images__container d-flex flex-column gap-5">
                        <span *ngFor="let image of productImagesD; let i=index"
                        class="images d-flex justify-content-md-between align-items-center">
                        <span>{{image.name}}</span>
                        <span class="material-symbols-outlined" (click)="deleteImage(image.name)">close</span>
                    </span>
                </div>
                
                <div class="error d-flex gap-15">
                    <small *ngIf="productsForm.get('productImages')?.hasError('required') && productsForm.get('productImages')?.touched">Required</small>
                    <small *ngIf="productsForm.get('productImages')?.hasError('invalidExtension') ">Invalid
                        Extension</small>
                    <small *ngIf="productsForm.get('productImages')?.hasError('maxlength')">Maximum 6 Images
                        Allowed</small>
                    <small *ngIf="productsForm.get('productImages')?.hasError('exceedSize')">Maximum 5MB per Images
                        Allowed</small>
                </div>
                
                    <div *ngIf="errorFile.length !== 0" class="images__container d-flex flex-column gap-5">
                        <span *ngFor="let file of errorFile[0]"
                            class="error_images images d-flex justify-content-md-between align-items-center">
                            <span>{{file.name}}</span>
                            <span class="material-symbols-outlined" (click)="deleteImage(file.name)">close</span>
                        </span>
                    </div>

                    <small>
                        Maximum 0f 6 images and minimum of 3 images need to be uploaded,make sure the image size match the proper background
                        size and all images should be uniformly maintained with width and height to the image
                        container,image size should not exceed 5MB,once uploaded to change the image you need to wait
                        minimum of 24hrs.
                    </small>
                </div>

                <div class="form__group">
                    <label for="" class="input__label">Product Name<span class="important">*</span></label>
                    <input type="text" placeholder="Name" #productName formControlName="productname">
                    <div class="error d-flex flex-wrap">
                        <small
                            *ngIf="productsForm.get('productname')?.hasError('required') && productsForm.get('productname')?.touched">*
                            Field Required</small>
                        <small *ngIf="productsForm.get('productname')?.hasError('invalidName')">*Invalid Name</small>
                    </div>
                </div>
                <div class="form__group">
                    <label for="" class="input__label">Product Code<span class="important">*</span></label>
                    <input type="text" name="" id="" placeholder="Product Code" formControlName="productCode">

                    <div class="error d-flex flex-wrap">
                        <small
                            *ngIf="productsForm.get('productCode')?.hasError('required') && productsForm.get('productCode')?.touched">*Required</small>
                    </div>
                </div>

                <div class="select-options d-flex flex-wrap gap-20">
                    <div class="form__group">
                        <div class="d-flex justify-content-md-between">
                            <label class="input__label">Category<span class="important">*</span></label>
                        </div>
                        <div class="relative">
                            <app-custom-select [options]="categories" [type]="'searchSelect'" [selectedOption]="'Select Category'" (final_option)="updateFormFields($event, 'category')"></app-custom-select>
                        </div>
                        <div class="error">
                            <small *ngIf="isSubmitted && productsForm.get('category')?.hasError('required')">*Field Required</small>
                        </div>
                    </div>

                    <div class="form__group">
                        <div class="d-flex justify-content-md-between">
                            <label for="" class="input__label">Brand<span class="important">*</span></label>
                        </div>
                        <div class="relative">
                            <app-custom-select [options]="brands" [type]="'searchSelect'" [selectedOption]="'Select Brand'" (final_option)="updateFormFields($event, 'brand')"></app-custom-select>
                        </div>

                        <div class="error">
                            <small
                                *ngIf="productsForm.get('brand')?.hasError('required') && productsForm.get('brand')?.touched">*Field
                                Required
                            </small>
                        </div>
                    </div>

                    <div class="form__group">
                        <label for="" class="input__label">Gender<span class="important">*</span></label>
                        <div class="relative">
                            <app-custom-select [options]="gender" [type]="'searchSelect'" [selectedOption]="'Select Gender'" (final_option)="updateFormFields($event, 'gender')"></app-custom-select>
                        </div>
                        <div class="error">
                            <small *ngIf="productsForm.get('gender')?.hasError('required') && isSubmitted">*Field Required</small>
                        </div>
                    </div>
                    <div class="form__group">
                        <div class="d-flex justify-content-md-between">
                            <label for="" class="input__label">Size<span class="important">*</span></label>
                        </div>
                        <div class="relative">
                            <app-custom-select [options]="sizes" [type]="'multiSelect'" [selectedOption]="'Select Sizes'" (SelectedList)="updateFormFields($event, 'sizes')"></app-custom-select>
                        </div>
                        <div class="error">
                            <small *ngIf="productsForm.get('sizes')?.hasError('required') && isSubmitted">*Field Required</small>
                        </div>
                    </div>
                    <div class="form__group">
                        <label for="" class="input__label">Colors<span class="important">*</span></label>
                        <div class="relative">
                            <app-custom-select [options]="colors" [type]="'multiSelect'" [selectedOption]="'Select Colors'" (SelectedList)="updateFormFields($event, 'colors')"></app-custom-select>
                        </div>
                        <div class="error">
                            <small *ngIf="productsForm.get('colors')?.hasError('required') && isSubmitted">*Field Required</small>
                        </div>
                    </div>
                    <div class="form__group">
                        <div class="d-flex justify-content-md-between">
                            <label for="" class="input__label">Product Tags<span class="important">*</span></label>
                        </div>
                        <div class="relative">
                            <app-custom-select [options]="tags" [type]="'multiSelect'" [selectedOption]="'Select Tags'" (SelectedList)="updateFormFields($event, 'tags')"></app-custom-select>
                        </div>
                        <div class="error">
                            <small *ngIf="productsForm.get('tags')?.hasError('required') && isSubmitted">*Field Required</small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="quantity-block d-flex">
                    <div class="form__group">
                        <label for="price" class="input__label">Actual Price<span class="important">*</span></label>
                        <input type="number" placeholder="Actual Price" id="price" formControlName="actualprice"
                            required />

                        <div class="error">
                            <small
                                *ngIf="productsForm.get('actualprice')?.hasError('required') && productsForm.get('actualprice')?.touched">*Field
                                Required</small>
                        </div>
                    </div>
                    <div class="form__group">
                        <label for="discount" class="input__label">Discount (%age)</label>
                        <input type="number" placeholder="Sale Price" id="discount" formControlName="discount" />
                    </div>
                    <div class="form__group">
                        <label for="discount" class="input__label">Discount Price</label>
                        <input type="number" placeholder="Discount Price" id="discount" formControlName="salesPrice"
                            readonly />
                    </div>
                    <div class="form__group">
                        <label for="materialType" class="input__label">Material Type<span
                                class="important">*</span></label>
                        <input type="text" placeholder="Material Type" id="materialType" formControlName="materialType"
                            required />
                        <div class="error">
                            <small
                                *ngIf="productsForm.get('materialType')?.hasError('required') && productsForm.get('materialType')?.touched">*Field
                                Required</small>
                        </div>
                    </div>
                    <div class="form__group">
                        <label for="itemWeight" class="input__label">Item Weight<span class="important">*</span></label>
                        <input type="number" placeholder="Weight in gms" id="itemWeight" formControlName="weight"
                            required />
                        <div class="error">
                            <small
                                *ngIf="productsForm.get('weight')?.hasError('required') && productsForm.get('weight')?.touched">*Field
                                Required</small>
                        </div>
                    </div>
                    <div class="form__group">
                        <label for="" class="input__label">Quantity in Stock<span class="important">*</span></label>
                        <input type="number" placeholder="Quantity" id="quantity" formControlName="stockQuantity"
                            required />

                        <div class="error">
                            <small
                                *ngIf="productsForm.get('stockQuantity')?.hasError('required') && productsForm.get('stockQuantity')?.touched">*Field
                                Required</small>
                        </div>
                    </div>
                    <div class="form__group">
                        <div class="d-flex justify-content-md-between">
                            <label for="" class="input__label">Order Quantity<span class="important">*</span></label>
                        </div>
                        
                        <div class="relative">
                            <app-custom-select [options]="orderQuantity" [type]="'multiSelect'" [selectedOption]="'Select Quantity'" (SelectedList)="updateFormFields($event, 'orderQuantity')"></app-custom-select>
                        </div>
                        <small>
                            *Order Quantity is various Unit to be Sold
                        </small>
                        <div class="error">
                            <small
                                *ngIf="productsForm.get('orderQuantity')?.hasError('required') && productsForm.get('orderQuantity')?.touched">*Field
                                Required</small>
                        </div>
                    </div>
                </div>
                <div class="form__group">
                    <label for="" class="input__label">Product Description</label>
                    <textarea name="" id="" cols="30" rows="10"></textarea>
                    <small>
                        *Description should not exceed 500 letters
                    </small>
                </div>
            </div>

        </form>
        <div class="buttons d-flex justify-content-end gap-20">
            <!-- <button class="draft d-flex align-items-center gap-5">
                <i class="fa-regular fa-note-sticky"></i>
                <a href="javascript:void(0);">Save as Draft</a>
                <span class="material-symbols-outlined">download</span>
            </button> -->
            <button class="add d-flex align-items-center gap-5" (click)="onsubmit()">
                <a href="javascript:void(0);">Submit Product</a>
                <span class="material-symbols-outlined">upload</span>
            </button>
        </div>
    </div>
</section> 