<section id="product-adding-section">
    <div class="heading">
        <h1>Add Product</h1>
    </div>
    <div class="product-form">
        <form action="" class="d-flex">

            <div class="col">
                <div class="form__group">
                    <label for="" class="input__label">Product Images :</label>
                    <div class="product-images"> 
                        <input type="file" multiple />
                    </div>
                    <small>
                        Max images Allowed - 6
                    </small>
                </div>
                <div class="form__group">
                    <label for="" class="input__label">Product Name</label>
                    <input type="text" placeholder="Name">
                </div>
                <div class="select-options d-flex flex-wrap gap-20">
                    <div class="form__group">
                        <div class="d-flex justify-content-md-between">
                            <label for="" class="input__label">Category</label>
                            <a href="javascript: void(0);"><i class="fa-solid fa-plus"></i></a>
                        </div>
                        <div class="customSelect">
                            <select name="" >
                                <option value="" disabled selected>Select Category</option>
                                <option value="">Category 1</option>
                                <option value="">Category 2</option>
                                <option value="">Category 3</option>
                                <option value="">Category 4</option>
                                <option value="">Category 5</option>
                            </select>
                        </div>
                    </div>
                    <div class="form__group">
                        <label for="" class="input__label">Gender</label>
                        <div class="customSelect">
                            <select name="" id="">
                                <option value="" disabled selected>Select Gender</option>
                                <option value="">All</option>
                                <option value="">Male</option>
                                <option value="">Female</option>
                            </select>
                        </div>
                    </div>
                    <div class="form__group">
                        <div class="d-flex justify-content-md-between">
                            <label for="" class="input__label">Size</label>
                            <a href="javascript: void(0);"><i class="fa-solid fa-plus"></i></a>
                        </div>
                        <div class="customSelect">
                            <select name="" id="">
                                <option value="" disabled selected>Select Size</option>
                                <option value="">XXL</option>
                                <option value="">XL</option>
                                <option value="">L</option>
                                <option value="">M</option>
                                <option value="">S</option>
                            </select>
                        </div>
                    </div>
                    <div class="form__group" >
                        <div class="d-flex justify-content-md-between">
                            <label for="" class="input__label">Brand</label>
                            <a href="javascript: void(0);"><i class="fa-solid fa-plus"></i></a>
                        </div>
                        <div class="customSelect">
                            <select name="" id="">
                                <option value="" disabled selected>Select Brand</option>
                                <option value="">Brand 1</option>
                                <option value="">Brand 2</option>
                                <option value="">Brand 3</option>
                                <option value="">Brand 4</option>
                                <option value="">Brand 5</option>
                            </select>
                        </div>
                    </div>
                    <div class="form__group">
                        <label for="" class="input__label">Colors</label>
                        <div class="customSelect">
                            <select name="" id="">
                                <option value="" disabled selected>Select Colors</option>
                                <option value="">Color 1</option>
                                <option value="">Color 2</option>
                                <option value="">Color 3</option>
                                <option value="">Color 4</option>
                                <option value="">Color 5</option>
                            </select>
                        </div>
                    </div>
                    <div class="form__group">
                        <div class="d-flex justify-content-md-between">
                            <label for="" class="input__label">Product Tags</label>
                            <a href="javascript: void(0);"><i class="fa-solid fa-plus"></i></a>
                        </div>
                        <div class="customSelect">
                            <select name="" id="">
                                <option value="" disabled selected>Select Tag</option>
                                <option value="">Tag 1</option>
                                <option value="">Tag 2</option>
                                <option value="">Tag 3</option>
                                <option value="">Tag 4</option>
                                <option value="">Tag 5</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="price__block d-flex">
                    <div class="form__group">
                        <label for="" class="input__label">Actual Price</label>
                        <input type="text" placeholder="Actual Price">
                    </div>
                    <div class="form__group">
                        <label for="" class="input__label">Sale Price</label>
                        <input type="text" placeholder="Sale Price">
                    </div>
                    <div class="form__group">
                        <label for="" class="input__label">Discount Price</label>
                        <input type="text" name="" id="" placeholder="Discount in %age">
                    </div>
                </div>
                <div class="form__group">
                    <label for="" class="input__label">Product Type</label>
                    <input type="text" placeholder="Product Type">
                </div>
                <div class="form__group">
                    <label for="" class="input__label">Item Weight</label>
                    <input type="text" placeholder="Weight in gms">
                </div>
                <div class="form__group">
                    <label for="" class="input__label">Quantity in Stock</label>
                    <input type="text" placeholder="Quantity">
                </div>
                <div class="form__group">
                    <div class="d-flex justify-content-md-between">
                        <label for="" class="input__label">Order Quantity</label>
                        <a href="javascript: void(0);"><i class="fa-solid fa-plus"></i></a>
                    </div>
                    <div class="customSelect">
                        <select name="" id="">
                            <option value="">Select Order Quantity</option>
                            <option value="">100</option>
                            <option value="">200</option>
                            <option value="">300</option>
                            <option value="">400</option>
                        </select>
                    </div>
                </div>
                <div class="form__group">
                    <label for="" class="input__label"></label>
                </div>
                <div class="form__group">
                    <label for="" class="input__label">Product Description</label>
                    <textarea name="" id="" cols="30" rows="10"></textarea>
                </div>
            </div>

        </form>
    </div>
</section>