    
<app-drawer [direction]="direction" [show]="show" (showChange)="ChangeHanlder($event)">
        <div class="addressFormContent">
     
       
    <div class="d-flex flex-column gap-20">

    <h2>Add New Address
    </h2>

    
    
    <form [formGroup]="DetailsForm" class="d-flex gap-15">
    <div class="form__group relative d-flex flex-column">
        <label class="form__label">FIRSTNAME<span>*</span></label>
        <!-- <span class="material-symbols-outlined form__icon absolute">person</span> -->
        <input type="text" id="firstname" formControlName="firstname" placeholder="Enter Your First Name">
    </div>
    
    <div class="form__group relative d-flex flex-column">
        <label class="form__label">LASTNAME<span>*</span></label>
        <!-- <span class="material-symbols-outlined form__icon absolute">person</span> -->
        <input type="text" id="lastname" formControlName="lastname" placeholder="Enter Your Last Name">
    </div>
    <div class="form__group relative d-flex flex-column">
        <label class="form__label">APARTMENT<span>*</span></label>
        <!-- <span class="material-symbols-outlined form__icon absolute">mail</span> -->
        <input type="text" id="apartment" formControlName="apartment" placeholder="Enter Your apartment no">
    </div>
    
    
    <div class="form__group relative d-flex flex-column">
        <label class="form__label">AREA<span>*</span></label>
        <!-- <span class="material-symbols-outlined form__icon absolute">call</span> -->
        <input type="text" id="area" formControlName="area" placeholder="Enter Your area">
    </div>
    
    
    
    
    <div class="form__group relative d-flex flex-column">
        <label class="form__label">LANDMARK<span>*</span></label>
        <!-- <span class="material-symbols-outlined form__icon absolute">person</span> -->
        <input type="text" id="landmark" formControlName="landmark" placeholder="Enter Your landmark">
    </div>
    
    <div class="form__group relative d-flex flex-column">
        <label class="form__label">PINCODE<span>*</span></label>
        <!-- <span class="material-symbols-outlined form__icon absolute">person</span> -->
        <input type="text" id="pincode" formControlName="pincode" placeholder="Enter Your Username">
    </div>
    
    
    <div class="form__group relative d-flex flex-column">
        <label class="form__label">TOWN/CITY<span>*</span></label>
        <!-- <span class="material-symbols-outlined form__icon absolute">person</span> -->
        <input type="text" id="town_city" formControlName="town_city" placeholder="Enter Your Town/City">
    </div>
    
    <div class="form__group relative d-flex flex-column">
        <label class="form__label">STATE<span>*</span></label>
    
        <app-custom-select [type]="''"  [options]="states" [selectedOption]="((DetailsForm.get('state')?.value) ? (DetailsForm.get('state')?.value) : 'Select State')"
        (final_option)="StateHandler($event)"></app-custom-select>
    
    </div>
    
    <div class="form__group relative d-flex flex-column">
        <label class="form__label">MOBILE NO</label>
        <!-- <span class="material-symbols-outlined form__icon absolute">person</span> -->
        <input type="text" id="town_city" formControlName="mobile" placeholder="Enter Your Phone Number">
    </div>
    
    
    </form>
    
    <div class="d-flex gap-15">
        <!--  (click)="AddressClose()" -->
        <button class="width-160 cancelbtn">Cancel</button>
        <button class="btn-primary width-160" #EditBtn (click)="AddnewAddress()" [disabled]="DetailsForm.invalid">
            
            <span *ngIf="receiveData">Update</span>
            <span *ngIf="!receiveData">Save</span>
        </button>
    </div>
    
    
    
    </div>
    
    </div>
     
</app-drawer>

