
.specialcontent{
    position: fixed;

    display: flex;
    width: 100%;
    height: 100%;
    inset-inline-start: 0;
    inset-block-start: 0;
    z-index: 10;
    


    background-color: rgba(23, 23, 23, 0.318);

    & .form{
        /* width: 480px;
        background-color: white;
        position: absolute;
        height: auto;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%); */

        width: 480px;
        background-color: white;
        position: absolute;
        height: auto;
        /* left: 50%; */
        opacity: 0;
        transform: translate(50%,-350px);
        transition:  0.5s ease-in-out;


    }


    
}



.addnew{
    
    top: 50% !important;
    left: 50% !important;
    transform: translate(-50%, -50%) !important;
    opacity: 1 !important;
    
}





.content{
    & .addAddress,& .ShowAddresses{
        border: 2px dotted black;
        width:270px;
    }


    & .addAddress{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        & button{
            background:transparent;
            height: 100%;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    }


    & .ShowAddresses{
        display: flex;
        flex-direction: column;
        height: 300px;

        justify-content: space-between;
        padding: 20px;
    & .name{
            font-weight: 600;
        }

        & button{
            background: transparent;
            padding-inline: 0;
            height: 30px;
            display: flex;
            justify-content: center;
            align-items: center !important;
             color: rgb(var(--primary));
            border-radius: 0px;
            height: 20px !important;
        }

        & .edit_btn{
            padding-inline-end: 10px;

            /* border-right: 1px solid rgb(var(--primary)); */
        }

    }

}


.closebtn{
    color: white;
    background-color: black;

    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    position: absolute;
    top: -6px;
    right: -6px;
    padding: 0 !important;
    z-index: 5;
    border-radius: 50% !important;
    
    &:hover{
        background-color: rgb(var(--primary));
    }
}