<section id="order-section" class="d-flex flex-column gap-20">
    <h3>Order List</h3>
    
    <div class="order-info-cards grid gap-20">
        <div class="column col-2">
            <div class="card">
                <i class="material-symbols-outlined">thumb_up</i>
                <div>
                    <p class="title">Confirmed</p>
                    <span class="order-count">323</span>
                </div>
            </div>
        </div>
        <div class="column col-4">
            <div class="card">
                <i class="material-symbols-outlined">local_shipping</i>
                <div>
                    <p class="title">Shipping</p>
                    <span class="order-count">100</span>
                </div>
            </div>
        </div>
        <div class="column col-3">
            <div class="card">
                <i class="material-symbols-outlined">close</i>
                <div>
                    <p class="title">Canceled</p>
                    <span class="order-count">10</span>
                </div>
            </div>
        </div>
        <div class="column col-1">
            <div class="card">
                <i class="material-symbols-outlined">done</i>
                <div>
                    <p class="title">i</p>
                    <span class="order-count">2000</span>
                </div>
            </div>
        </div>
    </div>


    <div class="filters grid gap-20 justify-content-end">
        <app-search-bar [searchPlaceholder]="'Search Orders...'"></app-search-bar>
        <app-custom-select [options]="categoryOption" [selectedOption]="'Filter by Category'" (final_option)="updateFields($event, 'category')"></app-custom-select>
        <app-custom-select [options]="orderStatus" [selectedOption]="'Filter by Order'" (final_option)="updateFields($event, 'order')"></app-custom-select>
        <span class="d-flex justify-content-md-between flex-column gap-5">
            <label class="form__title" for="todate">To: </label>
            <input class="form__input" type="date" id="todate">
        </span>
        <span class="d-flex justify-content-md-between flex-column gap-5">
            <label class="form__title" for="fromdate">From: </label>
            <input class="form__input" type="date" id="fromdate">
        </span>
        <button class="btn-primary">Download All Orders</button>
    </div>

    <div class="order-list d-flex flex-column gap-25">

        <div class="order-table">
            <table datatable class="row-border hover">
                <thead>
                    <tr>
                        <th class="order-items heading">Invoice ID</th>
                        <th class="order-items heading">Customer Name</th>
                        <th class="order-items heading">Order Time</th>
                        <th class="order-items heading">Quantity</th>
                        <th class="order-items heading">Amount</th>
                        <th class="order-items heading">Status</th>
                        <th class="order-items heading">Track</th>
                        <th class="order-items heading">Invoice</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of orders | paginate: {
                        itemsPerPage: pageSize,
                        currentPage: currentPage
                    }">
                        <td class="order-items">#{{item.orderId}}</td>
                        <td class="order-items">{{item.customer}}</td>
                        <td class="order-items">{{item.orderTime}}</td>
                        <td class="order-items">{{item.quantity}}</td>
                        <td class="order-items">&#8377; {{item.amount}}</td>
                        <td class="order-items">
                            <span *ngIf="item.order_status == 'Confirmed'" style="color: rgb(var(--success));">Confirmed</span>
                            <span *ngIf="item.order_status == 'Shipping'" style="color: rgba(255, 85, 0, 0.992);">Shipping</span>
                            <span *ngIf="item.order_status == 'Canceled'" style="color: rgb(var(--danger));">Canceled</span>
                            <span *ngIf="item.order_status !== 'Confirmed' && item.order_status !== 'Shipping' && item.order_status !== 'Canceled'" style="color: rgb(var(--dash-blue-clr));">{{item.order_status}}</span>                            
                        </td>
                        <td class="order-items">
                            <span [routerLink]="['/dashboard/orderDetails', item.orderId]" class="material-symbols-outlined">open_in_new</span>
                        </td>

                        <td class="order-items">
                            <span [routerLink]="['/dashboard/invoice', item.orderId]" class="material-symbols-outlined">search</span>                                
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="table-controls d-flex justify-content-md-between">
            <pagination-controls (pageChange)="pageChanged($event)" previousLabel="Previous"
                nextLabel="Next"></pagination-controls>
        </div>

    </div>
</section>