<section id="order-section" class="d-flex flex-column gap-20">
    <!-- <div class="d-flex justify-content-md-between align-center">
        <div class="update d-flex align-center">
            <h1>Orders</h1>
            <span class="material-symbols-outlined rotate pointer">refresh</span>
        </div>
        <div class="search-option">
            <app-search-bar [searchPlaceholder]="'Search Orders...'"></app-search-bar>
        </div>
    </div> -->

    <div class="order-info-cards d-grid gap-20">
        <div class="column col-2">
            <div class="card">
                <span class="material-symbols-outlined">thumb_up</span>
                <div>
                    <p class="title">Confirmed</p>
                    <span class="order-count">323</span>
                </div>
            </div>
        </div>
        <div class="column col-4">
            <div class="card">
                <span class="material-symbols-outlined">local_shipping</span>
                <div>
                    <p class="title">Shipping</p>
                    <span class="order-count">100</span>
                </div>
            </div>
        </div>
        <div class="column col-3">
            <div class="card">
                <span class="material-symbols-outlined">close</span>
                <div>
                    <p class="title">Canceled</p>
                    <span class="order-count">10</span>
                </div>
            </div>
        </div>
        <div class="column col-1">
            <div class="card">
                <span class="material-symbols-outlined">done</span>
                <div>
                    <p class="title">Completed</p>
                    <span class="order-count">2000</span>
                </div>
            </div>
        </div>
    </div>

    <div class="order-list d-flex flex-column gap-25">
        <div class="filters d-flex justify-content-md-between align-item-center">
            <h3>Order List</h3>
            <!-- <div class="d-flex align-item-centergap-20">
                <span class="d-flex align-item-centergap-10">
                    <label for="todate">To: </label>
                    <input type="date" #todate>
                </span>
                <span class="d-flex align-item-centergap-10">
                    <label for="fromdate">From: </label>
                    <input type="date" #fromdate>
                </span>
            </div> -->
            <div class="d-flex align-item-centergap-20">
                <app-custom-select [options]="categoryOption" [selectedOption]="'Filter by Category'" (final_option)="updateFields($event, 'category')"></app-custom-select>
                <app-custom-select [options]="orderStatus" [selectedOption]="'Filter by Order'" (final_option)="updateFields($event, 'order')"></app-custom-select>
            </div>
        </div>
        <div class="order-table">
            <table datatable class="row-border hover">
                <thead>
                    <tr>
                        <th class="order-items heading">Order ID</th>
                        <th class="order-items heading">Product</th>
                        <th class="order-items heading">Category</th>
                        <th class="order-items heading">Sizes</th>
                        <th class="order-items heading">Quantity</th>
                        <th class="order-items heading">Amount</th>
                        <th class="order-items heading">Order Status</th>
                        <th class="order-items heading">Payment</th>
                        <th class="order-items heading">Track </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of orders | paginate: {
                        itemsPerPage: pageSize,
                        currentPage: currentPage
                    }">
                        <td class="order-items">#{{item.orderId}}</td>
                        <td class="order-items">{{item.product}}</td>
                        <td class="order-items">{{item.category}}</td>
                        <td class="order-items">{{item.size}}</td>
                        <td class="order-items">{{item.quantity}}</td>
                        <td class="order-items">&#8377; {{item.amount}}</td>
                        <td class="order-items">
                            <span *ngIf="item.order_status == 'Confirmed'" style="color: rgb(var(--success));">Confirmed</span>
                            <span *ngIf="item.order_status == 'Shipping'" style="color: rgba(255, 85, 0, 0.992);">Shipping</span>
                            <span *ngIf="item.order_status == 'Canceled'" style="color: rgb(var(--danger));">Canceled</span>
                            <span *ngIf="item.order_status !== 'Confirmed' && item.order_status !== 'Shipping' && item.order_status !== 'Canceled'" style="color: rgb(var(--dash-blue-clr));">{{item.order_status}}</span>                            
                        </td>

                        <td class="order-items">
                            <span *ngIf="item.payment_status == 'Confirmed'" style="color: rgb(var(--success));">Completed</span>
                            <span *ngIf="item.payment_status == 'Failed'" style="color: rgb(var(--danger));">Failed</span>
                            <span *ngIf="item.payment_status == 'Refunded'" style="color: rgb(var(--dash-blue-clr));">Refunded</span>
                            <span *ngIf="item.payment_status !== 'Confirmed' && item.payment_status !== 'Failed' && item.payment_status !== 'Refunded'" style="color: rgb(var(--dash-blue-clr));">{{item.payment_status}}</span>                          
                        </td>
                        <td class="order-items">
                            <a [routerLink]="['/dashboard/orderDetails', item.orderId]">
                                <span class="material-symbols-outlined">open_in_new</span>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="table-controls d-flex justify-content-md-between">
            <pagination-controls (pageChange)="pageChanged($event)" previousLabel="Previous"
                nextLabel="Next"></pagination-controls>
        </div>
    </div>
    

</section>