.search-option {
    height: 40px;
    width: 300px;
}

.update span {
    font-weight: 300;
    font-size: 18px;
    transform: translateY(7px);
}

.filters {
    grid-template-columns: repeat(auto-fit, minmax(380px, 1fr));
}

.form__title {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    padding-inline-start: 15px;
}

.form__input.fromdate {
    padding-inline-start: 55px;
}

.form__input.todate {
    padding-inline-start: 37px;
}

.column{
    display: flex;
    justify-content: space-between;
    align-items: center;

    & .material-symbols-outlined {
        font-size: 2.5rem;
        display: flex;
        align-items: center;
        border-radius: 50%;
        height: 70px;
        width: 70px;
        justify-content: center;
        align-items: center;
    }
}


#order-section {
    width: 100%;

    & .order-info-cards {
        text-align: left;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));

        & .order-count {
            font-size: 26px;
        }
    }

    & .col-1 {
        & .material-symbols-outlined {
            color: rgb(var(--blue-clr));
            background: linear-gradient(327deg, rgb(var(--blue-clr), 0.2), rgba(255, 255, 255, 0));
        }
    }

    & .col-2 {
        & .material-symbols-outlined {
            color: rgb(var(--green-clr));
            background: linear-gradient(327deg, rgb(var(--green-clr), 0.2), rgba(255, 255, 255, 0));
        }
    }

    & .col-3 {
        & .material-symbols-outlined {
            color: rgb(var(--red-clr));
            background: linear-gradient(327deg, rgb(var(--red-clr), 0.2), rgba(255, 255, 255, 0));
        }
    }

    & .col-4 {
        & .material-symbols-outlined {
            color: rgb(var(--yellow-clr));
            background: linear-gradient(327deg, rgb(var(--yellow-clr), 0.2), rgba(255, 255, 255, 0));
        }
    }

    & .heading {
        font-weight: 600 !important;
    }

}

@media screen and (max-width: 510px) {
    .filters {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }

    .date{
        flex-direction: column;
    }
}