
.search-option{
    height: 40px;
    width: 300px;
}
.update span{
    font-weight: 300;
    font-size: 18px;
    transform: translateY(7px);
}

#order-section {
    width: 100%;

    & .order-info-cards {
        text-align: left;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));

        & .order-count {
            font-size: 26px;
        }
    }

    & .column .card {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center;
        padding: 20px;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
        border-radius: 10px;
        background-color: #ffffff;
        border-inline-start: 3px solid transparent;
        transition: box-shadow 0.3s ease-in-out;

        & .material-symbols-outlined {
            font-size: 2.5rem;
            display: flex;
            align-items: center;
            border-radius: 50%;
            height: 70px;
            width: 70px;
            justify-content: CENTER;
            ALIGN-ITEMS: CENTER;
        }
    }

    .card:hover {
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
    }

    & .col-1 {
        & .material-symbols-outlined {
            color: rgb(var(--dash-blue-clr));
            background: linear-gradient(327deg, rgb(var(--dash-blue-clr), 0.2), rgba(255, 255, 255, 0));
        }
    }

    & .col-2 {
        & .material-symbols-outlined {
            color: rgb(var(--dash-green-clr));
            background: linear-gradient(327deg, rgb(var(--dash-green-clr), 0.2), rgba(255, 255, 255, 0));
        }
    }

    & .col-3 {
        & .material-symbols-outlined {
            color: rgb(var(--dash-red-clr));
            background: linear-gradient(327deg, rgb(var(--dash-red-clr), 0.2), rgba(255, 255, 255, 0));
        }
    }

    & .col-4 {
        & .material-symbols-outlined {
            color: rgb(var(--dash-yellow-clr));
            background: linear-gradient(327deg, rgb(var(--dash-yellow-clr), 0.2), rgba(255, 255, 255, 0));
        }
    }

    & .filters {
        padding-block-end: 20px;
        border-block-end: 1px solid rgb(var(--text-black), 0.1);

        & label {
            font-size: 12px;
            font-weight: 600;
        }

        & input[type="date"] {
            border: none;
            border: 1px solid rgb(var(--primary), 0.3);
            padding-inline: 10px;
            border-radius: 5px;
            /* font-weight: bold; */

            &::-webkit-datetime-edit {
                font-size: 13px;
                padding: 8px 20px;
                /* font-family: 'Lato', sans-serif !important; */
                color: rgba(var(--primary)) !important;
            }

            &::-webkit-calendar-picker-indicator#picker {
                background-color: transparent;
                padding: 5px;
                
            }

            &:is(:focus) {
                border: 1px solid rgb(var(--primary), 0.3);
            }
        }

        & select {
            /* display: none; */
            padding: 10px 20px;
            border-radius: 5px;
            border: none;
            border: 1px solid rgb(var(--primary), 0.3);
            font-size: 13px;
            /* font-weight: bold; */

            & option:focus {
                background-color: brown;
                color: beige;
            }
        }
    }

   

    & .order-list{
        padding: 20px;
        background-color: rgb(var(--text-white));
        box-shadow: 0px 0px 5px rgba(var(--secondary), 0.1);
        border-radius: 10px;
    }

    & .heading{
        font-weight: 600 !important;
    }

    & .order-table {
        & table {
            width: 100%;
            border-collapse: collapse;
            border-spacing: 0;
        }

        & .order-items {
            font-size: 14px;
            text-align: left;
            border: 1px solid rgba(128, 128, 128, 0.152);
            letter-spacing: 0.26px;
            font-weight: 500;
        }
  
        & td,th{
            padding: 10px;
            vertical-align: middle;
        }
    
        & tbody tr{
            transition: all 0.3s ease-in-out;

            &:hover{
                background-color: rgb(var(--secondary), 0.02);
            }
        }

        & tbody td:first-child{
            font-weight: 600;
        }
        

        & td:last-child {
            display: flex;
            transition: all 0.3s ease-in-out;
            cursor: pointer;

            & .material-symbols-outlined{
                font-size: 18px;
                padding: 10px;
            }
        }
    
            & a:first-child{
                display: flex;
                justify-content: center;
                align-self: center;
                border-radius: 5px;
                background-color: rgb(var(--secondary), 0.04);
                transition: all 0.3s ease-in-out;

                &:hover{
                    color: rgb(var(--primary));;
                }
            }
    }


}