<section *ngIf="productDetails" class="d-flex flex-column gap-20">
    
    <div class="preview__heading d-flex justify-content-md-between align-item-center">
        <button class="btn-primary" [routerLink]="['/dashboard/products']">Back</button>
        <h3>Product Preview</h3>
        <button class="btn-primary" [routerLink]="['/dashboard/editproduct', skuId]">Edit</button>
    </div>

    <div class="card-preview basicinfo d-flex flex-column gap-5">
        <h2>{{productDetails.name}}</h2>
        <h4>{{productDetails.subTitle}}</h4>
        <p>{{productDetails.description}}</p>
    </div>


    <div class="card-preview info__container d-flex gap-15" *ngFor="let asset of productDetails.assets" [style]="'border-color:' + asset.color">

            <div class="img_container d-flex flex-wrap gap-10">
                <ng-container *ngFor="let image of asset.photo">
                    <img [src]="image" alt="image" width="100" height="100">
                </ng-container>
            </div>
            <div class="assetsInfo table-list d-flex flex-column gap-15">
                <p class="table-title_">
                    Inventory Status
                </p>
                <table>
                    <thead>
                        <tr>
                            <th class="items">Size</th>
                            <th class="items">Unit Sold</th>
                            <th class="items">Unit Remaining</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let stock of asset.stockQuantity">
                            <td class="items">{{stock.size}}</td>
                            <td class="items">{{stock.unitSold}}</td>
                            <td class="items">{{stock.quantity - stock.unitSold}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>

    </div>

