<section class="product-preview d-flex flex-column gap-20">
    <div class="card-preview preview__heading d-flex justify-content-md-between align-item-center">
        <button class="btn btn-xs btn-rounded fw-500 btn-primary" [routerLink]="['/dashboard/products']">Back</button>
        <h3>Product Preview</h3>
        <button class="btn btn-xs btn-rounded fw-500 btn-primary" [routerLink]="['/dashboard/editproduct', skuId]">Edit</button>
    </div>
    <app-product-page [productSku]="skuId"></app-product-page>
</section>