.heading{
    margin-bottom: 0 !important;
}
.tc {

    & .bg-img {
        width: 100%;
        min-height: 400px;
        /* background-image: url(../../assets/tc-bg.jpg); */
        background-color: rgb(var(--primaryClr), 0.1);
        background-image: url(../../assets/deal-of-week-component/dealOfWeek-homeBg.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: bottom;
        color: rgb(var(--textClr));
    }

    & .bg-img .container {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    & h2 {
        font-size: 84px;
        letter-spacing: 2.2px;
    }

    & .cond {
        margin-block-end: -40px;
    }

    & p {
        font-size: 11px !important;
        margin-block-end: -10px;

    }

    & .content {
        background-color: rgb(var(--whiteClr), 0.4);
        padding-block-end: 70px;
        padding-block-start: 30px;
        padding-inline: 20px;

        & h4 {
            font-size: 22px !important;
            margin-block-end: 10px;
            margin-block-start: 25px;


        }

        & p {
            font-size: 14px !important;
            margin-block: 12px;

        }

        & ul {
            list-style-type: disc;
            margin-block: 10px;
        }

        & ul li {
            margin-block: 5px;
            font-size: 14px;
        }

    }

}

@media screen and (max-width: 1078px) {
    .heading h2 {
        font-size: 72px;
    }

}

@media screen and (max-width: 790px) {
    .heading h2 {
        font-size: 60px;
    }

    .cond {
        margin-block-end: -30px !important;
    }
}

@media screen and (max-width: 590px) {
    .heading h2 {
        font-size: 50px;
    }

    .cond {
        margin-block-end: -20px !important;
    }

    .bg-img {
        min-height: 300px !important;
    }

    .content h3 {
        font-size: 26px !important;
    }

    .content {

        & ul li {
            font-size: 14px !important;
        }
    }

    .content p {
        font-size: 14px !important;
    }
}

@media screen and (max-width: 460px) {
    .heading h2 {
        font-size: 40px !important;
    }

    .bg-img {
        min-height: 250px !important;
    }

    .cond {
        margin-block-end: -10px !important;
    }

    .content h3 {
        font-size: 15px !important;
    }

    .content p {
        font-size: 10px !important;
    }

    .content {

        & ul li {
            font-size: 10px !important;
        }
    }

    .content {
        padding-inline: 0px !important;
    }
}

@media screen and (max-width: 350px) {
    .heading h2 {
        font-size: 28px !important;
    }

    .heading p {
        font-size: 7px !important;
        margin-block-end: 0px;
    }
    .content {
        padding-block: 0px !important;
    }
}