.tc {
    padding-block-start: 80px;
    & .bg-img{
        width: 100%;
        min-height: 400px;
        background-image: url(../../assets/tc-bg.jpg);
        background-size: cover;
        color: rgb(var(--text-white));
    }
    & h2{
        font-size: 84px;
        letter-spacing: 2.2px;
    }
    & .cond {
        margin-block-start: -35px;
    }
    & p{
        font-size: 11px !important;
        margin-block-end: -10px;
        
    }
    & .content{
        background-color: rgb(var(--background), 0.4);
        padding-inline: 100px;
        padding-block-end: 70px;
        padding-block-start: 30px;

        & h3{
            font-size: 30px !important;
            margin-block-end: 10px;
            margin-block-start: 25px;
            
            
        }
        & p {
            font-size: 16px !important;
            margin-block: 12px;
            
        }
        & ul {
            list-style-type: disc;
            margin-block: 10px;
        }
        & ul li{
            margin-block: 5px;
        }
        
    }
   
}