<section class="tc">
    <div class="bg-img d-flex justify-content-center align-items-center">
        <div class="container">
            <div class="heading">
                <p class="text-center">UNDERSTANDING OUR</p>
                <h2 class="text-center cond">Terms & </h2>
                <h2 class="text-center ">Conditions</h2>
                </div>
        </div>
    </div>
    <div class="content">
        <div class="container">
            <h3>Use of our website</h3>
        <p>When you use this website and place orders through it, you agree to:</p>
        <ul>
            <li>Use this website to make enquiries and legally valid orders only.</li>
            <li>Not to make any false or fraudulent orders. If an order of this type may reasonably be considered to have been placed, we shall be authorised to cancel it and inform the competent authorities.</li>
            <li>Provide us with your email address, postal address and/or other contact details truthfully and exactly. You also agree that we may use this information to contact you in the context of your order if necessary.</li>
        </ul>
        <p>If you do not provide us with all the information we need, you cannot place your order.</p>
        
        <h3>Contract</h3>
        <p>After you place an order you will receive Confirmation mail/Message (Order Confirmation) and (Shipping Confirmation)</p>
        
        <h3>Availability of products</h3>
        <p>All orders are Subject to availability of Products Along this line, if there are difficulties regarding the supply of products or there are no more items left in stock, we reserve the right to provide you with information on substitute products of the same. If you do not wish to order the substitute products, we will reimburse any amount that you may have paid.</p>
        
        <h3>Refusal to process an order</h3>
        <p>We will always do everything possible to process all orders, there may be exceptional circumstances that force us to refuse to process an order after having sent the Order Confirmation. We reserve the right to do so at any time. We reserve the right to remove any product from this website at any time and to remove or modify any material or content from the same.</p>
        <p >We shall not be liable to you or any third party for removing any product or modifying any product or material or content from our website or not processing an order once we have sent the Order Confirmation.</p>
        
        <h3>Delivery</h3>
        <p>In Continuation to claus (3) above regarding the availability of product and extra ordinary circumstances, we will try to make sure to send the order consisting of Product(s) by date indicated in the Delivery confirmation or if no delivery date is specified, in the estimated time frame within a maximum period of 30 days from the date of Order confirmation.</p>
        <p >Nonetheless, there may be delays for reasons such as the occurrence of unforeseen circumstances or the delivery zone.</p>
        <p >For the purpose of these Conditions, the “delivery” shall be understood to have taken place or the order “delivered” as soon as you or a third party indicated by you acquires physical possession of the goods, which will be evidenced by the signing of the receipt of the order at the delivery address indicated by you.</p>
        
        <h3>Price and payment</h3>
        <p> We make every effort to ensure that the prices featured on the website are correct, error may occur. If we discover an error in the price of any of the products that you have ordered, we will inform you as soon as possible and give you the option of confirming your order at the correct price or cancelling it. If we are unable to contact you, the order will be considered cancelled and all amounts paid will be refunded to you in full.</p>
        <p >We are not obliged to provide you with any product at the incorrect lower price (even when we have sent the Shipping Confirmation) if the error in the price is obvious and unmistakable and could have reasonably been recognized by you as an incorrect price.</p>
        <p > The prices on the website excluding Goods and Service Tax (GST), duties, cesses and delivery charges. Prices may change at any time.</p>
        
        <h3>Invoice</h3>
        <p>Invoice will be provided to you along with the products when delivered.</p>
        
        <h3>Taxes</h3>
        <p>Pursuant to the prevailing rules and regulations in force, all purchases done through the website are subject to all applicable taxes but not limited to GST, duties, cesses, etc.</p>
        
        <h3>Exchange/Return/Refund Policy</h3>
        <ul>
            <li>We grant you a period of 15 days from the day the order was delivered by the delivery executive.</li>
            <li> In case you return the goods within the contractual term of the right of withdrawal, you will only be reimbursed with the amount paid for said products. Delivery charges will not be reimbursed After the goods returned. The amount will be credited back into customer’s store wallet.</li>
            <li>Incase you have received a damaged, defective, missing or a wrong product on delivery. Please reach out to us within 24 hours at info@tradevogue.com</li>
            <li>Exchange of a product is subject to stock availability.</li>
            <li>An order can be returned / exchanged to a maximum of two (2) consecutive times.</li>
        </ul>
        
        <h3>Return/Exchange </h3>
        <ul>
            <li>Customer can exchange the order within 15 days from the date of delivery.</li>
            <li>Keeping the strict hygiene standards of our products, we do not accept returns / replacement on several product categories like cap, hat, mask, boxer, shorts,  tank tops and baby tees. Stationary products like stickers are also a part of no return / no exchange products.</li>
            <li>We will not arrange the reverse pickup of products, unless confirmed by the Customer Experience Team. If you have received a defective product, send us images at info@bonkerscorner.com and we will get back to you, Once confirmed by the Customer Experience Team.</li>
            <li>Once confirmed by our customer experience team, we will arrange the reverse pickup Product/s within 7 days of receiving the request.</li>
            <li>Please ensure while returning the product the packaging is intact the way it was delivered.</li>
            <li>As we do not have our own delivery service we rely on delivery partners like BlueDart, Delhivery, DTDC, etc
                In case of an exchange; the delivery partner charges us for reverse pickup from the customer location and then additional delivery charges for delivering new product again to the customer location, As these charges are two-way; we request our customers to pay for one way charge i.e ₹100 (Which will be credited back to the customer’s store wallet after product quality check is completed).
            </li>
            <li>We will not be able to gift wrap any replacements you have asked for.</li>
            <li>If an order placed during a sale is returned to us, only the amount paid by you will be refunded, not the current product price.</li>
            <li>In case of a return on an order, the amount will be credited back into customer’s store wallet.</li>
            

        </ul>
        
        <h3>Confirm/Cancellation </h3>
        <ul>
            <li>If you have placed a COD order our customer service team will call you for confirmation of the order to be shipped.</li>
            <li>Once an order is cancelled, It cannot be reverted. New order needs to be placed by the customer.</li>
            <li>Once the order is in processing status it cannot be cancelled.</li>
            <li>For changes in the order before it has been shipped, Please call us directly on the number and we will see if we can work it out for you. Changes in the order cannot be made once shipped.</li>
        </ul>
        
        <h3>Refund </h3>
        <ul>
            <li>The refund will be initiated in your trade vogue wallet by 7 working days from the date of your order is returned subject to passing the quality check.</li>
            <li>Gift wrapping charges will not be refunded if goods are returned.</li>
            <li>Trade Vogue may refuse a refund request if we find evidence of fraud, refund abuse or other manipulative behaviour that entitles.</li>
        </ul>
        </div>
    </div>
</section>
