<section class="tc">
    <div class="bg-img d-flex justify-content-center align-item-center default-animation">
        <div class="container">
            <div class="heading">
                <p class="text-center">UNDERSTANDING OUR</p>
                <h2 class="text-center cond">Terms & </h2>
                <h2 class="text-center ">Conditions</h2>
            </div>
        </div>
    </div>
    <div class="content default-animation-slow">
        <div class="container">
            <ng-container *ngFor="let section of tcData"> 
                <h4>{{section.heading}}</h4>
                <ng-container *ngFor="let content of section.contentInfo">
                    <p *ngIf="content.content_type == 'paragraph'">{{content.content_description[0].content}}</p>
                    <ul *ngIf="content.content_type == 'list'" >
                        <ng-container *ngFor="let list of content.content_description">
                            <li>{{list.content}}</li>
                        </ng-container>
                    </ul>
                </ng-container>
            </ng-container>
        </div>
    </div>
</section>
