.popup{
    display: flex;
    /* visibility: visible; */
    /* opacity: 1; */
}
.dialog__content {
    & h3 {
        font-size: 28px !important;
        color: rgb(var(--primaryClr));
    }
}
.mail-animate {
    border: 1px solid rgb(var(--blackClr), 0.05);
    width: 100px;
    height: 100px;
    margin: 0 auto;
    border-radius: 50%;
    margin-block-start: -80px;
}