<section class="d-flex forgetPassword">
    <div class="content d-flex justify-content-center align-item-center">
        <div class="form-container d-flex flex-column relative">
            <div class="header fixed">
                <a routerLink="/"><img src="../../assets/logo.svg" alt="logo"></a>
            </div>
         
            <h2 class="login-title text-center">Change Password</h2>
            <form [formGroup]="resetPasswordForm" class="mw100 d-flex flex-column gap-15">

                <div class="form__group relative d-flex flex-column">
                    <label class="form__label">New Password<span>*</span></label>
                    <span class="material-symbols-outlined key form__icon absolute">key</span>
                    <input [type]="passwordFieldType" placeholder="New Password" formControlName="password" required>
                    <button class="eye-btn flex justify-content-center align-item-center"
                        (click)="showPassword = !showPassword; passwordFieldType = showPassword ? 'text' : 'password';">

                        <span class="material-symbols-outlined eye">{{ showPassword ? 'visibility' : 'visibility_off'
                            }}</span>
                    </button>

                    <small
                        *ngIf="resetPasswordForm.get('password')?.errors && resetPasswordForm.get('password')?.touched && !resetPasswordForm.get('password')?.hasError('required')"
                        class="invalid">
                        *Please enter valid password.
                    </small>
                </div>

                <div class="form__group relative d-flex flex-column">
                    <label class="form__label">Confirm New Password<span>*</span></label>
                    <span class="material-symbols-outlined key form__icon absolute">key</span>
                    <input [type]="passwordFieldType2" placeholder="Confirm New Password"
                        formControlName="confirmPassword" required>
                    <button class="eye-btn flex justify-content-center align-item-center"
                        (click)="showPassword2 = !showPassword2; passwordFieldType2 = showPassword2 ? 'text' : 'password';">
                        <span class="material-symbols-outlined eye">{{ showPassword2 ? 'visibility' : 'visibility_off'
                            }}</span>
                    </button>
                    <small
                        *ngIf="resetPasswordForm.get('confirmPassword')?.errors && resetPasswordForm.get('confirmPassword')?.touched && !resetPasswordForm.get('confirmPassword')?.hasError('required')"
                        class="invalid">
                        *Please enter valid password.
                    </small>
                </div>
                <button class="btn-primary reset-btn" [disabled]="resetPasswordForm.invalid" (click)="onReset()">Reset</button>
            </form>
        </div>
    </div>
    <div class="image"></div>
</section>