<section  *ngIf="orderDetail" #invoicePage id="invoicePage" class="invoice-section fixed mw100 mh100 flex-center inset-block-start-0 inset-inline-start-0 "
[ngClass]="openInvoiceTemplate ? 'pop_open' : ''">
    <div class="invoice-template d-flex flex-column gap-20 relative">
        <i class="fs-20 pointer close__icon absolute material-symbols-outlined" (click)="close()">close</i>
        <div class="invoice__heading row d-flex align-item-center justify-content-md-between">
            <!-- <div class="invoice__title d-flex flex-column">
                <h2>Invoice</h2>
                <span class="d-flex align-item-center gap-5 text-capitalize fs-10 fw-500">
                    <p class="invoice__sub-title mh100">Payment:</p> 
                    <span *ngIf="orderDetail.payment_status.toLowerCase() == 'success'; else failed" style="color: rgb(var(--green-clr));">{{orderDetail.payment_status.toUpperCase() || ''}}</span>
                    <ng-template #failed>
                        <span *ngIf="orderDetail.payment_status.toLowerCase() == 'failed'; else processing" style="color: rgb(var(--red-clr));">{{orderDetail.payment_status.toUpperCase() || ''}}</span>
                        <ng-template #processing>
                            <span style="color: rgb(var(--blue-clr));">{{orderDetail.payment_status.toUpperCase() || ''}}</span>
                        </ng-template>
                    </ng-template>

                </span>
            </div> -->
            <img src="../../../../assets/logo.svg" alt="TradeVogue" width="160" height="160" *ngIf="!pageTheme">
            <img src="../../../../assets/logo-light.svg" alt="TradeVogue" width="160" height="160" *ngIf="pageTheme">


            <div class="d-flex flex-column">
                <span class="d-flex align-items-center gap-5 fs-12">
                    <p class="invoice__sub-title">Order ID:</p> {{orderDetail?.orderID.toUpperCase() || ''}}
                </span>
                <span class="d-flex align-items-center gap-5 fs-12">
                    <p class="invoice__sub-title">Order Time:</p> {{orderDetail?.orderDate || ''}}
                </span>
            </div>
        </div>
        <!-- <div class="d-flex flex-column">
            <span class="d-flex align-items-center gap-5 fs-12">
                <p class="invoice__sub-title">Order ID:</p> {{orderDetail?.orderID.toUpperCase() || ''}}
            </span>
            <span class="d-flex align-items-center gap-5 fs-12">
                <p class="invoice__sub-title">Order Time:</p> {{orderDetail?.orderDate || ''}}
            </span>
        </div> -->
        <div class="basic__info d-flex align-item-center justify-content-md-between">
    
            <div class="seller__details">
                <h4>Billing Address</h4>
                <p class="text-capitalize">{{orderDetail.sellerAddress.info.address[0].firstname + ' ' +
                    orderDetail.sellerAddress.info.address[0].lastname || ''}}</p>
                <p>{{orderDetail?.sellerAddress.email || ''}}</p>
                <p>{{orderDetail?.sellerAddress.info.address[0].mobile || ''}}</p>
                <address class="text-capitalize">
                    <p>{{orderDetail?.sellerAddress.info.address[0].apartment + ', ' +
                        orderDetail?.sellerAddress.info.address[0].area + ', ' +
                        orderDetail?.sellerAddress.info.address[0].landmark || ''}}</p>
                    <p>{{ orderDetail?.sellerAddress.info.address[0].town_city || ''}}</p>
                    <p>{{ orderDetail?.sellerAddress.info.address[0].state + ', ' +
                        orderDetail?.sellerAddress.info.address[0].country  || ''}} </p>
                    <p> {{ orderDetail?.sellerAddress.info.address[0].pincode  || ''}}</p>
                </address>
            </div>
            <div class="buyer__details text-right" *ngIf="orderDetail.address">
                <h4>Shipping Address</h4>
                <p class="text-capitalize">{{orderDetail.address.firstname + ' ' + orderDetail.address.lastname || ''}}</p>
                <p>{{orderDetail.buyerId.email || ''}}</p>
                <p>{{orderDetail.address.mobile || ''}}</p>
                <address class="text-capitalize">
                    <p>{{orderDetail.address.apartment + ', ' + orderDetail.address.area + ', ' + orderDetail.address.landmark || ''}}
                    </p>
                    <p>{{ orderDetail.address.town_city || ''}}</p>
                    <p>{{ orderDetail.address.state + ', ' + orderDetail.address.country  || ''}} </p>
                    <p> {{ orderDetail.address.pincode  || ''}}</p>
                </address>
            </div>
            
        </div>
        <div class="product__info card table-list">
            <table>
                <thead>
                    <tr>
                        <th class="items">Sr.</th>
                        <th class="items">Product Title</th>
                        <th class="items">Price</th>
                        <th class="items">Quantity</th>
                        <th class="items">Total</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of orderDetail?.products; let i = index">
                        <td class="items">{{i+1 || ''}}</td>
                        <td class="items product__title">{{item.productInfo.name|| ''}}</td>
                        <td class="items">&#8377; {{item.price || ''}}</td>
                        <td class="items">{{item.quantity || ''}}</td>
                        <td class="items">&#8377; {{item.price * item.quantity || ''}}</td>
                    </tr>
                    <tr class="total">
                        <td class="items"></td>
                        <td class="items"></td>
                        <td class="items">Total</td>
                        <td class="items">{{orderDetail?.totalQty || ''}}</td>
                        <td class="items">&#8377; {{orderDetail?.OrderSummary.subTotal || ''}}</td>
                    </tr>
                </tbody>
            </table> 
        </div>
        <div class="payment__info d-flex align-items-center justify-content-md-between">
            <div class="payment__ID">
                <h4 class="invoice__sub-title">Payment ID</h4>
                <p class="invoice__sub-text">{{orderDetail.transactionId || 'nan'}}</p>
            </div>
    
            <div class="payment__method">
                <h4 class="invoice__sub-title">Payment Method</h4>
                <p class="invoice__sub-text text-capitalize">{{orderDetail.MOP || 'nan'}}</p>
            </div>
            <div class="discount">
                <h4 class="invoice__sub-title">Discount</h4>
                <p class="invoice__sub-text">&#8377; {{orderDetail.OrderSummary.couponDiscount || 0}}</p>
            </div>
            <div class="total__cost">
                <h4 class="invoice__sub-title">Total Amount</h4>
                <p class="invoice__sub-text fs-18" style="color: rgb(var(--red-clr));"><b> &#8377;
                        {{orderDetail.OrderSummary.Total || orderDetail.OrderSummary.total || 0}} </b></p>
            </div>
        </div>
        <button class="invoice-download-btn btn btn-xs btn-inline btn-rounded fw-500 btn-primary" (click)="printInvoice()">Download</button>
    </div>
</section>
