.invoice__heading {
    max-height: 60px;
    /* overflow: hidden; */
}

.close__icon{
    inset-inline-end: 15px;
    inset-block-start: 15px;
    border: 1px solid rgb(var(--primaryClr));
    border-radius: 5px;
    transition: all 0.3s ease-in-out;

    &:hover{
        scale: 1.04;
    }
}

.basic__info h4{
    margin-bottom: 5px;
    font-size: 12px !important;
}

.payment__info{
    padding: 15px 30px;
    border: 1px solid rgb(var(--blackClr), 0.1);
}

.invoice__sub-title {
    font-size: 11px !important;
    font-weight: 600;
    margin-bottom: 3px;
}

.invoice__sub-text {
    font-size: 10px !important;
    font-weight: 500;
}

.invoice-section{
    z-index: 99;
    /* display: none; */
    display: flex;
    background-color: rgba(var(--blackClr), 0.1);
    transition: all 0.1s ease-in-out;
    opacity: 0;
    pointer-events: none;
}

.invoice-section.pop_open{
    opacity: 1;
    pointer-events: all;
}

.invoice-section.pop_open .invoice-template{
    scale: 1;
}

.invoice-template {
    height: 100dvh;
    width: min(100%, 580px);
    height: fit-content;
    padding: 30px;
    background-color: rgb(var(--whiteClr));
    border: 1px solid rgba(var(--blackClr), 0.1);
    border-radius: 10px;
    overflow: auto;
    transition-delay: 0.5s;
    transition: all 0.3s ease-in-out;
    scale: 0.1;

    &::-webkit-scrollbar{
        width: 2px;
    }
}

.total td.items, th.items {
    font-weight: 700 !important;
    color: rgb(var(--blackClr), 0.9);
}


@media print {
    
    @page {
        size: auto;  
        margin: 0; 
    }
      

    .invoice-template {
        width: 100%;
        height: 100%;
        padding: 40px;
        background-color: rgb(var(--whiteClr));
        border: 0px solid rgba(var(--blackClr), 0.1);
        border-radius: 0px;
    }

    .close__icon{
        display: none;
    }

    .main {

        margin-inline-start: 0px !important;
        padding: 0px !important;
        min-height: max-content !important;
    }

    .table-list {
        overflow-x: hidden !important;
    }

    .items {
        white-space: wrap !important;
    }

    .invoice-download-btn{
        opacity: 0;
        display: none;
    }
}

p{
    font-size: 11px !important;
}

.items{
    white-space: initial !important;
    font-size: 10px !important;
}

.table-list{
    overflow: initial !important;
}

.table-list {
    /* overflow-x: auto; */

    &::-webkit-scrollbar {
        width: 3px;
        height: 3px;
        border-radius: 5px;
        background-color: rgb(var(--secondary), 0.4);
    }

    &::-webkit-scrollbar-thumb {
        border-radius: 5px;
        background-color: rgb(var(--primaryClr), 0.8);
    }

    & .table__item-image {

        & img {
            border-radius: 50%;
            object-position: top;
            object-fit: cover;
        }
    }

    & .item-check {

        & .material-symbols-outlined {
            color: transparent;
            width: 15px;
            height: 15px;
            border: 1px solid rgba(128, 128, 128, 0.527);
            background-color: rgb(var(--whiteClr));
        }

        & input[type="checkbox"]:checked+label .material-symbols-outlined {
            color: rgb(var(--whiteClr));
            background-color: rgb(var(--primaryClr));
            border-color: rgb(var(--primaryClr));
        }
    }

    & table {
        width: 100%;
        border-collapse: collapse;
        border-style: hidden;
        overflow: hidden;

        & .items {
            font-weight: 600;
            padding: 8px 14px;
            vertical-align: middle;
            font-size: 12px;
            white-space: nowrap;
            text-align: left;
            letter-spacing: 0.26px;
            border-bottom: 1px solid rgba(128, 128, 128, 0.152);
        }

        & th {
            padding: 12px 16px;
            background-color: rgb(var(--blackClr), 0.03);
            color: rgb(var(--blackClr), 0.7);
        }


        & td.items {
            font-weight: 400;
        }

        & td .table__item-image+span {
            width: 20ch;
            overflow: auto;
            text-overflow: ellipsis;

            &::-webkit-scrollbar {
                width: 2px;
                display: none;
            }
        }

        & tbody tr {
            transition: all 0.3s ease-in-out;

            &:hover {
                background-color: rgb(var(--secondary), 0.02);
            }
        }

        & td.action-btns {
            & .action__btn-icon {
                display: flex;
                font-size: 14px;
                transition: all 0.1s ease-in-out;
                padding: 2px;
                color: rgb(var(--blackClr), 0.7);
                cursor: pointer;

                &:hover {
                    color: rgb(var(--primaryClr));
                }
            }

        }
    }
}