<section class="facilities">
    <div class="container d-flex">
        <div class="facility d-flex align-items-center gap-30 flex-wrap">
            <div class="icon d-flex justify-content-center align-items-center">
                <span class="material-symbols-outlined">
                    headset_mic
                    </span>
            </div>
            <div class="text d-flex flex-column justify-content-center ">
                <h4>24/7 CUSTOMER SERVICE</h4>
                <p>Call from support</p>
            </div>
        </div>
        <div class="facility d-flex gap-30">
            <div class="icon d-flex justify-content-center align-items-center">
                <span class="rupee">₹</span>
            </div>
            <div class="text d-flex flex-column justify-content-center ">
                <h4>MONEY BACK GUARANTEE!</h4>
                <p>Secure payment</p>
            </div>
        </div>
        <div class="facility d-flex gap-30">
            <div class="icon d-flex justify-content-center align-items-center">
                <span class="material-symbols-outlined">
                    local_shipping
                    </span>
            </div>
            <div class="text d-flex flex-column justify-content-center ">
                <h4>FREE SHIPPING WORLDWIDE</h4>
                <p>Order above ₹999</p>
            </div>
        </div>



    </div>
</section>
