<div class="setting">
    <div class="user__info">
        <div class="info__card">
             <div class="images">
                <input type="image" id="seller_image" />
             </div>
             <h4 class="seller__name">Andrew Gonza</h4>
             <p class="title">Seller</p>
             <p class="activity">Last Active: 02/10/2023</p>
             <a><button class="btn_primary">Log Out</button></a>
        </div>
        <div class="features"></div>
        <div class="personal__info"></div>
    </div>
    <div class="user__form"></div>
</div>  