<section *ngIf="orderInfo" class="invoice-template d-flex flex-column gap-20">
    <div class="invoice__heading row d-flex align-item-center justify-content-md-between">
        <div class="invoice__title d-flex flex-column">
            <h2>Invoice</h2>
            <span class="d-flex justify-content-center align-item-center gap-5 text-capitalize">
                <p class="invoice__sub-title">Status:</p> {{orderInfo.payment_status}}
            </span>
        </div>
        <img src="../../../../assets//logo.svg" alt="TradeVogue" width="160" height="160">
    </div>
    <div class="d-flex flex-column">
        <span class="d-flex align-items-center gap-5">
            <p class="invoice__sub-title">Order ID:</p> {{123456789}}
        </span>
        <span class="d-flex align-items-center gap-5">
            <p class="invoice__sub-title">Order Time:</p> {{orderInfo.orderDate}}
        </span>
    </div>
    <div class="basic__info d-flex align-item-center justify-content-md-between">

        <div class="seller__details">
            <h4>Billing Address</h4>
            <p class="text-capitalize">{{orderInfo.sellerAddress.info.address[0].firstname + ' ' +
                orderInfo.sellerAddress.info.address[0].lastname}}</p>
            <p>{{orderInfo.sellerAddress.email}}</p>
            <p>{{orderInfo.sellerAddress.info.address[0].mobile}}</p>
            <address class="text-capitalize">
                <p>{{orderInfo.sellerAddress.info.address[0].apartment + ', ' +
                    orderInfo.sellerAddress.info.address[0].area + ', ' +
                    orderInfo.sellerAddress.info.address[0].landmark}}</p>
                <p>{{ orderInfo.sellerAddress.info.address[0].town_city}}</p>
                <p>{{ orderInfo.sellerAddress.info.address[0].state + ', ' +
                    orderInfo.sellerAddress.info.address[0].country }} </p>
                <p> {{ orderInfo.sellerAddress.info.address[0].pincode }}</p>
            </address>
        </div>
        <div class="buyer__details text-right">
            <h4>Shipping Address</h4>
            <p class="text-capitalize">{{orderInfo.address.firstname + ' ' + orderInfo.address.lastname}}</p>
            <p>{{orderInfo.buyerId.email}}</p>
            <p>{{orderInfo.address.mobile}}</p>
            <address class="text-capitalize">
                <p>{{orderInfo.address.apartment + ', ' + orderInfo.address.area + ', ' + orderInfo.address.landmark}}
                </p>
                <p>{{ orderInfo.address.town_city}}</p>
                <p>{{ orderInfo.address.state + ', ' + orderInfo.address.country }} </p>
                <p> {{ orderInfo.address.pincode }}</p>
            </address>
        </div>
    </div>
    <div class="product__info table-list">
        <table>
            <thead>
                <tr>
                    <th class="items">Sr.</th>
                    <th class="items">Product Title</th>
                    <th class="items">Item Price</th>
                    <th class="items">Quantity</th>
                    <th class="items">Total Price</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of orderInfo.products; let i = index">
                    <td class="items">{{i+1}}</td>
                    <td class="items product__title">{{item.name}}</td>
                    <td class="items">&#8377; {{item.price}}</td>
                    <td class="items">{{item.quantity}}</td>
                    <td class="items">&#8377; {{item.price * item.quantity}}</td>
                </tr>
                <tr class="total">
                    <td class="items text-center" colspan="3">Total</td>
                    <td class="items">{{orderInfo.totalQty}}</td>
                    <td class="items">&#8377; {{orderInfo.totalAmount}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="payment__info d-flex align-items-center justify-content-md-between">
        <div class="payment__ID">
            <h4 class="invoice__sub-title">Payment ID</h4>
            <p class="invoice__sub-text">{{orderInfo.transactionId}}</p>
        </div>

        <div class="payment__method">
            <h4 class="invoice__sub-title">Payment Method</h4>
            <p class="invoice__sub-text text-capitalize">{{orderInfo.MOP}}</p>
        </div>
        <!-- <div class="shipping__cost">
            <h4 class="invoice__sub-title">Shipping Cost</h4>
            <p class="invoice__sub-text">&#8377; 500</p>
        </div> -->
        <div class="discount">
            <h4 class="invoice__sub-title">Discount</h4>
            <p class="invoice__sub-text">&#8377; {{orderInfo.discount}}</p>
        </div>
        <div class="total__cost">
            <h4 class="invoice__sub-title">Total Amount</h4>
            <p class="invoice__sub-text fs-18" style="color: rgb(var(--red-clr));"><b> &#8377;
                    {{orderInfo.orderValueAfterDiscount}} </b></p>
        </div>
    </div>
</section>

<button class="btn-primary" (click)="printInvoice()">Download</button>