.custom-select{
    min-width: 100%;
    position: relative;
    font-weight: 500;
}

#selected__container{
    /* min-width: 160px; */
    width: 100%;
    font-weight: 500;
    font-size: 13px;
    padding-block: 0px;
    border-radius: 5px;
    cursor:default;
    background-color: rbga(var(--whiteClr));

    & input{
        padding-inline: 16px 35px;
        cursor: pointer;
        background-color: transparent;
        color: rgb(var(--blackClr));
    }

    &::after{
        content: "\e5c5";
        position: absolute;
        inset-block-start: 0%;
        inset-inline-end: 0%;
        font-family: 'Material Symbols Outlined';
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 35px;
        transition: transform ease-in-out 0.3s;
        font-size: 20px;
    }

    & .clear_icon{
        font-size: 18px;
        inset-inline-end: 25px;
        height: 100%;
        color: rgb(24, 138, 226);
    }
}

#options__container{
    position: absolute;
    width: 100%;
    z-index: 1;
    box-shadow: 0 10px 10px rgba(var(--blackClr), 0.07);
    background-color: rgb(var(--whiteClr));
    border: 1px solid rgb(var(--blackClr), 0.2);
    border-radius: 5px;
    max-height: 0px;
    visibility: hidden;
    /* opacity: 0; */
    overflow-y: auto;
    transition: all 0.3s ease;
    inset-block-start: 50px;

    &::-webkit-scrollbar{
        width: 7px;
    }
    &::-webkit-scrollbar-track{
        background: #f1f1f1;
        border-radius: 25px;
    }
    &::-webkit-scrollbar-thumb{
        background: #ccc;
        border-radius: 25px;
    }

    & input[type="radio"]{
        display: none;
    }
}

#options__container.active{
    max-height: 180px;
    visibility: visible;
    opacity: 1;
}

#options__container.active ~ #selected__container::after{
    transform: rotate(-180deg);
}

#options__container li{
    display: flex;
    align-items: center;
    transition: all 0.3s ease;

    &:hover{
        background-color: rgb(var(--primaryClr));
        color: rgb(var(--whiteClr));
    }
    & input:checked + label{
        background-color: rgb(var(--primaryClr));
        color: rgb(var(--whiteClr));
    }
    & input:focus + label{
        background-color: rgb(242, 242, 242);
    }

    & label{
        font-size: 13px;
        padding: 10px 16px;
        text-transform: capitalize;
        width: 100%;
        cursor: pointer;
        text-wrap: nowrap;
        display: flex;
        align-items: center;
        gap: 8px;

    }
}

.disabled__option{
    pointer-events: none;
    background-color: rgb(242, 242, 242);
    color: rgb(124, 124, 124);
    font-weight: 400;
}

.checkbox__options{

    & input[type="checkbox"] {
        display: none;
    }

    & input[type="checkbox"] + label::before {
        content: '\e5ca';
        font-family: "Material Symbols Outlined";
        width: 15px;
        height: 15px;
        display: flex;
        cursor: pointer;
        justify-content: center;
        align-items: center;
        border: 1px solid rgba(128, 128, 128, 0.264);
        border-radius: 3px;
        color: white;
        background-color: white;
        font-size: 16px;
        font-weight: 400;

    }

    & input[type="checkbox"]:checked + label::before {
        color: rgb(var(--primaryClr));
        border: 1px solid rgb(var(--whiteClr));
    }
}