.custom-select{
    min-width: 100%;
    position: relative;
    font-weight: 500;
}

#selected__container{
    min-width: 180px;
    width: 100%;
    font-weight: 500;
    font-size: 13px;
    height: 40px;
    padding-block: 0px;
    padding-inline: 16px 35px;
    border-radius: 5px;
    cursor: pointer;
    background-color: #fff;
    border: 1px solid #00000020;

    & .arrow_icon{
        inset-block-start: 0%;
        inset-inline-end: 0%;
        height: 100%;
        width: 35px;
        transition: transform ease-in-out 0.3s;
    }

    & .clear_icon{
        font-size: 18px;
        inset-inline-end: 25px;
        height: 100%;
        color: rgb(24, 138, 226);
    }
}

#options__container{
    position: absolute;
    width: 100%;
    z-index: 1;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.07);
    background-color: #fff;
    border: 1px solid #00000020;
    border-radius: 5px;
    max-height: 0px;
    visibility: hidden;
    /* opacity: 0; */
    overflow-y: auto;
    transition: all 0.3s ease;
    inset-block-start: 50px;

    &::-webkit-scrollbar{
        width: 7px;
    }
    &::-webkit-scrollbar-track{
        background: #f1f1f1;
        border-radius: 25px;
    }
    &::-webkit-scrollbar-thumb{
        background: #ccc;
        border-radius: 25px;
    }

    & input[type="radio"]{
        display: none;
    }
}

input:focus{
    border-color: rgb(var(--text-black), 0.2);
}


#options__container.active{
    max-height: 180px;
    visibility: visible;
    opacity: 1;
}

#options__container.active ~ #selected__container .arrow_icon{
    transform: rotate(-180deg);
}

#options__container li{
    display: flex;
    align-items: center;
    transition: all 0.3s ease;

    &:hover{
        background-color: #f2f2f2;
    }
    & input:checked + label{
        background-color: rgb(242, 242, 242);
    }
    & input:focus + label{
        background-color: rgb(242, 242, 242);
    }

    & label{
        font-size: 13px;
        padding: 10px 16px;
        width: 100%;
        cursor: pointer;
        text-wrap: nowrap;
    }
}

.disabled__option{
    pointer-events: none;
    background-color: rgb(242, 242, 242);
    color: rgb(124, 124, 124);
    font-weight: 400;
}

/* Multi Select Style */

.option__selected__text{
    background-color: rgb(var(--primary), 0.1);
    border-radius: 2px;
    min-width: 30px;
    padding: 3px 6px;
    margin-inline-end: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.checkbox__options{

    & input[type="checkbox"]{
        width: 50px !important; 
    }

    & label {
        padding-inline: 0px !important;
    }
}

.checkbox__options::before{
    content: '\e5ca';
    display: flex;
    padding: 3px;
    background-color: #ccc;
    color: pink;
}
