<div [ngSwitch]="type" class="custom-select d-flex flex-column flex-order" onClick>
  <ul id="options__container" role="listbox" [class.active]="isactive == true">


    <ng-container *ngSwitchCase="'multiSelect'">
      <li>
        <input type="search" style="border-radius: 0;" class="form__input" (input)="filterData($event)" placeholder="Search">
      </li>
      <li class="checkbox__options" role="option" *ngFor="let option of options | productFilter: filter; let i=index" tabindex="{{i+2}}"
        (change)="updateMutliSelected($event)">
        <input type="checkbox" [value]="option" name="options" [id]="_id ? (option + type + _id): (option + type)"
          *ngSwitchCase="'multiSelect'" [checked]="isChecked(option, 'multiSelect')" />
        <label [for]="_id ? (option + type + _id): (option + type)">{{option}}</label>
      </li>
    </ng-container>

    <ng-container *ngIf="type != 'multiSelect';">
      <li role="option" *ngFor="let option of options | productFilter: filter; let i=index" tabindex="{{i+2}}"
        (change)="updateSelected(option)">
        <input type="radio" [name]="'options'+_id" [id]="_id ? (option + type + _id): (option + type)"
        [checked]="isChecked(option)" />
        <label [for]="_id ? (option + type + _id): (option + type)">{{option}}</label>
      </li>
    </ng-container>


  </ul>

  <div id="selected__container" class="relative" (click)="isactive = !isactive">
    <input type="search" class="form__input" (input)="filterData($event)" [value]="selected"
      [placeholder]="selectedOption" *ngSwitchCase="'searchSelect'">

    <input type="text" class="form__input" [value]="multiSelected.join(' , ')" [placeholder]="selectedOption"
      *ngSwitchCase="'multiSelect'" readonly>

    <input type="text" class="form__input" readonly (input)="filterData($event)" [value]="selected"
      [placeholder]="selectedOption" *ngSwitchDefault>
  </div>
  
</div>