<div class="add-product-features">
    <div class="row-1 d-flex justify-content-md-between align-center">
        <h1>Customise Product Features</h1>
        <button class="btn-submit">Apply Changes</button>
    </div>
    <div class="form_container ">

        <div class="form__group">
            <div class="card d-flex flex-column">
                <div class="row-1 d-flex align-items-center justify-content-md-between">
                    <h4>Category</h4>

                    <div class="file-section">
                        <input type="file" id="category" maxlength="1" minlength="1"
                            (change)="uploadFile($event, 'category')"
                            accept="image/CSV, application/vnd.ms-excel ,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" />
                        <label for="category"><span class="material-symbols-outlined">upload_file</span></label>
                        <a href="../../../assets/ExcelSampleFile/Categories_Sample.xlsx" download><span
                                class="material-symbols-outlined">download</span></a>
                    </div>
                </div>
                <div class="row-2 d-flex flex-column">
                    <div class="column d-flex flex-column gap-10">
                        <!-- <h6>Available</h6> -->
                        <div class="category d-flex gap-10 flex-column">
                            <div *ngFor="let option of dataList.categoryList | productFilter:categories.get('category')?.value; let i = index">
                                <span>{{option}}</span>
                                <span class="material-symbols-outlined"
                                    (click)="deleteItem('categoryList', i)">close</span>
                            </div>
                        </div>
                    </div>
                    <div class="column d-flex gap-10 flex-column">
                        <!-- <h6>Add new Category</h6> -->
                        <form [formGroup]="categories" class="d-flex gap-5 flex-column relative">
                            <input type="text" placeholder="Add Category" id="category" formControlName="category" />

                            <div class="button absolute">
                                <button class="btn-primary" type="submit"
                                    (click)="submit('categoryList', 'categories', 'category')">
                                    <span class="material-symbols-outlined">add</span>
                                </button>
                            </div>
                            <!-- <div class="error">
                                <small
                                    *ngIf="categories.get('category')?.hasError('required') && categories.get('category')?.touched &&  categories.get('category')?.invalid">Field
                                    Required</small>
                                <small *ngIf="categories.get('category')?.hasError('invalidName')">Invalid Name</small>
                            </div> -->
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="form__group">
            <div class="card d-flex flex-column">
                <div class="row-1 d-flex align-items-center justify-content-md-between">
                    <h4>Brand</h4>

                    <div class="file-section">
                        <input type="file" id="brand" maxlength="1" minlength="1"
                            (change)="uploadFile($event, 'brands')"
                            accept="image/CSV, application/vnd.ms-excel ,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" />
                        <label for="brand"><span class="material-symbols-outlined">upload_file</span></label>
                        <a href="../../../assets/ExcelSampleFile/Brands_Sample.xlsx" download><span
                                class="material-symbols-outlined">download</span></a>
                    </div>
                </div>
                <div class="row-2 d-flex flex-column">
                    <div class="column d-flex flex-column gap-10">
                        <!-- <h6>Available</h6> -->
                        <div class="category d-flex gap-10 flex-column">
                            <div *ngFor="let option of dataList.brandsList | productFilter:brands.get('brand')?.value; let i = index">
                                <span>{{option}}</span>
                                <span class="material-symbols-outlined"
                                    (click)="deleteItem('brandsList', i)">close</span>
                            </div>
                        </div>
                    </div>
                    <div class="column d-flex gap-10 flex-column">
                        <!-- <h6>Add Brand</h6> -->
                        <form [formGroup]="brands" class="d-flex gap-5 flex-column relative">
                            <input type="text" placeholder="Add Brand" id="brand" formControlName="brand" />
                            <div class="button absolute">
                                <button class="btn-primary" type="submit">
                                    <span class="material-symbols-outlined">add</span>
                                </button>
                            </div>
                            <!-- <div class="error">
                                <small
                                    *ngIf="brands.get('brand')?.hasError('required') && brands.get('brand')?.touched &&  brands.get('brand')?.invalid">Field
                                    Required</small>
                                <small *ngIf="brands.get('brand')?.hasError('invalidName')">Invalid Name</small>
                            </div> -->
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="form__group d-flex flex-column">
            <div class="card d-flex flex-column">
                <div class="row-1 d-flex align-items-center justify-content-md-between">
                    <h4>Quantity</h4>

                    <div class="file-section">
                        <input type="file" id="quantity" maxlength="1" minlength="1"
                            accept="image/CSV, application/vnd.ms-excel ,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"
                            (change)="uploadFile($event, 'quantities')" />
                        <label for="quantity"><span class="material-symbols-outlined">upload_file</span></label>
                        <a href="../../../assets/ExcelSampleFile/orderQuantity_Sample.xlsx" download><span class="material-symbols-outlined">download</span></a>
                    </div>
                </div>
            <div class="row-2 d-flex flex-column">
                <div class="column d-flex flex-column gap-10">
                    <!-- <h6>Available</h6> -->
                    <div class="category d-flex gap-10 flex-column">
                        <div
                            *ngFor="let option of dataList.quantitiesList | productFilter:orderQuantity.get('quantity')?.value; let i = index">
                            <span>{{option}}</span>
                            <span class="material-symbols-outlined"
                                (click)="deleteItem('quantitiesList', i)">close</span>
                        </div>
                    </div>
                </div>
                <div class="column d-flex gap-10 flex-column">
                    <!-- <h6>Add Quantity</h6> -->
                    <form [formGroup]="orderQuantity" class="d-flex gap-5 flex-column relative">
                        <input type="text" placeholder="Add Quantity" formControlName="quantity" id="quantity" />
                        <div class="button absolute">
                            <button class="btn-primary" type="submit">
                                <span class="material-symbols-outlined">add</span>
                            </button>
                        </div>
                        <!-- <div class="error">
                            <small
                                *ngIf="orderQuantity.get('quantity')?.hasError('required') && orderQuantity.get('quantity')?.touched &&  orderQuantity.get('quantity')?.invalid">Field
                                Required</small>
                            <small *ngIf="orderQuantity.get('quantity')?.hasError('invalidName')">Invalid Name</small>
                        </div> -->
                    </form>
                </div>
            </div>
            </div>
        </div>

        <div class="form__group">

            <div class="card d-flex flex-column">
                <div class="row-1 d-flex align-items-center justify-content-md-between">
                    <h4>Product Tags</h4>

                    <div class="file-section">
                        <input type="file" id="tag" maxlength="1" minlength="1"
                            accept="image/CSV, application/vnd.ms-excel ,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" 
                            (change)="uploadFile($event, 'Tags')"/>
                        <label for="tag"> <span class="material-symbols-outlined">upload_file</span></label>
                        <a href="../../../assets/ExcelSampleFile/Tags_Sample.xlsx" download><span class="material-symbols-outlined">download</span></a>
                    </div>
                </div>
                <div class="row-2 d-flex flex-column">
                    <div class="column d-flex flex-column gap-10">
                        <!-- <h6>Available</h6> -->
                        <div class="category d-flex gap-10 flex-column">
                            <div *ngFor="let option of dataList.tagsList | productFilter:tags.get('tag')?.value; let i = index">
                                <span>{{option}}</span>
                                <span class="material-symbols-outlined"
                                    (click)="deleteItem('tagsList', i)">close</span>
                            </div>
                        </div>
                    </div>
                    <div class="column d-flex gap-10 flex-column">
                        <!-- <h6>Add Tag</h6> -->
                        <form [formGroup]="tags" class="d-flex gap-5 flex-column relative">
                            <input type="text" placeholder="Add Tag" id="tag" formControlName="tag" />
                            <div class="button absolute">
                                <button class="btn-primary" type="submit">
                                    <span class="material-symbols-outlined">add</span>
                                </button>
                            </div>
                            <!-- <div class="error">
                                <small
                                    *ngIf="tags.get('tag')?.hasError('required') && tags.get('tag')?.touched &&  tags.get('tag')?.invalid">Field
                                    Required</small>
                                <small *ngIf="tags.get('tag')?.hasError('invalidName')">Invalid Name</small>
                            </div> -->
                        </form>
                    </div>
                </div>
            </div>

        </div>

        <div class="form__group">

            <div class="card d-flex flex-column">
                <div class="row-1 d-flex align-items-center justify-content-md-between">
                    <h4>Product Sizes</h4>

                    <div class="file-section">
                        <input type="file" id="sizes" maxlength="1" minlength="1"
                            accept="image/CSV, application/vnd.ms-excel ,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" 
                            (change)="uploadFile($event, 'Sizes')"/>
                        <label for="sizes"><span class="material-symbols-outlined">upload_file</span></label>
                        <a href="../../../assets/ExcelSampleFile/Sizes_Sample.xlsx" download><span class="material-symbols-outlined">download</span></a>
                    </div>
                </div>
                <div class="row-2 d-flex flex-column">
                    <div class="column d-flex flex-column gap-10">
                        <!-- <h6>Available</h6> -->
                        <div class="category d-flex gap-10 flex-column">
                            <div *ngFor="let option of dataList.sizesList | productFilter:sizes.get('size')?.value; let i = index">
                                <span>{{option}}</span>
                                <span class="material-symbols-outlined"
                                    (click)="deleteItem('sizesList', i)">close</span>
                            </div>
                        </div>
                    </div>
                    <div class="column d-flex gap-10 flex-column">
                        <!-- <h6>Add Size</h6> -->
                        <form [formGroup]="sizes" class="d-flex gap-5 flex-column relative">
                            <input type="text" placeholder="Add Size" id="size" formControlName="size" />
                            <div class="button absolute">
                                <button class="btn-primary" type="submit">
                                    <span class="material-symbols-outlined">add</span>
                                </button>
                            </div>
                            <!-- <div class="error">
                                <small
                                    *ngIf="sizes.get('size')?.hasError('required') && sizes.get('size')?.touched &&  sizes.get('size')?.invalid">Field
                                    Required</small>
                                <small *ngIf="sizes.get('size')?.hasError('invalidName')">Invalid Name</small>
                            </div> -->
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>