<div class="container">

    <div class="section-switcher d-flex gap-30 justify-content-center">
        <div (click)="selectedSection = 'description'" [class.active]="selectedSection === 'description'"
            class="section-item pointer">Description</div>
        <div (click)="selectedSection = 'information'" [class.active]="selectedSection === 'information'"
            class="section-item pointer">Information</div>
        <div (click)="selectedSection = 'reviews'" [class.active]="selectedSection === 'reviews'"
            class="section-item pointer">Reviews</div>
    </div>

    <div [ngSwitch]="selectedSection" class="prod-details">

        <div *ngSwitchCase="'description'" class="description-section">
            <p class="fs-14">
                {{ data.productDetails.description }}
                {{ data.productDetails.description }}
                {{ data.productDetails.description }}
                {{ data.productDetails.description }}
                {{ data.productDetails.description }}
                {{ data.productDetails.description }}
            </p>
        </div>

        <div *ngSwitchCase="'information'" class="information-section">
            <table class="fs-14">
                <tr>
                    <th class="fs-14">Product Code</th>
                    <td>{{ data.productDetails.info.productCode }}</td>
                </tr>
                <tr>
                    <th class="fs-14">Brand</th>
                    <td>{{ data.productDetails.info.brand }}</td>
                </tr>
                <tr>
                    <th class="fs-14">Composition</th>
                    <td>{{ data.productDetails.info.composition }}</td>
                </tr>
                <tr>
                    <th class="fs-14">Weight</th>
                    <td>{{ data.productDetails.info.weight }}</td>
                </tr>
            </table>
        </div>

        <div *ngSwitchCase="'reviews'" class="reviews-section d-flex">
            <div class="review-cards d-flex flex-column gap-20">
                <div class="review-card d-flex flex-column gap-5" *ngFor="let review of data.productDetails.reviews">

                    <div>
                        <p class="rev">
                            {{ review.comment }}
                        </p>
                    </div>
                    <div class="person-info d-flex justify-content-md-between">
                        <div *ngIf="data.avgRating !== 0" class="rating d-flex align-items-center">
                            <span *ngFor="let i of createArrayToIterate(data.avgRating)"
                                class="material-symbols-outlined filled">star</span>
                            <span *ngIf="(data.avgRating % 1) !== 0" class="material-symbols-outlined">star_half</span>
                            <span *ngFor="let i of createArrayToIterate(5 - data.avgRating)"
                                class="material-symbols-outlined">star</span>
                        </div>
                        <p class="fw-600 ">{{ review.username }} · {{ review.date }}</p>
                    </div>
                </div>

                <h3 class="d-flex gap-20 align-items-center">Add a Review</h3>
                <form class="d-flex flex-column gap-20">
                    <div class="edit-rating">
                        <span *ngFor="let ok of createArrayToIterate(5); let i = index"  
                        (click)="userRating = i"
                        (mouseover)="tempUserRating = i" (mouseleave)="tempUserRating = -1"
                        [ngClass]="i <= (userRating !== -1 ? userRating : tempUserRating) ? 'filled' : ''"
                        class="material-symbols-outlined pointer">
                    star
                  </span>
                    </div>
                    <textarea rows="5" placeholder="Write your review here..."></textarea>
                    <div class="d-flex ">
                        <button class="btn-primary ">Submit</button>
                    </div>
                </form>


            </div>
        </div>

    </div>
</div>