.prod-details h2 {
    font-size: 32px;

}

.information-section {
    & table {
        width: 100%;
        border: 1px solid;
        border-spacing: 0;
    }

    & th,
    td {
        border: 1px solid;

    }
}



.prod-details {


    .description-section,
    .information-section,
    .reviews-section {
        padding-block-start: 10px;
    }


    .feat {
        font-size: 32px !important;
    }

    .feat_list {
        list-style-type: disc !important;
    }

    .feat_list li {
        /* margin-block: 5px; */
        margin-inline-start: 10px;
    }

    & th {
        text-align: left;
        width: 180px;

    }

    & form textarea,
    form input {
        margin-block-end: 15px;
        border-radius: 8px;
        border: 1px solid transparent;
        background-color: rgb(var(--primary), 0.05);
        padding: 7px;

    }

    & form input {
        padding-block: 10px;

    }

    & form textarea {
        padding-inline-start: 10px;
        font-size: 14px;
    }

    & input:focus,
    textarea:focus {
        outline: none;
    }

    & input:focus,
    textarea:focus {
        border: 1px solid rgba(var(--text-black), 0.8);
    }

    & button {
        border-radius: 8px;
        height: 42px;
        width: 100px;
        margin-inline-end: 0;

    }

    .rating {
        & span {
            border: 1px solid transparent;
            color: #fe9704;
            font-size: 18px;
            font-variation-settings:
                'wght' 400,
                'GRAD' 0,
                'opsz' 48
        }

        & .filled {
            font-variation-settings:
                'FILL' 1,
                'wght' 400,
                'GRAD' 0,
                'opsz' 48
        }
    }



    .reviews-section {

        & .review-cards {
            width: 100%;
        }


        & .review-cards {

            border-radius: 8px;
            padding: 5px;

            & .rev {
                font-size: 14px !important;
            }

            & .review-card {
                /* background-color: rgb(var(--primary), 0.05); */
                border-radius: 0;
                border-block-end: 1px solid rgba(var(--text-black), 0.2);
                /* padding : 10px; */
                padding-block-end: 20px;

                & .person-info p {
                    font-size: 12px !important;
                    font-weight: 400 !important;
                    opacity: 70%;

                }

            }

            & textarea {
                resize: none !important;
            }


        }

        & .review-form {


            padding-block: 8px;
            padding-inline: 30px;

            & h2 {
                margin-block-end: 15px;
            }



            & .rev {
                font-size: 14px !important;
                /* font-weight: 600; */
                margin-block-end: 5px;
            }



        }

    }

    & label {
        padding-block-end: 5px;
        padding-inline-start: 10px;
    }

}

.section-switcher {
    border-block-start: 1px solid rgba(var(--text-black), 0.2);
    margin-block-start: 15px;
    padding-block: 15px;

    & .section-item {
        font-size: 16px;
        font-weight: 500;
        text-transform: uppercase;
        position: relative;
        padding-bottom: 8px;
        transition: border-width 0.3s ease-in-out;
    }

    & .section-item::before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0;
        height: 2px;
        background-color: rgb(var(--primary));
        transition: width 0.3s ease-in-out;
    }

    & .section-item.active::before,
    .section-item:hover::before {
        width: 100%;
    }

    & .section-item.active {
        color: rgb(var(--primary));
    }

}

.edit-rating {
    & span {
        font-size: 40px;
        font-weight: 300;
        color: #fe9704;

        font-variation-settings:
            'FILL' 0,
            'GRAD' 0,
            'opsz' 48
    }

    & .filled{
        font-variation-settings:
            'FILL' 1,
            'GRAD' 0,
            'opsz' 48
    }
}