.crousel {
    .owl-theme .owl-nav {
        display: flex !important;
        gap: 20px !important;
        position: absolute !important;
        inset-inline-end: 0 !important;
        inset-block-start: -85px !important;
    }

    .owl-carousel .owl-nav .owl-prev,
    .owl-carousel .owl-nav .owl-next {
        padding: 0 !important;
        margin: 0 !important;

        & span {
            font-size: 30px;
            font-weight: 300;
            color: rgb(var(--textClr));
        }

        background-color: transparent;
    }
}

.section-header{
    padding-block-end: 30px;
}

@media screen and (max-width: 440px) {
    .crousel {
        .owl-theme .owl-nav {

            inset-inline: 0 !important;
            inset-block-start: 34% !important;
            width: 100%;
            justify-content: space-between;
            transform: translateY(-50%) !important;
            background-color: var((--whiteClr),0.6) !important; 

            & span {
                color: rgb(var(--textClr));
                font-size: 26px !important;
                background-color: white!important; ;
            } 
        }

        .owl-carousel .owl-nav .owl-prev,
        .owl-carousel .owl-nav .owl-next {
            padding: 0 !important;
            margin: 0 !important;

            & span {
                font-size: 30px;
                font-weight: 300;
                color: rgb(var(--textClr));
            }

        }
    }

}