<div class="section-header">
    <h3 class="section-heading">{{titles.title}}</h3>
    <p class="section-sub-heading">{{titles.subTitle}}</p>
</div>
<owl-carousel-o [options]="customOptions" class="custom-carousel" [ngClass]="{crousel: true}" [class.navInactive]="productArr.length < 5">
    <ng-template carouselSlide *ngFor="let product of productArr">

        <div (click)="ClickedProduct.emit(true)"> 
            <app-card-template [product]="product"></app-card-template>
        </div>
    </ng-template>
</owl-carousel-o>