.crousel{

    .owl-theme .owl-nav {
        display: flex !important;
        gap: 20px !important;
        position: absolute !important;
        inset-inline-end: 0 !important;
        inset-block-start: -67px !important;
    }

    .owl-carousel .owl-nav .owl-prev, .owl-carousel .owl-nav .owl-next{
        padding: 0 !important;
        margin: 0 !important;
        & span{
            font-size: 30px ;
            font-weight: 300 ;
            color: rgb(var(--text-black)) ;
        }
        background-color: transparent;
    }
}