<div class="container">
    <owl-carousel-o [options]="customOptions">
        <ng-template carouselSlide>
            <app-card-template></app-card-template>
        </ng-template>
        <ng-template carouselSlide>
            <app-card-template></app-card-template>
        </ng-template>
        <ng-template carouselSlide>
            <app-card-template></app-card-template>
        </ng-template>
         <ng-template carouselSlide>
            <app-card-template></app-card-template>
        </ng-template>
    </owl-carousel-o>
</div>