<section class="newsletter">
    <div class="container d-flex flex-column align-items-center gap-20">
        <h2>Subscribe and get discount 25% Off</h2>
        <form class="d-flex gap-10">
            <input type="text" placeholder="Your email address">
            <button class="btn-primary">SUBSCRIBE</button>
        </form>
        <div class="medias d-flex gap-30">
            <a href="#">
                <i class="fa-brands fa-facebook-f"></i>
            </a>
            <a href="#">
                <i class="fa-brands fa-instagram"></i>
            </a>
            <a href="#">
                <i class="fa-brands fa-twitter"></i>
            </a>
            <a href="#">
                <i class="fa-brands fa-pinterest-p"></i>
            </a>

        </div>
    </div>


</section>
