.breadcrumb{
    /* padding-block-start: 95px !important; */
    padding-block-end: 15px !important;
    font-size: 12px;
}

.border-bottom{
    font-weight: 500;
}

.breadcrumb-container {
  font-size: 16px;
  margin: 10px 0;
}

.breadcrumb-link {
  text-decoration: none;
  color: rgb(var(--textClr));
  transition: color 0.3s;
}

.breadcrumb-link:hover {
  color: rgb(var(--textClr)) 
}

.breadcrumb-separator {
  color: #ccc;
  margin: 0 5px;
}

.breadcrumb-last {
  font-weight: bold; 
  color: rgb(var(--textClr));
}