<div class="breadcrumb container" *ngIf="breadcrumbs && breadcrumbs.length > 0 && breadcrumbs[0].url !== '/'; else defaultBreadcrumbs">
  <ng-container *ngFor="let breadcrumb of breadcrumbs; let last = last">
    <ng-container *ngIf="!last && breadcrumb.label !== null">
      <a [routerLink]="breadcrumb.url" class="breadcrumb-link">{{ breadcrumb.label }}</a>
      <span class="breadcrumb-separator"> > </span>
    </ng-container>
    <ng-container *ngIf="breadcrumb.label === 'Product'">
      <a [routerLink]="['explore']" class="breadcrumb-link">Explore</a>
      <span class="breadcrumb-separator"> > </span>
      <ng-container *ngIf="activeSku && breadcrumb.label !== null">
        <a [routerLink]="breadcrumb.url" class="breadcrumb-link">{{ breadcrumb.label }}</a>
        <span class="breadcrumb-separator">/</span>
        <a class="breadcrumb-link breadcrumb-active breadcrumb-last">{{ activeSku }}</a>
      </ng-container>
    </ng-container>
    <ng-container *ngIf="last && breadcrumb.label!== 'Product' && breadcrumb.label !== null">
      <a [routerLink]="breadcrumb.url" class="breadcrumb-link breadcrumb-last">{{ breadcrumb.label }}</a>
    </ng-container>
  </ng-container>
</div>

<ng-template #defaultBreadcrumbs>
  <!-- <div class="marquee-container" (mouseenter)="pauseMarquee()" (mouseleave)="resumeMarquee()">
    <marquee *ngIf="marqueeData.length > 0" [direction]="marqueeDirection">
      <span *ngFor="let item of saleData">
        <a [href]="item.buttonLink" style="margin-right: 20px;">{{ item.title }}</a>
        <img *ngIf="item.enable" [src]="item.backgroundImage" alt="offers" class="large-image">
      </span>
    </marquee>
  </div> -->

</ng-template>
