@font-face {
    font-family: 'Material Symbols Outlined';
    font-style: normal;
    font-weight: 400;
    src:
      url(./MaterialSymbolsSharp[FILL\,GRAD\,opsz\,wght].woff2) format('woff2'),
      url(./MaterialSymbolsSharp[FILL\,GRAD\,opsz\,wght].ttf) format('truetype');
}

