.form__card__head {
    padding: 25px;
    border: 1px solid rgb(var(--blackClr), 0.1);
    background-color: rgb(var(--whiteClr));
    border-radius: 10px;

    & button {
        border: 1px solid;
        padding: 12px;
        padding-block: 8px;
        padding-inline: 18px;
    }
}
.form__card {
    /* padding: 25px; */
    /* border: 1px solid rgb(var(--blackClr), 0.1);
    background-color: rgb(var(--whiteClr)); */
    border-radius: 10px;

    & .internal-div {
        display: flex;
        flex-direction: column;
        gap: 6px;
        /* width: 200px; */
    }
}
.single-banner {
    padding: 20px;
    border: 1px solid rgb(var(--blackClr), 0.1);
    border-radius: 8px;
    background-color: rgb(var(--whiteClr)); 
    width: 390px;
}
.add-btn {
    padding-block: 14px;
    padding-inline: 18px;
    & span {
        font-size: 20px;
    }
}