.form__card__head {
    padding: 25px;

    & button {
        border: 1px solid;
        padding: 12px;
        padding-block: 8px;
        padding-inline: 18px;
    }
}
.form__card {

    & .internal-div {
        display: flex;
        flex-direction: column;
        gap: 6px;
        /* width: 200px; */
    }
}
.single-banner {
    width: fit-content;
}
.add-btn {
    padding-block: 14px;
    padding-inline: 18px;
    & span {
        font-size: 20px;
    }
}