<div id="chat-bot" #chatBot fixed >
  <div class="messenger br10">
    <div class="timestamp">04:45 AM</div>
    <div class="chatroom">
      <div class="msg msg-left">
        <div class="bubble">
          <h6 class="name">Vivek Dhiman's Bot</h6>
          Hello, I am a smart chat bot, <br />
          How can I help you.
        </div>
      </div>
      <div class="msg msg-right">
        <div class="bubble">
          Oh! Look at you. You are awesome
        </div>
      </div>
      <div class="msg msg-right">
        <div class="bubble">
          Can you please tell me who created you?
        </div>
      </div>
      <div class="msg msg-left">
        <div class="bubble">
          Yes, Of course! Vivek Dhiman created me. <br />
          He's behind my awesomeness. He did a great job. didn't he?
        </div>
      </div>
      <div class="msg msg-right">
        <div class="bubble">
          Yeah! He did an amazing job.<br />
          How can I contact him?
        </div>
      </div>
      <div class="msg msg-left">
        <div class="bubble">
          Here's my boss' Fiverr Username. <br />
          <a href="www.fiverr.com/vivekdhiman" target="_blank">fiverr.com/vivekdhiman</a>
        </div>
      </div>
      <div class="msg msg-right">
        <div class="bubble">
          Thanks alot. See you next time. Good bye
        </div>
      </div>

      <div class="msg msg-left">
        <div class="bubble">
          Good bye. Take care
        </div>
      </div>
      <!-- msgs  -->
    </div>
    <div class="type-area">
      <input type="text" class="typing" placeholder="Type Here...">
      <span class="send">
        <i class="bi bi-arrow-return-left"></i>
      </span>
    </div>
  </div>
  <div class="icon-support" (click)="toggleChat()" style="font-size: 15px; text-align: center;" >
    <div class="user" style="font-size: 15px; font-size: 15px;">
      <i class="bi bi-person-circle me-2 "></i>
      Vivek Dhiman
    </div>
    <i class="bi bi-chat fa-1x chat-icon" style="right: 18px; position: absolute;"></i>
    <i class="bi bi-x-lg fa-1x cross-icon" style="right: 18px; position: absolute;"></i>

  </div>
</div>