<div id="chat-bot" #chatBot>
  <div class="messenger br10">
    <mat-tab-group [(selectedIndex)]="selectedTabIndex">
      <mat-tab label="Home">
        <div class="front-home">

          <h1 class="d3" style="padding-left: 12px;">
            Hi there 👋 <br> How can we help?
          </h1>
          <div class="chatbot-container" style="width: 150px; height: 100px; max-width: 76%;
    margin: 0px auto;">
            <img src="/assets/chatbot.png" alt="chatbot" style="max-width: 80%; margin: 0 auto;">
          </div>



          <div class="home">
            <div class="box">
              <div class="icon_home">
                <a mat-button (click)="navigateTo('support')">
                  <i class="fa-regular fa-comment"
                    style="font-size: 30px; color: #22385d; align-items: center; text-align: center;"></i>
                  <h1 class="chat-h1">Chat</h1>
                </a>
              </div>
            </div>
            <div class="box">
              <div class="icon_home">
                <a mat-button (click)="navigateTo('help')">

                  <i class="fa-regular fa-question"
                    style="font-size: 30px; color: #22385d; align-items: center; text-align: center;"></i>
                  <h1 class="chat-h1">Help</h1>
                </a>
              </div>
            </div>
          </div>
        </div>
      </mat-tab>

      <mat-tab label="Support" id="chat-bot" #chatBot>
        <div class="timestamp">04:45 AM</div>
        <div class="chatroom">
          <div class="msg msg-left">
            <div class="bubble">
              <h6 class="name">Welcome To ChatBot</h6>
              Hello, I am a smart chat bot, <br />
              How can I help you.
            </div>
          </div>
          <h6 class="name">Your Latest Orders</h6>
          <!-- <div class="msg msg-right">
            <div class="bubble">
              Oh! Look at you. You are awesome
            </div>
          </div>
          <div class="msg msg-right">
            <div class="bubble">
              Can you please tell me who created you?
            </div>
          </div>
          <div class="msg msg-left">
            <div class="bubble">
              Yes, Of course! Vivek Dhiman created me. <br />
              He's behind my awesomeness. He did a great job. didn't he?
            </div>
          </div>
          <div class="msg msg-right">
            <div class="bubble">
              Yeah! He did an amazing job.<br />
              How can I contact him?
            </div>
          </div>
          <div class="msg msg-left">
            <div class="bubble">
              Here's my boss' Fiverr Username. <br />
              <a href="www.fiverr.com/vivekdhiman" target="_blank">fiverr.com/vivekdhiman</a>
            </div>
          </div>
          <div class="msg msg-right">
            <div class="bubble">
              Thanks alot. See you next time. Good bye
            </div>
          </div>

          <div class="msg msg-left">
            <div class="bubble">
              Good bye. Take care
            </div>
          </div> -->
          <!-- msgs  -->
          <!-- <div class="msg msg-left">
            <div class="bubble">
              Good bye. Take care
            </div>
          </div>  -->

          <div class="msg msg-left">
            <ng-container *ngIf="loadingProducts">
              <div class="loader"></div>
            </ng-container>

            <ng-container *ngIf="!loadingProducts">
              <div *ngFor="let product of products" class="product-item pointer" (click)="showProductDetails(product)"
                [title]="'Click to get details'">
                <img [title]="'Click to get details'" [src]="product.image" alt="Product Image" class="product-image">
                <div [title]="'Click to get details'" class="product-details">
                  <p class="product-name">{{ product.name }}</p>
                  <div class="details">
                    <span>Price: {{ product.price }}</span>
                    <span>Quantity: {{ product.quantity }}</span>
                    <span>Size: {{ product.size }}</span>
                    <span>Color: {{ product.color }}</span>
                  </div>
                </div>
              </div>
              <div *ngIf="selectedProduct" class="shipment-details">
                Shipment Status: {{ selectedProduct.shipmentStatus }}
              </div>
            </ng-container>
          </div>

          <div class="msg msg-left">
            <div class="name">
              Need More Detail
            </div>
            <div class="button-container">
              <button *ngIf="!Clicked" class="btn" (click)="onYesClick()">Yes</button>
              <button *ngIf="!Clicked" class="btn" (click)="onNoClick()">No</button>
            </div>
          </div>

          <div *ngIf="showNewSection">
            <div class="bubble msg msg-right">
              Yes
            </div>

            <div id="orderDetail" class="msg msg-left orderDetail">
              <h6 class="name">Your Order Details</h6>
              <div class="name" *ngIf="orderDetails">
                You have ordered this item on <strong>{{ orderDetails.orderDate | date: 'MMM d, y' }}</strong> <br>.
                Your transaction ID is <strong>{{ orderDetails.transactionId }}.</strong><br> Invoice status is
                <strong>{{ orderDetails.invoice_status }}.</strong><br> MOP is <strong>{{ orderDetails.MOP }}</strong>.
              </div>
            </div>

            <div class="msg msg-left">
              <div class="name">
                Need More Help
              </div>
              <div class="button-container" *ngIf="!buttonsHidden">
                <button class="btn" (click)="onAsk()">Ask Us</button>
                <button class="btn" (click)="onNoThanks()">No Thanks</button>
              </div>
            </div>

            <div class="chat-container">
              <div class="chat-box">
                <div *ngFor="let message of messages" class="chat-message"
                  [ngClass]="{'user-message': message.sender === 'user', 'bot-message': message.sender === 'bot'}">
                  <p [innerHTML]="message.content"></p>
                </div>
              </div>

              <div *ngIf="noMatch">
                <div class="user-action-buttons">
                  <button class="btn" (click)="onAsk()">Human Assistance?</button>
                  <br>
                  <button class="btn" (click)="onNoThanks()">Resolved</button>
                  <br>
                  <button class="btn" (click)="orderNotListed()">Order Not Listed</button>
                </div>
              </div>

              <div *ngIf="previousOrders.length > 0" class="pointer">
                <h3>Previous Orders:</h3>
                <div class="dotted-box">
                  <div *ngFor="let order of previousOrders" class="order-item">
                    <p class="order-date">Order Date: {{ order.orderDate | date }}</p>
                    <div *ngFor="let product of order.products" class="product-item" (click)="showProductDetail(order, product)">
                      <img [src]="product.image" alt="Product Image" width="50" height="50">
                      <span>{{ product.name }}</span>
                    </div>
                  </div>
                </div>
              </div>
              
              <div *ngIf="selectedOrder && selectedProduct">
                <!-- Show only the details of the selected product -->
                <div class="product-details">
                  <p class="product-name">{{ selectedProduct.name }}</p>
                  <div class="details">
                    <span>Price: {{ selectedProduct.price }}</span>
                    <span>Quantity: {{ selectedProduct.quantity }}</span>
                    <!-- Add other product details here... -->
                  </div>
                </div>
              </div>
              
              



              <div class="type-area" *ngIf="showTextView">
                <input type="text" [(ngModel)]="newMessage" (keyup.enter)="sendMessage()" class="typing"
                  placeholder="Type Here...">
                <span class="send" (click)="sendMessage()">
                  <i class="bi bi-arrow-return-left"></i>
                </span>
              </div>
            </div>


            <!-- <div class="user-action-buttons">
              <button (click)="chatWithHuman()">Chat with Human</button>
              <button (click)="markResolved()">Resolved</button>
          </div> -->




            <!-- <div class="chat-container" *ngIf="showTextView">
                <div class="chat-box">
                    <div *ngFor="let message of messages" class="chat-message">
                        <p>{{ message.content }}</p>
                    </div>
                </div>
                <div class="input-box">
                    <input type="text" [(ngModel)]="newMessage" (keyup.enter)="sendMessage()">
                    <button (click)="sendMessage()">Send</button>
                </div>
            </div> -->



          </div>

        </div>
        <!-- <div class="type-area">
          <input type="text" class="typing" placeholder="Type Here...">
          <span class="send">
            <i class="bi bi-arrow-return-left"></i>
          </span>
        </div> -->
      </mat-tab>
      <mat-tab label="Help">
        <div class="accordion">
          <div class="help-container">
            <h2>Help Center</h2>
            <p>Need assistance? Here's how to use the chatbot:</p>
            <div class="scrollable-content">
              <section class="section">
                <h3>Getting Started</h3>
                <p>Welcome to our chatbot! Start by typing a message or question to begin the conversation.</p>
              </section>

              <section class="section">
                <h3>Navigation</h3>
                <p>To navigate back to the home page, simply click the "Home" button below.</p>
                <button class="heading-button" (click)="navigateTo('home')">Home</button>
              </section>
              <!-- Include more sections for chatting, commands, features, etc. -->

              <section class="section">
                <h3>Contact Us</h3>
                <p>If you have further questions, feel free to reach out to our support team at support@example.com.</p>
              </section>

              <section class="section">
                <h3>Feedback</h3>
                <p>We value your feedback! Let us know how we can improve by sending an email to feedback@example.com.
                </p>
              </section>

            </div>
          </div>


        </div>

      </mat-tab>
    </mat-tab-group>
  </div>
  <div class="icon-support" (click)="toggleChat()" style="font-size: 15px; text-align: center;">
    <div class="user" style="font-size: 15px; font-size: 15px;">
      <i class="bi bi-person-circle me-2 "></i>
            <!-- username  -->
      {{username}}
    </div>
    <i class="bi bi-chat fa-1x icons chat-icon" style="right: 18px; position: absolute;"></i>
    <i class="bi bi-x-lg fa-1x icons-visible cross-icon" style="right: 18px; position: absolute;"></i>

  </div>
</div>
















<!-- <div id="chat-bot" #chatBot fixed >
  <div class="messenger br10">
    <div class="timestamp">04:45 AM</div>
    <div class="chatroom">
      <div class="msg msg-left">
        <div class="bubble">
          <h6 class="name">Vivek Dhiman's Bot</h6>
          Hello, I am a smart chat bot, <br />
          How can I help you.
        </div>
      </div>
      <div class="msg msg-right">
        <div class="bubble">
          Oh! Look at you. You are awesome
        </div>
      </div>
      <div class="msg msg-right">
        <div class="bubble">
          Can you please tell me who created you?
        </div>
      </div>
      <div class="msg msg-left">
        <div class="bubble">
          Yes, Of course! Vivek Dhiman created me. <br />
          He's behind my awesomeness. He did a great job. didn't he?
        </div>
      </div>
      <div class="msg msg-right">
        <div class="bubble">
          Yeah! He did an amazing job.<br />
          How can I contact him?
        </div>
      </div>
      <div class="msg msg-left">
        <div class="bubble">
          Here's my boss' Fiverr Username. <br />
          <a href="www.fiverr.com/vivekdhiman" target="_blank">fiverr.com/vivekdhiman</a>
        </div>
      </div>
      <div class="msg msg-right">
        <div class="bubble">
          Thanks alot. See you next time. Good bye
        </div>
      </div>

      <div class="msg msg-left">
        <div class="bubble">
          Good bye. Take care
        </div>
      </div>

    </div>
    <div class="type-area">
      <input type="text" class="typing" placeholder="Type Here...">
      <span class="send">
        <i class="bi bi-arrow-return-left"></i>
      </span>
    </div>
  </div>
  <div class="icon-support" (click)="toggleChat()" style="font-size: 15px; text-align: center;" >
    <div class="user" style="font-size: 15px; font-size: 15px;">
      <i class="bi bi-person-circle me-2 "></i>
      Vivek Dhiman
    </div>
    <i class="bi bi-chat fa-1x chat-icon" style="right: 18px; position: absolute;"></i>
    <i class="bi bi-x-lg fa-1x cross-icon" style="right: 18px; position: absolute;"></i>

  </div>
</div> -->