<div class="container">
    <div class="card card__pd-20 d-flex justify-content-md-between align-item-center">
        <div class="d-flex gap-5 justify-content-center align-item-center">
            <button class="btn btn-xs customise-back-btn d-flex flex-center" routerLink="/dashboard/customise-home">
                <span class="material-symbols-outlined">
                    arrow_back_ios
                </span>
            </button>
            <h3>Customise T and C</h3>
        </div>
        <div class="operation_button d-flex gap-10">
            <button class="btn btn-xs fw-500 btn-rounded btn-primary">Add Section</button>
        </div>
    </div>



    <form [formGroup]="yourFormGroup">
        <div formArrayName="TandC" class="d-flex flex-column gap-20">
            <ng-container *ngFor="let data of getTandC();let i=index">
                <div [formGroupName]="i">

                    <div>
                        <label>Heading</label>
                        <input formControlName="heading" />
                    </div>

                    <div formArrayName="contentInfo">

                        <ng-container *ngFor="let content of getContentInfoArray(i);let j=index">

                            <div [formGroupName]="i">

                            <app-custom-select [type]="''" [options]="contentType"
                                [selectedOption]="((getTandCContent(i,j) ? (getTandCContent(i,j)) : 'Select Type'))"
                                (final_option)="ContentTypeHandler($event)"></app-custom-select>
                                
                                <textarea *ngIf="getTandCContent(i,j)=='paragraph'" formControlName="content_description">
                                </textarea>

                                <div *ngIf="getTandCContent(i,j)=='list'">
                                    <ng-container *ngFor="let control of getTandCContent(i,j,'content_description');let z=index">
                                        {{control.value}} achbdhcdfhfcd
                                        <!-- <input [form]="control.value"> -->
                                        <input formControlName="{{i}}">
                                        <!-- <div [formGroupName]="z">
                                            <input formControlName="insideContent">
                                        </div> -->
                                        <!-- <input [value]="contol.value"> -->
                                    </ng-container>
                                </div>


                            </div>
                        </ng-container>
                        <div></div>
                    </div>
                </div>
            </ng-container>
        </div>
    </form>



</div>