<div class="container d-flex flex-column gap-15">
    <div class="card card__pd-20 d-flex justify-content-md-between align-item-center default-animation">
        <div class="d-flex gap-5 justify-content-center align-item-center">
            <h3>Customise Terms & Conditions</h3>
        </div>
        <div class="d-flex gap-10">
            <button class="btn btn-rounded btn-xs btn-primary" [ngStyle]="{'display': !tcForm.disabled? 'none': 'block'}"
        (click)="tcForm.enable()">Edit</button>

        <button class="btn btn-xs btn-secondary btn-rounded fw-500 d-flex flex-center gap-5" [ngStyle]="{'display': tcForm.disabled? 'none': ''}" (click)="addFormControl(); goToBottom()">
            <span class="material-symbols-outlined fs-20">add</span>
            Add Section
        </button>
        
        <button class="btn btn-rounded btn-xs btn-secondary" [ngStyle]="{'display': tcForm.disabled? 'none': ''}"
        (click)="tcForm.disable(); discardChanges();">Cancel</button>
        <button class="btn btn-xs fw-500 btn-rounded btn-primary" [ngStyle]="{'display': tcForm.disabled? 'none': ''}" [disabled]="tcForm.invalid" (click)="onsubmit()">Update</button>
        </div>
    </div>
    <form [formGroup]="tcForm" [ngClass]="tcForm.disabled ? 'form-disabled' : '' " class="default-animation-slow">
        <div formArrayName="tcFormArray" class="mh100 mw100 d-flex flex-column gap-20">
            <ng-container *ngFor="let data of getFormArrayControls();let i=index">
                <div [formGroupName]="i" class=" card card__pd-20 mh100 mw100 d-flex flex-column gap-20 relative">
                    <h4>Section {{i+1}}</h4>

                    <button (click)="removeFormControl(i)" *ngIf="i!==0" class="btn absolute del-section-btn d-flex flex-center">
                        <span class="material-symbols-outlined">
                            close
                        </span>
                    </button>

                    <div class="mh100 mw100 d-flex flex-column gap-5">
                        <label class=" fw-500">Heading</label>
                        <input class="form__input" formControlName="heading" />
                    </div>
                    <div formArrayName="contentInfo" class=" d-flex flex-column gap-25">

                        <ng-container *ngFor="let content of getContentFormArrayControls(i);let j=index">
                            <div [formGroupName]="j" class="d-flex gap-10 flex-column mw100 content-area">
                                <div class="mw100 d-flex gap-5 justify-content-md-between align-item-center">
                                    <p class="fw-500">Content</p>
                                    <div class="d-flex gap-10">
                                        <app-custom-select [type]="''" [_id]="''+i+j"
                                            [options]="getParticularContentType(i)" [disableStatus]="tcForm.disabled"
                                            [selectedOption]="((gettcFormArrayContent(i,j) ? (gettcFormArrayContent(i,j)) : 'Select Type'))"
                                            (final_option)="ContentTypeHandler($event, i ,j)"></app-custom-select>
                                        <button
                                            class="btn btn-xs btn-secondary btn-rounded fw-500 d-flex flex-center gap-5"
                                            (click)="removeContentFormArrayControls(i,j)" >
                                            <span class="material-symbols-outlined fs-20">delete</span>
                                        </button>
                                    </div>
                                </div>
                                <div formArrayName="content_description" class="mw100 d-flex flex-column gap-10">
                                    <ng-container>
                                        <div *ngFor="let content of getContentDescFormArrayControls(i,j);let k=index">

                                            <div [formGroupName]="k" style="height: fit-content;">

                                                <textarea class=" mw100" formControlName="content"
                                                    *ngIf="gettcFormArrayContent(i,j)=='paragraph'" rows="4">
                                                </textarea>

                                                <div class="relative">
                                                    <input type="text" formControlName="content"
                                                        *ngIf="gettcFormArrayContent(i,j)=='list'" class="mw100 form__input">
                                                    <button
                                                        class="btn btn-xs fw-500 d-flex flex-center absolute remove-point-btn"
                                                        *ngIf="gettcFormArrayContent(i,j) == 'list'"
                                                        (click)="removeContentDescFormControl(i,j,k)">

                                                        <span class="material-symbols-outlined">
                                                            delete
                                                        </span>
                                                    </button>
                                                </div>

                                            </div>
                                        </div>
                                        <div class="d-flex justify-content-end">
                                            <button class="btn d-flex flex-center add-point-btn"
                                                *ngIf="gettcFormArrayContent(i,j) == 'list'"
                                                (click)="addContentDescFormControl(i, j)">
                                                add another point
                                            </button>
                                        </div>
                                    </ng-container>
                                </div>
                            </div>

                        </ng-container>
                    </div>
                    <div class="d-flex justify-content-end">
                        <button class="btn btn-xs btn-primary btn-rounded fw-500 d-flex flex-center gap-5"
                            (click)="addContentFormControl(i)" style="width: fit-content;">
                            <span class="material-symbols-outlined fs-20">add</span>
                            Add Content
                        </button>
                    </div>
                </div>
            </ng-container>
        </div>
    </form>
    <div class="d-flex justify-content-center" [ngClass]="tcForm.disabled ? 'form-disabled' : '' ">
        <button class="btn btn-xs btn-primary btn-rounded fw-500 d-flex flex-center gap-5" (click)="addFormControl()">
            <span class="material-symbols-outlined fs-20">add</span>
            Add Section
        </button>
    </div>
</div>