<div class="head-logo">
  <img src="../../assets/logo.png" alt = "logo" width="150px">
</div>


<section class="signup-section">
    <div class="form-div d-flex justify-content-center align-items-center">
      <div class="form-container flex justify-content-center flex-column">
        <h2 class="text-center">Hi there!</h2>
          <form [formGroup]="signupForm" (ngSubmit)="onSubmit()"  class="d-flex flex-column">
            <div class="wrapper d-flex align-items-center">
              <span class="material-symbols-outlined">person</span>
              <input type="text" id="username" formControlName="username" placeholder="Enter Your Username">
            </div>
        <!-- VALIDATOR FOR USERNAME -->
    
      <p *ngIf="signupForm.get('username')?.hasError('required') && signupForm.get('username').touched" class="invalid">*Please enter username. </p>
      <p *ngIf="signupForm.get('username')?.hasError('invalidUser') && !signupForm.get('username')?.hasError('required') && signupForm.get('username').touched" class="invalid">*Please enter valid username. </p>
  
  <!-- </div> -->
    <div class="wrapper d-flex align-items-center">
      <span class="material-symbols-outlined">mail</span>
      <input type="email" id="email" formControlName="email" placeholder="Enter Your Email" >
    </div>
 
    <!-- VALIDATOR FOR EMAIL -->
    <p *ngIf="signupForm?.get('email')?.hasError('required') && signupForm.get('email')?.touched" class="invalid">
        *Please enter email.
      </p>

      <p *ngIf="signupForm?.get('email')?.hasError('email')    && signupForm.get('email')?.touched" class="invalid">
        *Please enter valid email.
      </p>

   <div class="wrapper d-flex align-items-center">
    <span class="material-symbols-outlined key">key</span>
     <input type="password" id="password" formControlName="password" placeholder="Enter Your Password">
   </div>
    <p class="invalid" *ngIf="signupForm?.get('password')?.hasError('required') && signupForm.get('password')?.touched">
    
      *Please enter password.
     
      </p>



      <div class="d-flex gap-25 flex-column">



      <p [ngClass]=
      "{'red-text': signupForm?.get('password')?.hasError('minlength') && !signupForm?.get('password')?.hasError('required') && signupForm.get('password')?.dirty,
       'green-text': !signupForm?.get('password')?.hasError('minlength') && !signupForm?.get('password')?.hasError('required') && signupForm.get('password')?.dirty}"
        *ngIf="!signupForm?.get('password')?.hasError('required') && signupForm.get('password')?.dirty"
       >
  min length is 8 required
</p>

      <p [ngClass]=
      "{'red-text': signupForm?.get('password')?.hasError('uppercaseLetter') && !signupForm?.get('password')?.hasError('required') && signupForm.get('password')?.dirty,
       'green-text': !signupForm?.get('password')?.hasError('uppercaseLetter') && !signupForm?.get('password')?.hasError('required') && signupForm.get('password')?.dirty}"
        *ngIf="!signupForm?.get('password')?.hasError('required') && signupForm.get('password')?.dirty"
       >
  uppercase letter required
</p>


<p [ngClass]=
"{'red-text': signupForm?.get('password')?.hasError('lowercaseLetter') && !signupForm?.get('password')?.hasError('required') && signupForm.get('password')?.dirty,
 'green-text': !signupForm?.get('password')?.hasError('lowercaseLetter') && !signupForm?.get('password')?.hasError('required') && signupForm.get('password')?.dirty}"
  *ngIf="!signupForm?.get('password')?.hasError('required') && signupForm.get('password')?.dirty"
 >
lowercase letter required
</p>
      

<p [ngClass]=
"{'red-text': signupForm?.get('password')?.hasError('digit') && !signupForm?.get('password')?.hasError('required') && signupForm.get('password')?.dirty,
 'green-text': !signupForm?.get('password')?.hasError('digit') && !signupForm?.get('password')?.hasError('required') && signupForm.get('password')?.dirty}"
  *ngIf="!signupForm?.get('password')?.hasError('required') && signupForm.get('password')?.dirty"
 >
digit is required
</p>


<p [ngClass]=
"{'red-text': signupForm?.get('password')?.hasError('specialCharacter') && !signupForm?.get('password')?.hasError('required') && signupForm.get('password')?.dirty,
 'green-text': !signupForm?.get('password')?.hasError('specialCharacter') && !signupForm?.get('password')?.hasError('required') && signupForm.get('password')?.dirty}"
  *ngIf="!signupForm?.get('password')?.hasError('required') && signupForm.get('password')?.dirty"
 >
speacialcase letter is required
</p>
  

  </div>
   <div class="wrapper d-flex align-items-center">
    <span class="material-symbols-outlined key">key</span>
     <input type="password" id="confirmPassword" formControlName="confirmPassword" placeholder="Re-enter Your Password" >
   </div>
    <div *ngIf="signupForm?.get('confirmPassword')?.invalid && signupForm.get('confirmPassword')?.touched" class="invalid">
      *Your passwords and confirm password do not match.
    </div>
    <button class="btn-primary">Sign Up</button>
    <p class="text-center">Already have an account? 
      <a class="login-text" routerLink="/login">Login</a>
    </p>
  </form>
</div>
</div>

<!-- img -->

  <div class="img-div">
    
  </div>











</section>
