<section id="faq-adding-section" class="d-flex flex-column gap-20">
  <div class="row d-flex justify-content-md-between">
    <div class="d-flex gap-15 align-item-center">
      <h2>FAQs</h2>
    </div>

    <div class="custom-select" style="width:200px;">
      <select [(ngModel)]="selectedOption" (change)="retrieveContent()">
        <option *ngFor="let item of faqData">{{item.title}}</option>
      </select>
    </div>

    <div class="operational-buttons d-flex  flex-wrap">
      <button class=" d-flex align-item-center gap-5">
        <i class="material-symbols-outlined operational-buttons-icons">add</i>
        Add New Category
      </button>
    </div>
  </div>
</section>

<div *ngIf="selectedCategory" class="selected-category">
  <h2 class="selected-title">{{selectedCategory.title}}</h2>

  <table class="selected-category">
    <thead>
      <tr>
        <th>Serial Number</th>
        <th>Query</th>
        <th class="ellipsis">Answer</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let child of selectedCategory.childrens | paginate: {
        itemsPerPage: pageSize,
        currentPage: currentPage
      }; let i = index;">
        <td class="ellipsis">{{(currentPage - 1) * pageSize + i + 1}}</td>
        <td class="ellipsis">{{child.title}}</td>
        <td class="ellipsis">{{child.content}}</td>
        <td>
          <span (click)="showItemDetails(child)"
            class="material-symbols-outlined view-button material-icons">visibility</span>
          <span (click)="showEdit(child)" class="material-symbols-outlined edit-button material-icons">edit</span>
          <span (click)="deleteFaq(child)" class="material-symbols-outlined delete-button material-icons">delete</span>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div class="pagination">
  <span (click)="previousPage()"
    class="material-symbols-outlined previous-button material-icons">keyboard_arrow_left</span>
  {{currentPage}}
  <span (click)="nextPage()" class="material-symbols-outlined next-button material-icons">keyboard_arrow_right</span>
</div>


<div *ngIf="showPopup" class="popup-overlay relative">
  <div class="popup-content popup-details" [ngClass]="{'fade-in': showPopup}">
    <div *ngIf="selectedItem" class="details-container">
      <p class="detail-item"><strong>Serial Number:</strong> {{ (currentPage - 1) * pageSize +
        selectedCategory.childrens.indexOf(selectedItem) + 1 }}</p>
      <p class="detail-item"><strong>Query:</strong> {{ selectedItem.title }}</p>
      <p class="detail-item"><strong>Answer:</strong> {{ selectedItem.content }}</p>
    </div>
  </div>

  <div (click)="showPopup = false" class="absolute right-5 top-5">
    <button type="button"
      class="inline-flex justify-center px-2 py-2 text-base font-medium text-red-500 bg-white border border-transparent rounded-full hover:bg-red-200 focus:outline-none focus-visible:ring-2 focus-visible:ring-offset-2 focus-visible:ring-blue-500">
      <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 512 512" height="1em" width="1em"
        xmlns="http://www.w3.org/2000/svg">
        <path
          d="M289.94 256l95-95A24 24 0 00351 127l-95 95-95-95a24 24 0 00-34 34l95 95-95 95a24 24 0 1034 34l95-95 95 95a24 24 0 0034-34z">
        </path>
      </svg>
    </button>
  </div>
</div>

<div *ngIf="editItem" class="slider">
  <div *ngIf="selectedItem" class="details-container">
    <div class="form__card basic__info form__card d-flex flex-column gap-20">

      <div class="d-flex justify-content-md-between align-item-center ">
        <h3>Info</h3>
  
        <div class="operation_button d-flex gap-10">
            <button class="btn-primary" [ngStyle]="{'display': !faqForm.disabled? 'none': 'block'}" (click)="faqForm.enable()" >Edit</button>
            <button class="btn-secondary" [ngStyle]="{'display': faqForm.disabled? 'none': 'block'}" (click)="faqForm.disable()" >Cancel</button>
            <button class="btn-primary" [ngStyle]="{'display': faqForm.disabled? 'none': 'block'}" (click)="updateDetails()" >Update</button>
        </div>
    </div>
  
      <form [formGroup]="faqForm" class="d-flex flex-wrap gap-20">
        <div class="form__group">
          <label class="form__title" for="query">Query</label>
          <input type="text" class="form__input" id="query" formControlName="query" 
            required minlength="2" maxlength="50" />
          <div
            *ngIf="faqForm.get('query')?.invalid && (faqForm.get('query')?.dirty || faqForm.get('query')?.touched)"
            class="error-message">
            <div *ngIf="faqForm.get('query')?.hasError('required')">query is required.
            </div>
            <div *ngIf="faqForm.get('query')?.hasError('minlength')">query should have at
              least 2 characters.</div>
            <div *ngIf="faqForm.get('query')?.hasError('maxlength')">query should have at
              most 50 characters.</div>
          </div>
        </div>
  
        <div class="form__group">
          <label class="form__title" for="content">Content</label>
          <input type="text" class="form__input" id="content" formControlName="content" 
            required minlength="2" maxlength="50" />
          <div *ngIf="faqForm.get('content')?.invalid && (faqForm.get('content')?.dirty || faqForm.get('content')?.touched)"
            class="error-message">
            <div *ngIf="faqForm.get('content')?.hasError('required')">content is required.
            </div>
            <div *ngIf="faqForm.get('content')?.hasError('minlength')">content should have at
              least 2 characters.</div>
            <div *ngIf="faqForm.get('content')?.hasError('maxlength')">content should have at
              most 50 characters.</div>
          </div>
        </div>
  
      </form>

    </div>

  </div>

  <div (click)="showPopup = false" class="absolute right-5 top-5">
    <button type="button"
      class="inline-flex justify-center px-2 py-2 text-base font-medium text-red-500 bg-white border border-transparent rounded-full hover:bg-red-200 focus:outline-none focus-visible:ring-2 focus-visible:ring-offset-2 focus-visible:ring-blue-500">
      <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 512 512" height="1em" width="1em"
        xmlns="http://www.w3.org/2000/svg">
        <path
          d="M289.94 256l95-95A24 24 0 00351 127l-95 95-95-95a24 24 0 00-34 34l95 95-95 95a24 24 0 1034 34l95-95 95 95a24 24 0 0034-34z">
        </path>
      </svg>
    </button>
  </div>
</div>
