<section class="d-flex flex-column gap-20">

  <!-- select Category -->
  <div class="card card__pd-20 d-flex align-item-center justify-content-md-between default-animation">
    <h3>FAQs</h3>

    <app-custom-select [selectedOption]="faq[0]" (final_option)="retrieveContent($event)" [options]="faq">
    </app-custom-select>

    <button (click)="openDrawer()" class="btn-secondary btn btn-sm fw-500 btn-rounded d-flex align-item-center gap-5">
      <i class="material-symbols-outlined operational-buttons-icons">add</i>Add New Category
    </button>
  </div>

  <app-drawer [direction]="direction" [show]="show" (showChange)="ChangeHandler($event)"
    [title]="'Create New Categories'">

    <form [formGroup]="faqForm" *ngFor="let category of categoryForms; let i = index">
      <div class="card card__pd-20 d-flex align-item-center justify-content-md-between default-animation"
        style="margin-bottom: 15px;">
        <!-- <h3>Create FAQs</h3> -->
        <app-custom-select [_id]="'faq' + i" [type]="'select'" [options]="faq"
          [selectedOption]="selectedOption ? selectedOption: 'Select a Category'"
          (final_option)="saveCategory(i, $event)"></app-custom-select>

          <ng-container *ngIf="i === 0">
            <button (click)="addFaqCategory()"
              class="btn-secondary btn btn-sm fw-500 btn-rounded d-flex align-item-center gap-5">
              <i class="material-symbols-outlined operational-buttons-icons">add</i>Add More
            </button>
          </ng-container>

                    <!-- Remove button -->
                    <div *ngIf="i > 0" class="remove-button">
                      <button class="btn-secondary btn-sm btn-rounded ml-2" (click)="removeCategory(i)">Remove Current</button>
                    </div>
      </div>
      <div formArrayName="categories">
        <div [formGroupName]="i" class="d-flex flex-column gap-10">
          <!-- Select dropdown -->
          <!-- <select style="    margin-top: 33px;" formControlName="selectedOption" class="flex-grow-1">
            <option value="" disabled>Select a Category</option>
            <option *ngFor="let item of faqData" [value]="item.title">{{ item.title }}</option>
          </select> -->
          <!-- <app-custom-select [_id]="'faq' + i" [type]="'select'" [options]="faq" [selectedOption]="selectedOption ? selectedOption: 'Select a Category'" (final_option)="saveCategory(i, $event)" ></app-custom-select> -->
          <!-- Query input -->
          <div class="form-group flex-grow-1">
            <label class="form__label" for="query">Query*</label>
            <input class="form__input" type="text" id="query" formControlName="query" required />
            <div *ngIf="category.get('query')?.invalid && category.get('query')?.touched" class="error-message">
              Please enter a valid query*
            </div>
          </div>

          <!-- Answer input -->
          <div class="form-group flex-grow-1">
            <label class="form__label" for="content">Answer*</label>
            <input class="form__input" type="text" id="content" formControlName="content" required />
            <div *ngIf="category.get('content')?.invalid && category.get('content')?.touched" class="error-message">
              Please enter a valid answer*
            </div>
          </div>
        </div>
      </div>
    </form>
    <div class="d-flex gap-10">
      <button [disabled]="faqForm.invalid" class="btn-primary btn-sm btn-rounded"
        style="margin-top: 10px;     margin-left: 4%;" (click)="addCategory()">Submit</button>
      <!-- <button class="btn-secondary btn-sm btn-rounded" style="margin-top: 10px;" (click)="addFaqCategory()">+</button> -->
    </div>
  </app-drawer>

  <!-- pop-up -->
  <div class="faq_popup">
    <app-drawer [direction]="popUpDirection" [show]="showingPopUp" (showChange)="PopUpChangeHanlder($event)"
      [title]="'Faq Data'">
      <div *ngIf="selectedItem" class="details-container">
        <p class="detail-item"><strong>Serial Number:</strong> {{ (currentPage - 1) * pageSize +
          selectedCategory.childrens.indexOf(selectedItem) + 1 }}</p>
        <p class="detail-item"><strong>Query:</strong> {{ selectedItem.title }}</p>
        <p class="detail-item"><strong>Answer:</strong> {{ selectedItem.content }}</p>
      </div>
    </app-drawer>

  </div>
  <!-- table -->
  <div *ngIf="selectedCategory" class="table-list card default-animation-slow">
    <table summary="faqs" class="selected-category-table">
      <thead>
        <tr>
          <th class="items">Serial Number</th>
          <th class="items">Query</th>
          <th class="items">Answer</th>
          <th class="items">Actions</th>
        </tr>
      </thead>
      <tbody class="items" *ngIf="!selectedCategory.childrens.length; else faqData">
        <tr *ngFor="let i of tableGenerator(6)">
          <td *ngFor="let i of tableGenerator(6)" class="items">
            <div class="skeleton" style="border-radius: 5px; color: transparent"> d</div>
          </td>
        </tr>
      </tbody>
      <ng-template #faqData>

      </ng-template>
      <tbody>
        <tr
          *ngFor="let child of selectedCategory.childrens | slice: (pagination.currentPage - 1) * pagination.pageSize: pagination.currentPage * pagination.pageSize; let i = index;"
          class="default-animation">
          <td class="ellipsis items serial-number">{{ (pagination.currentPage - 1) * pagination.pageSize + i + 1 }}</td>
          <td class="ellipsis items query">{{ child.title }}</td>
          <td class="ellipsis items answer">{{ child.content }}</td>
          <td class="items action-btns">
            <div class="d-flex align-item-center gap-5 transition">

              <span class="tooltip">
                <i (click)="showItemDetails(child)"
                  class="fs-18 action__btn-icon material-symbols-outlined">visibility</i>
                <span class="tooltiptext">View</span>
              </span>

              <span class="tooltip">
                <i (click)="showEdit(child)" class="fs-18 action__btn-icon material-symbols-outlined">edit</i>
                <span class="tooltiptext">Edit</span>
              </span>

              <span class="tooltip">
                <i (click)="deleteFaq(child)" class="fs-18 action__btn-icon material-symbols-outlined">delete</i>
                <span class="tooltiptext">Delete</span>
              </span>

            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <!-- pagination -->
  <app-pagination #pagination [collectionSize]="selectedCategory.childrens.length" [pageSize]="5"
    [currentPage]="currentPage" (activePage)="handlePageChange($event)" [firstLastButtons]="true"
    [nextPreviousButtons]="true" [small]="true">
  </app-pagination>

  <!-- edit cancel update  -->
  <div *ngIf="editItem" class="slider">
    <div *ngIf="selectedItem" class="details-container">
      <div class="form__card basic__info form__card d-flex flex-column gap-20">

        <div class="card card__pd-20 d-flex align-item-center justify-content-md-between default-animation">
          <h3>Update Faqs</h3>

          <div class="operation_button d-flex gap-10">
            <button class="btn-primary btn-rounded btn-sm" [ngStyle]="{'display': !faqForm.disabled? 'none': 'block'}"
              (click)="faqForm.enable()">Edit</button>
            <button class="btn-secondary btn-sm btn-rounded" [ngStyle]="{'display': faqForm.disabled? 'none': 'block'}"
              (click)="faqForm.disable()">Cancel</button>
            <button class="btn-primary btn-sm btn-rounded" [ngStyle]="{'display': faqForm.disabled? 'none': 'block'}"
              (click)="updateDetails()">Update</button>
          </div>
        </div>

        <!-- edit form -->
        <div class="card card__pd-20 d-flex align-item-center justify-content-md-between default-animation">
          <form [formGroup]="editForm" class="d-grid flex-wrap gap-20 column-reverse" style="width: 100%;">
            <div class="form__group">
              <label class="form__title" for="query">Query</label>
              <input type="text" class="form__input" id="query" formControlName="query" required minlength="2"
                maxlength="500" />
              <div
                *ngIf="editForm.get('query')?.invalid && (editForm.get('query')?.dirty || editForm.get('query')?.touched)"
                class="error-message">
                <div *ngIf="editForm.get('query')?.hasError('required')">query is required.
                </div>
                <div *ngIf="editForm.get('query')?.hasError('minlength')">query should have at
                  least 10 characters.</div>
                <div *ngIf="editForm.get('query')?.hasError('maxlength')">query should have at
                  most 500 characters.</div>
              </div>
            </div>

            <div class="form__group">
              <label class="form__title" for="content">Content</label>
              <input type="text" class="form__input" id="content" formControlName="content" required minlength="2" />
              <div
                *ngIf="editForm.get('content')?.invalid && (editForm.get('content')?.dirty || editForm.get('content')?.touched)"
                class="error-message">
                <div *ngIf="editForm.get('content')?.hasError('required')">content is required.
                </div>
                <div *ngIf="editForm.get('content')?.hasError('minlength')">content should have at
                  least 20 characters.</div>
                <div *ngIf="editForm.get('content')?.hasError('maxlength')">Need More</div>
              </div>
            </div>

          </form>
        </div>

      </div>

    </div>
  </div>

</section>