#faq-adding-section {
    padding: 20px;
    border: 1px solid rgb(var(--blackClr), 0.1);
    border-radius: 10px;
    background-color: #ffffff;
}

.selected-category {
    padding: 10px;
    background-color: #f7f7f7;
    border-radius: 5px;
  }
  
  .selected-title {
    color: blue; 
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .child-content {
    margin-top: 20px;
  }
  
  .child-content h3 {
    font-size: 18px; 
  }
  
  .child-content div {
    font-size: 16px; 
  }

  .child-title {
    display: flex;
    align-items: center;
    margin-top: 10px;
  }

table.selected-category {
    border-collapse: collapse;
    width: 100%;
    border: 1px solid #ccc; 
  }
  
  table.selected-category th,
  table.selected-category td, span {
    border: 1px solid #ccc; 
    padding: 8px;
    text-align: left; 
  }
  
  table.selected-category th {
    background-color: #f2f2f2;
  }
  
  table.selected-category tr:nth-child(even) {
    background-color: #f9f9f9; 
  }

  .material-icons {
    font-size: 15px; 
    cursor: pointer;
    margin-right: 2px; 
  }

  .edit-button {
    color: #3498db; 
  }
  
  .delete-button {
    color: #e74c3c; 
  }
  
  .view-button {
    color: #27ae60; 
  }

  .flex-for-action {
    display: flex;
    align-items: center;
    border: none !important;

  }

  .ellipsis {
    white-space: nowrap;       
    overflow: hidden;         
    text-overflow: ellipsis;  
    max-width: 150px;        
  }

.dropdown-menu {
  display: none;
}

.dropdown-menu.active {
  display: block;
}

.operational-buttons {
  gap: 20px;

  & button {
      border: 1px solid rgba(var(--blackClr), 0.1);
      border-radius: 5px;
      background: none;
      padding: 4px;
      cursor: pointer;
      padding: 10px 24px;
      font-weight: 400;

      &:hover{
          border: 1px solid rgba(var(--blackClr), 0);
          background-color: rgb(var(--blackClr), 0.02);
      }
  }

  & .operational-buttons-icons {
      font-size: 22px;
      font-weight: 300;
      transition: transform 0.3s ease-in-out;
      /* &:is(:hover) {
          transform: scale(1.1);
      } */
  }

  & button:first-child .operational-buttons-icons {
      color: rgb(var(--blue-clr));
  }

  & button:last-child .operational-buttons-icons {
      color: rgb(var(--red-clr));
  }
}

.custom-select {
  position: relative;
  width: 400px;
  max-width: 100%;
  font-size: 1.15rem;
  color: #000;
  margin-top: 3rem;
}

.select-button {
  width: 100%;
  font-size: 1.15rem;
  background-color: #fff;
  padding: 0.675em 1em;
  border: 1px solid #caced1;
  border-radius: 0.25rem;
  cursor: pointer;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.selected-value {
  text-align: left;
}

.arrow {
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 6px solid #000;
  transition: transform ease-in-out 0.3s;
}


 

  
  
  
  

