
<section class="about">
    <div class="container d-flex justify-content-center">
        <div class="about-image-div">
            <div class="common common1">
                <img src="https://images.pexels.com/photos/3965551/pexels-photo-3965551.jpeg?auto=compress&cs=tinysrgb&w=600">
            </div>
            <div class="common common2">
                <img src="https://images.pexels.com/photos/5864264/pexels-photo-5864264.jpeg?auto=compress&cs=tinysrgb&w=600">
            </div>
            <div class="common common3">
                <img src="https://images.pexels.com/photos/1311590/pexels-photo-1311590.jpeg?auto=compress&cs=tinysrgb&w=600">
            </div>
            <div class="common common4">
                <img src="https://images.pexels.com/photos/1884583/pexels-photo-1884583.jpeg?auto=compress&cs=tinysrgb&w=600">
            </div>
        </div>
        <div class="about-content-div">
            <h3>About Us</h3>
            <h2>A World Leading & Popular Online Shopping Solution Provider.</h2>
            <!-- <div class="cust">
                <div>
                    <div class="skill-logo-1" id="skill_1"> 
                
                        <div class="value-container" id="value_container_1">
                        <p id="skill_1_p" class="display_int">0%</p>
                        </div>
                    </div>
                </div>
                
                <div class="content2">
                    <p>Mation ullamco laboris nisi ut alior in rep rehend er fugiat nulla pariatur.</p>
                </div>
               
            </div> -->
            <p>
                Our mission is simple: to provide you with clothing that effortlessly blends style and comfort. We understand that you deserve pieces that make you look and feel your best, whether you're exploring the city, attending a special occasion, or simply enjoying a casual day out.
            
    </p>
            <div class="content-data">
                <div class="content-data-common">
                    <div class="logo">
                        <span class="material-symbols-outlined">
                            assignment_return
                            </span>
                    </div>
                    <div class="content">
                        <h4>Easy Returns</h4>
                        <p>Lorem ipsum dolor sit amet.</p>
                    </div>
                </div>
                <div class="content-data-common">
                    <div class="logo">
                        <span class="material-symbols-outlined">
                            assignment_return
                            </span>
                    </div>
                    <div class="content">
                        <h4>Easy Returns</h4>
                        <p>Lorem ipsum dolor sit amet.</p>
                    </div>
                </div>
            </div>
            <button class="btn btn-primary">Read More</button>
        </div>
    </div>
</section>


<!-- CENTER SECTION -->
<section class="center_section">
    <div class="container">
        <div class="common">
            <h2>120K</h2>
            <h3>Total
                <br> Products</h3>
        </div>
        <div class="common">
            <h2>2K</h2>
            <h3>WorldWide
                <br> Customers</h3>
        </div>
        <div class="common">
            <h2>10K</h2>
            <h3>Complete
                <br> Products</h3>
        </div>
    </div>
</section>

<!-- another section -->

<section class="another">
    <div class="container">
        <div class="first">
            <h3>Our Skills</h3>
            <h2>We provide solutions to engage customers</h2>
            <p>Mation ullamco laboris nisi ut aliquip exea core dolor in reprehend erfu giat nulla pariatur. Ut enim minim veniam, quis nostrud exercitation ris uip ex ea commodo.</p>
            <button class="btn btn-primary">Explore More</button>
        </div>
        <div class="second">
            <div class="second_1">
                <div class="second_content">
                    <p>Busisness Analsit</p>
                    <p>70%</p>
                </div>
                <div class="skill_1"></div>
            </div>
            <div class="second_1">
                <div class="second_content">
                    <p>Busisness Analsit</p>
                    <p>90%</p>
                </div>
                <div class="skill_2"></div>
            </div>
            <div class="second_1">
                <div class="second_content">
                    <p>Busisness Analsit</p>
                    <p>60%</p>
                </div>
                <div class="skill_3"></div>
            </div>
        </div>
    </div>
</section>



<!-- TEAM MEMBER SECTION -->

<section class="team-members">
    <div class="container">
        <div class="heading">
            <div class="content">
            <h2>Team Members</h2>
            <p>Showing our latest arrival on this summer</p>
            </div>
            <div class="left_right">
                <span class="material-symbols-outlined">
                    chevron_left
                    </span>

                    <span class="material-symbols-outlined">
                        chevron_right
                        </span>
            </div>
        </div>
        <div class="team-members-img">
            <!-- <owl-carousel-o [options]="customOptions">
                <ng-template carouselSlide>
                    <div class="common"><img src="https://images.pexels.com/photos/2610756/pexels-photo-2610756.jpeg?auto=compress&cs=tinysrgb&w=600"></div>
                </ng-template>  
                <ng-template carouselSlide>
                    <div class="common"><img src="https://images.pexels.com/photos/2610756/pexels-photo-2610756.jpeg?auto=compress&cs=tinysrgb&w=600"></div>
                </ng-template>  
                <ng-template carouselSlide>
                    <div class="common"><img src="https://images.pexels.com/photos/2610756/pexels-photo-2610756.jpeg?auto=compress&cs=tinysrgb&w=600"></div>
                </ng-template>  
                <ng-template carouselSlide>

                </ng-template>  
                <ng-template carouselSlide>
                    <div class="common"><img src="https://images.pexels.com/photos/2610756/pexels-photo-2610756.jpeg?auto=compress&cs=tinysrgb&w=600"></div>
                </ng-template>  
                <ng-template carouselSlide>
                    <div class="common"><img src="https://images.pexels.com/photos/2610756/pexels-photo-2610756.jpeg?auto=compress&cs=tinysrgb&w=600"></div>
                </ng-template>  
              </owl-carousel-o> -->
        </div>
        
    </div>
    
</section>
<!-- <owl-carousel-o [options]="customOptions">
    <ng-template carouselSlide>Slide 1</ng-template>  
    <ng-template carouselSlide>Slide 2</ng-template>  
    <ng-template carouselSlide>Slide 3</ng-template>  
  </owl-carousel-o> -->


