<section class="about">
  <section class="about_title d-flex justify-content-center align-item-center">
    <h2>About Us</h2>
  </section>

  <div class="container d-flex justify-content-center">
    <div class="about-image-div">
      <div class="common common1">
        <img src="https://images.pexels.com/photos/3965551/pexels-photo-3965551.jpeg?auto=compress&cs=tinysrgb&w=600" />
      </div>
      <div class="common common2">
        <img src="https://images.pexels.com/photos/5864264/pexels-photo-5864264.jpeg?auto=compress&cs=tinysrgb&w=600" />
      </div>
      <div class="common common3">
        <img src="https://images.pexels.com/photos/1311590/pexels-photo-1311590.jpeg?auto=compress&cs=tinysrgb&w=600" />
      </div>
      <div class="common common4">
        <img src="https://images.pexels.com/photos/1884583/pexels-photo-1884583.jpeg?auto=compress&cs=tinysrgb&w=600" />
      </div>
    </div>
    <div class="about-content-div">
      <!-- <h3>About Us</h3> -->
      <h2>Welcome to TradeVogue, Your Ultimate Fashion Destination!</h2>

      <p>
        At TradeVogue, we're more than just an online clothing store. We are a passionate team of fashion
        enthusiasts dedicated to providing you with the latest trends and timeless classics that will elevate your
        style.
        <br><br>
        Founded in 2023, we have grown from a small boutique to a thriving online fashion
        destination. Our commitment to quality, style, and customer satisfaction has been the driving force behind our
        success.
      </p>
      <div class="content-data">
        <div class="content-data-common">
          <div class="logo">
            <span class="material-symbols-outlined"> assignment_return </span>
          </div>
          <div class="content">
            <h4>Easy Returns</h4>
            <p>Streamlined returns with clear policies, online request form, and convenient options.</p>
          </div>
        </div>
        <div class="content-data-common">
          <div class="logo">
            <span class="material-symbols-outlined">
              hotel_class
              </span>
          </div>
          <div class="content">
            <h4>Customer Reviews</h4>
            <p> Allow customers to leave reviews and ratings for products they've purchased.</p>
          </div>
        </div>
      </div>
      <!-- <button class="btn btn-primary">Read More</button> -->
    </div>
  </div>
</section>

<!-- CENTER SECTION -->
<section class="center_section">
  <div class="container">
    <div class="common">
      <h2>980K</h2>
      <h3>
        Total <br />
        Sales
      </h3>
    </div>
    <div class="common">
      <h2>1.4K</h2>
      <h3>
        Happy <br />
        Customers
      </h3>
    </div>
    <div class="common">
      <h2>1.7K</h2>
      <h3>
        Shipped <br />
        Products
      </h3>
    </div>
  </div>
</section>

<!-- another section -->

<section class="another">
  <div class="container">
    <div class="first">
      <!-- <h3>Our Skills</h3> -->
      <h2> We're dedicated to enhancing your shopping experience </h2>
      <p>
        Our team of fashion experts constantly tracks the latest trends and selects the best pieces to add to our collection. You can trust us to keep you ahead of the fashion curve.
        We prioritize quality in everything we offer. Each garment is carefully chosen for its durability, comfort, and style.
      </p>
      
    </div>
    <div class="second">
      <div class="second_1">
        <div class="second_content">
          <p>Recuring Customers</p>
          <p>70%</p>
        </div>
        <div class="skill_1"></div>
      </div>
      <div class="second_1">
        <div class="second_content">
          <p>Recuring Customers</p>
          <p>90%</p>
        </div>
        <div class="skill_2"></div>
      </div>
      <div class="second_1">
        <div class="second_content">
          <p>Recuring Customers</p>
          <p>60%</p>
        </div>
        <div class="skill_3"></div>
      </div>
    </div>
  </div>
</section>

<!-- TEAM MEMBER SECTION -->

<section class="team-members">
  <div class="container">
    <div class="heading">
      <h2>Team Members</h2>
    </div>
    <div class="team-members-img">
      <div class="common relative active">
        <div class="overlay"></div>
        <img src="https://images.pexels.com/photos/7063781/pexels-photo-7063781.jpeg?auto=compress&cs=tinysrgb&w=600" />

        <div class="content relative">
          <!-- <p>This is the content of the div.</p> -->
          <h3>Priyanshu Dhall</h3>
          <!-- <p>Designer</p> -->
        </div>
      </div>
      <div class="common relative">
        <img src="https://images.pexels.com/photos/7063780/pexels-photo-7063780.jpeg?auto=compress&cs=tinysrgb&w=600" />
        <div class="content relative">
          <!-- <p>This is the content of the div.</p> -->
          <h3>Abhishek Rana</h3>
          <!-- <p>Designer</p> -->
        </div>
      </div>
      <div class="common relative">
        <img src="https://images.pexels.com/photos/5435154/pexels-photo-5435154.jpeg?auto=compress&cs=tinysrgb&w=600" />
        <div class="content relative">
          <!-- <p>This is the content of the div.</p> -->
          <h3>Jahnavi Singh</h3>
          <!-- <p>Designer</p> -->
        </div>
      </div>
      <div class="common relative">
        <img src="https://images.pexels.com/photos/4195342/pexels-photo-4195342.jpeg?auto=compress&cs=tinysrgb&w=600" />
        <div class="content">
          <!-- <p>This is the content of the div.</p> -->
          <h3>Vivek Dhiman</h3>
          <!-- <p>Designer</p> -->
        </div>
      </div>


      <div class="common relative">
        <img src="https://images.pexels.com/photos/4195342/pexels-photo-4195342.jpeg?auto=compress&cs=tinysrgb&w=600" />
        <div class="content">
          <!-- <p>This is the content of the div.</p> -->
          <h3>Davinder Kumar</h3>
          <!-- <p>Designer</p> -->
        </div>
      </div>

    </div>
  </div>
</section>