#overview-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 24px;


    & .card,
    .graph,
    .product-info-cards {
        padding: 24px;
        /* box-shadow: 0px 0px 1px rgba(128, 128, 128, 0.527); */
        border-radius: 5px;
        border: 1px solid rgba(0, 0, 0, 0.1);
        background-color: rgb(var(--dash-card-clr));
    }


    & .info-cards {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
        grid-template-rows: repeat(4);
        gap: 24px;

        & .card-value {
            font-size: 26px;
            font-weight: 500;
        }
    }

    & .icons {
        font-size: 2.5rem;
        display: flex;
        align-items: center;
    }

    & .column-1 {
        border-inline-start: 3px solid rgb(var(--dash-blue-clr));

        & .icons {
            color: rgb(var(--dash-blue-clr));
        }
    }

    & .column-2 {
        border-left: 3px solid rgb(var(--dash-yellow-clr));

        & .icons {
            color: rgb(var(--dash-yellow-clr));
        }
    }

    & .column-3 {
        border-left: 3px solid rgb(var(--dash-green-clr));

        & .icons {
            color: rgb(var(--dash-green-clr));
        }
    }

    & .column-4 {
        border-left: 3px solid rgb(var(--dash-red-clr));

        & .icons {
            color: rgb(var(--dash-red-clr));
        }
    }

    & .row-1 {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    & .row-2 {
        width: 100%;
        display: flex;
        text-align: right;

        & span {
            color: rgb(var(--dash-sub-title-clr));
            font-size: 14px !important;
        }

        & p {
            font-size: 14px !important;
            color: rgb(var(--dash-sub-title-clr));
            font-weight: 500;
        }
    }

    /* Chart-section */

    & .stats-cards {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
        gap: 24px;

        & .graph {

            & .row-2 {
                justify-content: center;
            }

            &:nth-child(1) {
                grid-column: span 2;
            }
        }

        & #barChart {
            width: 100% !important;
            max-height: 300px !important;
        }

        & #donutChart {
            max-width: 300px !important;
            max-height: 300px !important;
        }
    }

    & .product-section {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
        gap: 24px;

        & .product-info-cards {

            & .radio_button {
                display: flex;
                align-items: center;
            }

            & input[type="radio"] {
                display: none;
            }

            & label {
                font-weight: 400;
                padding: 5px 10px;
                border-radius: 5px;
                cursor: pointer;
            }

            & input[type="radio"]:checked+label {
                background-color: rgb(var(--accent), 0.2);
            }

            & .product-row {
                width: 100%;
            }

            & .product-image {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 50px;
                height: 50px;
                border-radius: 5px;
                background-color: rgba(var(--dash-sub-title-clr), 0.2);

                & .icons {
                    font-size: 25px !important;
                    color: black;
                }
            }

            & .product-name {
                display: flex;
                flex-direction: column;
                text-align: left;
                min-width: 200px;
            }

            & .revenue {
                color: rgb(var(--dash-blue-clr));
            }

            & .profit {
                color: rgb(var(--dash-green-clr));
            }
        }

        & .category-table{

            & .category-row{
                width: 100%;
            }
            & progress{
                width: 100%;
                border-radius: 20px;
                height: 12px;
        
                &::-webkit-progress-bar{
                    border: none;
                    border-radius: 20px;
                    background-color: rgb(var(--dash-sub-title-clr), 0.1);
                }
                &::-webkit-progress-value{
                    border-radius: 20px;
                    background-color: rgb(var(--accent));
                }
            }
        }


    }
}


@media screen and (max-width: 768px) {

    #overview-section {

        & .card-value {
            font-size: 26px;
        }

        & .icons {
            font-size: 2.5rem;
            display: flex;
            align-items: center;
        }

    }
}

@media screen and (max-width: 768px) {
    #overview-section {
        & .card-value {
            font-size: 24px;
        }

        & .icons {
            font-size: 2rem;
            display: flex;
            align-items: center;
        }

    }
}

/* .apexcharts-legend.apexcharts-align-center.apx-legend-position-right{
    display: flex !important;
    flex-direction: row;
    position: block !important;
    top: 0 !important;
} */