<section id="overview-section" class="d-flex">
    <h1>DashBoard</h1>
    <div class="info-cards">
        <div class="column-1 card">
            <div class="row-1">
                <span class="icons material-symbols-outlined">bar_chart_4_bars</span>
                <div class="d-flex flex-column ">
                    <p class="title">Customers</p>
                    <span class="card-value" id="visitor">2790</span>
                </div>
            </div>
            <div class="row-2 d-flex align-center  gap-5">
                <!-- <span class="material-symbols-outlined">info</span> -->
                <p *ngIf="isCustomerChange; else customer_increase" class="spike d-flex align-center gap-10">
                    <span class="value">10% Higher growth</span>
                    <i class="fa-solid fa-arrow-trend-up"></i>
                </p>
                <ng-template #customer_increase class="drop d-flex align-center gap-10">
                    <span class="drop d-flex align-center gap-10">
                        <span class="value">20% Lower growth</span>
                        <i class="fa-solid fa-arrow-trend-down"></i>
                    </span>
                </ng-template>
            </div>
        </div>
        <div class="column-2 card">
            <div class="row-1">
                <span class="icons  material-symbols-outlined">shopping_cart</span>
                <div class="d-flex flex-column ">
                    <p class="title">Orders</p>
                    <span class="card-value" id="orders">200</span>
                </div>
            </div>
            <div class="row-2 d-flex align-center  gap-5">
                <!-- <span class="material-symbols-outlined">info</span> -->
                <p *ngIf="isOrderChange; else order_decrease" class="spike d-flex align-center gap-10">
                    <span class="value">10% Higher Orders</span>
                    <i class="fa-solid fa-arrow-trend-up"></i>
                </p>
                <ng-template #order_decrease>
                    <span class="drop d-flex align-center gap-10">
                        <span class="value">20% Lower Orders</span>
                        <i class="fa-solid fa-arrow-trend-down"></i>
                    </span>
                </ng-template>
            </div>
        </div>
        <div class="column-3 card">
            <div class="row-1">
                <span class="icons material-symbols-outlined">currency_rupee</span>
                <div class="d-flex flex-column ">
                    <p class="title">Revenue</p>
                    <span class="card-value" id="revenue">27990</span>
                </div>
            </div>
            <div class="row-2 d-flex align-center  gap-5">
                <!-- <span class="material-symbols-outlined">info</span> -->
                <p *ngIf="isRevenueChange; else order_decrease" class="spike d-flex align-center gap-10">
                    <span class="value">10% Higher Sales</span>
                    <i class="fa-solid fa-arrow-trend-up"></i>
                </p>
                <ng-template #order_decrease>
                    <span class="drop d-flex align-center gap-10">
                        <span class="value">20% Lower Sales</span>
                        <i class="fa-solid fa-arrow-trend-down"></i>
                    </span>
                </ng-template>
            </div>
        </div>

        <div class="column-4 card">
            <div class="row-1">
                <span class="icons material-symbols-outlined">production_quantity_limits</span>
                <div class="d-flex flex-column ">
                    <p class="title">Inventory Alert</p>
                    <span class="card-value"  id="inventory">10</span>
                </div>
            </div>
            <div class="row-2 d-flex align-center gap-5">
                <span class="value">Recently Updated</span>
                <span class="material-symbols-outlined">refresh</span>
            </div>
        </div>
    </div>
    <div class="stats-cards">
        <div class="column graph d-flex flex-column gap-15">
            <div class="row-1">
                <h3>Sales & Profits</h3>
                <span class="material-symbols-outlined">refresh</span>
            </div>
            <div class="row-2 ">
                <canvas id="barChart">{{barChart}}</canvas>
            </div>
        </div>
        <div class="column graph d-flex flex-column gap-15">
            <div class="row-1 ">
                <h3>Customer Reviews</h3>
                <span class="material-symbols-outlined">refresh</span>
            </div>
            <div class="row-2">
                <canvas id="donutChart">{{donutChart}}</canvas>
            </div>
        </div>
        <!-- <div class="column graph">
            <div class="row-1">
                <h3 class="sub-heading-1">Site Visits Growth</h3>
                <span class="material-symbols-outlined">refresh</span>
            </div>
            <div class="row-2">
                <canvas id="lineChart">{{lineChart}}</canvas>
            </div>
        </div> -->

    </div>

    <div class="product-section">
        <div class="column product-info-cards d-flex flex-column gap-15">
            <div class="row-1">
                <h3>Popular Product</h3>
                <form action="" class="d-flex">
                    <div class="radio_button">
                        <input type="radio" name="popular_product_sort" class="form__input" id="Monthly" checked />
                        <label for="Monthly" class="form__label">Monthly</label>
                    </div>
                    <div class="radio_button">
                        <input type="radio" name="popular_product_sort" class="form__input" id="Yearly"/>
                        <label for="Yearly" class="form__label">Yearly</label>
                    </div>
                </form>
            </div>
            <div class="row-2">
                <table class="product-row">
                    <tbody class="d-flex flex-column gap-25">
                        <tr class="product-card d-flex justify-content-md-between gap-10">
                            <td class="d-flex gap-20">
                                <div class="product-image">
                                    <span class="material-symbols-outlined icons">laundry</span>
                                </div>
                                
                                <div class="product-name">
                                    <h4>Product Name</h4>
                                    <p>Category</p>
                                </div>
                            </td>
                            <td class="d-flex gap-20">
                                <div class="revenue">
                                    <h4>&#8377; 20000</h4>
                                    <p>Revenue</p>
                                </div>
                                <div class="profit">
                                    <h4>&#8377; 6000</h4>
                                    <p>Profit</p>
                                </div>
                            </td>
                        </tr>
                        <tr class="product-card d-flex justify-content-md-between gap-10">
                            <td class="d-flex gap-20">
                                <div class="product-image">
                                    <span class="material-symbols-outlined icons">laundry</span>
                                </div>
                                
                                <div class="product-name">
                                    <h4>Product Name</h4>
                                    <p>Category</p>
                                </div>
                            </td>
                            <td class="d-flex gap-20">
                                <div class="revenue">
                                    <h4>&#8377; 15000</h4>
                                    <p>Revenue</p>
                                </div>
                                <div class="profit">
                                    <h4>&#8377; 8000</h4>
                                    <p>Profit</p>
                                </div>
                            </td>
                        </tr>
                        <tr class="product-card d-flex justify-content-md-between gap-10">
                            <td class="d-flex gap-20">
                                <div class="product-image">
                                    <span class="material-symbols-outlined icons">laundry</span>
                                </div>
                                
                                <div class="product-name">
                                    <h4>Product Name</h4>
                                    <p>Category</p>
                                </div>
                            </td>
                            <td class="d-flex gap-20">
                                <div class="revenue">
                                    <h4>&#8377; 12000</h4>
                                    <p>Revenue</p>
                                </div>
                                <div class="profit">
                                    <h4>&#8377; 3000</h4>
                                    <p>Profit</p>
                                </div>
                            </td>
                            
                        </tr>
                        <tr class="product-card d-flex justify-content-md-between gap-10">
                            <td class="d-flex gap-20">
                                <div class="product-image">
                                    <span class="material-symbols-outlined icons">laundry</span>
                                </div>
                                
                                <div class="product-name">
                                    <h4>Product Name</h4>
                                    <p>Category</p>
                                </div>
                            </td>
                            <td class="d-flex gap-20">
                                <div class="revenue">
                                    <h4>&#8377; 10000</h4>
                                    <p>Revenue</p>
                                </div>
                                <div class="profit">
                                    <h4>&#8377; 2500</h4>
                                    <p>Profit</p>
                                </div>
                            </td>
                            
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="column product-info-cards d-flex flex-column gap-15">
            <div class="row-1">
                <h3>Sales Profit by Catogory</h3>
            </div>
            <div class="row-2 category-table">
                <table class="category-row d-flex flex-column gap-20">
                    <tr>
                        <span class="d-flex justify-content-md-between align-items-center">
                            <h4>Jeans</h4>
                            <span class="Category-price">&#8377;15K</span>
                        </span>
                        <progress value="15000" max="100000"></progress>    
                    </tr>
                    <tr>
                        <span class="d-flex justify-content-md-between align-items-center">
                            <h4>Shirts</h4>
                            <span class="Category-price">&#8377;20K</span>
                        </span>
                        <progress value="20000" max="100000"></progress>    
                    </tr>
                    <tr>
                        <span class="d-flex justify-content-md-between align-items-center">
                            <h4>T-shirts</h4>
                            <span class="Category-price">&#8377;11.2K</span>
                        </span>
                        <progress value="11200" max="100000"></progress>
                    </tr>
                    <tr>
                        <span class="d-flex justify-content-md-between align-items-center">
                            <h4>Trousers</h4>
                            <span class="Category-price">&#8377;32K</span>
                        </span>
                        <progress value="32000" max="100000"></progress>    
                    </tr>
                </table>
            </div>
        </div>


     
    </div>

</section>