.gap-24 {
    gap: 24px;
}

.invisibilty{
    color: transparent !important;

}

/* #overview-section {
    grid-template-columns: repeat(4, 1fr);
} */

.overall-Info {
    grid-template-columns: repeat(auto-fill, minmax(250px , 1fr));

    /* & .item-1, .item-2, .item-3, .item-4 {
        grid-column: span 1;
    } */
}

.graph-statistics{
    grid-template-columns: repeat(4, 1fr);

    .item-5 {
        grid-row: 1 / span 1;
        grid-column: span 3;
    }
    
    .item-6 {
        grid-row: 1 / span 1;
        grid-column: span 1;
    }
    
    .item-7 {
        grid-row: 2 / span 1;
        grid-column: span 3;
    }
    
    .item-8 {
        grid-row: 2 / span 1;
        grid-column: span 1;
    }

}



.item-1 {
    & .icons {
        color: rgb(var(--blue-clr));
        background: linear-gradient(327deg, rgb(var(--blue-clr), 0.2), rgba(255, 255, 255, 0));
    }
}

.item-2 {
    & .icons {
        color: rgb(var(--yellow-clr));
        background: linear-gradient(327deg, rgb(var(--yellow-clr), 0.2), rgba(255, 255, 255, 0));
    }
}

.item-3 {
    & .icons {
        color: rgb(var(--green-clr));
        background: linear-gradient(327deg, rgb(var(--green-clr), 0.2), rgba(255, 255, 255, 0));
    }
}

.item-4 {
    & .icons {
        color: rgb(var(--red-clr));
        background: linear-gradient(327deg, rgb(var(--red-clr), 0.2), rgba(255, 255, 255, 0));
    }
}

#lineChart {
    width: 100% !important;
    max-height: 300px !important;
}

#donutChart {
    width: 300px !important;
    height: 300px !important;
}

.category-table {

    & .category-row {
        width: 100%;
    }

    & progress {
        width: 100%;
        border-radius: 20px;
        height: 9px;

        &::-webkit-progress-bar {
            border: none;
            border-radius: 20px;
            background-color: rgb(var(--blackClr), 0.7);
        }

        &::-webkit-progress-value {
            border-radius: 20px;
            background-color: rgb(var(--primaryClr));
        }
    }
}



#overview-section {

    & .row-1 {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-block-end: 10px;
        border-block-end: 1px solid rgb(var(--textClr), 0.1);
    }

    & .row-2 {
        width: 100%;
        display: flex;
        text-align: right;

        & span {
            color: rgb(var(--blackClr), 0.7);
            font-size: 14px !important;
        }

        & .value {
            font-size: 12px !important;
        }

        & p {
            color: rgb(var(--blackClr), 0.7);
            font-weight: 500;
        }
    }

    & .card-value {
        font-size: 26px;
        font-weight: 500;
    }

    & .row-1 {
        padding-block-end: 0px;
        border-block-end: 0px solid rgb(var(--textClr), 0.1);
    }

    & .icons {
        font-size: 2.5rem;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        height: 70px;
        width: 70px;
    }

    /* Chart-section */

    & .graph {

        & .row-2 {
            justify-content: center;
        }
    }

    & .product-info-cards {

        & .product__table {
            overflow: auto;

            & .product-row {
                text-wrap: nowrap;

                & .icons {
                    background: none;

                }
            }
        }

        & .product-image {

            & img {
                width: 40px;
                height: 50px;
                border-radius: 5px;
                object-fit: cover;
            }
        }

        & .product-name {
            min-width: 200px;
        }

        & .revenue {
            color: rgb(var(--blue-clr));
        }

        & .profit {
            color: rgb(var(--green-clr));
        }

        & .loss {
            color: rgb(var(--danger));
        }
    }
}

input[type="radio"] {
    display: none;
}

label {
    font-weight: 500;
    padding: 5px 13px;
    border-radius: 3px;
}

input[type="radio"]:checked+label {
    background-color: rgb(var(--primaryClr), 1);
    color: rgb(var(--whiteClr));
}

.refresh_icons {
    font-size: 22px;
    color: rgb(var(--text-gray));
    transition: all 0.4s ease-in-out;

    &:hover {
        transform: rotate(180deg);
    }
}

@media screen and (max-width: 992px) {

    .graph-statistics{
        
            .item-5 {
                grid-row: 1 / span 1;
                grid-column: span 4;
            }
        
            .item-6 {
                grid-row: 2 / span 1;
                grid-column: span 4;
            }
        
            .item-7 {
                grid-row: 3 / span 1;
                grid-column: span 4;
            }
        
            .item-8 {
                grid-row: 4 / span 1;
                grid-column: span 4;
            }


    }

    #overview-section {

        & .card-value {
            font-size: 26px;
        }

        & .icons {
            font-size: 2.5rem;
        }
    }
}


@media screen and (max-width: 768px) {
    h1{
        font-size: 16px !important;
    }

    h4{
        font-size: 14px !important;
    }

    td p{
        font-size: 12px;
    }

    .gap-24{
        gap: 15px;
    }

    .product-name {

        & .img-title{
          width: 10ch;
          text-overflow: ellipsis;
          overflow: hidden;  
        }
    }
}

@media screen and (max-width: 480px) {
    #overview-section {
        & .card-value {
            font-size: 24px;
        }

        & .icons {
            font-size: 2rem;
        }

    }
}