<div class="container  d-flex flex-column gap-20">
  <div class="d-flex justify-content-md-between heading__section">
    <h2 class="d-flex align-item-center">Customize About Page</h2>
    <div class="d-flex gap-10">
      <!--  [disabled]="DealForm.invalid" -->
      <button class="Edit__btn btn btn-xs btn-rounded" (click)="EditClicked()" *ngIf="!Edit">Edit</button>
      <button class="cancel__btn btn btn-xs btn-rounded" (click)="EditClicked()" *ngIf="Edit">Cancel</button>
      <button class="save__btn btn btn-xs btn-rounded" (click)="Save()" *ngIf="Edit">Save</button>
    </div>
  </div>


  <form [formGroup]="AboutPageForm" class="d-flex flex-column gap-20">

    <!--  BASIC INFO  START -->
    <div class="d-flex flex-column gap-20 basicInfo" formGroupName="BasicInfo">
      <div class="d-flex justify-content-md-between">
        <h2 class="common__h2">Basic Info</h2>

        <!-- <div class="slide-button tooggle__btn">
      <input type="checkbox"   formControlName="active"   id="basicInfo" (change)="ActiveStatus($event,'BasicInfo')">
      <label for="basicInfo"></label>
    </div> -->

      </div>

      <div class="d-flex gap-20">

        <div class="ImageDiv d-flex flex-wrap gap-10 relative" style="height: fit-content;">

          <div class="common common1 relative ">
            <img [src]="getStoreImages(0)" *ngIf="getStoreImages(0) && !Edit">
            <img [src]="getStoreImages(0)" class="image__uploaded absolute mw100 mh100"
              *ngIf="getStoreImages(0) && Edit">
            <span class="material-symbols-outlined remove-btn pointer">
              close
            </span>
            <div *ngIf="Edit" class="d-flex flex-column align-item-center img__div justify-content-center gap-10">
              <label for="backgroundImage0" class="upload__div d-flex flex-center">
                <span class="upload_icon material-symbols-outlined">
                  cloud_upload
                </span>
              </label>
              <input type="file" class="image__upload__input" [id]="'backgroundImage0'"
                accept="image/jpg, image/jpeg, image/png" (input)="ImageUploadHandler($event,'BasicInfo',0)">
              <small class="banner-label">Upload Image</small>
            </div>

          </div>
          <div class="common common2 relative">
            <img [src]="getStoreImages(1)" *ngIf="getStoreImages(1) && !Edit">
            <img [src]="getStoreImages(1)" class="image__uploaded absolute mw100 mh100"
              *ngIf="getStoreImages(1) && Edit">
            <span class="material-symbols-outlined remove-btn pointer">
              close
            </span>

            <div *ngIf="Edit"
              class="d-flex flex-column align-item-center img__div height-100 justify-content-center gap-10">
              <label for="backgroundImage1" class="upload__div d-flex flex-center">
                <span class="upload_icon material-symbols-outlined">
                  cloud_upload
                </span>
              </label>
              <input type="file" class="image__upload__input" [id]="'backgroundImage1'"
                accept="image/jpg, image/jpeg, image/png" (input)="ImageUploadHandler($event,'BasicInfo',1)">
              <small class="banner-label">Upload Image</small>
            </div>
          </div>
          <div class="common common3 relative">
            <img [src]="getStoreImages(2)" *ngIf="getStoreImages(2) && !Edit">
            <img [src]="getStoreImages(2)" class="image__uploaded absolute mw100 mh100"
              *ngIf="getStoreImages(2) && Edit">
            <span class="material-symbols-outlined remove-btn pointer">
              close
            </span>
            <div *ngIf="Edit"
              class="d-flex flex-column align-item-center img__div height-100 justify-content-center gap-10">
              <label for="backgroundImage2" class="upload__div d-flex flex-center">
                <span class="upload_icon material-symbols-outlined">
                  cloud_upload
                </span>
              </label>
              <input type="file" class="image__upload__input" [id]="'backgroundImage2'"
                accept="image/jpg, image/jpeg, image/png" (input)="ImageUploadHandler($event,'BasicInfo',2)">
              <small class="banner-label">Upload Image</small>
            </div>
          </div>
          <div class="common common4 relative">
            <img [src]="getStoreImages(3)" *ngIf="getStoreImages(3) && !Edit">
            <img [src]="getStoreImages(3)" class="image__uploaded absolute mw100 mh100"
              *ngIf="getStoreImages(3) && Edit">
            <span class="material-symbols-outlined remove-btn pointer">
              close
            </span>
            <div *ngIf="Edit"
              class="d-flex flex-column align-item-center img__div height-100 justify-content-center gap-10">
              <label for="backgroundImage3" class="upload__div d-flex flex-center">
                <span class="upload_icon material-symbols-outlined">
                  cloud_upload
                </span>
              </label>
              <input type="file" class="image__upload__input" [id]="'backgroundImage3'"
                accept="image/jpg, image/jpeg, image/png" (input)="ImageUploadHandler($event,'BasicInfo',3)">
              <small class="banner-label">Upload Image</small>
            </div>



          </div>


        </div>
        <div class="width-50 d-flex flex-wrap gap-20" formGroupName="content">
          <div class="formControl d-flex flex-column gap-5">
            <label class="form__label">Name<span class="red">*</span></label>
            <input type="text" id="title" formControlName="name" placeholder="Enter Name" class="form__input">
          </div>

          <div class="formControl d-flex flex-column gap-5">
            <label class="form__label">Established Year<span class="red">*</span></label>
            <input type="text" id="title" formControlName="foundedYear" placeholder="Enter Founded Year"
              class="form__input">
            <span
              *ngIf="AboutPageForm.get('BasicInfo')?.get('content')?.get('foundedYear')?.hasError('yearInvalid') && AboutPageForm.get('BasicInfo')?.get('content')?.get('foundedYear')?.touched">
              Please enter a valid value matching the pattern.
            </span>
          </div>


          <div class="width-100 d-flex flex-column gap-5">
            <label class="form__label">Tagline<span class="red">*</span></label>
            <input type="text" id="title" formControlName="tagline" placeholder="Enter Tagline" class="form__input">
          </div>



          <div class="formControl__textArea d-flex flex-column gap-5">
            <label class="form__label">Description<span class="red">*</span></label>
            <textarea rows="3" formControlName="description" placeholder="Enter Description">
        </textarea>
          </div>




          <div class="formControl__textArea d-flex flex-column gap-5">
            <label class="form__label">Growth Description<span class="red">*</span></label>
            <textarea rows="3" formControlName="growthDescription" placeholder="Enter Growth Description">
          </textarea>
          </div>




        </div>

      </div>
      <div class="features d-flex gap-20">
        <div class="d-flex features width-100 flex-column gap-10">
          <h4>Feature 1</h4>
          <div class="d-flex gap-20 flex-wrap" formGroupName="Feature1">
            <div class="width-100 d-flex flex-column gap-5">
              <label class="form__label">Heading<span>*</span></label>
              <input type="text" id="title" formControlName="heading" placeholder="Enter heading" class="form__input">
            </div>
            <div class="width-100 formControl__textArea d-flex flex-column gap-5">
              <label class="form__label">Description<span class="red">*</span></label>
              <textarea rows="2" id="title" formControlName="description" placeholder="Enter Description">
        </textarea>
            </div>

          </div>

        </div>


        <div formGroupName="Feature2" class="d-flex features width-100 flex-column gap-10">
          <h4>Feature 2</h4>
          <div class="d-flex gap-20 flex-wrap">
            <div class="width-100 d-flex flex-column gap-5">
              <label class="form__label">Heading<span class="red">*</span></label>
              <input type="text" id="title" formControlName="heading" placeholder="Enter heading" class="form__input">
            </div>
            <div class="width-100 d-flex flex-column gap-5  formControl__textArea">
              <label class="form__label">Description<span class="red">*</span></label>
              <textarea rows="2" id="title" formControlName="description" placeholder="Enter Description">
    </textarea>
            </div>

          </div>

        </div>
      </div>


    </div>
    <!--  BASIC INFO END -->

   
   <!-- TEAMMEMBERS START -->
    <div class="TeamMembers d-flex flex-column gap-10" formGroupName="TeamMembers">
      <div class="d-flex justify-content-md-between">
        <h2 class="common__h2">Team Members</h2>

        <button class="add__icon btn" (click)="AddTeamMember()">
          <span class="material-symbols-outlined ">
            add
          </span>
        </button>

      </div>


      <div class="d-flex  all__members flex-wrap" formArrayName="memberInfo">
        <ng-container *ngFor="let form of getTeamMembers();let i=index">
          <div class="d-flex flex-column gap-10 flex-wrap member__div ">
            <img [src]="getTeamMemberImage(i)" *ngIf="getTeamMemberImage(i) && !Edit">

            <div *ngIf="Edit"
              class="d-flex flex-column align-item-center img__div justify-content-center gap-10 relative ">
              <label [for]="'teammember'+i" class="upload__div ">
                <span class="upload_icon material-symbols-outlined">
                  cloud_upload
                </span>
              </label>
              <input type="file" class="image__upload__input" [id]="'teammember'+i"
                accept="image/jpg, image/jpeg, image/png" (input)="ImageUploadHandler($event,'TeamMembers',i)">
              <small class="banner-label">Upload Image</small>
              <img [src]="getTeamMemberImage(i)" class="image__uploaded absolute mh100 mw100" *ngIf="getTeamMemberImage(i) && Edit">
            </div>


            <button class="close__icon btn" (click)="RemoveMember(i)">
              <span class="material-symbols-outlined">
                close
              </span>
            </button>


            <div class="width-100" [formGroupName]="i">
              <label class="form__label">Name<span>*</span></label>
              <input type="text" id="title" [formControlName]="'name'" placeholder="Enter Name" class="form__input">
            </div>

          </div>
        </ng-container>
      </div>
    </div>
  </form>
</div>