img {
  max-height: 309px;
}

.row  {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
}

.title {
    margin-bottom: 0px !important;
    line-height: 1.2 !important;
    width: 270px !important;
    height: 96px !important;
    font-size: 36px !important;
    font-weight: 400 !important;
    color: rgb(51,51,51);
}

.col {
display: flex;
    flex-direction: row;
    align-items: center;
    /* padding-inline: 62px !important; */
    justify-content: center;
    padding: 20px;
    /* margin: 0 auto; */
    width: 50%;
    border-radius: 10px;
}

.col:first-child {
  background-color:rgb(236,242,247);
}

.col:last-child {
  background-color:rgb(254,247,247);
}

.subtitle {
  color: rgb(223,65,23);
}


.banner-text {
    display: flex;
    flex-direction: column;
    gap: 13px;
}

.btn-style3 {
    color: #fff;
    font-size: 14px;
    padding: 13px 20px;
    background-color: #df4117;
    text-transform: uppercase;
    font-weight: 600;
    border: 2px solid #df4117;
    border-radius: 10px;
    letter-spacing: .5px;
    display: inline-block;
    align-items: center;
    text-align: center;
    width: 137px;
}

       .col {
            transition: background-color 0.3s ease-in-out; 
            cursor: pointer;
        }

        .col:hover {
            background-color: rgba(0, 0, 0, 0.1); 
        }

.btn-style3:hover {
    color: #df4117;
    background-color: #0000;
    border: 2px solid #df4117;
    box-shadow: 0 0 10px #0000000d;
}

a, a:hover {
    text-decoration: none;
    transition: all .3s ease-in-out 0s;
}

/* a, a:hover {
    text-decoration: none;
    -webkit-transition: all .3s ease-in-out 0s;
    -o-transition: all .3s ease-in-out 0s;
    transition: all .3s ease-in-out 0s;
} */