<section class="section active container" data-section="two">
    <!-- Two Items -->
    <div class="col-part two">

        <div class="category-box">
            <div class="overlay">
                <div class="card-body">
                    <div  class="main-data"><span
                            class="card-title">T-Shirt. </span><span 
                            class="para-font">11% Discount. </span></div>
                    <div class="b-footer"><span
                            class="price"> $8.50 </span><span class="card-btn"> ORDER
                        </span></div>
                </div>

            </div>
            <h2 class="header">Product Offer</h2>
            <p></p>
            <img class="img" src="http://pngimg.com/uploads/polo_shirt/polo_shirt_PNG8173.png" alt="Image Tshirt">
        </div>
        <div class="category-box">
            <div class="overlay">
 <div class="card-body">
                    <div  class="main-data"><span
                            class="card-title">T-Shirt. </span><span 
                            class="para-font">11% Discount. </span></div>
                    <div class="b-footer"><span
                            class="price"> $8.50 </span><span class="card-btn"> ORDER
                        </span></div>
                </div>

            </div>
            <h2 class="header">Product Offer</h2>
            <img class="img" src="http://pngimg.com/uploads/polo_shirt/polo_shirt_PNG8173.png" alt="Image Tshirt">
        </div>

    </div>
</section>