img {
  max-height: 280px;
}

.offer-title {
  line-height: 1.2 !important;
  font-size: 32px !important;
  font-weight: 500 !important;
  color: rgb(51, 51, 51);
  margin-bottom: 30px;
}

/* .col:first-child {
  background-color: rgb(236, 242, 247);
}

.col:last-child {
  background-color: rgb(254, 247, 247);
} */

.subtitle {
  color: rgb(var(--primaryClr));
  font-weight: 500;
}


.banner-text {
  display: flex;
  flex-direction: column;
  gap: 13px;
  width: 50%;
}

.col {
  cursor: pointer;
  filter: saturate(0.9);
  transition: all 0.3s ease-in-out;
}

.col:hover {
  box-shadow: 0 0 5px rgb(var(--blackClr), 0.05);
  filter: saturate(1.2);
}

.btn-style3 {
  color: #fff;
  font-size: 14px;
  padding: 13px 20px;
  background-color: rgb(var(--primaryClr));
  text-transform: uppercase;
  font-weight: 600;
  border-radius: 5px;
  letter-spacing: .5px;
  text-align: center;
  width: 137px;
}

/* 

.btn-style3:hover {
  color: rgb(var(--primaryClr));
  background-color: #0000;
  border: 2px solid rgb(var(--primaryClr));
  box-shadow: 0 0 10px #0000000d;
} */

a,
a:hover {
  text-decoration: none;
  transition: all 0.3s ease-in-out ;
}


@media screen and (max-width: 1024px) {
  img {
    max-height: 240px;
  }

  .col{
    padding: 15px;
    min-height: 240px;
  }

  .offer-title {
    font-size: 28px !important;
    margin-block-end: 20px;
  }  

  .btn-style3 {
    font-size: 12px;
    padding: 10px 12px;
    font-weight: 500;
    width: 123px;
  }
}

@media screen and (max-width: 768px) {
  img {
    max-height: 210px;
  }

  .row{
    flex-wrap: wrap;
  }

  .col{
    padding: 10px;
    width: 100%;
  }

  .subtitle{
    font-size: 14px;
  }

  .offer-title {
    font-weight: 600;
    font-size: 24px !important;
  }  

  .btn-style3 {
    font-size: 12px;
    width: 105px;
  }
}

.col {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  padding-inline: 40px;
  padding-block: 60px;
  width: 50%;
  border-radius: 16px;
}

.left-content {
  width: 60%; 
  padding-right: 20px; 
}

.right-content {
  width: 40%; 
}

.large-image {
  max-width: 253px;
  /* max-height: 222px; */
  display: block;
  margin: 0 auto; 
}
