<header class="header-shadowed" [class.active]="(navbar_scroll_style == true) || (hamburgerOpen)">
    <nav class="navbar container d-flex align-item-center justify-content-md-between relative">
        <div class="branding d-flex gap-10 align-item-center">

            <div [ngClass]="hamburgerOpen ? 'dropdown-active' : ''" class="dropdown pointer"
                (click)="hamburgerOpen = !hamburgerOpen">
                <span></span>
                <span></span>
                <span></span>
            </div>

            <a class="logo" [routerLink]="['/']" (click)="hamburgerOpen = false">
                <picture>
                    <source media="(min-width: 480px)" srcset="../../assets/logo.svg">
                    <img src="../../../../assets/logo-mobile.svg" alt="Trade Vogue Logo">
                </picture>
            </a>
        </div>
        <ul class="d-flex gap-30 nav-items" [class.active]="hamburgerOpen">

            <li class="nav-links relative " (click)="hamburgerOpen = false">
                <a class="d-flex flex-column gap-5 pointer" [routerLink]="['/explore']"
                    [queryParams]="{ gender: 'male'}">
                    Men
                </a>
                <ul class="sub-categories d-flex flex-column gap-10">
                    <li *ngFor="let category of categories.men">
                        <a [routerLink]="['/explore']" [queryParams]="{ gender: 'male' , category: category}">
                            {{category}}
                        </a>
                    </li>
                </ul>
            </li>
            <li class="nav-links relative" (click)="hamburgerOpen = false">
                <a class="d-flex flex-column gap-5 pointer" [routerLink]="['/explore']"
                    [queryParams]="{ gender: 'female'}">
                    Women
                </a>
                <ul class="sub-categories d-flex flex-column gap-10">
                    <li *ngFor="let category of categories.women">
                        <a [routerLink]="['/explore']" [queryParams]="{ gender: 'female' , category: category}">
                            {{category}}
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
        <ul class="navbar-features d-flex align-item-center gap-20 m-gap-15 s-gap-10">

            <div class="search" [ngClass]="isSearching ? 'search-mobile' : ''">
                <span (click)="isSearching = false" class="back material-symbols-outlined pointer">
                    keyboard_backspace
                </span>
                <app-search-bar (click)="hamburgerOpen = false" class="search-bar"
                    [searchPlaceholder]="'Search Products...'" (searchQuery$)="searchExplore($event)"></app-search-bar>
            </div>
            <span (click)="isSearching = !isSearching; hamburgerOpen = false"
                class="search-icon-mobile material-symbols-outlined">
                search
            </span>
            <li>
                <a class="icons" href="javscript:void(0);" routerLink="/usersetting/wishlist">
                    <span class="wishlist_count material-symbols-outlined" *ngIf="purchaser != ''">
                        favorite
                        <span class="count" id="wishList">{{wishlistCount}}</span>
                    </span>
                </a>
            </li>
            <li>
                <a class="icons" [routerLink]="['/cart']">
                    <span class="material-symbols-outlined">
                        shopping_cart
                        <span *ngIf="cart_count > 0" class="count" id="inventory">{{ cart_count }}</span>
                    </span>
                </a>
            </li>
            <li>
                <a class="icons" href="javscript:void(0);">
                    <span class="material-symbols-outlined">person</span>
                </a>
                <ul class="sub-items d-flex flex-column gap-15">

                    <li *ngIf="!isUserLogin" class="sub-links d-flex flex-column gap-10">
                        <div class="header d-flex flex-column gap-5">
                            <span style="font-size: 16px;">Welcome</span>
                            <p style="font-weight: 400;">Access your account and manage your orders, cart, wishlist and what not.</p>
                        </div>
                        <div class="d-flex justify-content-md-between mw100 gap-15">
                            <a [routerLink]="['/auth/login']" id="login">
                                <span class="material-symbols-outlined">login</span>
                                <span>Login</span>
                            </a>
                            <a [routerLink]="['/auth/signup']" id="register">
                                <span class="material-symbols-outlined">person_add</span>
                                <span>Register</span>
                            </a>
                        </div>
                    </li>


                    <ul *ngIf="isUserLogin" class="sub-links on-login d-flex flex-column gap-5">

                        <li *ngIf="purchaser!=''" class="name border">
                            Welcome <span style="color: teal;"> {{purchaser}}</span>
                        </li>
                        <li [routerLink]="['usersetting/orders']">Orders</li>
                        <li [routerLink]="['usersetting/wishlist']">Wishlist</li>
                        <li routerLink="/usersetting/addresses">Saved Addresses</li>
                        <li [routerLink]="['help']" class="pointer border">Contact Us</li>
                        <li [routerLink]="['usersetting/profile']" class="edit">
                            Edit Profile</li>
                        <li (click)="onLogout()" class="logout">Logout</li>
                    </ul>
                </ul>
            </li>
        </ul>
    </nav>

    <!-- <nav class="container d-flex align-item-center justify-content-md-between">
        <a [routerLink]="['/']">
            <img class="branding" src="../../assets/logo.svg" alt="Trade Vogue Logo">
        </a>

        <ul class="nav-item d-flex gap-30">
            <li><a [routerLink]="['/']">Home</a></li>
            <li><a [routerLink]="['/explore']">Men</a></li>
            <li><a [routerLink]="['/explore']">Women</a></li>
        </ul>

        <div class="search">
            <app-search-bar></app-search-bar>
        </div>

        <ul class="account-actions d-flex align-item-center gap-20">

            <li class="cart relative">
                <a [routerLink]="['/cart']">
                    <span class="material-symbols-outlined">shopping_cart</span>
                    <span id="inventory_count" class="absolute">{{inventory_count}}</span>
                </a>
                <ul>
                    <li>
                        <a href=""></a>
                    </li>
                    <li>

                    </li>
                </ul>
            </li>

            <li class="relative">
                <a href=""><span class="material-symbols-outlined">person</span> </a> 
                
                <ul class="sub-items">

                    <li class="sub-links">
                        <div>
                            <span>Welcome</span>
                            <p>Access your account and manage your order</p>
                        </div>
                        <div class="d-flex justify-content-md-between gap-20">
                            <a href="" id="login">
                                <span class="material-symbols-outlined">login</span>
                                <span>Login</span>
                            </a>
                            <a href="" id="register">
                                <span class="material-symbols-outlined">person_add</span>
                                <span>Register</span>
                            </a>
                        </div>
                    </li>

                    <li class="sub-links">
                        <a href="">Contact Us</a>
                        <a href="">FAQ</a>
                    </li>
                </ul>
            </li>

        </ul>
    </nav> -->
</header>