.gap-13 {
    gap: 13px;
}

header {
    position: fixed;
    box-shadow: 0 2px 5px rgb(var(--text-black), 0.1);
    letter-spacing: 1.2px;
    font-weight: 500;
    width: 100%;
    transition: all 0.3s ease-in-out;
    z-index: 97;
    /* padding-block: 20px; */

    & .navbar {
        height: 80px;
        transition: all 0.3s ease-in-out;
    }

    & .branding {
        height: 100%;

        & img {
            height: 60px;
            transform: translate(-7px, 2px);
        }

        & .dropdown {
            display: none;
        }
    }

    & .nav-links a,
    .navbar-features .icons {
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        text-transform: uppercase;
        transition: all 0.3s ease-in-out;
        font-size: 14px !important;

    }

    & .nav-items {
        height: 100%;

        & li {
            min-width: 6ch;
            position: relative;
        }

        & li:hover a:is(:hover, :focus) {
            color: rgb(var(--primary));
        }
    }
}

header.active {
    box-shadow: 0 5px 10px rgb(var(--text-black), 0.1);
    background-color: rgb(var(--text-white), 0.8);
    backdrop-filter: blur(10px);
    padding-block: 0;

    & .navbar {
        height: 80px;
    }
}

.search {
    height: 40px;
}

/* .search.sub-items{
    padding: 0px !important;

    & .search-bar{
        border: 0;
        outline: none;
        padding-inline-start: 10px;
        padding-block: 10px;
        padding-inline-end: 10px;
    }

    & .search-bar + button{
        display: none;
    }
} */

.navbar-features {
    height: 100%;

    & .search-icon-mobile {
        display: none;
    }

    & li {
        height: 100%;
        position: relative;
    }

    & .search {
        & .back {
            display: none;
        }
    }

    & span.material-symbols-outlined {
        font-weight: 300;
        position: relative;
        transition: color 0.1s ease-in-out;
    }

    & li a:hover span.material-symbols-outlined {
        color: rgb(var(--accent));
    }

    & li a {
        height: 100%;

        & .count {
            font-family: 'Poppins';
            position: absolute;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 10px;
            height: 15px;
            width: 15px;
            background-color: rgb(var(--accent), 1);
            color: rgb(var(--text-white), 1);
            inset-inline-end: -5px;
            inset-block-start: -5px;
            border-radius: 100%;
        }

    }


    & .sub-items {
        position: absolute;
        inset-block-start: calc(100%);
        inset-inline-end: 0px;
        z-index: 99;

        width: 250px;
        padding: 20px;

        opacity: 0;
        visibility: hidden;

        background-color: rgba(255, 255, 255, 0.9);
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
        border-radius: 5px;
        backdrop-filter: blur(10px);
        transition: all 0.3s ease-in-out;

        &::before {
            z-index: 5;
            content: "";
            position: absolute;
            display: block;
            height: 0;
            width: 0;
            border-block-end: 10px solid rgba(243, 243, 243, 0.9);
            border-inline-start: 10px solid transparent;
            border-inline-end: 10px solid transparent;
            inset-block-start: -9px;
            inset-inline-end: 4px;
        }

        & .header p {
            font-size: 13px !important;
        }

        & li:last-child {
            & a {
                width: 100%;
                font-size: 14px;
            }
        }

        & .sub-links {
            display: flex;
            flex-direction: column;
            /* gap: 15px; */
            justify-content: flex-start;
            align-items: flex-start;
        }
    }

    /* Content Display */
    & li:hover .sub-items {
        opacity: 1;
        visibility: visible;
    }

    #login,
    #register {
        display: flex;
        align-items: center;
        gap: 8px;
        padding: 10px;
        background-color: rgb(var(--accent), 0.1);
        border-radius: 5px;
        color: rgb(var(--primary), 1);
        text-decoration: none;
        transition: background-color 0.3s, color 0.3s;

        & span:last-child {
            font-size: 13px !important;
        }
    }

    #login:hover,
    #register:hover {
        background-color: rgb(var(--accent), 0.3);
    }

    #login .material-symbols-outlined,
    #register .material-symbols-outlined {
        font-size: 18px;
    }
}


.cart-items {
    & img {
        max-width: 40px;
    }

    & h4 {
        font-size: 12px !important;
    }

    & p {

        font-size: 8px !important;
    }
}

@media screen and (max-width: 768px) {
    .container {
        padding-inline: 10px !important;
    }

    .m-gap-15 {
        gap: 15px !important;
    }

    header {
        & .nav-items {
            height: 0;
            width: 0px;
            width: 100%;
            opacity: 0;
            overflow: hidden;
            position: absolute;
            flex-direction: column;
            gap: 0px;
            inset-block-start: 100%;
            inset-inline-start: 0;
            transition: all 0.5s ease-in-out;
            background-color: rgb(var(--text-white), 0.98);
             backdrop-filter: blur(10px);
            & .nav-links a {
                padding: 15px 20px;
                text-align: left;
            }
        }

        & .nav-items.active {
            height: 100%;
            opacity: 1;
            background-color: red;
        }


        & .branding {

            & .dropdown {
                display: flex;
                position: relative;
                height: 20.5%;
                & span {
                    height: 2px;
                    width: 18px;
                    background-color: rgb(var(--text-black));

                    /* center line*/
                    &:nth-child(1) {
                        position: absolute;
                        top: 45%;
                        transform: translateX(0);
                        opacity: 1;
                    }

                    /* first line */
                    &:nth-child(2) {
                        /* position: absolute; */
                        transform: translateY(0) rotate(0);
                    }

                    /* last line */
                    &:nth-child(3) {
                        position: absolute;
                        bottom: 0%;
                        transform: translateY(0) rotate(0);
                    }
                    transition: all 0.3s ease-in-out;
                }
            }

            & .dropdown-active{
                & span {
                    /* center line*/
                    &:nth-child(1) {
                        transform: translateX(-50%);
                        opacity: 0;
                    }

                    /* first line */
                    &:nth-child(2) {
                        /* position: absolute; */
                        transform: translateY(7.3px) rotate(45deg);
                    }

                    /* last line */
                    &:nth-child(3) {
                        transform: translateY(-7.3px) rotate(-45deg);
                    }
                }
            }

        }

        & .navbar-features {
            & .material-symbols-outlined {
                font-size: 22px !important;
                font-weight: 400;
            }
        }
    }
}

@media screen and (max-width: 480px) {
    .navbar {
        position: relative;
    }

    .s-gap-10 {
        gap: 12px !important;
    }

    .search-icon-mobile {
        display: flex !important;
    }

    .search {
        display: none;
    }

    .search-mobile {
        position: absolute;
        left: 0;
        display: flex;
        width: 100%;
        height: 100%;
        align-items: center;
        justify-content: space-between;
        background-color: white;
        z-index: 6;
        padding: 10px;

        & .back {
            display: flex !important;
            padding-inline: 15px;
            height: 100%;
            font-weight: 300 !important;
            align-items: center;
            border: 1px solid rgba(211, 211, 211, 0.24);
            border-right: 0px;
            border-radius: 5px 0px 0px 5px;
            background-color: rgba(211, 211, 211, 0.24);
            color: rgb(var(--text-black), 0.5);
        }

        & .search-bar {
            /* border: 0; */
            outline: none;
            width: 100%;
            height: 100%;
            border-radius: 0px 5px 5px 0px;

            border: 1px solid rgba(211, 211, 211, 0.24);
            border-left: 0px;

            &:placeholder-shown {
                font-weight: 300 !important;
            }
        }

    }

    & .branding {
        & img {
            height: 40px !important;
        }
    }

    header {
        & .navbar {
            height: 75px;

            & .branding {
                & img {
                    height: 44px !important;
                }
            }
        }

        & .navbar-features {
            /* & .material-symbols-outlined {
                font-size: 18px !important;
            } */

            & li a {
                & .count {
                    font-size: 10px;
                    height: 14px;
                    width: 14px;
                    background-color: rgb(var(--accent), 1);
                    color: rgb(var(--text-white), 1);
                    inset-inline-end: -4px;
                    inset-block-start: -4px;
                    border-radius: 100%;
                }

            }
        }


    }
}


@keyframes fade-out {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@keyframes rotate45 {
    from {
        transform: rotate(0deg) translateY(0px);
        top: 5.5px;
    }

    to {
        transform: rotate(45deg) translateY(-50%);
        top: 50%;
    }
}