<header class="header-shadowed" [class.active]="(navbar_scroll_style == true) || (hamburgerOpen)">
    <nav class="navbar container d-flex align-item-center justify-content-md-between relative"
        [ngClass]="{'padding__lock':secureNavbar}">
        <div class="branding d-flex gap-10 align-item-center">

            <div [ngClass]="hamburgerOpen ? 'dropdown-active' : ''" class="dropdown pointer"
                (click)="hamburgerOpen = !hamburgerOpen">
                <span></span>
                <span></span>
                <span></span>
            </div>

            <a class="logo" [routerLink]="['/']" (click)="hamburgerOpen = false">
                <picture>
                    <source media="(min-width: 480px)" srcset="../../assets/logo.svg" *ngIf="!darkTheme">
                    <source media="(min-width: 480px)" srcset="../../assets/logo-light.svg" *ngIf="darkTheme">

                    <img src="../../../../assets/logo-mobile.svg" alt="Trade Vogue Logo" *ngIf="!darkTheme">
                    <img src="../../../../assets/logo-mobile-light.svg" alt="Trade Vogue Logo" *ngIf="darkTheme">
                </picture>
            </a>

        </div>

        <ng-container *ngIf="!secureNavbar">

            <ul class="d-flex gap-30 nav-items" [class.active]="hamburgerOpen">

                <li class="nav-links relative " (click)="hamburgerOpen = false">
                    <a class="d-flex flex-column gap-5 pointer" [routerLink]="['/explore']"
                        [queryParams]="{ gender: 'male'}">
                        Men
                    </a>
                    <ul class="sub-categories d-flex flex-column gap-10">
                        <li *ngFor="let category of categories.men">
                            <a [routerLink]="['/explore']" [queryParams]="{ gender: 'male' , category: category}">
                                {{category}}
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-links relative" (click)="hamburgerOpen = false">
                    <a class="d-flex flex-column gap-5 pointer" [routerLink]="['/explore']"
                        [queryParams]="{ gender: 'female'}">
                        Women
                    </a>
                    <ul class="sub-categories d-flex flex-column gap-10">
                        <li *ngFor="let category of categories.women">
                            <a [routerLink]="['/explore']" [queryParams]="{ gender: 'female' , category: category}">
                                {{category}}
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
            <ul class="navbar-features d-flex align-item-center gap-20 m-gap-15 s-gap-10">

                <div class="search" [ngClass]="isSearching ? 'search-mobile' : ''">
                    <span (click)="isSearching = false" class="back material-symbols-outlined pointer">
                        keyboard_backspace
                    </span>
                    <div class="search-bar">
                        <app-search-bar (click)="hamburgerOpen = false" [searchPlaceholder]="'Search Products...'"
                            [onButtonClick]="true" (searchQuery$)="searchExplore($event)">
                        </app-search-bar>
                    </div>
                </div>
                <span (click)="isSearching = !isSearching; hamburgerOpen = false"
                    class="search-icon-mobile material-symbols-outlined">
                    search
                </span>
                <li>
                    <a class="icons" aria-label="wishlist" routerLink="/usersetting/wishlist">
                        <span class="wishlist_count material-symbols-outlined" *ngIf="purchaser != ''">
                            favorite
                            <span *ngIf="wishlistCount > 0" class="count" id="wishList">{{wishlistCount}}</span>
                        </span>
                    </a>
                </li>
                <li>
                    <a class="icons pointer" aria-label="notification">
                        <span class="material-symbols-outlined">
                            notifications
                            <span *ngIf="hasVisibleNotifications()" class="count"
                                id="notifications">{{notifications.length}}</span>
                        </span>
                    </a>

                    <ul class="sub-items d-flex flex-column gap-15">

                        <div *ngIf="!hasVisibleNotifications() && !darkTheme"
                            class="noDataFound d-flex flex-column flex-center">
                            <img src="../../../../assets/notification.svg" alt="No Data Found"
                                style="height: 100px !important;">
                        </div>

                        <div *ngIf="!hasVisibleNotifications() && darkTheme"
                            class="noDataFound d-flex flex-column flex-center">
                            <img src="../../../../assets/notification-light.svg" alt="No Data Found"
                                style="height: 100px !important;">
                        </div>

                        <div class="notification-container"
                            *ngIf="notifications.length > 0 && hasVisibleNotifications()">
                            <div class="notification-scroll">
                                <div *ngFor="let notification of visibleNotifications()"
                                    class="notification-item pointer"
                                    (click)="redirectToUrl(notification.notification.url)">
                                    <div class="notification-icon">
                                        <img [src]="notification.notification.icon" alt="Notification Icon">
                                    </div>
                                    <div class="notification-details pointer">
                                        <div class="notification-title">{{ notification.notification.title }}</div>
                                        <div class="notification-body">{{ notification.notification.body }}</div>
                                    </div>
                                </div>
                            </div>
                            <ul *ngIf="!notification.hasFcmToken && !notification.hasPermission;" class="pointer">
                                <li class="subscribe btn-secondary btn-rounded btn-sm"
                                    (click)="subscribeToNotifications()">
                                    <i class="bi bi-bell"></i> Subscribe to Notifications
                                </li>
                            </ul>
                        </div>

                    </ul>

                </li>
                <li>
                    <a class="icons" [routerLink]="['/cart']" aria-label="cart">
                        <span class="material-symbols-outlined">
                            shopping_cart
                            <span *ngIf="cart_count > 0" class="count" id="inventory">{{ cart_count }}</span>
                        </span>
                    </a>
                </li>
                <li>
                    <a class="icons pointer" aria-label="user">
                        <span class="material-symbols-outlined">person</span>
                    </a>
                    <ul class="sub-items d-flex flex-column gap-15">

                        <li *ngIf="!isUserLogin" class="sub-links d-flex flex-column gap-10" >
                            <div class="header d-flex flex-column gap-5 border">
                                <span style="font-size: 16px;">Hello</span>
                                <p style="font-weight: 400; font-size: 13px;">Access your account and manage your orders, cart, wishlist
                                    and what not.</p>
                            </div>
                            <div class="border mw100">
                                <a [routerLink]="['/auth/login']" class="d-flex gap-10 login">
                                    <div class="d-flex flex-center icon">
                                        <span class="material-symbols-outlined icon">login</span>
                                    </div>
                                    <span>Login</span>
                                </a>
                            </div>
                            <div class="border mw100">
                                <a [routerLink]="['/auth/signup']" class="register d-flex gap-10">
                                    <div class="d-flex flex-center icon">
                                        <span class="material-symbols-outlined icon">person_add</span>
                                    </div>
                                    <span>Register</span>
                                </a>
                            </div>
                            <div class="icons pointer " (click)="toggleTheme()">
                                <a class="d-flex gap-10 mode mw100" >
                                    <span class="material-symbols-outlined" *ngIf="!darkTheme">
                                        dark_mode
                                    </span>
                                    <span class="material-symbols-outlined" *ngIf="darkTheme">
                                        light_mode
                                    </span>
                                    <li>{{darkTheme ? 'Switch to Light Mode' : 'Switch to Dark Mode'}}</li>
                                 </a>
                        </div>
                </li>


                <ul *ngIf="isUserLogin" class="sub-links on-login d-flex flex-column gap-10">

                    <li *ngIf="purchaser!=''" class="name border">
                        Hello,<span> {{purchaser}}</span>
                    </li>
                    <li [routerLink]="['dashboard']" *ngIf="UserRole">Dashboard</li>
                    <li [routerLink]="['usersetting/orders']">Orders</li>
                    <li [routerLink]="['usersetting/wishlist']">Wishlist</li>
                    <li routerLink="/usersetting/addresses">Saved Addresses</li>
                    <li [routerLink]="['help']" class="pointer border">Contact Us</li>
                    <li [routerLink]="['usersetting/profile']" class="edit">
                        Edit Profile</li>
                    <li (click)="onLogout()" class="logout border">Logout</li>
                    <li>
                        <a class="icons pointer" (click)="toggleTheme()" class="d-flex gap-10 mode">
                            <span class="material-symbols-outlined" *ngIf="!darkTheme">
                                dark_mode
                            </span>
                            <span class="material-symbols-outlined" *ngIf="darkTheme">
                                light_mode
                            </span>
                            <li>{{darkTheme ? 'Switch to Light Mode' : 'Switch to Dark Mode'}}</li>
                         </a>
                    </li>
                </ul>
            </ul>
            </li>

            </ul>
        </ng-container>

        <ng-container *ngIf="secureNavbar">
            <span class="material-symbols-outlined">
                lock
            </span>
        </ng-container>
    </nav>
</header>

<div [ngClass]="secureNavbar ? 'secure-navbar' : ''"></div>