<header>
    <nav class=" container d-flex align-items-center justify-content-md-between">
        <img class="branding" src="../../assets/logo.png" alt="Trade Vogue Logo">

        <ul class="nav-item d-flex gap-30">
            <li><a href="#">Home</a></li>
            <li><a href="#">Men</a></li>
            <li><a href="#">Women</a></li>
        </ul>

        <div class="search">
            <app-search-bar></app-search-bar>
        </div>

        <ul class="account-actions d-flex gap-20">

            <li><a href="">
                    <span class="material-symbols-outlined">
                        shopping_cart</span></a>
            </li>

            <li><a href="">
                    <span class="material-symbols-outlined">
                        person</span> </a>
            </li>

        </ul>
    </nav>
</header>