footer {

    .bg-color{
        background-color: rgb(var(--blackClr), 0.01);
    }
    .accordian {
        display: none;
    }
    .responsive-links {
        display: none;
    }
    & .footer-content{
        padding-block: 80px;   
        width: 100%;
        color: rgb(var(--textClr));
        

        & .first-col {
            width: 33%;

            & .logo {
                width: 200px;
                transform: translate(-9px, -5px);
            }
        
        }

        & .para-text {
            max-width: 365px;
            margin-block-start: -13px;

            
        }

    }
    
    & p {
        font-size: 14px !important;
    }
    & ul li a {
        display: flex;
        font-size: 14px;
        transition: 0.3s ease-in-out;
        color: rgb(var(--textClr));
        
    }
    & ul li a:hover{
        cursor: pointer;
        color: rgb(var(--primaryClr));

    }

    & .home span, .mobile span, .mail span {
        color: rgb(var(--primaryClr));
    }

    .second-col {
        width: 67%;
    }
    
    & .footer-col{

        width: 25%;

        

        & h4 {
            font-size: 16px !important;
            font-weight: 900 !important;
            margin-block-start: 16px;
        }

    }
    & .contact-info {
        & span {
            font-size: 19px;
        }
    }
    & .medias {
        & .logo-circle {
            margin-block-start: 5px;
            width: 30px;
            height: 30px;
            border-radius: 50%;
            border: 1px solid rgb(var(--textClr), 0.5);
            transition: 0.3s ease-in-out;
        }
        & i {
            font-size: 14px;
            transition: 0.3s ease-in-out;
        }

        & .logo-circle:hover {
            border: 1px solid rgb(var(--primaryClr));
            background-color: rgb(var(--primaryClr));
            cursor: pointer;

            & i {
                color: rgb(var(--whiteClr));
            }

        }
    }
    .copyright-footer {
        padding-block: 20px;
        border-block-start: 0.05px solid rgba(0, 0, 0, 0.5);
        & p{
            color: rgb(var(--text-gray));
            
        }
    }
}

@media screen and (max-width: 1250px) {
    .footer-content {
        padding-block: 80px !important;
        flex-direction: column;

    }
    .first-col {
        width: 100% !important;
    }
    .para-text {
        max-width: 100% !important;
    }
    .second-col {
        width: 100% !important  ;
        margin-block-start: 40px;
        
    }
}
@media screen and (max-width: 990px){
    .second-col {
        display: none;
    }
    .list {
        flex-wrap: wrap;
    }
    .accordian{
        margin-block-start: 30px;
        display: flex !important;
        flex-direction: column;

        & span{
            /* transform: rotate(0); */
            transition: all 0.3s ease-in-out;
        }
    }
    .responsive-links {
        margin-block-start: 30px;
        display: flex !important;
        flex-direction: column;
    }
    .subtitle {
        font-weight: 600;
        font-size: 15px;

        
    }
    .list li:not(:last-child) a::after{
        content: "|";
        display: block;
        /* padding-inline-start: 10px; */
    }
    .list li:not(:last-child) a {
                gap: 10px;
    }
    .acc label{
        display: flex;
        justify-content: space-between;
        padding-block: 15px;
        font-weight: 600;
        font-size: 14px;
        border-block-end: 1px solid rgb(var(--text-gray), 0.5);
    }
    .acc input[type="checkbox"]{
        display: none;
    }
    .sub-links {
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.5s;
    }
    .acc input[type="checkbox"]:checked + label + .sub-links {
        max-height: 400px;
    }
    .acc input[type="checkbox"]:checked + label span{
        transform: rotate(-180deg);
    }
    .acc ul {
        margin-block-start: 15px;
        margin-block-end: 10px;
    }
}
@media screen and (max-width: 490px){
    .footer-content{
        padding-block: 40px !important;
    }
    .section{
        & .subtitle {
            font-size: 14px !important;
        }
        & ul li a {
            font-size: 12px !important;
        }
    }
}
