<footer>
    <div id="footer_content" class="grid relative container">

        
        <div id="footer_contacts">
            <img class="logo" src="./assets/logo.png" alt="Logo">
            <address class="mb-15">Lorem ipsum dolor sit</address>
            <p>sale@tradevogue.com</p>
            <p>+91 62834-15102</p>
            <div id="footer_social_media" class="d-flex">
                <a href="#" class="footer-link d-flex align-items-center justify-content-center" id="instagram">
                    <i class="fa-brands fa-instagram"></i>
                </a>

                <a href="#" class="footer-link d-flex align-items-center justify-content-center" id="facebook">
                    <i class="fa-brands fa-facebook-f"></i>
                </a>

                <a href="#" class="footer-link d-flex align-items-center justify-content-center" id="whatsapp">
                    <i class="fa-brands fa-whatsapp"></i>
                </a>
            </div>
        </div>

        <ul class="footer-list d-flex flex-column">
            <li>
                <h3 class="fs-16 text-upper">Contact</h3>
            </li>
            <li>
                <a href="#" class="footer-link">About</a>
            </li>
            <li>
                <a href="#" class="footer-link">Careers</a>
            </li>
            <li>
                <a href="#" class="footer-link">Affiliates</a>
            </li>
            <li>
                <a href="#" class="footer-link">Blog</a>
            </li>
            <li>
                <a href="#" class="footer-link">Contact Us</a>
            </li>
        </ul>

        <ul class="footer-list d-flex flex-column">
            <li>
                <h3 class="fs-16 text-upper">Shop</h3>
            </li>
            <li>
                <a href="#" class="footer-link">New Arrivals</a>
            </li>
            <li>
                <a href="#" class="footer-link">Accessories</a>
            </li>
            <li>
                <a href="#" class="footer-link">Men</a>
            </li>
            <li>
                <a href="#" class="footer-link">Women</a>
            </li>
            <li>
                <a href="#" class="footer-link">Shop All</a>
            </li>
        </ul>


        <ul class="footer-list d-flex flex-column">
            <li>
                <h3 class="fs-16 text-upper">Help</h3>
            </li>
            <li>
                <a href="#" class="footer-link">Customer Service</a>
            </li>
            <li>
                <a href="#" class="footer-link">My Account</a>
            </li>
            <li>
                <a href="#" class="footer-link">Men</a>
            </li>
            <li>
                <a href="#" class="footer-link">Women</a>
            </li>
            <li>
                <a href="#" class="footer-link">Shop All</a>
            </li>
        </ul>

        <div id="footer_subscribe" class="d-flex flex-column">
            <h3 class="text-upper">Subscribe</h3>

            <p>
                Enter your e-mail to get notified about
                our news solutions
            </p>

            <div id="input_group" class="d-flex align-items-center">
                <input type="email" id="email" placeholder="Your email address">
                <button>
                    <i class="fa-regular fa-envelope"></i>
                </button>
            </div>
        </div>
    </div>

    <div id="border-bottom"></div>

    <div id="footer_copyright" class="d-flex justify-content-center">
       © 2023 all rights reserved
    </div>
</footer>