<footer>
    <div class="bg-color">
        <div class="container footer-content d-flex ">

            <div class="first-col d-flex flex-column gap-20">

                <img src="../../../../assets/logo.svg" alt="logo" class="logo" *ngIf="!theme" [routerLink]="['/']">
                <img src="../../../../assets/logo-light.svg" alt="logo" class="logo" *ngIf="theme" [routerLink]="['/']">


                <p class="para-text letter-spacing">Dress Boldly, Be Unapologetically You with Our Fashion.</p>

                <div class="contact-info d-flex flex-column gap-10">
                    <div class="home d-flex gap-10">
                        <span class="material-symbols-outlined">home</span>
                        <p >{{socialsData?.address}}</p>
                    </div>
                    <div class="mobile d-flex gap-10">
                        <span class="material-symbols-outlined">phone_iphone</span>
                        <p >{{socialsData?.mobile}}</p>
                    </div>
                    <div class="mail d-flex gap-10">
                        <span class="material-symbols-outlined">mail</span>
                        <p><a href="mailto:{{socialsData?.email}}" target="_blank">{{socialsData?.email}}</a></p>
                    </div>
                </div>
                <div class="medias d-flex gap-10">
                    <div class="logo-circle d-flex justify-content-center align-item-center">
                        <a href="{{socialsData?.facebook}}" target="_blank" aria-label="Facebook">
                            <i class="fa-brands fa-facebook-f"></i>
                        </a>
                    </div>
                    <div class="logo-circle d-flex justify-content-center align-item-center">
                        <a href="{{socialsData?.instagram.link}}" target="_blank" aria-label="Instagram"><i class="fa-brands fa-instagram"></i></a>
                    </div>
                    <div class="logo-circle d-flex justify-content-center align-item-center">
                        <a href="https://wa.me/{{socialsData?.whatsapp}}" target="_blank" aria-label="Whatsapp">
                            <i class="fa-brands fa-whatsapp"></i>
                        </a>
                    </div>
                </div>

            </div>
            <div class="second-col d-flex">
                <div class="footer-col d-flex flex-column gap-30">
                    <p class="title__heading" >TOP CATEGORIES</p >
                    <ul class="d-flex flex-column gap-20">
                        <ng-container *ngFor="let category of categories">
                            <li role="button">
                                <a [routerLink]="['/explore']" [queryParams]="{category: category}">
                                    {{category | titlecase}}</a>
                            </li>
                        </ng-container>
                    </ul>
                </div>
                <div class="footer-col d-flex flex-column gap-30">
                    <p class="title__heading" >MY ACCOUNT</p >
                    <ul class="d-flex flex-column gap-20">
                        <li role="button">
                            <a routerLink="/usersetting/profile" aria-label="Account"  (click)=" show('profile')">Account</a>
                        </li>
                        <li role="button">
                            <a href="#" routerLink="/cart">Cart</a>
                        </li>
                        <li role="button">
                            <a routerLink="/usersetting/orders" aria-label="Orders" (click)="show('orders')">Orders</a>
                        </li>
                        <li role="button">
                            <a routerLink="/usersetting/wishlist" aria-label="Wishlist">Wishlist</a>
                        </li>
                    </ul>
                </div>
                <div class="footer-col d-flex flex-column gap-30">
                    <p class="title__heading" >CUSTOMER SERVICE</p >
                    <ul class="d-flex flex-column gap-20">
                        <li role="button">
                            <a routerLink="/help" aria-label="Contact Us">Contact Us</a>
                        </li>
                        <li role="button">
                            <a href="#" routerLink="/t&c" aria-label="Terms & Conditions">Terms & Conditions</a>
                        </li>  
                    </ul>
                </div>
                <div class="footer-col d-flex flex-column gap-30">
                    <p class="title__heading" >USEFUL LINKS</p >
                    <ul class="d-flex flex-column gap-20">
                        <li role="button">
                            <a href="#" routerLink="/about"  aria-label="About us">About us</a>
                        </li>
                        
                        <li role="button">
                            <a routerLink="/faq" aria-label="FAQs">FAQs</a>
                        </li>
                    </ul>
                </div>
            
               
            </div>
        <div class="responsive-links gap-15">
            <div class="section d-flex flex-column gap-5">
                <h5 class="subtitle">TOP CATEGORIES</h5>
                <ul class="d-flex gap-10 list">
                    <ng-container *ngFor="let category of categories">
                        <li role="button">
                            <a [routerLink]="['/explore']" [queryParams]="{category: category}">
                                {{category | titlecase}}</a>
                        </li>
                    </ng-container>
                </ul>
            </div>
            <div class="section d-flex flex-column gap-5">
                <h5 class="subtitle">CUSTOMER SERVICE</h5>
                <ul class="d-flex gap-10 list">
                    <li role="button">
                        <a routerLink="/help" aria-label="Contact Us">Contact Us</a>
                    </li>
                    <li role="button">
                        <a routerLink="/t&c" aria-label="Cancellation">Cancellation</a>
                    </li>
                    <li role="button">
                        <a routerLink="/t&c" aria-label="Return">Return</a>
                    </li>
                </ul>
            </div>
            <div class="section d-flex flex-column gap-5">
                <h5 class="subtitle">USEFUL LINKS</h5>
                <ul class="d-flex gap-10 list">
                    <li role="button">
                        <a href="#" routerLink="/about" aria-label="About us">About us</a>
                    </li>
                    <li role="button">
                        <a href="#" routerLink="/t&c" aria-label="Terms & Conditions">Terms & Conditions</a>
                    </li>
                    <li role="button">
                        <a routerLink="/faq" aria-label="FAQs">FAQs</a>
                    </li>
                </ul>
            </div>
            <div class="section d-flex flex-column gap-5">
                <h5 class="subtitle">MY ACCOUNT</h5>
                <ul class="d-flex gap-10 list">
                    <li role="button">
                        <a routerLink="/usersetting/profile" aria-label="Account" >Account</a>
                    </li>
                    <li role="button">
                        <a href="#" routerLink="/cart" aria-label="My cart">My cart</a>
                    </li>
                    <li role="button">
                        <a routerLink="/usersetting/orders" aria-label="Order history" (click)="show('orders')">Order history</a>
                    </li>
                </ul>
            </div>
        </div>
        </div>
    </div>
    <div class="copyright-footer d-flex justify-content-center align-item-center">
        <p >Copyright © 2023</p>
    </div>
</footer>
