<section class="faq">
    <div class="container">
        <div class="accordion d-flex align-items-center">

            <div class="section-header">
                <h2 class="section-heading">
                    FAQ's
                </h2>
                <a routerLink="/faq"
                    class="section-sub-heading pointer d-flex align-items-center justify-content-center gap-5">
                    More Questions?
                    <span class="material-symbols-outlined">
                        open_in_new
                    </span>
                </a>
            </div>

            <ul class="accordion">
                <li>
                  <input type="radio" name="accordion" id="first">
                    <label for="first">Do I need to create account for buy products ?</label>
                    <div class="content">
                        <p>The moon is visible during the day due to its orbit around the Earth. Sometimes, the moon\'s position aligns with the sun and Earth in a way that part of the moon is illuminated and facing us. This makes it visible even in daylight.</p>
                    </div>
                </li>
                <li>
                  <input type="radio" name="accordion" id="second">
                    <label for="second">How I Return back my product ?</label>
                    <div class="content">
                        <p>The moon is visible during the day due to its orbit around the Earth. Sometimes, the moon\'s position aligns with the sun and Earth in a way that part of the moon is illuminated and facing us. This makes it visible even in daylight.</p>
                    </div>
                </li>
                <li>
                  <input type="radio" name="accordion" id="third">
                    <label for="third">What Payment Methods are Available ?</label>
                    <div class="content">
                        <p>The moon is visible during the day due to its orbit around the Earth. Sometimes, the moon\'s position aligns with the sun and Earth in a way that part of the moon is illuminated and facing us. This makes it visible even in daylight.</p>
                    </div>
                </li>
                <li>
                  <input type="radio" name="accordion" id="fourth">
                    <label for="fourth">How can I track my order ?</label>
                    <div class="content">
                        <p>The moon is visible during the day due to its orbit around the Earth. Sometimes, the moon\'s position aligns with the sun and Earth in a way that part of the moon is illuminated and facing us. This makes it visible even in daylight.</p>
                    </div>
                </li>
            </ul>


            <!-- <div class="faq-accordions">
                <div class="accordion-item" *ngFor="let question of faqQuestions; let i = index">
                    <button id="accordion-button-{{i}}" [attr.aria-expanded]="question.isExpanded ? 'true' : 'false'"
                        (click)="toggleAccordion(i)">
                        <span class="accordion-title">{{ question.title }}</span>
                        <span class="icon" [ngClass]="{'expanded': question.isExpanded}"></span>
                    </button>
                    <div class="accordion-content" [style.maxHeight.px]="question.isExpanded ? contentMaxHeight : 0"
                        [style.opacity]="question.isExpanded ? 1 : 0">
                        <p>{{ question.content }}</p>
                    </div>
                </div>
            </div> -->
        </div>
    </div>
</section>
<!-- <footer>
    <div id="footer_content" class="grid relative container">
        <div id="footer_contacts">
            <img class="logo" src="./assets/logo-light.svg" alt="Logo">
            <p>sale@tradevogue.com</p>
            <p>+91 62834-15102</p>
            <div id="footer_social_media" class="d-flex">
                <a href="#" class="footer-link d-flex align-items-center justify-content-center" id="instagram">
                    <i class="fa-brands fa-instagram fa-2xs"></i>
                </a>

                <a href="#" class="footer-link d-flex align-items-center justify-content-center" id="facebook">
                    <i class="fa-brands fa-facebook-f fa-2xs media"></i>
                </a>

                <a href="#" class="footer-link d-flex align-items-center justify-content-center" id="whatsapp">
                    <i class="fa-brands fa-whatsapp media"></i>
                </a>
            </div>
        </div>

        <ul class="footer-list d-flex flex-column">
            <li>
                <h3 class="text-upper">Contact</h3>
            </li>
            <li>
                <a href="#" class="footer-link">About</a>
            </li>
            <li>
                <a href="#" class="footer-link">Careers</a>
            </li>
            <li>
                <a href="#" class="footer-link">Affiliates</a>
            </li>
            <li>
                <a href="#" class="footer-link">Blog</a>
            </li>
            <li>
                <a href="#" class="footer-link">Contact Us</a>
            </li>
        </ul>

        <ul class="footer-list d-flex flex-column">
            <li>
                <h3 class="text-upper">Shop</h3>
            </li>
            <li>
                <a href="#" class="footer-link">New Arrivals</a>
            </li>
            <li>
                <a href="#" class="footer-link">Accessories</a>
            </li>
            <li>
                <a href="#" class="footer-link">Men</a>
            </li>
            <li>
                <a href="#" class="footer-link">Women</a>
            </li>
            <li>
                <a href="#" class="footer-link">Shop All</a>
            </li>
        </ul>

        <div id="footer_subscribe" class="d-flex flex-column">
            <h3 class="text-upper">Subscribe</h3>

            <p>
                Enter your e-mail to get notified about
                exciting offers and updates.
            </p>

            <div>
                <form action="" class="mail d-flex align-items-center gap-0">
                    <input type="text" class="mail-bar d-flex align-items-center" placeholder="E-Mail">
                    <button><span class="material-symbols-outlined">
                            mail
                        </span>
                    </button>
                </form>
            </div>

            <div id="input_group" class="d-flex align-items-center">
                    <input type="email" id="email" placeholder="Your email address">
                    <button>
                        <i class="fa-regular fa-envelope"></i>
                    </button>
                </div>
        </div>
    </div>
    <div id="footer_copyright" class="d-flex justify-content-center">
        © 2023 all rights reserved
    </div>
</footer> -->
<footer>
    <div class="container footer-content d-flex">
        <div class="footer-sections">
            <img class="logo" src="./assets/logo-light.svg" alt="Logo">
            <p>sale@tradevogue.com</p>
            <p>+91 62834-15102</p>
            <div class="social-medias d-flex">
                <a href="#" class="logo-circle d-flex justify-content-center align-items-center">
                    <i class="fa-brands fa-instagram"></i>
                </a>
                <a href="#" class="logo-circle d-flex justify-content-center align-items-center">
                    <i class="fa-brands fa-facebook-f"></i>
                </a>
                <a href="#" class="logo-circle d-flex justify-content-center align-items-center">
                    <i class="fa-brands fa-whatsapp"></i>
                </a>
            </div>
        </div>
        <div class="footer-sections d-flex flex-column gap-15">
            <h4>CONTACT</h4>
            <ul class="d-flex flex-column gap-5">
                <li>
                    <a href="#">About</a>
                </li>
                <li>
                    <a href="#">Careers</a>
                </li>
                <li>
                    <a href="#">Affiliates</a>
                </li>
                <li>
                    <a href="#">Blog</a>
                </li>
                <li>
                    <a href="#">Contact Us</a>
                </li>
            </ul>
        </div>
        <div class="footer-sections d-flex flex-column gap-15">
            <h3>SHOP</h3>
            <ul class="d-flex flex-column gap-5">
                <li>
                    <a href="#" class="footer-link">New Arrivals</a>
                </li>
                <li>
                    <a href="#" class="footer-link">Accessories</a>
                </li>
                <li>
                    <a href="#" class="footer-link">Men</a>
                </li>
                <li>
                    <a href="#" class="footer-link">Women</a>
                </li>
                <li>
                    <a href="#" class="footer-link">Shop All</a>
                </li>
            </ul>
        </div>
        <div class="footer-sections d-flex flex-column gap-15">
            <h3>SUBSCRIBE</h3>
            <p>
                Enter your e-mail to get notified about
                exciting offers and updates.
            </p>

            <div>
                <form action="" class="mail d-flex align-items-center gap-0">
                    <input type="text" class="mail-bar d-flex align-items-center" placeholder="E-Mail">
                    <button><span class="material-symbols-outlined">
                            mail
                        </span>
                    </button>
                </form>
            </div>
        </div>


    </div>

</footer>