<div class="container">
<div class="card-container grid">

    <div class="card-item-template">
        <div class="card-item-header">
            <img src="https://via.placeholder.com/400x500" alt="Product Image">
        </div>

        <div class="card-item-content d-flex flex-column">
            <div class="type-wishlist d-flex justify-content-md-between">
                <h6>Type</h6>
                <i class="fa-regular fa-heart"></i>
            </div>
            <h3>Product Name</h3>
            <p>$300</p>
        </div>
    </div>

    <div class="card-item-template">
        <div class="card-item-header">
            <img src="https://via.placeholder.com/400x500" alt="Product Image">
        </div>

        <div class="card-item-content d-flex flex-column">
            <div class="type-wishlist d-flex justify-content-md-between">
                <h6>Type</h6>
                <i class="fa-regular fa-heart"></i>
            </div>
            <h3>Product Name</h3>
            <p>$300</p>
        </div>
    </div><div class="card-item-template">
        <div class="card-item-header">
            <img src="https://via.placeholder.com/400x500" alt="Product Image">
        </div>

        <div class="card-item-content d-flex flex-column">
            <div class="type-wishlist d-flex justify-content-md-between">
                <h6>Type</h6>
                <i class="fa-regular fa-heart"></i>
            </div>
            <h3>Product Name</h3>
            <p>$300</p>
        </div>
    </div><div class="card-item-template">
        <div class="card-item-header">
            <img src="https://via.placeholder.com/400x500" alt="Product Image">
        </div>

        <div class="card-item-content d-flex flex-column">
            <div class="type-wishlist d-flex justify-content-md-between">
                <h6>Type</h6>
                <i class="fa-regular fa-heart"></i>
            </div>
            <h3>Product Name</h3>
            <p>$300</p>
        </div>
    </div><div class="card-item-template">
        <div class="card-item-header">
            <img src="https://via.placeholder.com/400x500" alt="Product Image">
        </div>

        <div class="card-item-content d-flex flex-column">
            <div class="type-wishlist d-flex justify-content-md-between">
                <h6>Type</h6>
                <i class="fa-regular fa-heart"></i>
            </div>
            <h3>Product Name</h3>
            <p>$300</p>
        </div>
    </div><div class="card-item-template">
        <div class="card-item-header">
            <img src="https://via.placeholder.com/400x500" alt="Product Image">
        </div>

        <div class="card-item-content d-flex flex-column">
            <div class="type-wishlist d-flex justify-content-md-between">
                <h6>Type</h6>
                <i class="fa-regular fa-heart"></i>
            </div>
            <h3>Product Name</h3>
            <p>$300</p>
        </div>
    </div><div class="card-item-template">
        <div class="card-item-header">
            <img src="https://via.placeholder.com/400x500" alt="Product Image">
        </div>

        <div class="card-item-content d-flex flex-column">
            <div class="type-wishlist d-flex justify-content-md-between">
                <h6>Type</h6>
                <i class="fa-regular fa-heart"></i>
            </div>
            <h3>Product Name</h3>
            <p>$300</p>
        </div>
    </div><div class="card-item-template">
        <div class="card-item-header">
            <img src="https://via.placeholder.com/400x500" alt="Product Image">
        </div>

        <div class="card-item-content d-flex flex-column">
            <div class="type-wishlist d-flex justify-content-md-between">
                <h6>Type</h6>
                <i class="fa-regular fa-heart"></i>
            </div>
            <h3>Product Name</h3>
            <p>$300</p>
        </div>
    </div>

</div>
</div>