<div class="container">
    <div class="section-header">
        <h2 class="section-heading">
            Latest Arrival
        </h2>
        <p class="section-sub-heading">
            Explore latest apparel for this fall
        </p>
    </div>
    <div class="card-container grid">
        <app-card-template></app-card-template>
        <app-card-template></app-card-template>
        <app-card-template></app-card-template>
        <app-card-template></app-card-template>

        <app-card-template></app-card-template>
        <app-card-template></app-card-template>
        <app-card-template></app-card-template>
        <app-card-template></app-card-template>
    </div>
</div>