<!-- <app-navbar></app-navbar> -->
<section>
    <div class="helpBox d-flex justify-content-center align-item-center">

        <h2>Contact Us</h2>
        <!-- <p>Got a question? We had love to hear from you. Send us a message and we will respond as soon as possible.
            </p> -->
    </div>
    <div class="container">
        <!-- <div class="contact-text">
            <h1>Contact Us</h1>
            <p>Got a question? We had love to hear from you. Send us a message and we will respond as soon as possible.
            </p>
        </div> -->
        <!-- <div class="map-wrap">
            <iframe class="map"
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3410.7265650585614!2d75.70256857552758!3d31.255991974336148!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x391a5f5e9c489cf3%3A0x4049a5409d53c300!2sLovely%20Professional%20University!5e0!3m2!1sen!2sin!4v1693021361397!5m2!1sen!2sin"
                width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div> -->

        <div class="contact-content d-flex gap-30">
            <div class="contact-form-warp">

                <!-- <h6 class="message">Drop us message</h6> -->
                <div class="review-form">
                    <h2 class="d-flex gap-20 align-item-center margin-bottom">
                        Drop us message
                    </h2>
                    <form class="d-flex flex-column gap-5">
                        <label for="ContactFormName">Your Name</label>
                        <input type="text" placeholder="Enter your name" class="" name="contact[name]"
                            id="ContactFormName" value="">
                        <label for="ContactFormEmail">Email</label>
                        <input type="email" placeholder="Enter your emai address*" class="" name="contact[email]"
                            id="ContactFormEmail" value="">
                        <label>Message</label>
                        <textarea rows="5" placeholder="Write your message here..."></textarea>

                        <div class="d-flex ">
                            <button class="btn-primary">Submit</button>
                        </div>
                    </form>
                </div>

                <!-- <form method="post" action="/contact#contact_form" id="contact_form" accept-charset="UTF-8"
                    class="contact-form d-flex flex-column gap-5 "><input type="hidden" name="form_type" value="contact"><input type="hidden"
                        name="utf8" value="✓">
                    <h6 class="message">Drop us message</h6>

                    <ul class="form-fill d-flex flex-column gap-15">
                        <li style="margin-top: 18px;">
                            <label for="ContactFormName">Your Name</label>
                            <input type="text" placeholder="Enter your name" class="" name="contact[name]"
                                id="ContactFormName" value="">
                        </li>
                        <li>
                            <label for="ContactFormEmail">Email</label>
                            <input type="email" placeholder="Enter your emai address*" class="" name="contact[email]"
                                id="ContactFormEmail" value="">
                        </li>
                        <li style="margin-bottom: 18px !important;">
                            <label for="Name">Message</label>
                            <textarea placeholder="Your message here..." class="custom-textarea" name="contact[body]"
                                id="ContactFormMessage"></textarea>
                        </li>
                    </ul>
                    <div class="contact-submit">
                        <button type="submit" class="btn btn-style2">
                            <span>Submit</span>
                        </button>


                    </div>
                </form> -->
            </div>
            <div class="contact-info">
                <!-- <div class="form-title">

                    <h6 class="message">Reach Us</h6> -->


                <!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum earum eveniet dolorum suscipit
                        nesciunt incidunt animi repudiandae ab at, tenetur distinctio voluptate vel illo similique.</p> -->

                <!-- </div> -->

                <div>
                    <iframe class="map" style="width: 100%;border: 0;"
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3410.7265650585614!2d75.70256857552758!3d31.255991974336148!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x391a5f5e9c489cf3%3A0x4049a5409d53c300!2sLovely%20Professional%20University!5e0!3m2!1sen!2sin!4v1693021361397!5m2!1sen!2sin"
                        width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                        referrerpolicy="no-referrer-when-downgrade "></iframe>
                </div>
                <!-- <ul class="contact-info-list">

                    <li>

                        <span class="icon">
                            <i class="fa fa-street-view"></i>
                        </span>

                        <span class="info">
                            <label>Address</label>
                            <p class="common">Block - 38, LPU, Phagwara, Punjab</p>
                        </span>
                    </li>

                    <li>

                        <span class="icon">
                            <i class="fa fa-phone"></i>
                        </span>

                        <span class="info">
                            <label>Phone</label>
                            <p><a class="common" href="tel:+014-33333-8888-6868">123-456-789</a></p>
                        </span>
                    </li>

                    <li>

                        <span class="icon">
                            <i class="fa fa-envelope"></i>
                        </span>

                        <span class="info">
                            <label>Email</label>
                            <p><a class="common" href="mailto:support@spacingtech.com">help@tradevogue.com</a></p>
                        </span>
                    </li>

                </ul> -->
            </div>
        </div>
    </div>
</section>
<!-- <app-footer></app-footer> -->