.container {
    background-color: rgb(255,255,255);
    padding-block: 100px;
}

.map-wrap {
    margin-block: 50px;

    & .map {
        width: 100%;
        border-radius: 5px;
        border: none;
    }
}

.form-fill li {
    display: flex;
    flex-direction: column;
    gap: 5px;
}


.contact-text {
    width: 38%;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 50px;

    & p {
    margin: 6px auto 0;
    max-width: 100%;
    color: #999999;
    }
}

.contact-info-list li {
    display: flex;
    margin-top: 19px;

    & .info {
            margin-left: 15px;
    }
}

.contact-us-page .contact-content .form-title h6 {
    font-size: 18px !important;
    font-weight: 600;
}

/* .contact-content {
    display: flex;
    justify-content: center;
    flex-direction: row;
} */

.message {
    font-size: 18px  !important;
    font-weight: 600;
}

.contact-us-page .contact-content .contact-form-warp {
    width: 50%;
}

.contact-us-page .contact-content {
    display: flex;
}

.contact-us-page .contact-content .contact-form-warp .contact-form {
    margin-top: 18px;
}

form {
    margin-bottom: 0;
}

input, textarea, select {
    color: #6f6f6f !important;
    font-size: 14px !important;
    padding: 12px 15px !important;
    width: 100% !important;
    background-color: #fff !important;
    text-transform: none !important;
    font-weight: 400 !important;
    border: 1px solid #e2e2e2 !important;
    border-radius:  0 !important;
}

.btn-style2 {
    color: #fff;
    font-size: 14px;
    padding: 14px 36px;
    background-color: #ff6801;
    text-transform: uppercase;
    font-weight: 400;
    border: 0px none var(--btn2-border-color);
    border-radius: 0;
    letter-spacing: .5px;
    text-align: center;
}

.btn-style2:hover {
    color: #fff;
    background-color: #333;
    border: 0px none #333333;
}

.contact-info {
    width: 50% !important;
    margin-left: 30px !important;
}

.form-title {
    & p {
            margin-top: 6px !important;

            color: #999999 !important;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: 25px;
    }
}

.icon {
    & i {
        font-size: 20px !important;
    }
}

.info {
    label {
            font-weight: 600 !important;
    margin-bottom: 0px !important;
    }
    }


.contact-us-page .contact-content .contact-form-warp ul.form-fill {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.contact-us-page .contact-content .contact-form-warp ul.form-fill li {
    width: calc(100% - 30px);
    margin-top: 10px;
    margin-left: 30px;
}

.contact-us-page .contact-content .contact-form-warp ul.form-fill li label {
    margin-bottom: 10px;
}

label[for] {
    cursor: pointer;
}

.contact-us-page .contact-content .contact-form-warp ul.form-fill li input, .contact-us-page .contact-content .contact-form-warp ul.form-fill li textarea {
    width: 100%;
    font-size: 13px;
}

.contact-us-page .contact-content .contact-info {
    width: 50%;
    margin-left: 30px;
}

.contact-us-page .contact-content .form-title p {
    margin-top: 6px;
}

.contact-us-page .contact-content .contact-info ul {
    margin-top: 22px;
}

.contact-us-page .contact-content .contact-info ul li:first-child {
    margin-top: 0px;
}

.contact-us-page .contact-content .contact-info ul li {
    display: flex;
    margin-top: 19px;
}

span {
    display: inline-block;
}

.contact-us-page .contact-content .contact-info ul li span.icon i {
    font-size: 20px;
}

.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
}

.contact-us-page .contact-content .contact-info ul li span.info {
    margin-left: 15px;
}

span.info label {
    font-weight: 600 !important;
    margin-bottom: 0px !important;
}

.common {
            color: #999999 !important;
    margin-top: 3px;
    }

/* ul li {
    display: flex;
    gap: 15px;
} */

.contact-us-page .contact-content .contact-info ul li span.info p, .contact-us-page .contact-content .contact-info ul li span.info p a {
    color: #999999;
    margin-top: 3px;
        font-weight: 400;
        line-height:25px;
}

.contact-us-page .contact-content .contact-form-warp ul.form-fill li label {
    margin-bottom: 10px;
}

.contact-form-warp {
    width: 50%;
}

li label {
        margin-bottom: 10px !important;
        font-size: 14px !important;
        color: #333333 ;
}