<section class="gallery">

    <div class="container">

        <div class="section-header">
            <h3 class="section-heading">
                Gallery
            </h3>
            <p class="section-sub-heading">
                Visit @TradeVogue on instagram for more <3
            </p>
        </div>

        
        <div class="card-div">
            <div class="card-div-1 common">
                <img
                    src="https://images.unsplash.com/photo-1556905055-8f358a7a47b2?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80">
            </div>
            <div class="card-div-2 common">
                <img
                    src="https://images.unsplash.com/photo-1467043237213-65f2da53396f?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=774&q=80">
            </div>
            <div class="card-div-3 common">
                <img
                    src="https://images.unsplash.com/photo-1562157873-818bc0726f68?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=654&q=80">
            </div>
            <div class="card-div-4 common">
                <img
                    src="https://images.unsplash.com/photo-1540221652346-e5dd6b50f3e7?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2069&q=80">
            </div>
            <div class="card-div-5 common">
                <img
                    src="https://images.unsplash.com/photo-1603400521630-9f2de124b33b?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=774&q=80">
            </div>
            <div class="card-div-6 common">
                <img
                    src="https://plus.unsplash.com/premium_photo-1676031940533-8f1ac6a07268?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=774&q=80">
            </div>
            <div class="card-div-7 common">
                <img
                    src="https://images.unsplash.com/photo-1551488831-00ddcb6c6bd3?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80">
            </div>
            <div class="card-div-8 common">
                <img
                    src="https://images.unsplash.com/photo-1536992266094-82847e1fd431?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1178&q=80">
            </div>
            <div class="card-div-9 common">
                <img
                    src="https://images.unsplash.com/photo-1434389677669-e08b4cac3105?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=810&q=80">
            </div>

        </div>
    </div>
</section>


<!--  ANOTHER SECTION  -->
<!-- <section class="another">
    <div class="container d-flex justify-content-sp align-items-center">
        <div class="common">
            <span class="material-symbols-outlined icon">trolley</span>
            <h4>Fast and Free Delivery </h4>
            <p>Free delivery for all order over ₹999.</p>
        </div>

        <div class="common">
            <span class="material-symbols-outlined icon">headset_mic
            </span>
            <h4>24/7 Customer Support </h4>
            <p>We are with you, always.</p>
        </div>

        <div class="common">
            <span class="material-symbols-outlined icon">
                verified_user
            </span>
            <h4>Money back guarantee </h4>
            <p>We return money within 15 days.</p>
        </div>

    </div>
</section> -->