.section-header{
  margin-block-end: 30px;
}

.gallery {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-size: cover;
  gap: 25px;

  & .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center !important;

    & h3 {
      color: rgba(var(--textClr));
      font-size: 26px;
      font-weight: 400;
    }

    .card-div {
      display: grid;
      grid-template-columns: repeat(6, 1fr);

      gap: 15px;

      & .common {
        position: relative;
        height: 340px;
        cursor: pointer;
        transition: all 0.3s ease-in-out;

        & img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: top;
        }
      }

      & .common::after {
        content: 'View Post';
        display: flex;
        justify-content: center;
        align-items: center;
        color: rgba(var(--whiteClr));

        opacity: 0;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(var(--textClr), 0.5);
        backdrop-filter: blur(5px);

        transition: all 0.3s ease-in-out;
      }

      & .common:hover::after {
        opacity: 1;
      }

      & .card-div-1 {
        grid-column: 1 / 3;
        width: auto;
      }

      & .card-div-4 {
        grid-column: 5 / 7;
        width: auto;
      }

      & .card-div-7 {
        grid-column: 3 / 5;
        width: auto;
      }

    }

    & img {
      object-fit: cover;
    }
  }
}

@media screen and (max-width: 990px) {

  .common {
    height: 35vw !important;
  }
}

@media screen and (max-width: 768px) {

  .card-div {
    gap: 10px !important; 
  }

}

@media screen and (max-width: 480px) {

  .common {
    height: 45vw !important;
  }

  .card-div {
    grid-template-columns: repeat(2, 1fr) !important;

    & .card-div-1 {
      grid-column: 1 / 2 !important;
      width: auto;
    }
    & .card-div-3 {
      grid-column: 2 / 3 !important;
      width: auto;
    }

    & .card-div-2, .card-div-4, .card-div-6 ,.card-div-5, .card-div-7 {
      display: none;
    }
  }

}