<section *ngIf="images_loaded" class="gallery">

    <div class="container">
        <div class="section-header">
            <h3>
                <a href="https://www.instagram.com/{{username}}/" target="_blank">
                    @{{username}} 
                </a>
                on Instagram
            </h3>
        </div>

        <div class="card-div">
            <a href="{{posts[0]?.postLink}}" target="_blank" rel="noopener" class="card-div-1 common" aria-label="instagram post">
                <img src="{{posts[0]?.imageLink}}" alt="instagram post" loading="lazy">
            </a>
            <a href="{{posts[1]?.postLink}}"   rel="noopener" class="card-div-2 common" aria-label="instagram post">
                <img src="{{posts[1]?.imageLink}}" alt="instagram post" loading="lazy">
            </a>
            <a href="{{posts[2]?.postLink}}" target="_blank" rel="noopener" class="card-div-3 common" aria-label="instagram post">
                <img src="{{posts[2]?.imageLink}}" alt="instagram post" loading="lazy">
            </a>
            <a href="{{posts[3]?.postLink}}" target="_blank" rel="noopener" class="card-div-4 common" aria-label="instagram post">
                <img src="{{posts[3]?.imageLink}}" alt="instagram post" loading="lazy">
            </a>
            <a href="{{posts[4]?.postLink}}" target="_blank" rel="noopener" class="card-div-5 common" aria-label="instagram post">
                <img src="{{posts[4]?.imageLink}}" alt="instagram post" loading="lazy">
            </a>
            <a href="{{posts[5]?.postLink}}" target="_blank" rel="noopener" class="card-div-6 common" aria-label="instagram post">
                <img src="{{posts[5]?.imageLink}}" alt="instagram post" loading="lazy">
            </a>
            <a href="{{posts[6]?.postLink}}" target="_blank" rel="noopener" class="card-div-7 common" aria-label="instagram post">
                <img src="{{posts[6]?.imageLink}}" alt="instagram post" loading="lazy">
            </a>
            <a href="{{posts[7]?.postLink}}" target="_blank" rel="noopener" class="card-div-8 common" aria-label="instagram post">
                <img src="{{posts[7]?.imageLink}}" alt="instagram post" loading="lazy">
            </a>
            <a href="{{posts[8]?.postLink}}" target="_blank" rel="noopener" class="card-div-9 common" aria-label="instagram post">
                <img src="{{posts[8]?.imageLink}}" alt="instagram post" loading="lazy">
            </a>

        </div>
    </div>
</section>