.material-symbols-outlined {
    display: flex;
    align-items: center;
    justify-content: center;
}

.loader{
    position: absolute;
    height: 4px;
    left: 0;
    bottom: 0;
    width: 100%;
    z-index: -1;
    animation: loading 5s linear;
}

.toast {
    border-radius: 4px;
    z-index: 102;
    /* border: 1px solid rgb(var(--textClr), 0.1); */
    background-color: rgb(var(--whiteClr));
    box-shadow: 0px 0px 6px 0px #4b4b4b43;

    position: fixed;
    left: 50%;
    transform: translateX(-50%);

    max-width: 350px;
    overflow: hidden;

    opacity: 0;
    top: -100px;
    transition: 0.3s ease-in-out;
}

.toast.active{
    opacity: 1;
    top: 90px;
}

.toast:hover .loader{
    animation-play-state: paused;
}

.text{
    font-size: 14px;
}

.logo{
    height: 20px;
    width: 20px;
}

.toast-header {
    position: relative;
    min-height: 50px;
    gap: 7px;
    padding-block: 10px 12px;
    padding-inline: 10px 15px;
}

.success {
    color: rgb(var(--success));
}
.error{
    color: rgb(var(--danger));
}
.warning{
    color: rgb(var(--warning));
}
.notification{
    color: rgb(var(--info));
}

.success-bg{
    background-color: rgb(var(--success));
}
.error-bg{
    background-color: rgb(var(--danger));
}
.warning-bg{
    background-color: rgb(var(--warning));
}
.notification-bg{
    background-color: rgb(var(--info));
}


.toast-body{
    border-block-start: 1px solid rgb(var(--textClr), 0.1);
    padding: 10px;
}

@keyframes loading {
    0%{
        width: 0;
    }
    100%{
        width: 100%;
    }
}

/* @keyframes slide-in {
    from{
        opacity: 0;
        top: -100px;
    }
    80%{
        top: 110px;
    }
    to{
        opacity: 1;
        top: 90px;
    }
} */