<div *ngIf="display" (mouseenter)="hoverIn()" (mouseleave)="hoverOut()" class="container">
    <div class="toast">

        <div class="toast-header d-flex align-center gap-5">

            <div class="loader {{display}}-bg"></div>


            <div class="logo">
                <span *ngIf="display === 'success'" class="success material-symbols-outlined">
                    done
                </span>

                <span *ngIf="display === 'error'" class="error material-symbols-outlined">
                    priority_high
                </span>

                <span *ngIf="display === 'warning'" class="warning material-symbols-outlined">
                    warning
                </span>

                <span *ngIf="display === 'notification'" class="notification material-symbols-outlined">
                    notifications
                </span>
            </div>

            <div class="text {{display}}">
                {{content?.title}}
            </div>
        </div>

        <div *ngIf="(content?.body)?.length > 0" class="toast-body">
            <ul *ngFor="let text of content?.body">
                <li>{{text}}</li>
            </ul>
        </div>

    </div>
</div>