<div *ngIf="display" (mouseenter)="hoverIn()" (mouseleave)="hoverOut()" class="container">
    <div class="toast">

        <div class="toast-header d-flex align-item-center gap-5">

            <div class="loader {{display}}-bg"></div>

            <div class="logo">
                <i *ngIf="display === 'success'" class="success material-symbols-outlined">done</i>
                <i *ngIf="display === 'error'" class="error material-symbols-outlined">error</i>
                <i *ngIf="display === 'warning'" class="warning material-symbols-outlined">warning</i>
                <i *ngIf="display === 'notification'" class="notification material-symbols-outlined">notifications</i>
            </div>

            <div class="text {{display}}">
                {{content?.title}}
            </div>
        </div>

        <div *ngIf="(content?.body)?.length > 0" class="toast-body">
            <ul *ngFor="let text of content?.body">
                <li>{{text}}</li>
            </ul>
        </div>

    </div>
</div>