<div class="summary-container d-flex flex-column gap-10">
    <h2 class="text-center">Order Summary</h2>
    <div class="border"></div>
    <div class="items-container d-flex flex-column gap-15">
        <div class="item">
            <div class="itemname d-flex justify-content-md-between">
                <p>Apple Watch Series 7</p>
                <p>$399.00</p>
            </div>
            <div class="itemtype d-flex justify-content-md-between">
                <p>Midnight Aluminium Case</p>
                <p>Qty: 1</p>
            </div>
        </div>
        <div class="item">
            <div class="itemname d-flex justify-content-md-between">
                <p>Braided Solo Loop</p>
                <p>$99.00</p>
            </div>
            <div class="itemtype d-flex justify-content-md-between">
                <p>Starlight</p>
                <p>Qty: 1</p>
            </div>
        </div>
        <div class="item">
            <div class="itemname d-flex justify-content-md-between">
                <p>Power Adapter</p>
                <p>$19.00</p>
            </div>
            <div class="itemtype d-flex justify-content-md-between">
                <p>USB-C</p>
                <p>Qty: 1</p>
            </div>
        </div>
    </div>
    <div class="border"></div>
    <div class="subtotal d-flex justify-content-md-between">
        <p>Subtotal</p>
        <p>$498.00</p>
    </div>
    <div class="border"></div>
    <div class="shipping d-flex justify-content-md-between">
        <p>Shipping</p>
        <p>$19.00</p>
    </div>
    <div class="border"></div>
    <div class="total d-flex justify-content-md-between">
        <p>Total</p>
        <p>$536.00</p>
    </div>
</div>

