.summary-container{
    max-width: 350px;
    /* box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); */
    /* transition: box-shadow 0.3s ease-in-out; */
    padding-block: 10px;
    padding-inline: 25px;

    /* &:is(:hover){
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
    } */
    & h2 {
        font-size: 36px;
        color: rgb(var(--text-black));
    }
    & .border {
        height: 1px;
        width: 100%;
        background-color: rgb(var(--text-black),0.09);
    }
    & .item {

        & .itemname p{
            font-weight: 600;
        }
        & .itemtype p {
            color: rgb(var(--text-black),0.6);
        }
    }
    & .total p {
        font-size: 24px !important;
        font-weight: 600;
        color: rgb(var(--accent));
    }
}