.container {
    padding-block-start: 10px;
    margin-block-end: 50px;
    transition: 0.3s ease-in-out;
}

.navbar {

    & .head {
        display: none;
    }
    width: 200px;
    padding: 20px;

    & .arrow {
        display : none;
    }

    & .nav-items {
        gap: 18px;

        & .nav-links a {
            padding-inline: 22px;
            padding-block: 12px;
        }
    }
}

.nav-links::before {
    content: '';
    display: flex;
    position: absolute;
    height: 0%;
    width: 2px;
    background-color: rgb(var(--primaryClr));
    transition: all 0.3s ease-in-out;
}

.nav-links.nav-link-active::before {
    height: 80%;
}

.icons {
    font-size: 24px;
    color: rgb(var(--blackClr), 0.8);
    font-weight: 300;
}

.nav-links>.active {
    & .nav-txt {
        color: rgb(var(--primaryClr));
    }

    & .icons {
        color: rgb(var(--primaryClr));
        font-variation-settings:
            'FILL' 1,
            'wght' 400,
            'GRAD' 0,
            'opsz' 24
    }
}

.nav-links a:hover {
    color: rgb(var(--primaryClr));
    & i {
        color: rgb(var(--primaryClr));
    }
}

/* NAV BAR */
.nav-icons {
    font-size: 20px;
}

.main {
    width: calc(100% - 200px);
}

.content {
    border-left: 1px solid rgba(var(--blackClr), 0.2);
    width: 100%;
    min-height: 450px;
    padding: 20px;
    max-height: fit-content;
    padding-inline-start: 50px;

}

.mobile-back-btn {
    display: none;
    padding-inline-start: 16px;
}

@media (max-width:800px) {

    .navbar {
        width: 100%;

        & .head {
            display: flex;
        }
    }
    .arrow{
        display: flex !important;
    }
    .container {
        padding: 0 !important;
    }

    .content {
        width: 100%;
        transform: translateX(0);
        border: none;
        transition: 0.4s ease-in-out;
        padding-inline: 20px;
    }

    .mobile-back-btn{
        display: flex;
        width: fit-content;
    }

    .navbar {
        border: none;
        min-width: 100%;

        & ul {
            width: 100%;

            & li {
                border: 1px solid rgba(var(--blackClr), 0.2);
                display: flex;
                align-items: center;
                cursor: pointer;
                justify-content: space-between;
                padding: 12px 22px;
                border-radius: 6px;

                & a {
                    padding: 0 !important;
                }

                & span {
                    display: flex;

                }
            }
        }

        transition: 0.4s ease-in-out;
        transform: translateX(0);
    }

    .navbar {
        width: 100%;
        overflow: hidden;
        transition: all 0.3s ease-in-out;
    }
    
    .navbar+.main {
        opacity: 0;
        width: 0%;
        inset-inline-end: 0;
        overflow: hidden;
        position: absolute;
        transform: translateX(100%);
        transition: 0.3s ease-in-out;
    }


    .navbar:has( > .nav-items >  .active) {
        overflow: hidden;
        position: absolute;
        transform: translateX(-100%);
    }

    .navbar:has( > .nav-items .active)+.main {
        opacity: 1;
        width: 100%;
        position: relative;
        transform: translateX(0);
    }

}