.products {
    height: 400px;
    & .product-carousel {
        width: 60%;
        background-color: rgb(198, 144, 249);
    }
    & .product-desc{
        width: 40%;
        background-color: rgb(238, 139, 139);
    }
}

/* .crousel{

    .owl-theme .owl-nav {
        display: flex;
        justify-content: space-between;
        width: 100%;
        position: absolute;
        inset-block-start: 50%;
        transform: translateY(-50%);
        margin-top: 0 !important
    }
} */