.next {
    padding-block-end: 30px;
    padding-block-start: 20px;
}

.review-btn {
    width: fit-content !important;
    & span {
        font-size: 16px;
    }
}

.product {

    & .product-carousel {
        width: 50%;
    }

    & .product-desc {
        width: 50%;
    }

    .bigcarousel {
        width: 100% !important;
    }

    & .img-div {
        min-height: 650px;
        background-size: contain;
        margin-block-end: 7px;
        border-radius: 4px;
    }

    & .wishlist-btn {
        padding: 0;
        inset-block-start: 14px;
        inset-inline-end: 14px;
        background-color: transparent;
        z-index: 1;

        & span {
            color: rgb(var(--whiteClr));
            font-size: 32px;
            font-variation-settings:
                'FILL' 1,
                'wght' 400,
                'GRAD' 0,
                'opsz' 24
        }
    }


    & .img-details {
        width: 230px;
        height: 230px;
        background-color: rgba(var(--textClr), 0.2);

    }

    & .products-imgs-container {
        flex-wrap: nowrap;
        overflow-x: scroll;
        width: 100px;

        &::-webkit-scrollbar {
            width: 0px;
        }

        & .gal-img {
            height: 100px;
            object-fit: cover;
            border-radius: 3px;
        }

        & .gal-img.active::after {
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            background-color: #ffffff47;
            backdrop-filter: blur(0.5px);
            z-index: 1;
            border-radius: 3px;
        }
    }

    & .prod-name {
        margin-block-start: 15px;
        font-size: 32px;
        line-height: 1;
    }


    & .price {
        margin-block-end: -15px;
        font-size: 26px;
        font-weight: 500;
    }

    & .offer {
        transform: translateY(10px);
    }

    & .old-price {
        font-size: 16px !important;
        text-decoration: line-through;
        color: rgba(var(--danger));
    }

    & .accordian {
        & .content {
            font-size: 13px !important;
        }
    }

    & .accordian:not(:last-child) {
        border-block-end: 1px solid rgb(var(--textClr), 0.2);
    }

    & .accordian__head {
        padding-block: 10px;
        font-size: 16px !important;
    }

    & .accordian__head::after {
        content: "";
        border-left: 6px solid transparent;
        border-right: 6px solid transparent;
        border-top: 6px solid #ddd;
        position: absolute;
        right: 15px;
        top: 15px;
    }

    & .accordian__body {
        padding-block-end: 10px;
        display: none;
    }


    & .accordian__head.active+.accordian__body {
        display: flex;
    }


    & .info-content h5 {
        font-size: 14px;
    }

    & .offer-percentage {
        font-size: 16px !important;
        color: rgba(var(--success));
    }

    .reviews-avail {
        & p {
            opacity: 0.6;
            transform: translateY(2px);
        }
    }

    .rating {
        & span {
            font-size: 22px;
            border: 1px solid transparent;
            color: #fe9704;

            font-variation-settings:
                'wght' 400,
                'GRAD' 0,
                'opsz' 48
        }

        & .filled {
            font-variation-settings:
                'FILL' 1,
                'wght' 400,
                'GRAD' 0,
                'opsz' 48
        }
    }

    .sizes-radios {
        border-radius: 4px;
        width: fit-content;
    }

    .sizes-radios input+label {
        cursor: pointer;
        border-radius: 4px;
        padding: 5px 10px;
        border: 1px solid rgba(var(--textClr), 0.2);
        color: rgb(var(--textClr));
        font-size: 15px;
        font-family: sans-serif;
        transition: all 0.1s;
    }

    .sizes-radios input {
        display: none;
    }

    .sizes-radios input:checked+label {
        color: rgb(var(--whiteClr));
        background-color: rgb(var(--primaryClr));
        border: 1px solid rgb(var(--primaryClr));

    }

    .sizes-radios input::before {
        content: attr(label);
        text-align: center;
    }

    .colors-radios {
        border-radius: 4px;
        position: relative;
        width: fit-content;
    }

    .colors-radios input {
        width: 20px;
        height: 20px;
        appearance: none;
        cursor: pointer;
        border-radius: 4px;
        border: 1px solid rgba(var(--textClr), 0.2);
        transition: all 0.1s;
    }

    .colors-radios input:checked {
        border: 1px solid rgb(var(--textClr));
    }

    .colors-radios input::before {
        text-align: center;
    }

    .colors-radios input:checked::after {
        content: "\e5ca";
        font-family: 'Material Symbols Outlined';
        height: 10px;
        text-shadow: 0px 0px 2px #000000;
        width: 6px;
        color: white;
        position: absolute;
        font-size: 18px;
        font-weight: 300;
        left: 1px;
        top: -3px;
    }

    .cart-div {

        & .cart-btn {


            & span {
                color: rgb(var(--whiteClr));
                font-size: 18px;
                font-weight: 300;
            }

            & p {
                font-size: 12px !important;
            }
        }
    }

    .subTitle {
        font-size: 14px !important;
        padding-block: 15px;
        border-block-end: 1px solid rgb(var(--textClr), 0.2);
        margin-block-end: 20px;
    }

    .tags {
        text-transform: uppercase;
        font-size: 10px;

        & a {
            background-color: rgba(168, 168, 168, 0.232);
            backdrop-filter: blur(5px);
            padding-block: 5px;
            padding-inline: 10px;
            border-radius: 50px;
        }
    }


    .tags a:hover,
    .sku a:hover {
        color: rgb(var(--primaryClr));
        cursor: pointer;
    }

    animation: show-animation 0.5s ease-in-out;
}

.reviewSection {
    display: none;
    z-index: 90;
    transform: translateY(0);
    opacity : 0;
    transition: transform 0.4s ease-out, visibility 0.4s ease-out, opacity 0.4s ease-out;

}
.showReviewSection {
    display: flex;
    opacity: 1; 
} 
.crousel {
    .owl-theme .owl-nav {
        display: flex;
        gap: 15px;
        justify-content: flex-end;
        width: 100%;
        position: absolute;
        padding-inline-end: 25px;
        /* inset-block-start: 50%; */
        /* transform: translateY(-50%); */
        inset-block-end: 25px;
        margin-top: 0 !important
    }

    .owl-carousel .owl-nav .owl-prev,
    .owl-carousel .owl-nav .owl-next {
        cursor: pointer;

        & span {
            border-left: 50%;
            font-size: 26px;
            border-radius: 4px;
            background-color: rgb(var(--whiteClr), 0.7);
            backdrop-filter: blur(5px);
            transition: 0.4s ease-in-out;

            &:is(:hover) {
                background-color: rgb(var(--text-white), 0.8);
            }
        }
    }
}

.short-description,
.description-section p {
    opacity: 0.7;
    font-size: 14px;
}

.icons {
    display: none;
}

.zoomed-carousel-outer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 120;
    background-color: rgba(0, 0, 0, 0.772);
    backdrop-filter: blur(1px);
    transition: all 0.2s ease-in-out;
}

.zoomed-carousel {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 80%;
    width: 40%;
    z-index: 150;
    animation: zoomed-carousel-animation 0.3s ease-in-out;
}

.zoom-close-btn {
    position: absolute;
    top: 10%;
    right: 30%;
    z-index: 160;
    padding: 5px 10px;
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(1px);
    transition: all 0.2s ease-in-out;
    cursor: pointer;

    &:hover {
        color: rgb(var(--danger));
    }

    transition: 1s ease-in-out;
}

@keyframes zoomed-carousel-animation {
    from {
        transform: translate(-50%, -48%);
        opacity: 0;
    }

    to {
        transform: translate(-50%, -50%);
        opacity: 1;
    }
}


/* product Details */
.prod-details h2 {
    font-size: 32px;

}

.information-section {
    & table {
        width: 100%;
        border: 0.5px solid rgba(var(--textClr), 0.5);
        border-spacing: 0;
    }

    & th,
    td {
        border: 0.5px solid rgba(var(--textClr), 0.8);
        padding: 15px;

    }
}

.customSelect > .custom-select{
    border: 2px solid #000000;
    height: 52px !important;
    width: 120px;
}

.review-cards {
    width: 100%;
    border-radius: 8px;
    padding-block: 10px;

    & th {
        text-align: left;
        width: 300px;

    }

    & form textarea,
    form input {
        margin-block-end: 15px;
        border-radius: 4px;
        border: 1px solid transparent;
        background-color: var(--input-text-bg);
        padding: 7px;

    }

    & button {
        font-size: 12px;
    }

    & form input {
        padding-block: 10px;

    }

    & form textarea {
        padding-inline-start: 10px;
        font-size: 14px;
    }

    & input:focus,
    textarea:focus {
        outline: none;
    }

    & input:focus,
    textarea:focus {
        border: 1px solid rgba(var(--textClr), 0.8);
    }

    .rating {
        & span {
            border: 1px solid transparent;
            color: #fe9704;
            font-size: 18px;
            font-variation-settings:
                'wght' 400,
                'GRAD' 0,
                'opsz' 48
        }

        & .filled {
            font-variation-settings:
                'FILL' 1,
                'wght' 400,
                'GRAD' 0,
                'opsz' 48
        }
    }

    .review-card:not(div:last-of-type) {
        padding-block-end: 20px;
        border-block-end: 1px solid rgb(var(--textClr), 0.2);
    }

    .review-cards {
        width: 100%;
        border-radius: 4px;
        padding: 5px;

        & .rev {
            font-size: 14px !important;
        }

        & .review-card {
            /* background-color: rgb(var(--primaryClr), 0.05); */
            border-radius: 0;
            border-block-end: 1px solid rgba(var(--textClr), 0.2) !important;
            /* padding : 10px; */
            padding-block-end: 20px;

            & .person-info p {
                font-size: 12px !important;
                font-weight: 400 !important;
                opacity: 70%;

            }

        }

        & textarea {
            resize: none !important;
        }



    }

    & .review-form {


        padding-block: 8px;
        padding-inline: 30px;

        & h2 {
            margin-block-end: 15px;
        }



        & .rev {
            font-size: 14px !important;
            /* font-weight: 600; */
            margin-block-end: 5px;
        }



    }



    & label {
        padding-block-end: 5px;
        padding-inline-start: 10px;
    }

}

.edit-rating {
    & span {
        font-size: 32px;
        font-weight: 300;
        color: #fe9704;

        font-variation-settings:
            'FILL' 0,
            'GRAD' 0,
            'opsz' 48
    }

    & .filled {
        font-variation-settings:
            'FILL' 1,
            'GRAD' 0,
            'opsz' 48
    }
}
.bigcarousel {
    width: 100% !important;
}

.stockAvailable{
    border: 1px solid rgb(var(--primaryClr));
    padding-block: 5px;
    padding-inline: 10px;
    border-radius: 4px;
    width: fit-content;

    & p{
        text-transform: uppercase;
        color: rgb(var(--primaryClr));
    }
}

@media screen and (max-width: 1060px) {
    .prod-name {
        font-size: 48px !important;
    }

    .price {
        font-size: 38px !important;
    }

    .gap-65 {
        gap: 35px !important;
    }

    .rating span {
        font-size: 26px;
    }
    .product-carousel {
        flex-direction: column-reverse;
    }
    .products-imgs-container {
        flex-direction: row;
        width: 100% !important;
    }
}

@media screen and (max-width: 920px) {
    .prod-name {
        font-size: 40px !important;
        line-height: 1.3 !important;
    }

    .prod-info {
        gap: 20px;
    }

    .price {
        font-size: 34px !important;
    }

    .short-description {
        font-size: 14px;
    }

    .rating span {
        font-size: 22px;
    }
    .products-imgs-container {
        display: none;
    }
}

@media screen and (max-width: 760px) {
    .main {
        flex-direction: column;
    }

    .product-carousel,
    .product-desc {
        width: 100% !important;
    }

    .prod-name {
        font-size: 24px !important;
    }

    .subTitle {
        padding-block: 8px !important;
    }

    .offer {
        transform: translateY(10px) !important;

        & .old-price,
        .offer-percentage {
            font-size: 16px !important;
        }
    }

    .price {
        font-size: 28px !important;
    }

    .rating span {
        font-size: 15px;
    }

    .rate {
        font-size: 16px;
    }

    .gap-65 {
        gap: 15px !important;
    }

}

@media screen and (max-width: 490px) {
    .main {
        flex-direction: column;
        gap: 10px;
    }

    .product-carousel {
        flex-direction: column-reverse;
    }



    & .gal-img {
        width: 80px !important;
    }

    .subTitle {
        font-size: 14px !important;
        margin-block-end: 10px !important;
    }

    .price {
        font-size: 24px !important;
    }

    .offer {

        & .old-price,
        .offer-percentage {
            font-size: 12px !important;
        }
    }

    .rate {
        font-size: 11px !important;
    }

    .sizes-radios label {
        font-size: 12px !important;
    }

    .sizes p,
    .colors p,
    .quan,
    .tags h4,
    .sku h4,
    .sku_id {
        font-size: 12px !important;
    }

    .wishlist-btn span {
        font-size: 20px;
    }

    .cart {
        padding: 5px 14px;
    }

    .cart p,
    .cart span {
        font-size: 14px !important;
    }

    .text {
        display: none;
    }

    .icons {
        display: flex;
        gap: 40px;

        & span {
            font-weight: 300;
        }
    }

}

@media screen and (max-width: 390px) {
    .section-switcher {
        gap: 35px !important;
        padding-block-end: 5px;
    }

    .section-item {
        font-size: 14px !important;
    }

    .short-description {
        font-size: 12px !important;
    }

    .tags a {
        padding: 5px 5px;
    }

    .description-section p,
    .rev {
        font-size: 12px !important;
    }

    table th {
        width: 160px;
    }

    table th,
    td {
        font-size: 12px !important;
        padding: 10px;
    }

    .person-info {
        flex-direction: column;
        gap: 5px;
    }

    .review-cards,
    form {
        gap: 10px;
    }

    .edit-rating span {
        font-size: 18px;
    }

    .tags {
        flex-wrap: wrap;
    }

}