<section class="container">
    <div class="product" *ngIf="data" >
        <div  class="d-flex gap-30 main">
            <div class="product-carousel d-flex  gap-10 justify-content-center relative overflow-hidden">
                <div class="products-imgs-container d-flex flex-column  thumbnails gap-10">
                   
                    <div class="gal-img pointer mw-100 relative" *ngFor="let image of data?.assets[assetIndex]?.photo; let i = index"
                        [ngStyle]="{ 'background': 'url(' + image + ')', 'background-size': 'cover', 'background-position': 'center' }
                         " (click)="switchImage(i)" [ngClass]="{ active: i === activeIndex }">
                    </div>
                </div>
                <owl-carousel-o [options]="atDefault ? customOptions : carouselOption" [ngClass]="{crousel: true}" class="bigcarousel overflow-hidden">
                    <ng-template carouselSlide *ngFor="let image of data.assets[assetIndex].photo">
                        <div class="img-div d-flex justify-content-center align-item-center overflow-hidden mw-100"
                            [ngStyle]="{ 'background': 'url(' + image + ')', 'background-size': 'cover' }">
                        </div>
                    </ng-template>
                </owl-carousel-o>
                <button class=" wishlist-btn d-flex align-item-center absolute">
                    <span class="material-symbols-outlined">
                        favorite
                    </span>
                </button>
            </div>
            <div class="product-desc">
                <h2 class="prod-name">{{ data?.name }}</h2>
                <p class="subTitle mw-100">{{ data.subTitle }}</p>
                <div class="prod-info d-flex flex-column gap-20">
                    <div class="d-flex align-item-center gap-10">
                        <h5 class="price">₹{{ data.price }}</h5>

                        <div class="offer d-flex gap-5 align-item-center">
                            <p *ngIf="data.oldPrice" class="old-price">₹{{
                                data.oldPrice }}
                            </p>
                            <p class="offer-percentage" *ngIf="data.offerPercentage">
                                ({{ data.offerPercentage }}% Off)</p>
                        </div>
                    </div>


                    <div class="reviews-avail d-flex align-item-center gap-10">
                        <div *ngIf="data.avgRating !== 0" class="rating d-flex align-item-center">
                            <span *ngFor="let i of createArrayToIterate(data.avgRating)"
                                class="material-symbols-outlined filled">star</span>
                            <span *ngIf="(data.avgRating % 1) !== 0" class="material-symbols-outlined">star_half</span>
                            <span *ngFor="let i of createArrayToIterate(5 - data.avgRating)"
                                class="material-symbols-outlined">star</span>
                        </div>
                        <p class="rate">({{data.avgRating}}/5 · {{data.reviews.length}} Reviews)</p>
                     
                    </div>
                    <div class="sizes d-flex align-item-center gap-20" id="sizes">
                        <p>Size:</p>
                        <div class="sizes-opt d-flex gap-10">
                            <div *ngFor="let productSize of data.info.size; let i = index" class="sizes-radios relative">
                                <input type="radio" name="size" [value]=productSize id="size_{{ productSize }}"
                                    [(ngModel)]="selectedSize" [checked]="i == 0">
                                <label for="size_{{ productSize }}">{{ productSize }}</label>
                            </div>
                        </div>
                    </div>
                    <div class="colors d-flex align-item-center gap-15">
                        <p>Color:</p>
                        <div class="colors-opt d-flex gap-10">
                            <div class="colors-radios d-flex align-item-center"
                                *ngFor="let asset of data.assets; let i = index"> 
                                <input type="radio" name="color" [value]=asset.color [style.background-color]="asset.color"
                                    [(ngModel)]="selectedColor" (click)="assetIndex = i">
                            </div>
                        </div>
                    </div>

                    <div class="d-flex gap-15 align-item-center">

                        <div class="customSelect">
                            <app-custom-select [selectedOption]=data.info.orderQuantity[0]
                                (final_option)="updateSelectedField($event)"
                                [options]="data.info.orderQuantity" >
                            </app-custom-select>
                        </div>

                        <div class="cart-div d-flex gap-10 align-item-center">

                            <button class="btn-primary d-flex gap-10 align-item-center cart cart-btn"
                                (click)="addToCart()">
                                ADD TO CART
                            </button>
                        </div>
                    </div>
                
                    <div class="d-flex flex-column">
                        <div class="accordian mw-100">
                            <h3 class="accordian__head relative pointer" [ngClass]="accordianOpen ? 'active' : ''"
                                (click)="accordianOpen = !accordianOpen">
                                Description
                            </h3>
                            <div class="accordian__body">
                                {{ data.description }}
                            </div>
                        </div>
                        <div class="accordian">
                            <h3 class="accordian__head relative pointer" [ngClass]="accordianOpen2 ? 'active' : ''"
                                (click)="accordianOpen2 = !accordianOpen2">
                                Information
                            </h3>
                            <div class="accordian__body d-flex flex-column gap-5">
                                <div class="info-content d-flex gap-10">
                                    <h5>Product Code :</h5>
                                    <p>{{ data.info.code }}</p>
                                </div>
                                <div class="info-content d-flex gap-10">
                                    <h5>Brand :</h5>
                                    <p>{{ data.info.brand }}</p>
                                </div>
                                <div class="info-content d-flex gap-10">
                                    <h5>Composition :</h5>
                                    <p>{{ data.info.composition }}</p>
                                </div>
                                <div class="info-content d-flex gap-10">
                                    <h5>Weight :</h5>
                                    <p>{{ data.info.weight }}</p>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="tags d-flex gap-10 d-flex align-item-center">
                        <a [routerLink]="['/explore']" [queryParams]="{ tags: tag }" *ngFor="let tag of data.info.tags">
                            {{ tag }}
                        </a>
                    </div>
                </div>

            </div>
        </div>
     
        <div class="review-cards d-flex flex-column gap-20" >
            <h3 class="rate">Rate & Review</h3>
            <div class="review-card d-flex flex-column gap-5" *ngFor="let review of data.reviews">

                <div>
                    <p class="rev">
                        {{ review.comment }}
                    </p>
                </div>
                <div class="person-info d-flex justify-content-md-between">
                    <div *ngIf="data.avgRating !== 0" class="rating d-flex align-item-center">
                        <span *ngFor="let i of createArrayToIterate(data.avgRating)"
                            class="material-symbols-outlined filled">star</span>
                        <span *ngIf="(data.avgRating % 1) !== 0" class="material-symbols-outlined">star_half</span>
                        <span *ngFor="let i of createArrayToIterate(5 - data.avgRating)"
                            class="material-symbols-outlined">star</span>
                    </div>
                    <p class="fw-600 ">{{ review?.userId?.name.firstname +' '+ review?.userId?.name.lastname }} · {{ review.date }}</p>
                </div>
            </div>

            <button class="btn-primary review-btn pointer d-flex align-item-center gap-10" *ngIf="this.showReview!=true"
                (click)="this.showReview = !this.showReview">
                <span class="material-symbols-outlined">
                    edit
                </span>
                Add a Review
            </button>
            <button class="btn-primary review-btn pointer d-flex align-item-center gap-10" *ngIf="this.showReview==true"
                (click)="this.showReview = !this.showReview">
                <span class="material-symbols-outlined">
                    close
                </span>
                Close
            </button>
            <form class="d-flex flex-column gap-20 reviewSection"
                [ngClass]="(this.showReview == true) ? 'showReviewSection' : ''">
                <div class="edit-rating">
                    <span *ngFor="let ok of createArrayToIterate(5); let i = index" (click)="userRating = i"
                        (mouseover)="tempUserRating = i" (mouseleave)="tempUserRating = -1"
                        [ngClass]="i <= (userRating !== -1 ? userRating : tempUserRating) ? 'filled' : ''"
                        class="material-symbols-outlined pointer">
                        star
                    </span>
                </div>
                <textarea rows="5" placeholder="Write your review here..."></textarea>
                <div>
                    <button class="btn-primary">Submit</button>
                </div>
            </form>
        </div>
    </div>

    <div class="next">
        <h2 class="section-heading">Popular Products</h2>
        <p class="section-sub-heading">
            Explore our most popular products.
        </p>
    </div>

    <div style="padding-block-end: 50px;">
        <app-product-card-carousel></app-product-card-carousel>
    </div>
</section>