<div class="popup dialogBox fixed mw100 mh100 flex-center inset-inline-start-0 inset-block-start-0" open>
       
    <div class="dialog__content d-flex gap-15 text-center flex-column flex-center " #dialogBox onClick>
            <ng-container *ngIf="type == 'confirmation'">
                    <img src="../../../../assets/alert.svg" alt="" width="95">
                    <h3>Are You Sure! Want to Delete?</h3>
                    <p>You can't view this in your list anymore if you delete!</p>
                    <span class="d-flex flex-center gap-30">
                        <button class="btn-secondary" #popupclose (click)="closeDialog()" s>No, Keep it</button>
                        <button class="btn-primary" #popupclose (click)="closeDialog()">Yes, Delete it</button>
                    </span>

            </ng-container>

            <ng-container *ngIf="type == 'success'">
                <img src="../../../assets/logos/mail-animation.gif" alt="mail" class="mail-animate">
                    <h3>Mail Sent Successfully</h3>
                    <p>We have successfully sent the mail to you which includes a link to change your password that will expire after 3 minutes.</p>
                    <button #popupclose (click)="closeDialog()" >Close</button>
            </ng-container>

          
    </div>
</div>