<div class="card-item-template">
    <div class="card-item-header">
        <!-- <img src="https://via.placeholder.com/400x500" alt="Product Image"> -->
        <img src="../../../../assets/deal-of-week-component/shirt.png" alt="Product Image">
        
        <a href="" class="cart"><span class="material-symbols-outlined">
            add_shopping_cart
            </span></a>
    </div>

    <a href="">
    <div class="card-item-content d-flex flex-column">
        <div class="type-wishlist d-flex justify-content-md-between">
            <h6>S M XL</h6>
        </div>
        <h3>Product Name</h3>
        <div class="price d-flex gap-10 align-items-center">
            <p class="current-price">$300</p>
            <p class="old-price">$340</p>
        </div>
    </div>
</a>
</div>