<div class="card-item-template card-template-structure ">
    <a routerLink='/product/{{product.sku}}' class="pointer d-flex flex-column gap-10">
        <div class="card-item-header">
            <img [src]=product.image?.[1] alt="Product Image">
            <img class="hover-img" [src]=product.image?.[0] alt="Product Image">
        </div>

        <div class="card-item-content d-flex flex-column align-items-center gap-5">
            <h4>{{ product.name }}</h4>

            <div *ngIf="avgRating !== 0" class="rating d-flex align-items-center">
                <span *ngFor="let i of createArrayToIterate(avgRating)"
                    class="material-symbols-outlined filled">star</span>
                <span *ngIf="(avgRating % 1) !== 0" class="material-symbols-outlined">star_half</span>
                <span *ngFor="let i of createArrayToIterate(5 - avgRating)"
                    class="material-symbols-outlined">star</span>
            </div>

            <div class="price d-flex gap-5 align-items-center">
                <p class="current-price">
                    ₹{{ product.price }}
                </p>
                <p class="old-price" *ngIf="product.oldPrice !== (undefined || 0)">
                    ₹{{ product.oldPrice }}
                </p>
                <p *ngIf="offerPercentage !== 0" class="offer-percentage">
                    ({{ offerPercentage }}% off)
                </p>
            </div>

        </div>
    </a>
    <div class="options d-flex justify-content-center gap-15">
        <span class="cart cart-logo" (click)="addToCart()"><span class="material-symbols-outlined">
                add_shopping_cart
            </span>
        </span>

        <a (click)="showPopup = true" class="cart eye-logo"><span class="material-symbols-outlined">
                visibility
            </span>
        </a>

        <a routerLink="/cart" class="cart wishlist-logo"><span class="material-symbols-outlined">
                favorite
            </span>
        </a>
    </div>
</div>

<div *ngIf="showPopup" class="popup-overlay relative">
    <div class="popup-content popup-details" [ngClass]="{'fade-in': showPopup}">
        <div class="left-side">
            <owl-carousel-o [options]="customOptions" [ngClass]="{crousel: true}">
                <ng-template carouselSlide *ngFor="let item of product.image">
                    <div>
                        <img class="image-carousel" [src]="item" alt="Product Image">
                    </div>
                </ng-template>
            </owl-carousel-o>
        </div>
        <div class="right-side">
            <h1 class="prod-name">{{ product.name }}</h1>
            <h2 class="subTitle">{{product.info.subTitle}}

                <div *ngIf="avgRating !== 0" class="rating d-flex align-items-center">
                    <span *ngFor="let i of createArrayToIterate(avgRating)"
                        class="material-symbols-outlined filled">star</span>
                    <span *ngIf="(avgRating % 1) !== 0" class="material-symbols-outlined">star_half</span>
                    <span *ngFor="let i of createArrayToIterate(5 - avgRating)"
                        class="material-symbols-outlined">star</span>
                </div>
            </h2>

            <p id="description">{{product.description}}</p>
            <div class="price">
                <h1  id="number-discount">₹{{ product.price }}</h1>
                <p id="number-full" *ngIf="product.oldPrice !== (undefined || 0)">₹{{product.oldPrice}}</p>
            </div>

            <div class="colors d-flex align-items-center gap-15">
                <p>Color:</p>
                <div class="colors-opt d-flex gap-10">
                    <div class="colors-radios d-flex align-items-center" *ngFor="let color of product.colors">
                        <input type="radio" name="color" [value]="color" [style.background-color]="color"
                            [(ngModel)]="selectedColor">
                    </div>
                </div>
            </div>

            <div class="tags d-flex gap-10 d-flex align-items-center">
                <h4>TAGS :</h4>
                <a *ngFor="let tag of product.info.tags">
                    {{ tag }}
                </a>
            </div>
            <a class="close-thik" style="cursor: pointer;" (click)="showPopup = false"></a>

            <div class="cart-div d-flex gap-10 align-items-center">
                <button style=" padding-inline: 100px;" class="btn-primary d-flex gap-10 align-items-center"
                    (click)="addToCart()" routerLink="/cart">
                    <span class="material-symbols-outlined">
                        shopping_cart
                    </span>
                    <p>ADD TO CART</p>
                </button>
            </div>
        </div>
    </div>
</div>


<!-- <app-product-section ></app-product-section> -->