.card-item-template {
    height: 100%;
    width: 100%;

    & h6 {
        font-weight: 400;
    }

    & h4 {
        /* margin-block: 0 3px; */
        white-space: nowrap;
        max-width: 20ch;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    animation: show-animation 0.5s ease-in-out;
    transition: transform 0.3s ease-in-out;
}

.card-template-structure{
    /* height: 410px;
    width: 270px */
    height: 100%;
    width: 100%;
}

.card-item-header {
    background: linear-gradient(to bottom, rgba(var(--text-black), 0.1) 0%, rgba(var(--text-white), 0.2) 100%);
    position: relative;
    overflow: hidden;

    & img {
        object-fit: cover;
        object-position: center;
    }

    .hover-img {
        position: absolute;
        top: 0;
        left: 0;
        object-fit: cover;
        object-position: center;
        opacity: 1;
        transition: opacity 0.5s ease-in-out;
    }
}

.rating {
    & span {
        border: 1px solid transparent;
        color: #fe9704;
        font-size: 18px;
        font-variation-settings:
            'wght' 400,
            'GRAD' 0,
            'opsz' 48
    }

    & .filled {
        font-variation-settings:
            'FILL' 1,
            'wght' 400,
            'GRAD' 0,
            'opsz' 48
    }
}

.card-item-content{
    padding-inline: 10px;
    /* height: 15%; */
}


.current-price {
    font-size: 16px !important;
}
.offer-percentage {
    font-size: 12px !important;
    transform: translateY(1.5px);
}

.old-price {
    text-decoration: line-through;
    font-size: 12px !important;
    color: rgb(var(--danger));
    transform: translateY(1.5px);
}

.card-item-template:hover {
    transform: translateY(0px);

    & .cart {
        visibility: visible;
        opacity: 1;
        transform: translateY(0px);
    }
    & .hover-img {
        opacity: 0;
    }
}

.cart {
    position: absolute;
    display: flex;
    visibility: hidden;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: rgb(var(--primary));
    background-color: rgb(var(--text-white));
    border-radius: 50%;
    height: 40px;
    width: 40px;
    opacity: 0;
    transform: translateY(-20px);
    transition: all 0.3s ease-in-out;

    & span {
        font-size: 22px;
    }

    &:hover {
        background-color: rgb(var(--primary));
        color: rgb(var(--text-white));
    }
}

.options {
    .cart-logo {
        top: 10px;
        right: 10px;
    }
    .eye-logo {
        top: 60px;
        right: 10px;
    }
    .wishlist-logo {
        top: 110px;
        right: 10px;
    }
}


@media screen and (max-width: 768px) {
    .card-item-template{
        display: grid;
        gap: 5px;
    }
    .cart {
        display: flex;
        position: inherit;
        visibility: visible;
        color: rgb(var(--primary));
        background-color: rgb(var(--text-white));
        border: 1px solid rgb(var(--primary), 0.2);
        border-radius: 50%;
        height: 35px;
        width: 35px;
        opacity: 1;
        transform: translateY(0px);
        transition: all 0.3s ease-in-out;

        & span {
            font-size: 16px;
        }
    }

    .current-price {
        font-size: 16px !important;
    }

    .old-price {
        text-decoration: line-through;
        font-size: 12px !important;
        color: rgb(var(--danger));
    }
}

 .popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.right-side {
    & span {
        font-size: 22px !important;
    }
}

.popup-content {
  background-color: white;
  width: 50%;
  max-height: 80%;
  overflow-y: auto;
  border-radius: 5px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: space-between; 
}

.left-side {
  flex: 1;
  background-size: cover;
  background-position: center;
  border-radius: 10px 0px 0px 10px;
  padding: 0px !important;
  width: 30%;
}

.right-side {
  flex: 1;
  margin-left: 20px; 
  padding: 20px;
  display: flex;
  flex-direction: column;
  width: 70%;
  row-gap: 15px;
  margin: auto;
}

#product-name {
  font-size: 12px;
  letter-spacing: 5px;
}


#number-discount,
#number-full {
  display: inline-block;
  vertical-align: middle;
}

#number-discount {
 font-size: 23px;
 margin-right: 10px;
 color: rgba(var(--success));
}

#number-full {
  font-size: 14px;
  color: rgba(var(--danger));
  text-decoration: line-through;
}

/* .cart-btn {
  display: flex;
  justify-content: center;
  align-items: center
} */

 .prod-name {
    font-size: 30px;
    line-height: 1.3;
}

.subTitle {
    width: 100%;
    padding-block: 15px;
    border-block-end: 1px solid rgb(var(--text-black), 0.2);
    margin-block-end: 20px;
}

 h2 {
    font-size: 17px;
    font-weight: 500;
}


/* .close-button {
  align-self: flex-end;
  margin: 10px 20px;
  padding: 8px 15px;
  border: none;
  background-color: #f7f7f7;
  color: #333;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
} */

.card-item-header {
    max-height: 280px;
}


.image-carousel {
    overflow: hidden !important;
}

.crousel{
    .owl-theme .owl-nav {
        display: flex;
        justify-content: space-between;
        width: 100%;
        position: absolute;
        inset-block-start: 50%;
        transform: translateY(-50%);
        margin-top: 0 !important
    }
    .owl-carousel .owl-nav .owl-prev, .owl-carousel .owl-nav .owl-next{
        cursor: pointer;
        & span{
            border-left: 50%;
            background-color: rgb(var(--text-white), 0.7);
            backdrop-filter: blur(5px);
            transition: padding 0.2s ease-in-out;
            font-size: 28px !important;

            &:is(:hover){
                padding-inline: 5px;
            }
        }
    }
}

    .colors-radios {
        border-radius: 3px;
        position: relative;
        width: fit-content;
    }

    .colors-radios input {
        width: 20px;
        height: 20px;
        appearance: none;
        cursor: pointer;
        border-radius: 50%;
        border: 1px solid transparent;
        /* background-color: rgba(var(--text-black), 0.1); */
        transition: all 0.1s;
    }

    .colors-radios input:checked {
        border: 1px solid rgb(var(--text-black));
    }

    .colors-radios input::before {
        text-align: center;
    }

.tags{
        text-transform: uppercase;
        font-size: 12px;
        & a{
            background-color: rgba(168, 168, 168, 0.232);
            backdrop-filter: blur(5px);
            padding: 5px 10px;
            border-radius: 5px;
        }
    }

.close-thik:after {
  content: '✖'; 
  color: #777;
  background-color: transparent;
  position: absolute;
  right: 5px;
  text-decoration: none;
  top: 5px;
}

.close-thin:after {
  content: '×'; 
}

.fade-in {
  animation: fadeIn 0.3s ease-in-out both;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
