.operational-buttons {
    gap: 20px;
  
    & button {
        border: 1px solid rgba(var(--blackClr), 0.1);
        border-radius: 5px;
        background: none;
        cursor: pointer;
        font-weight: 400;
  
        &:hover{
            border: 1px solid rgba(var(--blackClr), 0);
            background-color: rgb(var(--blackClr), 0.02);
        }
    }
  
    & .operational-buttons-icons {
        font-size: 22px;
        font-weight: 300;
        transition: transform 0.3s ease-in-out;
        /* &:is(:hover) {
            transform: scale(1.1);
        } */
    }
  
    & button:first-child .operational-buttons-icons {
        color: rgb(var(--blue-clr));
    }
  
    & button:last-child .operational-buttons-icons {
        color: rgb(var(--red-clr));
    }
  }

  .drawer {
    position: fixed;
    z-index: 10000000000;
    top: 0;
    right: -100%;
    width: 500px;
    height: 100%;
    background-color: #fff;
    transition: right 0.3s ease-in-out;
    overflow: auto;
  }

  .drawer.open {
    right: 0;
  }

  .material-symbols-outlined {
    display: inline-block;
    width: 24px;
    height: 24px;
    line-height: 24px;
    text-align: center;
    cursor: pointer;
    border-radius: 50%;
    transition: background-color 0.3s, color 0.3s;
    font-size: 18px; /* Change the font size to make the icons smaller */
  }
  
  /* Rest of the styling remains the same */
  
  .edit-button {
    background-color: #00bcd4; /* Edit button background color */
    color: #fff; /* Edit button icon color */
  }
  
  .delete-button {
    background-color: #f44336; /* Delete button background color */
    color: #fff; /* Delete button icon color */
  }
  
  .material-symbols-outlined:hover {
    background-color: #333; /* Background color on hover */
    color: #fff; /* Icon color on hover */
  }
  