.billingPage {
  padding-block: 100px;
}

.checkOutSteps {
  justify-content: space-around;

}

.or-div {
  margin-block: 40px;
  opacity: 0.8;
  width: 50%;
  margin: 0 auto;
  border-block-start: 1px solid rgb(var(--textClr), 0.3);

  & p {
    background-color: rgb(var(--whiteClr));
    left: 50%;
    transform: translate(-50%, -10px);
    padding-inline: 10px;
    color: rgb(var(--textClr), 0.8);
  }
}

.common {
  padding-block-end: 3px;
}

.dotted_line {
  display: inline-block;
  border-top: 1px dashed #696B79;
  width: 40px;
}

.selected_step {
  color: rgba(var(--primaryClr), 0.8);
  border-bottom: 1px solid rgba(var(--primaryClr), 0.3);
}

.addAddress__div {
  gap: 2px;

  & span,
  p {
    font-size: 16px;
    color: rgba(var(--primaryClr), 0.8);
  }
}

.overall__div {
  & h2 {
    font-weight: bold;
    font-size: 13px;
  }

  border-bottom: 0.5px solid rgba(var(--blackClr), 0.1);
  padding-block-end: 20px;

}

.addressDiv {
  padding: 24px;
  background-color: rgb(var(--whiteClr));
  border-radius: 6px;

  & .remove::hover {
    color: rgb(var(--danger))
  }
}


.name {
  font-weight: 600;
}


.default__btn {
  background-color: rgb(var(--textClr), 0.09) !important;
  color: rgb(var(--blackClr));
  border-radius: 10px !important;
  font-weight: 400;
  border: none;
  font-size: 9px !important;
  padding: 0px 6px !important;
}

.edit__btn {
  color: rgba(var(--blackClr), 0.7);
}

.remove__btn {
  color: rgba(var(--danger), 0.8);
}

.edit__btn,
.remove__btn {
  cursor: pointer;
  font-weight: 300;
  font-size: 21px;
}

.main-address {
  background-color: rgb(var(--whiteClr));
  border-radius: 4px;
  padding: 20px;
  padding-inline-start: 30px;
}

.single-address:not(:last-child) {
  padding-block-end: 20px;
  border-block-end: 0.5px solid rgb(var(--textClr), 0.2);
}

.payment-elements {
  max-width: 600px;
  margin: 0 auto;
  border-radius: 10px;
  padding-block: 10px;
  padding-bottom: 37px;
}

.payment-method-buttons {
  justify-content: center;
  display: flex;
  padding: 30px;
}

.hidden {
  display: none;
}

input[type="radio"] {
  display: none;
}

input[type='radio']:checked+label::before {
  background-color: rgba(var(--primaryClr));
  border: none;
}

input[type='radio']:checked+label {
  color: rgba(var(--blackClr), 0.9);
}

input[type='radio']+label::before {
  content: "";
  position: absolute;
  height: 15px;
  transition: all 0.5s;
  width: 15px;
  background-color: #fff;
  border: 1px solid black;
  border-radius: 50%;
  left: -23px;
  top: 6px;
}

input[type='radio']+label::after {
  content: "";
  height: 7px;
  width: 7px;
  position: absolute;
  border: none;
  background-color: rgb(var(--whiteClr));
  border-radius: 50%;
  left: -19.7px;
  top: 10px;
}


.selected-box {
  border: 2px dotted #000;
  padding: 10px;
}