<!-- ADDRESS -->
<!-- show address -->
<div class="address">
    <div class="d-flex flex-column gap-10">

        <div class="d-flex justify-content-md-between align-item-center pointer"
            [ngClass]="{'h2_div':!DeliveredAddress}">
            <div class="d-flex align-item-center pointer">
                <h2>SELECT DELIVERY ADDRESS
                </h2>
            </div>

            <div class="d-flex align-item-center addAddress__div" *ngIf="!DeliveredAddress" (click)="AddAddress()">
                <span class="material-symbols-outlined">
                    add_circle
                </span>
                <p>ADD NEW ADDRESS</p>
            </div>

            <button *ngIf="DeliveredAddress" class="changeaddress__btn" (click)="ChangeAddress()">

                Change Address

            </button>

        </div>

        <div *ngIf="DeliveredAddress">
            <p>
                {{DeliveredAddress.apartment}}
                {{DeliveredAddress.area}},
                {{DeliveredAddress.landmark}}
                {{DeliveredAddress.town_city}}
                {{DeliveredAddress.country}}
            </p>
        </div>


    </div>

    <div class="d-flex flex-column gap-10" *ngIf="!DeliveredAddress">
        <ng-container *ngFor="let address of userAddresses; let i=index" class="d-flex address__firstdiv ">
            <div class="ok" style="display: none;">
                <input type="radio" id="radio{{i}}" name="address" value="address" class="d-flex" [checked]="address.selected">
            </div>

            <label for="radio{{i}}" id="{{i}}" class="d-flex align-item-center pointer" (click)="AddressClicked(address)">

                <div class="d-flex gap-10 justify-content-md-between   mw100">
                    <div class="address-part">
                        <div class="d-flex justify-content-md-between">
                            <div class="d-flex gap-10">
                                <p class="name pointer-none">{{address.firstname}} {{address.lastname}}</p>
                                <button class="default__btn btn" (click)="MakeDefault(address,i)" *ngIf="i!=0">Set Default</button>
                                <button class="deliver__btn btn" *ngIf="address?.selected">Deliver Here</button>
                            </div>  
                        </div>

                        <p>{{address.apartment}} {{address.area}} {{address.landmark}}, {{address.town_city}}</p>
                        <p>{{address.state}}- {{address.pincode}}</p>
                        <!-- <button *ngIf=" class="btn-primary">Delivery Here</button> -->
                    </div>
                    <div class="d-flex flex-column gap-5 buttons-part">
                        <!-- <button class="edit__btn btn" (click)="EditAddress(address,i)">Edit</button> -->
                        <span class="material-symbols-outlined edit__btn" (click)="EditAddress(address,i)">
                            edit
                        </span>
                        <span class="material-symbols-outlined remove__btn" (click)="RemoveAddress(address,i)">
                            delete
                        </span>
                    </div>

                </div>

            
            </label>
        </ng-container>
    </div>


</div>


<!-- new address  -->
<div [ngClass]="{'show':ShowComponent==true}">
    <app-address [ShowComponent]="ShowComponent" [receiveData]="receiveData"
        (AddressHandler)="AddressHandler($event)"></app-address>


</div>


<!-- ADDRESS -->

<div class="payment-method-buttons">
    <button (click)="onStripeButtonClick()" [class.selected]="selectedPaymentMethod === 'stripe'">Pay with
        Stripe</button>
    <button (click)="selectedPaymentMethod = 'razorpay'" [class.selected]="selectedPaymentMethod === 'razorpay'">Pay
        with Razorpay</button>
</div>

<div *ngIf="selectedPaymentMethod === 'stripe'" class="payment-form">
    <form id="payment-form">
        <h3 style="align-items: center; text-align: center;">Place Your Order</h3>
        <!-- gpay
    <div id="payment-request-button">
A Stripe Element will be inserted here.
   </div> -->

        <div id="link-authentication-element">
            <!-- Stripe.js injects the Link Authentication Element -->
        </div>

        <!-- <div id="shipping-address-element">
       
    </div> -->

        <div id="payment-element">
            <!-- Stripe.js injects the Payment Element -->
        </div>

        <!-- <div id="address-element">
        Stripe.js injects the Address Element
    </div> -->
        <button id="submit" class="btn-primary">
            <div class="spinner hidden" id="spinner"></div>
            <span id="button-text">Pay now</span>
        </button>
        <div id="payment-message" class="hidden"></div>
    </form>
</div>

<div *ngIf="selectedPaymentMethod === 'razorpay'">
    <div *ngFor="let item of items">
        <div class="btn-primary">
            Payment Method Selected Proceed To Payment
            <form class="hidden btn-primary" (click)="submitForm(item)">
                <input type="hidden" name="amount" [value]="item.price">
                <button class="hidden" id='razorSubmit' type="submit">pay</button>
            </form>
        </div>
    </div>
</div>