.billingPage{
  padding-block:40px;
}

.checkOutSteps{
    justify-content: space-around;

}
.common{
  padding-block-end: 3px;
}
.dotted_line{
  display: inline-block;
  border-top: 1px dashed #696B79;
  width: 40px;
}
.selected_step{
  color: rgba(var(--primaryClr), 0.8);
  border-bottom: 1px solid rgba(var(--primaryClr), 0.3);
}

.addAddress__div {
  gap: 2px;

  & span,
  p {
    font-size: 16px;
      color: rgba(var(--primaryClr), 0.8);
  }
}

.overall__div{
  & h2{
    font-weight: bold;
    font-size: 13px;
  }
  border-bottom: 0.5px solid rgba(var(--blackClr), 0.1);
  padding-block-end: 20px;

}

.addressDiv {
  padding: 24px;
  background-color: rgb(var(--whiteClr));
  border-radius: 6px;
  & .remove::hover {
      color: rgb(var(--danger))
  }
}

.address__firstdiv {
  & .name {
      font-weight: 500;
  } 
}

.default__btn {
  background-color: rgb(var(--textClr), 0.09) !important;
  color: rgb(var(--blackClr));
  border-radius: 10px !important;
  font-weight: 400;
  border: none;
  font-size: 9px !important;
  padding: 0px 6px !important;
}

.edit__btn {
  color: rgba(var(--blackClr), 0.7);
}
.remove__btn {
  color: rgba(var(--danger), 0.8); 
}

.edit__btn,.remove__btn{
  cursor: pointer;
  font-weight: 300;
  font-size: 21px;
}
.main-address{
  background-color: rgb(var(--whiteClr));
  border-radius: 4px;
  padding: 20px;
}
.single-address:not(:last-child){
  padding-block-end: 20px;
  border-block-end: 0.5px solid rgb(var(--textClr), 0.09);
}

.hidden {
  display: none;
}


