
<form action="" class="search relative" [ngClass]="searchQuery ? 'active' : ''">
    <input type="text" #searchValue class="form__input search-bar d-flex align-item-center" [placeholder]="searchPlaceholder" (keyup)="typed($event)">
    <button type="{{onButtonClick=='navbar' ? 'button' : ''}}" class="btn mh100 search__btn d-flex justify-content-md-between align-item-center absolute inset-block-0 inset-inline-end-0" (click)="searchIt(false);">
        <span class="material-symbols-outlined">
            search
        </span>
    </button>

   
</form>