.search {
    height: 100%;
}
.search-bar{
    /* height: 100%; */
    width: max(200px, 100%);
    margin-inline-end: auto;
    background: transparent;
}
.search-bar.form__input{
    padding-inline: 15px 48px;
}
.search button{
    padding: 0;
    background: transparent;
    width: 40px;
    & span{
        color: rgb(var(--blackClr));
        opacity: 0.5;
    }
}
