.form__card {

    & .image-upload-div {
        width: 40%;
    }

    & .data-upload-div {
        width: 60%;
    }

    & .internal-div {
        display: flex;
        flex-direction: column;
        gap: 5px;
    }
}

.image-upload-div {
    background: rgb(var(--secondary));
    border-radius: 10px;

    & input[type="file"] {
        display: none;

        &::-webkit-file-upload-button {
            display: none;
        }
    }

    & .upload__block {
        border-radius: 50%;
        padding: 50px;
        font-size: 10px;
        font-weight: 500;
        color: rgb(var(--blackClr), 0.6);
    }

    & label {
        background: #ffffff;
        padding: 46px;
        height: 40px;
        width: 40px;
        border-radius: 50%;
    }

    & .upload_icon {
        font-size: 48px;
        opacity: 0.7;
    }

}
.preview-image {
    width: 80%;
    height : 80%;
    border: none;
}

.remove-btn {
    position: absolute;
    right: 10px;
    top: 10px;
    background-color: rgb(var(--whiteClr), 0.6);
    border-radius: 50%;
    padding: 2px;
    font-size: 18px;
}

.banner-label {
    color: rgb(var(--blackClr), 0.7)
}
.banner-image {
    position: absolute;
    top: 0;
    border-radius: 6px;
}
.loader {
    position: absolute;
    right: 20px;
    bottom: 20px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid #ffffff;
    border-top-color: rgb(var(--primaryClr));;
    animation: spinner .8s linear infinite;
}

.color-circle {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 0.5px solid black;
}

.checkbox label {
    font-size: 12px;
    /* font-style: italic; */
    /* color: rgb(var(--primaryClr)); */

}
.custom-check {
    appearance: none;
    width: 15px;
    height: 15px;
    border: 1px solid rgb(var(--blackClr), 0.4);
    /* border-radius: 4px; */
}
.custom-check:checked {
    background-color: rgb(var(--primaryClr));
    border-color: rgb(var(--primaryClr));
}
.custom-check:checked + label{
    position: relative;
}

.custom-check:checked + label::after {
    content: "\e5ca";
    font-family: 'Material Symbols Outlined';
    height: 10px;
    width: 6px;
    color: white;
    position: absolute;
    font-size: 18px;
    font-weight: 300;
    left: -26px;
    top: -5px;
}

@keyframes spinner {
    to {transform: rotate(360deg);}
  }

