
<section id="dashboard-section">
    
    <div #sidePanel class="side-panel relative">
        <a href="javascript:void(0);" #toggleBtn 
            class="toggle-button d-flex absolute">
            <span class="d-flex justify-content-center icons material-symbols-outlined mw100">menu</span>
        </a>
        <ul class="panel-items d-flex flex-column">
            <li class="panel-links d-flex flex-column relative" routerLink="/dashboard">

                <a href=" javascript:void(0);" class="dropdown d-flex justify-content-md-between">
                    <div class="d-flex align-center">
                        <span class="icons material-symbols-outlined">bar_chart_4_bars</span>
                        <span class="link-text">Overview</span>
                    </div>
                    <span class="material-symbols-outlined">arrow_drop_down</span>
                </a>

                <!-- <ul class="sub-items d-flex flex-column">
                    <li class="sub-links"><a href="javascript:void(0);">Link1</a></li>
                    <li class="sub-links"><a href="javascript:void(0);">Link1</a></li>
                    <li class="sub-links"><a href="javascript:void(0);">Link1</a></li>
                </ul> -->
            </li>
            <li class="panel-links"> 
                <a href="javascript:void(0);" routerLink="/dashboard/products">
                    <span class="icons material-symbols-outlined">inventory</span>
                    <span class="link-text">Products</span>
                </a>
            </li>
            <li class="panel-links">
                <a href="javascript:void(0);">
                    <span class="icons material-symbols-outlined">shopping_cart</span>
                    <span class="link-text">Orders</span>
                </a>
            </li>
            <li class="panel-links">
                <a href="javascript:void(0);">
                    <span class="icons material-symbols-outlined">person</span>
                    <span class="link-text">Users</span>    
                </a>
            </li>
            <li class="panel-links">
                
                <a href="javascript:void(0);">
                    <span class="icons material-symbols-outlined">reviews</span>
                    <span class="link-text">Reviews</span>
                </a>
            </li>
            <li class="panel-links">
                <a href="javascript:void(0);">
                    <span class="icons material-symbols-outlined">receipt_long</span>
                    <span class="link-text">Transactions</span>
                </a>
            </li>
        </ul>
    </div>
</section>