
<section id="dashboard-section">
    
    <div #sidePanel class="side-panel relative">
        <div class="nav-header d-flex justify-content-md-between align-items-center">
            <a routerLink="/home">
                <img src="../../../assets/logo.svg" alt="Logo" style="height: 40px;">
            </a>

            <a href="javascript:void(0);" #toggleBtn 
                class="toggle-button d-flex relative">
                <span class="d-flex justify-content-center icons material-symbols-outlined mw100">menu</span>
            </a>

        </div>

        
        <ul class="panel-items d-flex flex-column">
            <li class="panel-links" routerLink="/dashboard">
                <a href=" javascript:void(0);" class="dropdown d-flex justify-content-md-between">
                    <div class="d-flex align-center">
                        <span class="icons material-symbols-outlined">bar_chart_4_bars</span>
                        <span class="link-text">Overview</span>
                    </div>
                </a>
            </li> 
            <li class="panel-links "> 
                <a href="javascript:void(0);" (click)="toggle()"  class="dropdown d-flex justify-content-md-between">
                    <div class="d-flex align-center">
                        <span class="icons material-symbols-outlined">inventory</span>
                        <span class="link-text">Products</span>
                    </div>
                    <span class="material-symbols-outlined">arrow_drop_down</span>
                </a>
                <ul class="sub-items d-flex flex-column" [ngClass]="{'collapse': isCollapse}">
                    <li class="sub-links" routerLink="/dashboard/products" ><a href="javascript:void(0);">Product Managment</a></li>
                    <li class="sub-links"><a href="javascript:void(0);">Product Category</a></li>
                    <li class="sub-links" routerLink="/dashboard/addproduct"><a href="javascript:void(0);">Add New Product</a></li>
                </ul>
            </li>
            <li class="panel-links">
                <a href="javascript:void(0);" routerLink="/dashboard/orders">
                    <span class="icons material-symbols-outlined">shopping_cart</span>
                    <span class="link-text">Orders</span>
                </a>
            </li>
            <li class="panel-links">
                <a href="javascript:void(0);">
                    <span class="icons material-symbols-outlined">person</span>
                    <span class="link-text">Users</span>    
                </a>
            </li>
            <li class="panel-links">
                
                <a href="javascript:void(0);">
                    <span class="icons material-symbols-outlined">reviews</span>
                    <span class="link-text">Reviews</span>
                </a>
            </li>
            <li class="panel-links">
                <a href="javascript:void(0);">
                    <span class="icons material-symbols-outlined">receipt_long</span>
                    <span class="link-text">Transactions</span>
                </a>
            </li>
        </ul>
    </div>
</section>