<section id="dashboard" class="relative">

    <header class="header fixed inset-inline-0 inset-block-start-0 transition" [class.active]="isCollapse">
        <div class="mh100 header_container d-flex align-item-center justify-content-md-between">
            <div class="toogle-section d-flex gap-10 align-item-center">
                <span (click)="isCollapse = !isCollapse" aria-label="menu"
                    class="pointer d-flex align-item-center mh100">
                    <span class="material-symbols-outlined">menu</span>
                </span>
                <span aria-label=" Logo (Trade Vogue) (Light Mode)" [routerLink]="['/']">
                    <img class="brand-logo" width="50px" src="../../assets/logo-mobile.svg" *ngIf="!darkTheme"
                        [class.active]="isCollapse" alt="Trade Vogue">
                </span>
                <span aria-label="Mobile Logo (Trade Vogue) (dark_mode Mode)" [routerLink]="['/']"><img
                        class="brand-logo" width="50px" src="../../assets/logo-mobile-light.svg" *ngIf="darkTheme"
                        [class.active]="isCollapse" alt="Trade Vogue">
                </span>
            </div>
            <ul class="mh100 header_items d-flex align-item-center justify-content-end gap-20">

                <li class="mh100 header_links d-flex flex-center ">
                    <span routerLink="/dashboard/chat" class="message d-flex flex-center relative">
                        <span class="pointer transition  icons material-symbols-outlined">Message</span>
                        <span class="count d-flex flex-center text-center absolute">{{chatLength}}</span>
                    </span>
                </li>
                <li class="header_links relative d-flex flex-center  pointer mh100">
                    <span class="notification d-flex flex-center relative">
                        <span class="pointer transition icons material-symbols-outlined">notifications</span>
                        <span class="count d-flex flex-center text-center absolute">{{notficationList.length}}</span>
                    </span>
                    <div class="notficationList absolute d-flex align-item-center">
                        <ul class="d-flex flex-column">
                            <li *ngFor="let item of notficationList; let i=index">
                                <span class="d-flex align-item-center gap-10" [routerLink]="['/dashboard/product-overview/'+item.sku]">
                                    <img [src]="item.image" alt="product image" width="30px" height="30px">
                                    <div class="d-flex flex-column ">
                                        <p class="name fw-500 fs-12 text-ellipsis">{{item.name}}</p>
                                        <p class="out-of-stock fs-10">{{'Out of Stock'}}</p>
                                    </div>
                                </span>
                            </li>
                        </ul>
                    </div>
                </li>

                <li class="header_links">
                    <span class="mh100 notification d-flex align-item-center relative" (click)="toggleTheme()">
                        <span class="pointer transition icons material-symbols-outlined" *ngIf="!darkTheme">
                            dark_mode</span>
                        <span class="pointer transition icons material-symbols-outlined"
                            *ngIf="darkTheme">light_mode</span>
                    </span>
                </li>
                <li class="header_links profile d-flex align-item-center gap-10 pointer"
                    [routerLink]="'/dashboard/account'">
                    <!-- <span class="account__icon absolute material-symbols-outlined">settings</span>                -->

                    <img class="profile__photo" width="35px" height="35px" src="../../../assets/avatars/try.svg"
                        alt="profile">
                    <span class="profile-content d-flex flex-column justify-content-center">
                        <h5 class="profile-title fs-12 fw-500">{{this.adminName}}</h5>
                        <p class="profile-sub-title fs-12" style="color: rgb(var(--blue-clr));">Admin</p>
                    </span>
                </li>
            </ul>
        </div>
    </header>

    <div class="sidebar fixed inset-block-start-0 inset-inline-start-0 transition" [class.active]="isCollapse">
        <span class="branding d-flex align-item-center">
            <a [routerLink]="['/']">
                <ng-container *ngIf="!darkTheme; else lightTheme">
                    <img class="brand-logo" src="../../assets/logo.svg" [class.active]="isCollapse" alt="Logo">
                    <img class="mobile-logo" src="../../assets/logo-mobile.svg" alt="Logo">
                </ng-container>
                <ng-template #lightTheme>
                    <img class="brand-logo" src="../../assets/logo-light.svg" [class.active]="isCollapse" alt="Logo">
                    <img class="mobile-logo" src="../../assets/logo-mobile-light.svg" alt="Logo">
                </ng-template>
            </a>
        </span>

        <nav class="navbar mh100">
            <ul class="navlist d-flex flex-column mh100 relative">
                <li class="transition" *ngFor="let item of navitems">

                    <a [routerLink]="item.route ? item.route: null"
                        (click)="item.name.toLowerCase() == 'logout' ? logout() : null;" [class.dropdown]="item.sublist"
                        [routerLinkActive]="'active'" [routerLinkActiveOptions]="{exact: true}"
                        class="nav-links relative align-item-center d-flex gap-15 pointer transition">
                        <i class="icons material-symbols-outlined">{{item.icons}}</i>
                        <span class="nav-text">{{item.name}}</span>
                    </a>

                    <ul class="sub-navlist transition" *ngIf="item.sublist" routerLinkActive="active">
                        <li class="sub-links transition" *ngFor="let subitem of item.sublist">
                            <a class="mw100" [routerLink]="subitem.route" routerLinkActive="active">{{subitem.name}}</a>
                        </li>
                    </ul>
                </li>

            </ul>
        </nav>
    </div>
    <main class="main transition">
        <div class="content">
            <router-outlet></router-outlet>
        </div>
    </main>
</section>