#dashboard-section {

    /* DashBoard Colors */
    --background-clr: 238, 238, 238;
    --dash-card-clr: 255, 255, 255;
    --dash-yellow-clr: 249, 165, 80;
    /* --dash-green-clr: 16, 196, 105; */
    --dash-green-clr: var(--success);
    --dash-blue-clr: 24, 138, 226;
    /* --dash-red-clr: 255, 91, 91; */
    --dash-red-clr: var(--danger);
    --dash-title-clr: 34, 40, 49;
    /* --dash-title-clr: 0, 28, 48; */
    --dash-sub-title-clr: 57, 62, 70;

    /* --background-clr: 0, 0, 0;
    --dash-card-clr: 44, 44, 49;
    --dash-yellow-clr: 249, 165, 80;
    --dash-green-clr: var(--success);
    --dash-blue-clr: 24, 138, 226;
    --dash-red-clr: var(--danger);
    --dash-title-clr: 255, 255, 255;
    --dash-sub-title-clr: 200, 200, 200;
    
    --text-black: 255, 255, 255;
    --text-white: 0, 0, 0;
    --background: 34, 34, 34;
    --primary: 255, 255, 255;
    --secondary: 200, 200, 200;
    --accent: 0, 173, 181;
    --danger: 223, 22, 33;
    --success: 60, 167, 23; */

    font-size: 14px !important;
    background-color: rgb(var(--background-clr), 0.4);


    & .navbar {
        height: 100vh;
        width: 74px;
        overflow: hidden;
        box-shadow: 2px 0px 5px rgba(128, 128, 128, 0.164);
        position: fixed;
        inset-block-start: 0;
        inset-inline-start: 0;
        transition: all 0.2s ease-in-out;
        overflow: hidden;
        z-index: 5;
        padding: 6px 12px;
        background-color: rgb(var(--dash-card-clr));
    }

    & .header {
        height: 60px;
        justify-content: center;
    }

    & .navbar.active>.header {
        justify-content: space-between;
    }

    & .branding {
        display: none;
    }

    & .navbar.active>.header .branding {
        display: block;
    }

    & .navbar.active {
        width: 240px;
        opacity: 1;
    }

    & .content {
        background-color: rgba(var(--secondary), 0.01);
        width: calc(100% - 74px);
        margin-inline-start: 74px;
        height: 100%;
        padding: 24px;
        transition: all 0.3s ease-in-out;
    }

    & .navbar.active+.content {
        width: calc(100% - 240px);
        margin-inline-start: 240px;
    }

    & .navbar.active>.sidebar .navlist li .link-text {
        opacity: 1;
        pointer-events: auto;
        display: flex;
        align-items: center;
    }

    & .sidebar {
        width: 100%;
        height: calc(100% - 60px);

        & .navlist li {
            position: relative;
            width: 100%;
            font-size: 14px;
            font-weight: 500;
            transition: all 0.2s ease-in-out;
            border-radius: 8px;
            /* border-bottom: 2px solid; */

            &:hover {
                background-color: rgb(var(--primary), 0.05);
            }

            & .link-text {
                display: none;
                opacity: 0;
                color: rgb(var(--dash-title-clr));
                transition: all 0.2s ease-in-out;
                pointer-events: none;
            }

            & a {
                display: flex;
                align-items: center;
                width: 100%;
                padding-block: 12px;
            }

            & .icons {
                display: flex;
                align-items: center;
                justify-content: center;
                text-align: center;
                height: 30px;
                min-width: 50px;
                font-weight: 400;
                font-size: 20px;
                color: rgb(var(--primary));
            }
        }
    }

    & .sub-navlist {
        height: 0;
        overflow: hidden;
        opacity: 0;
        transition: all 1s ease-in-out;

        & li{
            padding-inline-start: 40px;
        }
    }

    & .nav-links .dropdown .arrowbtn{
        padding-inline: 10px;
        transition: all 0.3s ease-in-out;
        transform: rotate(0deg);
    }

    & .nav-links.profile {
        position: absolute !important;
        bottom: 0;
        left: 0;

        & .photo-section{
            height: 50px;
            min-width: 50px;
            /* background-color: aqua; */
        }

        & #profile__photo{
            width: 45px;
            height: 45px;
            border-radius: 5px;
        }
    }

    @media screen and (min-width: 768px) {
        & .nav-links:hover > .sub-navlist {
            height: max-content;
            opacity: 1;
            display: block;
        }

        & .nav-links:hover .dropdown .arrowbtn{
            transform: rotate(-180deg);
        }
    }
    @media screen and (max-width: 767px) {
        & .navbar.active li.active > .sub-navlist {
            height: max-content;
            opacity: 1;
            display: block;
        }

        & .nav-links.active .dropdown .arrowbtn{
            transform: rotate(-180deg);
        }
    }


















    & .spike {

        & .fa-arrow-trend-up {
            color: rgb(var(--dash-green-clr)) !important;
            font-size: 12px !important;
        }

        & .value {
            color: rgb(var(--dash-green-clr)) !important;
            font-size: 12px !important;
        }
    }

    & .table-controls {
        & pagination-controls {
            display: flex;
            align-items: center;

            & .ngx-pagination {
                margin-bottom: 0 !important;
            }

            & .ngx-pagination .current {
                padding: 7px 12px;
                background-color: rgb(var(--accent), 0.9) !important;
                border-radius: 5px;
            }
        }
    }


    & .drop {

        & .fa-arrow-trend-down {
            color: rgb(var(--dash-red-clr)) !important;
            font-size: 12px !important;
        }

        & .value {
            color: rgb(var(--dash-red-clr)) !important;
            font-size: 12px !important;
            font-weight: 500;
        }
    }

    & .inventory {
        font-weight: 600;
        font-size: 13px;
    }

    & .inventory.good {
        color: rgb(var(--success));
    }

    & .inventory.okay {
        color: rgba(255, 85, 0, 0.992);
    }

    & .inventory.bad {
        color: rgb(var(--danger));
    }

}

/* Apply rounded corners to the legend container */
.rounded-legend .chartjs-render-monitor .chartjs-size-monitor-expand,
.rounded-legend .chartjs-render-monitor .chartjs-size-monitor-shrink,
.rounded-legend .chartjs-render-monitor {
    border-radius: 10px;
    /* Adjust the border radius as needed */
}