#dashboard {


    --whiteClr-clr: 238, 238, 238;
    --title-clr: 34, 40, 49;
    --sub-title-clr: 57, 62, 70;
height: 100vh;

    font-family: 'Inter', sans-serif !important;
/* font-family: 'Roboto', sans-serif !important; */

    font-size: 13px !important;

    & .form__input {
        width: 100%;
        height: 40px;
        padding-inline: 15px;
        border-radius: 4px;
        outline: 1px solid rgba(var(--blackClr), 0.2);
        font-size: 14px;
        border: none;
    
        &:is(:focus, :hover, .active) {
            border-color: rgb(var(--primaryClr));
            outline-color: rgb(var(--primaryClr));
        }
    }
    
    & span.error{
        position: absolute;
        inset-block-start: calc(100% + 1px);
        inset-inline-start: 0px;
    }
    
    & .form__textarea{
        height: 130px;
        resize: none;
        padding-block: 8px;
    }

    & .header {
        z-index: 1;
        height: 65px;
        width: 100%;
        background-color: rgb(var(--whiteClr));
        padding-inline-start: 240px;
        border-bottom: 1px solid rgba(var(--blackClr), 0.1);

        & .header_container {
            padding: 14px 30px 14px 12px;
            height: 100%;
        }

        & .toogle-section {
            transition: all 0.3s ease-in-out;

            & .brand-logo {
                transform: translateY(-1.5px);
                height: 45px;
                width: 0;
                opacity: 0;
            }
        }


        & .header_items li {

            & .notification,
            .message {

                & .icons {
                    font-size: 22px;

                    &:hover {
                        transform: scale(1.1);
                    }
                }

                & .count {
                    font-size: 10px;
                    background-color: rgb(var(--blue-clr));
                    color: rgb(var(--whiteClr));
                    width: 14px;
                    height: 14px;
                    border-radius: 50%;
                    inset-inline-end: -4px;
                    inset-block-start: -4px;
                }
            }
        }

        & .header_links.profile {

            & .photo-section {
                width: 35px;
                height: 35px;

                & img {
                    object-fit: cover;
                    object-position: top;
                    border-radius: 50%;
                }
            }

            & .profile-content {
                line-height: 1.3;

                & .profile-title {
                    text-wrap: nowrap;
                }

                & .profile-sub-title {
                    color: rgb(var(--blue-clr));
                    font-weight: 500 !important;
                }
            }
        }
    }

    & .sidebar {
        width: 240px;
        height: 100%;
        z-index: 2;
        border-right: 1px solid rgba(var(--blackClr), 0.1);

        & .branding {
            padding: 8px 12px;
            height: 65px;
            background-color: transparent;

            & img {
                opacity: 1;
                height: 50px;
                width: fit-content;
            }

            & img:last-child {
                opacity: 0;
                height: 0;
                width: 0;
                transition: all 0.3s ease-in-out;
            }
        }

        & .navbar {
            height: calc(100% - 65px);
            background-color: rgb(var(--whiteClr), 0.2);
        }


        & a.dropdown::after {
            position: absolute;
            content: '\e5c5';
            font-family: 'Material Symbols Outlined';
            aspect-ratio: 1/1;
            right: 10px;
            rotate: -90deg;
            top: 9px;
            font-size: 22px;
            font-weight: 300;
            transition: all 0.3s ease-in-out;
        }

        & .navlist li{

            padding-inline: 10px;

            & a{
                padding: 15px 15px;
                transition: all 0.2s ease-in-out;

                &:not(:last-child):hover {
                    color: rgb(var(--primaryClr));
                }
            }

            & .icons {
                font-size: 20px;
            }

            & .sub-navlist {
                height: 0;
                overflow: hidden;
                opacity: 0;
                transition: all 0.3s ease-in-out;

                & li {
                    padding-inline-start: 35px;
                    padding-block: 10px;

                    & a:hover{
                        color: rgb(var(--primaryClr));
                    }
                }
            }
        }

        & .navlist li:hover > .sub-navlist {
            height: max-content;
            opacity: 1;
        }

        & .navlist li:hover > a.dropdown::after {
            rotate: 0deg;
        }
    }

    & .navlist > li:last-child {
        margin-top: auto;

        & a {
            background-color: rgba(var(--primaryClr), 1);
            justify-content: center;
            color: rgb(var(--whiteClr));
            margin-bottom: 10px;
            border-radius: 5px;

            &:hover{
                background-color: rgba(var(--primaryClr), 0.8);
            }
        }
    }

    & .main {
        background-color: rgba(var(--secondary), 1);
        margin-inline-start: 240px;
        padding: 30px;

    }

    @media screen and (min-width: 992px) {

        & .header.active {
            padding-inline-start: 50px;
        }

        & .sidebar.active {
            width: 50px;
            overflow: hidden;

            & .branding {

                & img:first-child {
                    opacity: 0;
                    height: 0px;
                    width: 0;
                }

                & img:last-child {
                    opacity: 1;
                    height: 50px;
                    width: fit-content;
                }
            }

            & .link-text {
                opacity: 0;
                visibility: hidden;
            }

            & .navbar .navlist li {
                padding-inline: 0px !important;
            }
            & a.dropdown::after{
                opacity: 0;
            }
        }

        & .sidebar.active:hover {
            width: 240px;
            background-color: rgb(var(--whiteClr));

            & .branding {

                & img:first-child {
                    opacity: 1;
                    height: 50px;
                    width: fit-content;
                }

                & img:last-child {
                    opacity: 0;
                    height: 0px;
                    width: 0;
                }
            }

            & .link-text {
                opacity: 1;
                visibility: visible;
            }

            
            & .navbar .navlist li {
                padding-inline: 10px !important;
            }

            & a.dropdown::after{
                opacity: 1;
            }

        }

        & .sidebar.active+.main {
            margin-inline-start: 50px;
        }
    }

    @media screen and (max-width: 767px) {
        
        & .header {
            padding-inline-start: 0px;

            & .toogle-section {
                & .brand-logo {
                    width: fit-content;
                    opacity: 1;
                }
            }
        }

        & .sidebar {
            width: 0px !important;
            opacity: 0;
            overflow: hidden;
        }

        & .main {
            margin-inline-start: 0px;
        }

        & .sidebar.active {
            width: 240px !important;
            inset-block-start: 50px;
            background-color: rgb(var(--whiteClr));
            opacity: 1;
            overflow: visible;

            & .branding {
                display: none;
            }
        }

    }



    /* Component Styling */
    & .spike {

        & .fa-arrow-trend-up {
            color: rgb(var(--green-clr)) !important;
            font-size: 12px !important;
        }

        & .value {
            color: rgb(var(--green-clr)) !important;
            font-size: 12px !important;
        }
    }

    & .table-controls {
        & pagination-controls {
            display: flex;
            align-items: center;

            & .ngx-pagination {
                margin-bottom: 0 !important;
            }

            & .ngx-pagination .current {
                padding: 4px 12px;
                background-color: rgb(var(--primaryClr), 0.9) !important;
                border-radius: 5px;
            }
        }
    }


    & .drop {

        & .fa-arrow-trend-down {
            color: rgb(var(--red-clr)) !important;
            font-size: 12px !important;
        }

        & .value {
            color: rgb(var(--red-clr)) !important;
            font-size: 12px !important;
            font-weight: 500;
        }
    }

    & .inventory {
        font-weight: 500;
        font-size: 12px;
    }

    & .inventory.good {
        color: rgb(var(--success));
    }

    & .inventory.okay {
        color: rgba(255, 85, 0, 0.992);
    }

    & .inventory.bad {
        color: rgb(var(--danger));
    }
}
/* 
.form__input{
    width: 100%;
    height: 40px;
    padding-inline: 15px;
    border-radius: 4px;
    border: 1px solid rbga(var(--blackClr), 0.2);
    font-size: 14px;

    &:is(:focus,:hover,.active){
        border-color: rgb(var(--primaryClr));
    }
} */