.gap-6{
    gap: 6px;
}
.gap-8{
    gap: 8px;
}

.cart-container {
    gap: 20px;
    width: 100%;
}

.cart-items {
    /* width: 48%; */
    width: 100%;
    display: flex;
    align-items: center;
    padding-inline: 20px;
    padding-block: 15px;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    border: none;
    position: relative;

    /* &:is(:hover) {
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
    } */

    & .col {
        width: 100%;
        & .item-check {
            display: flex;
            align-items: center;

            & input[type="checkbox"] {
                display: none;
            }

            & .material-symbols-outlined {
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 20px;
                font-weight: 500;
                color: white;
                width: 20px;
                height: 20px;
                border-radius: 3px;
                border: 1px solid rgba(128, 128, 128, 0.264);
            }

            & input[type="checkbox"]:checked+label .material-symbols-outlined {
                background-color: rgb(var(--accent));
                border-color: rgb(var(--accent));
            }
        }
    }

    & .product-img {
        padding: 10px 24px;
        /* height: 100%; */
        /* margin-right: 10px */
        border-radius: 10px;
        background-color: rgb(var(--secondary), 0.4);
    }

    & img {
        max-width: 60px;
        height: 100%;
        object-fit: cover;
    }

    & .labels {
        font-size: 14px !important;
        font-weight: 600;
    }

}

.quantity-btn-outer {
    /* border-radius: 5px; */

    & .quantity-value {
        padding-inline: 14px;
        background-color: white;
        height: 100%;
        /* border-block: 1px solid rgb(var(--text-black), 0.05); */
    }
}

.quantity {
    display: flex;
    align-items: center;
    height: 100%;
}

.quantity-btn {
    background-color: rgb(var(--text-black), 0.05);
    padding: 5px 10px;
    border: none;
    /* background: transparent; */
    cursor: pointer;
    display: flex;
    align-items: center;

    & .material-symbols-outlined {
        font-size: 18px;
        color: rgb(var(--text-black));
    }
}

.remove-btn {
    padding: 0 !important;
    border-radius: 0;
    border: none;
    cursor: pointer;
    font-size: 14px;
    background-color: transparent;
    /* position: absolute; */
    inset-block-start: 15px;
    inset-inline-end: 10px;

    & a{
        color: rgb(var(--danger));
    }

    & span {
        font-weight: 300;
        font-size: 24px;
    }
}

.colors-radios input {
    width: 14px;
    height: 14px;
    appearance: none;
    cursor: pointer;
    border-radius: 50%;
    margin-inline: 5px;
    border: 1px solid transparent;
    transition: all 0.1s;
}

.final-price{
    font-size: 22px;
}

.colors-radios input:checked {
    border: 1px solid rgb(var(--text-black));

}

.colors-radios input::before {
    text-align: center;
}

.blue {
    background-color: rgb(0, 172, 245);
}

.pink {
    background-color: pink;
}

.red {
    background-color: red;
}

.teal {
    background-color: rgb(44, 196, 196);
}

.yellow {
    background-color: yellow;
}


.sizes-radios input {
    display: none;
}

.sizes-radios input+label {
    cursor: pointer;
    border-radius: 2px;
    padding: 1px 6px;
    border: 1px solid rgba(var(--text-black), 0.2);
    color: rgb(var(--text-black));
    font-size: 14px;
    transition: all 0.1s;
}


.sizes-radios input:checked+label {
    border: 1px solid rgb(var(--text-black));
}

.sizes-radios input::before {
    content: attr(label);
    text-align: center;
}


@media screen and (max-width: 1024px) {

    .cart-items {
        min-width: 100%;
    }

}

@media screen and (max-width: 768px) {

    .cart-items {
        min-width: 49%;
        display: flex;
        align-items: center;
        padding-inline: 10px;
        padding-block: 10px;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
        border-radius: 10px;
    }


}

@media screen and (max-width: 480px) {

    .cart-container {
        text-align: center;
    }

    h2 {
        font-size: 18px !important;
    }

    p {
        font-size: 14px !important;
    }

    .labels {
        display: none;
    }

    .cart-item {
        gap: 20px;
        padding-inline: 20px;
        padding-block: 20px;
    }

    .item-details {
        gap: 5px;
    }

    .cart-item img {
        max-width: 80px;
        object-fit: cover;
    }

    .options {
        margin-block: 10px;
    }

    .sizes,
    .colors,
    .operation {
        justify-content: center;
    }


    .sizes-radios,
    .colors-radios {
        padding: 0px;
        gap: 6px;

        & input {
            padding: 1px 5px !important;
        }
    }

    .options {
        gap: 10px;
    }

    .colors-radios input {
        width: 15px;
        height: 15px;
        appearance: none;
        cursor: pointer;
        border-radius: 50%;

        margin-inline: 5px;
        border: 1px solid transparent;
        transition: all 0.1s;
    }

    .sizes-radios input {
        font-size: 12px;
    }

    .quantity-btn {
        padding: 10px;
        border: none;
        background: transparent;
        cursor: pointer;
        display: flex;
        align-items: center;

        & .material-symbols-outlined {
            font-size: 18px;
            color: rgb(var(--text-black));
        }
    }

    .remove-btn {
        right: 5px;
        top: 5px;

        & span {
            font-size: 18px;
        }
    }

    .quantity-btn {
        padding: 5px;

        & .material-symbols-outlined {
            font-size: 12px;
            color: rgb(var(--text-black));
        }
    }

    .quantity-value {
        font-size: 12px;
        padding-inline: 5px;
    }
}