.gap-6 {
    gap: 6px;
}

.gap-8 {
    gap: 8px;
}

.cart-container {
    gap: 20px;
    width: 100%;
}

.mobile-view {
    display: none;
}

.disabled-item{
    opacity: 0.6;
    pointer-events: none;
}

.product-info {
    & h4 {
        width: 25ch;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        font-weight: 500;
    }

    & p {
        font-size: 12px !important;
    }
}

.product-image {
    padding-inline-start: 5px;
}

.cart-items {
    width: 100%;
    display: flex;
    align-items: center;
    border-block-end: 1px solid rgba(var(--textClr), 0.1);
    padding-block-end: 20px;
    position: relative;


    & .col {
        width: 100%;

        /* height: fit-content; */
        & .item-check {
            display: flex;
            align-items: center;

            & input[type="checkbox"] {
                display: none;
            }

            & .material-symbols-outlined {
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 20px;
                font-weight: 500;
                color: white;
                width: 20px;
                height: 20px;
                border-radius: 3px;
                border: 1px solid rgba(128, 128, 128, 0.264);
            }

            & input[type="checkbox"]:checked+label .material-symbols-outlined {
                background-color: rgb(var(--primaryClr));
                border-color: rgb(var(--primaryClr));
            }
        }
    }

    & .product-img {
        border-radius: 5px;
        height: fit-content;
        overflow: hidden;
        background-color: rgb(var(--secondary), 0.4);
    }

    & img {
        height: 93px;
        width: 74px;
        object-fit: cover;
    }
}

.price.skeleton{
    max-width: 100px;
    max-height: 19px;

    & p{
        opacity: 0;
    }
}
.dummy-item{
    margin-block-start: 10px;
    height: 100px;
    gap: 32px;

    & .image{
        margin-inline-start: 3px;
        height: 93px;
        width: 73px;
        border-radius: 5px;
    }

    & .d-heading{
        width: 280px;
        height: 16px;
        padding-block-start: 5px;
    }

    & .d-text{
        max-width: 200px;
        height: 12px;
    }
    & .d-text-2{
        max-width: 160px;
        height: 16px;
    }
}

.cart-items:last-child {
    border-block-end: none;
}

.quantity-btn-outer {
    & .quantity-value {
        padding-inline: 14px;
        height: 100%;
    }
}

.quantity-btn {
    display: flex;
    align-items: center;
    background-color: rgb(var(--whiteClr));
    border-radius: 50%;
    padding: 5px;
    border: 1px solid rgb(var(--blackClr), 0.1);

    & .material-symbols-outlined {
        font-size: 18px;
        color: rgb(var(--textClr));
    }
}
.quantity-btn.disable{
    opacity: 0.5;
    background-color: rgb(var(--blackClr), 0.05);
    border: 1px solid rgb(var(--blackClr), 0.02);
    cursor: not-allowed;
}

.color-circle {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 1px solid rgb(var(--blackClr), 0.2);
}

.quantity {
    display: flex;
    align-items: center;
    height: 100%;
}


.remove-btn {
    padding: 0 !important;
    border: none;
    cursor: pointer;
    font-size: 14px;
    max-width: 22px;
    position: absolute;
    inset-block-start: -5.5px;
    inset-inline-start: -2px;
    background-color: rgb(var(--textClr));
    border-radius: 50%;
    transition: background-color 0.3s ease-in-out;
    border: 2px solid rgb(var(--whiteClr));

    & span {
        color: rgb(var(--whiteClr));
        font-weight: 600;
        font-size: 16px;
    }
}

.remove-btn:hover {
    background-color: rgb(var(--danger));
    border-radius: 50%;
}

.colors-radios input {
    width: 14px;
    height: 14px;
    appearance: none;
    cursor: pointer;
    border-radius: 50%;
    margin-inline: 5px;
    border: 1px solid transparent;
    transition: all 0.1s;
}

.final-price {
    justify-content: flex-end;
    font-size: 22px;
    width: 7ch;
}

.colors-radios input:checked {
    border: 1px solid rgb(var(--textClr));

}

.colors-radios input::before {
    text-align: center;
}

.sizes-radios input {
    display: none;
}

.sizes-radios input+label {
    cursor: pointer;
    border-radius: 2px;
    padding: 1px 6px;
    border: 1px solid rgba(var(--textClr), 0.2);
    color: rgb(var(--textClr));
    font-size: 14px;
    transition: all 0.1s;
}


.sizes-radios input:checked+label {
    border: 1px solid rgb(var(--textClr));
}

.sizes-radios input::before {
    content: attr(label);
    text-align: center;
}

.product-image {
    width: 12%;
}

.ProductINFO {
    width: 88%;
    /* background-color: green !important; */
    display: flex;
    justify-content: space-between;
}

.out-of-stock{
    border: 1px solid rgb(var(--danger));
    padding-block: 5px;
    padding-inline: 10px;
    border-radius: 4px;
    width: fit-content;
    background-color: rgb(var(--danger), 0.08);
    opacity: 0.7;

    & p{
        text-transform: uppercase;
        color: rgb(var(--danger));
        font-size: 12px !important;
    }
}

.coupons {
    border: 1px solid black;
    width: 540px;
    padding-block: 40px;
    padding-inline-start: 40px;
    padding-inline-end: 80px;

    & input {
        width: 270px;
        outline: none;
        padding-inline: 30px;
        border-radius: 8px;
        border: 1px solid transparent;
        background-color: #f5f5f5cf;
        font-size: 14px;
    }

    & :is(:focus) {
        border-color: rgb(var(--textClr), 0.4);
    }

    & ::placeholder {
        color: rgb(var(--textClr), 0.3);
    }

    & .all-coupons {
        margin-block: 30px;
    }

    & .coupon {
        padding-block: 20px;
    
        & .coupon-name h2 {
            padding: 5px;
            display: inline-block;
            border: 1px dashed rgb(var(--textClr), 0.7);
            font-size: 16px;
            font-weight: 500;
            opacity: 0.8;
        }

        & .more-btn {
            background-color: transparent;
            padding: 0;
            color: rgb(var(--primaryClr));
            font-weight: 600;
            gap: 3px;

            & span {
                font-size: 16px;
            }

            & p {
                font-size: 12px !important;
            }
        }

        & ul li {
            list-style: disc;
            margin-inline-start: 18px;
            font-size: 12px;
            opacity: 0.7;
        }
        & list {
            transform: translateY(30px);
        }

        & small {
            color: rgb(var(--danger));
        }
    }
    & .coupon:not(:last-child) {
        border-bottom: 1px solid rgb(var(--textClr), 0.15);
    }
}

@media screen and (max-width: 1024px) {
    .cart-items {
        min-width: 100%;
    }
}

@media screen and (max-width: 768px) {
    .cart-items {
        min-width: 49%;
        display: flex;
        align-items: center;
        padding-inline: 10px;
        padding-block: 10px;
        /* box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); */
        /* border-radius: 10px; */
    }
}

@media screen and (max-width: 480px) {

    .cart-container {
        text-align: center;
    }

    h2 {
        font-size: 18px !important;
    }

    p {
        font-size: 14px !important;
    }

    .cart-item {
        gap: 20px;
    }

    .item-details {
        gap: 5px;
    }

    .cart-item img {
        max-width: 80px;
        object-fit: cover;
    }

    .options {
        margin-block: 10px;
    }

    .sizes,
    .colors,
    .operation {
        justify-content: center;
    }


    .sizes-radios,
    .colors-radios {
        padding: 0px;
        gap: 6px;

        & input {
            padding: 1px 5px !important;
        }
    }

    .options {
        gap: 10px;
    }

    .colors-radios input {
        width: 15px;
        height: 15px;
        appearance: none;
        cursor: pointer;
        border-radius: 50%;

        margin-inline: 5px;
        border: 1px solid transparent;
        transition: all 0.1s;
    }

    .sizes-radios input {
        font-size: 12px;
    }

    .quantity-btn {
        padding: 10px;
        display: flex;
        align-items: center;

        & .material-symbols-outlined {
            font-size: 18px;
            color: rgb(var(--textClr));
        }
    }

    .quantity-value {
        font-size: 12px;
        padding-inline: 5px;
    }
}




@media screen and (max-width: 974px) {
    .col {
        gap: 20px;
    }

    .product-image {
        width: 15%;

        & img {
            max-width: 75px;
        }
    }

    .product-info h4 {
        width: 20ch;
        text-overflow: ellipsis;
    }

    .ProductINFO {
        flex-direction: column;
        gap: 5px;
        align-items: flex-start;
    }

    .common {
        gap: 20px;
    }

    .quantity-btn {
        & span {
            font-size: 14px !important;
        }

        padding: 5px;
    }

    .final-price {
        justify-content: flex-start;

        & p {
            font-size: 14px !important;
        }
    }
}

@media screen and (max-width: 770px) {
    .ProductINFO {
        flex-direction: row;
        align-items: center;
    }

    .common {
        gap: 65px;
    }
}

@media screen and (max-width: 600px) {
    .cart-container {
        gap: 5px;
    }

    .ProductINFO {
        flex-direction: column;
        gap: 5px;
        align-items: flex-start;
    }

    .common {
        gap: 20px;
    }

    .quantity-btn {
        & span {
            font-size: 14px !important;
        }

        padding: 5px;
    }

    .final-price {
        justify-content: flex-start;

        & p {
            font-size: 14px !important;
        }
    }

    .product-image {
        width: 25%;
    height: fit-content;

    }

    .sizes,
    .colors,
    .operation {
        justify-content: flex-start;
    }

    .product-info h4 {
        text-align: left;
    }

    .quantity-btn {
        background-color: rgb(var(--textClr), 0.05);
    }
}

@media screen and (max-width: 370px) {

    .sizes,
    .colors {
        display: none;
    }

    .mobile-view {
        display: flex;
    }

    .mobile-view p {
        padding: 2px 4px;
        border-radius: 5px;
        background-color: rgb(var(--textClr), 0.05);
    }

    .final-price {
        max-width: 4ch;
    }

    .final-price p {
        font-weight: 500;
    }

    .common {
        flex-direction: column;
        gap: 5px;
        align-items: flex-start;
    }

    .product-info h4 {
        font-size: 12px !important;
        width: 16ch;
        text-overflow: ellipsis;
    }

    .quantity-btn {
        padding: 2px;

        & span {
            font-size: 12px !important;
        }
    }

    .final-price p,
    .quantity-value {
        font-size: 12px !important;
    }

    .product-image img {
        max-width: 65px;
    }
}

@media screen and (max-width: 310px) {
    .product-image {
        width: 30%;
    }
}