<div id="chat-bots" #chatBots>
    <div class="messengers">
      <div class="notification-container" *ngIf="notifications.length > 0 && hasVisibleNotifications()">
        <div class="notification-header">
          <span class="notification-title">Latest Notifications</span>
          <button class="remove-btn d-flex align-item-center" (click)="toggle()">
            <span class="material-symbols-outlined">
              close
            </span>
          </button>
        </div>
        <div class="notification-scroll">
          <div *ngFor="let notification of visibleNotifications()" class="notification-item" (click)="redirectToUrl(notification.notification.url)">
            <div class="notification-icon">
              <img [src]="notification.notification.icon" alt="Notification Icon">
            </div>
            <div class="notification-details">
              <div class="notification-title">{{ notification.notification.title }}</div>
              <div class="notification-body">{{ notification.notification.body }}</div>
            </div>
          </div>
        </div>
        <!-- Subscribe to Notification Button -->
        <div *ngIf="!fcmToken && !notification.hasPermission">
          <button class="subscribe-button" (click)="subscribeToNotifications()">
            <i class="bi bi-bell"></i> Subscribe to Notifications
          </button>
        </div>
      </div>
    </div>
    <div class="icon-supports" (click)="toggle()" style="font-size: 15px; text-align: center;">
      <i class="bi bi-{{ showBellIcon ? 'bell' : 'x' }} fa-1x icons chat-icon"></i>
    </div>
  </div>
  