<section class="collections">
  <div class="container">
    <div class="grid-container grid m-gap-15 s-gap-10">
      <div class="item1 item" [routerLink]="['/explore']" [queryParams]="{ gender: 'female' }">
        <div class="overlay">
          <h3>Women Collection</h3>
          <div class="d-flex gap-5 align-item-center">
            <span class="btn">Shop Now</span>
            <span class="icons material-symbols-outlined">arrow_right_alt</span>
          </div>
        </div>
      </div>
      <div class="item2 item" [routerLink]="['/explore']" [queryParams]="{ gender: 'male' }" >
        <div class="overlay">
          <h3>Men Collection</h3>
          <div class="d-flex gap-5 align-item-center">
            <span class="btn">Shop Now</span>
            <span class="icons material-symbols-outlined">arrow_right_alt</span>
          </div>
        </div>
      </div>
      <div class="item3 item" [routerLink]="['/explore']">
        <div class="overlay">
          <h3>Trends</h3>
          <div class="d-flex gap-5 align-item-center">
            <span class="btn">Shop Now</span>
            <span class="icons material-symbols-outlined">arrow_right_alt</span>
          </div>
        </div>
      </div>
      <div class="item4 item" [routerLink]="['/explore']" >
        <div class="overlay">
          <h3>Explore</h3>
          <div class="d-flex gap-5 align-item-center">
            <span class="btn">Shop Now</span>
            <span class="icons material-symbols-outlined">arrow_right_alt</span>
          </div>
        </div>
      </div>
    </div>
  </div>

</section>