<div class="grid-container grid">
  <div class="item1 item">
    <div class="overlay">
      <h2>Women Collection</h2>
      <a href="#" class="btn">Shop Now</a>
    </div>
  </div>
  <div class="item2 item">
    <div class="overlay">
      <h2>Men Collection</h2>
      <a href="#" class="btn">Shop Now</a>
    </div>
  </div>
  <div class="item3 item">
    <div class="overlay">
      <h2>Kids Collection</h2>
      <a href="#" class="btn">Shop Now</a>
    </div>
  </div>
  <div class="item4 item">
    <div class="overlay">
      <h2>Explore</h2>
      <a href="#" class="btn">Shop Now</a>
    </div>
  </div>
</div>