.grid-container{
  position: relative;
  height: 500px;
  grid-template-areas: 
    'women women men men'
    'women women men men'
    'women women men men'
    'women women gift gift';
  grid-gap: 20px;
}


.item {
  overflow: hidden;
  /* box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.062); */
}

.item1 {
  grid-area: women;
  background: url(../../../assets/collections-component/women.png), linear-gradient(to top, rgb(var(--secondary)) 10%, transparent);
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat; 
  /* scale: 0.8; */
}
.item2 {
  grid-area: men;
  background: url(../../../assets/collections-component/men.png), linear-gradient(to top, rgb(var(--secondary)) 10%, transparent);
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;

}
/* .item3 {grid-area: kids;} */
.item4 {
  grid-area: gift;
  background: url(../../../assets/collections-component/men.png), linear-gradient(to top, rgb(var(--secondary)) 10%, transparent);
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
}

p{
    font-size: 20px !important;
    letter-spacing: 0.4px;
    color: rgb(var(--primary), 0.9);
}


.grid-container>div {
  height: 100%;
  width: 100%;
  position: relative;
  transition: background-color 0.3s;
  font-size: 10px;
  transition: background-color 0.3s;
}

.grid-container>div::before {
  content: '';
  position: absolute;
  top: 0;
  left: -120%;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right,
      rgba(255, 255, 255, 0.2) 0%,
      rgba(255, 255, 255, 0.1) 100%);
  transform: skewX(-25deg);
  transition: left 0.3s;
}

.overlay{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: end;
  padding: 20px;

  & h3{
    background: linear-gradient(90deg, rgb(var(--primary)) , rgb(var(--secondary)));
    /* color: rgb(var(--accent)); */
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    font-weight: 700;
  }

  & a{
    color: rgb(var(--text-black));
  }

  & .icons{
    font-weight: 200;
    transition: all 0.3s ease-in-out;
  }

  & a:hover + .icons{
    transform: translateX(5px);
  }
}


.grid-container .item1:hover::before,
.grid-container .item2:hover::before,
.grid-container .item3:hover::before,
.grid-container .item4:hover::before
{
  -webkit-animation: shine 0.6s;
  animation: shine 0.6s;
}

@-webkit-keyframes shine {
  100% {
    left: 125%;
  }
}

@keyframes shine {
  100% {
    left: 125%;
  }
}

@media (max-width: 767px) {
  .grid-container {
    grid-template-areas:
      'men women gift'
      'men women gift'
      'men women gift';
  }
  .item1 {
    background-size: 160%;
    background-position: bottom;
  }
  .item2 {
    background-size: 180%;
    background-position: bottom;
  }
}


@media (max-width: 480px) {
  .grid-container {
    grid-template-areas:
      'women'
      'men'
      'gift';
  }
  
  .item1 {
    background-size: contain;
    background-position: right;   
    background-repeat: no-repeat; 
  }
  .item2 {
    background-size: contain;
    background-position: right;
    background-repeat: no-repeat;
  
  }
}

.btn{
  text-align: left;
  font-weight: 500;
  font-size: 16px;
}