<div class="container">
  <div class="grid-container grid">
    <div class="item1 item">
      <div class="overlay">
        <h3>Women Collection</h3>
        <a href="#" class="btn">Shop Now</a>
      </div> 
    </div>
    <div class="item2 item">
      <div class="overlay">
        <h3>Men Collection</h3>
        <a href="#" class="btn">Shop Now</a>
      </div>
    </div>
    <div class="item3 item">
      <div class="overlay">
        <h3>Trends</h3>
        <a href="#" class="btn">Shop Now</a>
      </div>
    </div>
    <div class="item4 item">
      <div class="overlay">
        <h3>Explore</h3>
        <a href="#" class="btn">Shop Now</a>
      </div>
    </div>
  </div>
</div>