.product {
    padding-block-start: 120px;

    & .product-carousel {
        width: 50%;
        overflow: hidden;
        /* background-color: rgb(198, 144, 249); */
        /* padding-inline-start: 55px; */
    }

    & .product-desc {
        width: 50%;
        /* padding-block: 10px; */
        /* background-color: rgb(238, 139, 139); */
    }

    & .img-div {
        width: 100%;
        min-height: 700px;
        /* background-color: rgba(var(--text-black), 0.2); */
        background-size: contain;
        /* background-position: 70%; */
    }

    & .img-details {
        width: 230px;
        height: 230px;
        background-color: rgba(var(--text-black), 0.2);

    }

    & .products-imgs-container {
        margin-block-start: 7px;
        width: 100%;
        gap: 7px;
        flex-wrap: nowrap;
        overflow-x: scroll;

        /* margin-inline: -5px; */
        & .gal-img {
            min-width: 150px;
            min-height: 150px;
        }
    }

    .gal & .prod-details-carousel {
        /* background-color: pink; */
        /* padding-inline-start: 43px; */
        margin-block: 30px;
    }

    & .prod-name {
        font-size: 38px;
    }

    & .price {
        font-size: 44px !important;
        font-weight: 500;
    }

    & .old-price {
        font-size: 20px !important;
        text-decoration: line-through;
        color: rgba(var(--danger));
        transform: translateY(-1px);
    }
    & .offer-percentage{
        font-size: 16px !important;
        color: rgba(var(--success));
        transform: translateY(-7px);
    }

    .rating {
        & span{
            border: 1px solid transparent;
            color: #fe9704;

            font-variation-settings:
            'wght' 400,
            'GRAD' 0,
            'opsz' 48
        }
        & .filled {
            font-variation-settings:
            'FILL' 1 ,
            'wght' 400,
            'GRAD' 0,
            'opsz' 48
        }
    }

    & .sizes {
        margin-block: 20px;
    }

    .sizes-radios {
        border-radius: 4px;
        position: relative;
        width: fit-content;
    }
    .sizes-radios input+label{
        cursor: pointer;
        border-radius: 2px;
        padding: 5px 10px;
        border: 1px solid rgba(var(--text-black), 0.2);
        font-size: 15px;
        font-family: sans-serif;
        transition: all 0.1s;
    }

    .sizes-radios input {
        display: none;
    }

    .sizes-radios input:checked+label {
        border: 1px solid rgb(var(--text-black));
    }

    .sizes-radios input::before {
        content: attr(label);
        text-align: center;
    }

    .colors-radios {
        border-radius: 3px;
        position: relative;
        width: fit-content;
    }

    .colors-radios input {
        width: 20px;
        height: 20px;
        appearance: none;
        cursor: pointer;
        border-radius: 50%;
        border: 1px solid transparent;
        /* background-color: rgba(var(--text-black), 0.1); */
        transition: all 0.1s;
    }

    .colors-radios input:checked {
        border: 1px solid rgb(var(--text-black));
    }

    .colors-radios input::before {
        text-align: center;
    }

    .cart-div {
        margin-block: 20px;
        width: 100%;

        & button{
            background-color: transparent;
            border: 1px solid rgba(var(--primary));
            color: rgb(var(--primary));
        }
        & .wishlist-btn{
            padding: 8px;
            background: rgb(var(--primary));
            border-radius: 50%;
            & span{
                color: rgb(var(--text-white));
            }
        }
        & span{
            /* color: rgb(var(--text-white)); */
            color: rgb(var(--primary));
            font-size: 24px;
            font-weight: 300;
        }

        
    }
    .customSelect{
        margin-block-start: 18px;
    }
    .customSelect select{
        /* margin-block-start: 18px; */
        width: 100px;
        padding-block: 5px;
        padding-inline-end: 30px;
        padding-inline-start: 5px;
        border-radius: 5px;
        border: 1px solid rgba(var(--text-black), 0.2);
    }


    .subTitle {
        /* height: 1px; */
        width: 100%;
        padding-block-end: 10px;
        border-block-end: 1px solid rgb(var(--text-black), 0.5);
        margin-block-end: 10px;
    }

    .sku,
    .tags {
        margin-block: 15px;
    }

    .tags a:hover,
    .sku a:hover {
        color: rgb(var(--primary));
        cursor: pointer;
    }

    .prod-details h2 {
        font-size: 32px;
        margin-block-start: 30px;
        margin-block-end: 10px;
    }

    .prod-details p {
        font-size: 14px;
        color: rgba(var(--text-black), 0.8);
    }

    .feat {
        font-size: 32px !important;
    }

    .feat_list {
        list-style-type: disc !important;
    }

    .feat_list li {
        margin-block: 5px;
        margin-inline-start: 10px;
    }

    & th {
        text-align: left;
        width: 180px;

    }

    & form textarea,
    form input {
        margin-block-end: 15px;
        border-radius: 8px;
        border: 1px solid transparent;
        background-color: rgb(var(--text-black), 0.05);
        padding: 7px;
        font-size: 13px;


    }

    & input {
        padding-block: 5px;
    }

    & input:focus,
    textarea:focus {
        outline: none;
    }

    & input:focus,
    textarea:focus {
        border: 1px solid rgba(var(--text-black), 0.8);
    }

    & button {
        border-radius: 8px;
    }

    & .review-card {

        background-color: rgba(var(--text-black), 0.05);
        border-radius: 8px;
        padding: 5px;



        & .review {


            padding-block: 8px;
            padding-inline: 10px;


            & .rev {
                font-size: 14px !important;
                /* font-weight: 600; */
                margin-block-end: 5px;
            }

            & .person-info p {
                font-size: 14px !important;
                font-weight: 600;
            }
        }



    }

    & label {
        padding-block-end: 4px;
        padding-inline-start: 5px;
    }
}

.addReview {
    animation: addReview 0.5s ease-in-out;
}

@keyframes addReview {
    0% {
        opacity: 0;
        transform: translateY(-70px);
    }
    20% {
        transform: translateY(-50px);
    }
    40% {
        transform: translateY(-30px);
    }
    60% {
        transform: translateY(-10px);
    }
    80% {
        transform: translateY(10px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}