<section class="product">
    
    <div class="container d-flex">
        <div class="product-carousel" >
            <owl-carousel-o [options]="customOptions">
                <ng-template carouselSlide>
                    <div class="img-div d-flex justify-content-center align-items-center img1">
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="img-div d-flex justify-content-center align-items-center img2"></div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="img-div d-flex justify-content-center align-items-center img3"></div>
                </ng-template>
            </owl-carousel-o>  

            <!-- <div class="prod-details-carousel">
                <owl-carousel-o [options]="customOptions1">
                    <ng-template carouselSlide>
                        <div class="img-details d-flex justify-content-center align-items-center">image 1</div>
                    </ng-template>  
                    <ng-template carouselSlide>
                        <div class="img-details d-flex justify-content-center align-items-center">image 2</div>
                    </ng-template>  
                    <ng-template carouselSlide>
                        <div class="img-details d-flex justify-content-center align-items-center">image 3</div>
                    </ng-template>  
                    <ng-template carouselSlide>
                        <div class="img-details d-flex justify-content-center align-items-center">image 4</div>
                    </ng-template>  
                    <ng-template carouselSlide>
                        <div class="img-details d-flex justify-content-center align-items-center">image 5</div>
                    </ng-template>    
                  </owl-carousel-o>
            </div> -->

            <div class="products-imgs-container d-flex flex-column">
                <div class="row1 d-flex">
                <div class="gal1 gal-img"></div>
                <div class="gal2 gal-img"></div>
                </div>
                <div class="row1 d-flex">
                <div class="gal4 gal-img"></div>
                <div class="gal3 gal-img"></div>
                </div>


            </div>

            </div>
        <div class="product-desc">
            <h2 class="prod-name">OFFICIAL NASA MERCHANDISE</h2>
            <p>Men's Black Explorer NASA Graphic Printed Oversized T-shirt</p>
            <div class="line"></div>
            <h5 class="price">$100</h5>
            <div class="reviews-avail d-flex justify-content-md-between">
                <div class="rating">
                    <span class="material-symbols-outlined">star</span>
                    <span class="material-symbols-outlined">star</span>
                    <span class="material-symbols-outlined">star</span>
                    <span class="material-symbols-outlined">star</span>
                    <span class="material-symbols-outlined">star_half</span>
                </div>
                <!-- <div class="avail">
                    <p><strong>Available</strong> : 1000</p>
                </div> -->
            </div>
            <div class="sizes d-flex align-items-center gap-20">
                <p>Size</p>
                <div class="sizes-opt d-flex gap-10">
                        <div class="sizes-radios">
                            <input label="S" type="radio" name="size" value="S" >
                            <input label="M" type="radio" name="size" value="M">
                            <input label="L" type="radio" name="size" value="L">
                            <input label="XL" type="radio" name="size" value="XL">
                            <input label="XXL" type="radio" name="size" value="XXL">
                        </div>
                </div>
            </div>
            <div class="colors d-flex align-items-center gap-15">
                <p>Color</p>
                <div class="colors-opt d-flex gap-10">
                    <div class="colors-radios">
                        <input type="radio" name="size" value="S" class="pink">
                            <input type="radio" name="size" value="M" class="blue">
                            <input type="radio" name="size" value="L" class="red">
                            <input type="radio" name="size" value="XL" class="teal">
                            <input type="radio" name="size" value="XXL" class="yellow">
                    </div>
                </div>
            </div>
            <div class="cart-div d-flex gap-30">
                <select placeholder-text="Select Quantity">
                    <option value="100">100</option>
                    <option value="100">200</option>
                    <option value="100">300</option>
                    <option value="100">400</option>
                    <option value="100">500</option>
                    <option value="100">600</option>
                </select>
                <button class="btn-primary d-flex gap-10">
                    <span class="material-symbols-outlined">
                        shopping_cart
                        </span>
                    <p>ADD TO CART</p></button>
            </div>
            <div class="sku d-flex gap-10">
                <h4>Sku :</h4>
                <p class="sku_id"><a>3489 JE0765</a></p>
            </div>
            <div class="tags d-flex gap-10">
                <h4>Tags :</h4>
                <p class="sku_id"><a>Fashion</a>,<a>Oversized</a>,<a>Boys</a></p>
            </div>
            <div class="prod-details">
                <h2>Product Description</h2>
                <p>Join the ranks of the coolest space guardians with this Explorer NASA Men's Oversized T-Shirt. Club this Official NASA black t-shirt with joggers and sliders for a lounge-perfect look.</p>
                <!-- <h2 class="feat">Features</h2>
                <ul class="feat_list">
                    <li>Lorem, ipsum dolor sit amet consectetur adipisicing.</li>
                    <li>Lorem, ipsum dolor sit amet consectetur adipisicing.</li>
                    <li>Lorem, ipsum dolor sit amet consectetur adipisicing.</li>
                    <li>Lorem, ipsum dolor sit amet consectetur adipisicing.</li>
                    <li>Lorem, ipsum dolor sit amet consectetur adipisicing.</li>
                </ul> -->
                <h2>Information</h2>
                <table>
                    <tr>
                        <th>Product Code</th>
                        <td>AB42 - 2394 - DS023</td>
                    </tr>
                    <tr>
                        <th>Brand</th>
                        <td>Bewakoof</td>
                    </tr>
                    <tr>
                        <th>Composition</th>
                        <td>100% cotton</td>
                    </tr>
                    <tr>
                        <th>Weight</th>
                        <td>240 g</td>
                    </tr>  
                </table>
                <h2>Reviews</h2>
                <div class="review-card">
                    <div class="review">
                        <p class="rev">This T-shirt is a game changer! Its ultra-soft fabric offers unmatched comfort, while the timeless design effortlessly elevates any look. A must-have staple for both style and relaxation.</p>
                        <div class="person-info d-flex justify-content-md-between">
                            <p>Aditya Sharma</p>
                            <p>August 15, 2023</p>
                        </div>
                    </div>
                </div>
                <div class="review-card">
                    <div class="review">
                        <p class="rev"> Its buttery-soft fabric feels like a dream against the skin, and its versatile design takes me from casual outings to cozy nights in. If you're seeking comfort without compromising style, this tee is an absolute winner!</p>
                        <div class="person-info d-flex justify-content-md-between">
                            <p>Tejas</p>
                            <p>August 16, 2023</p>
                        </div>
                    </div>
                </div>
                <h2>Add A Review</h2>
                <form class="d-flex flex-column">
                    <label>Your Review</label>
                    <textarea rows="5" placeholder="Write your review here..."></textarea>
                    <label>Name</label>
                    <input type="text">
                    <label>Email</label>
                    <input type="text">

                    <button class="btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>
</section>

