.home__block:nth-child(2n){
  padding-block: 90px;
}
.home__black {
  background-color: rgb(var(--whiteClr));
}

.py-start-100 {
  padding-block-start: 90px;
}
/* 
section {
  background-color: rgb(var(--whiteClr));
} */
.facilities {
  color: rgb(var(--textClr));
  /* background-color: aquamarine;
  min-height: 200px; */

  .gap-40 {
    gap: 40px;
  }

  & .facility {
    width: 33.3%;

    & i,
    span {
      color: rgb(var(--primaryClr));
      font-size: 44px;
      font-weight: 500;
    }

    & .rupee {
      font-weight: 300;
    }

    & .text {

      & h4,
      p {
        letter-spacing: 0.7px;
      }

      & h4 {
        font-weight: 600;
      }

      & p {
        font-size: 14px !important;
        margin-block-start: 2px;
        color: rgb(var(--text-gray));
      }

    }
  }
}

.newsletter {
  padding-block: 100px;
  background: linear-gradient(#2222229c, #22222267), url(../../assets/newbg.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  color: rgb(var(--whiteClr));

  & form {
    width: 100%;
    justify-content: center;
  }

  & h2 {
    font-size: 30px !important;
    font-weight: 600;
    letter-spacing: 0.7px;
    text-align: center;
    color: white
  }

  & input {
    width: 42%;
    font-size: 14px;
    padding: 12px 15px;
    background-color: white;
    border: none;
    border-radius: 5px;
    outline: none;
    color: rgb(var(--textClr));
  }

  &::placeholder {
    letter-spacing: 0.7px;
    color: rgb(var(--textClr), 0.4);
  }

  & button {
    border-radius: 5px !important;
    padding: 10px 25px;

    & .send-icon {
      display: none;
    }
  }


  & .medias {
    /* margin-block-start: 10px; */

    & i {
      font-size: 18px;
      color: white;
      transition: 0.3s ease-in-out;
    }

    & i:hover {
      color: rgb(var(--primaryClr));
    }
  }
}



@media screen and (max-width: 1400px) {
  input {
    width: 520px !important;
  }
}

@media screen and (max-width: 1024px) {

  .facility {
    padding-block: 20px;
    width: 50% !important;
  }

  .text {
    & h4 {
      font-size: 14px !important;
    }
  }

  .home-carousel {
    padding-block: 80px;
  }

  .py-start-100 {
    padding-block-start: 80px;
  }

  .home__block:nth-child(2n){
    padding-block: 80px;
  }
}

@media screen and (max-width: 990px) {
  input {
    width: 300px;
  }

  .facilities .container {
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 768px) {

  .home__block:nth-child(2n){
    padding-block: 70px;
  }
  
  .py-start-100 {
    padding-block-start: 70px;
  }

  .facility {
    font-size: 12px !important;
    padding-block: 14px;
    width: 100% !important;
    gap: 24px !important;

    & i,
    span {
      font-size: 34px !important;
    }
  }

  .text {
    & h4 {
      font-size: 14px !important;
    }
  }

  .home-carousel {
    padding-block: 20px;
  }

  .mgap-15 {
    gap: 15px !important;
  }

  .newsletter {
    padding-block: 60px;

    & h2 {
      font-size: 24px !important;
    }
  }
}

@media screen and (max-width: 480px) {
  .sm-gap-10{
    gap: 10px;
  }

  .home__block:nth-child(2n){
    padding-block: 50px;
  }
  
  .py-start-100 {
    padding-block-start: 50px;
  }

  .newsletter {
    padding-block: 50px;


    & h2 {
      font-size: 20px !important;
    }

    & .btn-primary {
      font-size: 14px !important;
    }

    & button {
      padding: 10px 14px;

      & .text {
        display: none;
      }

      & .send-icon {
        display: block;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      & .fa-paper-plane:before {
        content: "\f1d8";
        font-size: 16px;
      }
    }

    & input {
      font-size: 13px;
      padding: 10px 14px;

      &::placeholder {
        font-size: 13px !important;
      }
    }
  
    & .fa-brands{
      font-weight: 16px;
    }
  }
}