<div *ngIf="loading" class="tv-loading">
    <img src="../../assets/logo-mobile.svg" alt="tradeVogue-loading" *ngIf="!theme">
    <a routerLink="/"><img src="../../assets/logo-mobile-light.svg" alt="logo" *ngIf="theme"></a>
    <div class="circle-tv-loader"></div>
</div>

<div *ngIf="!loading" class="home default-animation">
    <ng-container *ngFor="let item of layout">
        <ng-container *ngTemplateOutlet="getTemplate(item.name); context: { item: item }">
        </ng-container>
    </ng-container>

    
    <section id="gallery" class="home__block">
        <app-gallery></app-gallery>
    </section>
</div>


<ng-template #hero let-item="item">
    <section class="home home__block">
        <div style="padding-block-start: 80px;">
            <app-hero></app-hero>
        </div>
        <section id="facilites" class="facilities py-start-100">
            <div class="container d-flex justify-content-center flex-wrap">
                <div class="facility d-flex  justify-content-center align-item-center gap-30 ">
                    <div class="icon d-flex justify-content-center align-item-center">
                        <span class="material-symbols-outlined">
                            headset_mic
                        </span>
                    </div>
                    <div class="text d-flex flex-column justify-content-center ">
                        <h4>24/7 CUSTOMER SERVICE</h4>
                        <p>Call from support</p>
                    </div>
                </div>
                <div class="facility d-flex justify-content-center align-item-center gap-30">
                    <div class="icon d-flex justify-content-center align-item-center">
                        <span class="rupee">₹</span>
                    </div>
                    <div class="text d-flex flex-column justify-content-center ">
                        <h4>MONEY BACK GUARANTEE!</h4>
                        <p>Secure payment</p>
                    </div>
                </div>
                <div class="facility d-flex justify-content-center align-item-center gap-30">
                    <div class="icon d-flex justify-content-center align-item-center">
                        <span class="material-symbols-outlined">
                            local_shipping
                        </span>
                    </div>
                    <div class="text d-flex flex-column justify-content-center ">
                        <h4>FREE SHIPPING WORLDWIDE</h4>
                        <p>Order above ₹999</p>
                    </div>
                </div>
            </div>
        </section>
    </section>
</ng-template>


<ng-template #collection let-item="item">
    <section id="collection" class="home__block">
        <app-collections></app-collections>
    </section>
</ng-template>

<ng-template #deal let-item="item">
    <section id="deals" class="home__block">
        <app-deal-of-week></app-deal-of-week>
    </section>
</ng-template>

<ng-template #latestProducts let-item="item">
    <section id="products" class="home__block container home-carousel d-flex flex-column gap-30">
        <app-product-card-carousel [titles]="{
            title: 'Latest Arrival',
            subTitle: 'Explore latest apparel'
          }" [whatToFetch]="{sort: 'createdAt:-1'}"></app-product-card-carousel>
    </section>
</ng-template>

<ng-template #offers let-item="item">
    <section id="offers" class="home__block">
        <app-offers></app-offers>
    </section>
</ng-template>

<ng-template #productCarousel let-item="item">
    <section class="home__block container home-carousel d-flex flex-column gap-30">
        <app-product-card-carousel></app-product-card-carousel>
    </section>
</ng-template>

<ng-template #newsletter let-item="item">
    <section id="newsletter" class="home__block ">
        <app-newsletter></app-newsletter>
    </section>
</ng-template>
