<div class="home">
    <app-hero></app-hero>
    <app-facilities></app-facilities>
    <app-collections></app-collections>
    <app-deal-of-week></app-deal-of-week>
    <app-product-cards></app-product-cards>
    <app-offers></app-offers>

    <div class="home-carousel d-flex flex-column gap-30">
        <div class="container section-header">
            <h3 class="section-heading">
                Popular Products
            </h3>
            <p class="section-sub-heading">
                Products on high demand!
            </p>
        </div>
        <app-product-card-carousel></app-product-card-carousel>
    </div>

    <app-gallery></app-gallery>
    <app-newsletter></app-newsletter>
</div>