
<div class="header">
    <h1 class="header-title">FAQ</h1>
    <p class="header-desc">Frequently Ask Questions</p>
    
    <div class="search">
        <input type="text" placeholder="Search...">
        <button>Search</button>
    </div>
</div>


<div class="faq">
    <div class="faq-name">
        <h1 class="faq-header">Have <br> questions?</h1>
        <img class="faq-img" src="https://img.freepik.com/free-vector/faqs-concept-illustration_114360-5185.jpg?w=740&t=st=1691734916~exp=1691735516~hmac=69a0c4675ce225577b01054efe94f80a9c7145003ba3c14ff57852bb287d2489">
    </div>
    <div class="faq-box">
        <div class="faq-wrapper">
            <input type="checkbox" class="faq-trigger" id="faq-trigger-1">
            <label class="faq-title" for="faq-trigger-1">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam, repudiandae?</label>
            <div class="faq-detail"><p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nisi vero voluptatum itaque eaque voluptatibus.</p></div>
        </div>

    <div class="faq-wrapper">
        <input type="checkbox" class="faq-trigger" id="faq-trigger-2">
        <label for="faq-title" class="faq-title" for="faq-trigger-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius, ducimus?</label>
        <div class="faq-detail"><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic necessitatibus nulla veritatis reprehenderit at.</p></div>
    </div>

    <div class="faq-wrapper">
        <input type="checkbox" class="faq-trigger" id="faq-trigger-3">
        <label for="faq-title" class="faq-title" for="faq-trigger-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius, ducimus?</label>
        <div class="faq-detail"><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic necessitatibus nulla veritatis reprehenderit at.</p></div>
    </div>
</div>

</div>