<div class="faq-header">
  <div class="faq_title d-flex justify-content-center align-items-center">
    <h1>FAQs</h1>
  </div>
</div>

<section class="faq-section skeleton">
  <div *ngFor="let section of faqData" class="container accordion-wrapper main-panel">
    <button class="accordion main-acc" (click)="toggleSection(section)" [ngClass]="{ expanded2: section.expanded }">
      {{ section.title }}
    </button>
    <div class="panel" [ngClass]="{ expanded2: section.expanded }">
      <div *ngFor="let child of section.childrens">
        <button class=" main-acc child custom-title" (click)="toggleChild(child)">
          <div>{{ child.title }}</div>
          <div class="custom">{{ child.expanded ? '-' : '+' }}</div>
        </button>
        <div class="panel2" [ngClass]="{ expanded2: child.expanded }">
          <!-- <div [ngClass]="{ expanded2: child.expanded }" class="panel"> -->
          {{ child.content }}
        </div>
      </div>
    </div>
  </div>
</section>