<!--- Heading --->
<div class="faq_title d-flex justify-content-center align-item-center">
  <h1>FAQs</h1>
</div>

<!--- Faq Q/A --->
<section class="container faq_section d-flex flex-column gap-10 justify-content-center align-item-center">
  <div *ngFor="let section of faqData" class="container accordion_wrapper">

    <!--- Parent --->
    <button class="btn heading-btn-acc d-flex align-item-center justify-content-md-between pointer relative accordion main_acc content"
      (click)="toggleParent(section)" [ngClass]="{ expanded: section.expanded }">
      {{ section.title }}
    </button>

    <!-- Child --->
    <div class="panel" [ngClass]="{ expanded: section.expanded }">
      <div *ngFor="let child of section.childrens">

        <!--- Child Questions --->
        <button class="btn main_acc custom-title" (click)="toggleChild(child)">
          <div>{{ child.title }}</div>
          <div class="custom">{{ child.expanded ? '-' : '+' }}</div>

          <!--- Child Answers -->
        </button>
        <div class="panel2" [ngClass]="{ expanded: child.expanded }">
          {{ child.content }}
        </div>
      </div>
    </div>

  </div>
</section>