.faq_title {
  min-height: 335px;
  background-color: rgb(var(--primaryClr), 0.1);
  background-image: url(../../assets/deal-of-week-component/dealOfWeek-homeBg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  & h1 {
    font-size: 62px !important;
    letter-spacing: 2.2px !important;
  }
}

.accordion_wrapper {
  background-color: rgb(var(--whiteClr));
  border-radius: 5px;
  border: 1px solid rgb(var(--blackClr), 0.1);
  transition: all 0.3s ease;
}

.faq_section {
  max-width: 850px;
  padding-block: 50px;
}
.accordion_wrapper[aria-expanded="false"] {
  max-height: 0;
  opacity: 0;
  overflow: hidden;
}

.accordion_wrapper[aria-expanded="true"] {
  max-height: 1000px;
  /* Adjust as needed, consider a maximum possible height */
  opacity: 1;
  overflow: visible;
}

.accordion_wrapper h2 {
  font-size: 18px;
  margin-bottom: 10px;
  color: #333;
}

.accordion_wrapper p {
  font-size: 14px;
  line-height: 1.5;
  color: #666;
}

.main_acc {
  background: transparent;
  border-radius: 8px;
}

.accordion {
  width: 100%;
  padding: 15px;
  border: none;
  outline: none;
}

.content {
  font-size: 20px;
  text-align: justify;
  line-height: 30px;
  color: rgb(var(--textClr));
}

.panel {
  padding: 15px;
  display: none;
  background-color: rgb(var(--whiteClr));
  border-top: 1px solid rgb(var(--blackClr), 0.2);
}

.panel p {
  color: rgb(var(--textClr), 0.7);
}

.sub-acc:last-child {
  margin-block-end: 10px 1;
}

.panel2 {
  display: none;
  background-color: white;
  border-top: 1px solid rgb(var(--blackClr), 0.1);
  transition: all 0.3s ease;
}

.expanded {
  display: block;
  padding-block: 13px;
  transition: all 0.3s ease;
  background-color: rgb(var(--whiteClr));
}

.accordion:not(.expanded)::after,
.custom {
  content: "+";
  color: rgb(var(--textClr), 0.8);
  font-weight: 500;
  float: right;
  margin-left: 5px;
  transition: all 0.3s ease;
  font-size: 22px;
}

.custom-title {
  display: flex;
  justify-content: space-between;
  color: rgb(var(--textClr), 0.8);
  width: 100%;
  font-size: 16px;
  font-weight: 500;
  padding: 0px;
  transition: all 0.3s ease;
}

.expanded.accordion::after,
.custom {
  content: "-";
  color: rgb(var(--blackClr));
  font-weight: 200;
  transition: all 0.3s ease;
  float: right;
  margin-left: 5px;
  font-size: 28px;
}

@media only screen and (max-width: 768px) {
  .faq_title {
    min-height: 200px;

    & h1 {
      font-size: 40px !important;
      letter-spacing: 2.2px !important;
    }
  }

  .expanded.accordion::after,
  .custom {
    font-size: 22px !important;
  }

  .expanded {
    font-size: 13px;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .custom-title {
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-size: 13px;
    font-weight: 500;
    padding: 0px;
  }

  .faq-section {
    padding: 60px 29px;
  }

  .custom-title {
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-size: 14px;
    font-weight: 500;
    padding: 0px;
    text-align: left;
  }

  .accordion-wrapper:last-child {
    box-shadow: none;
  }

  .expanded {
    font-size: 12px;
  }
}
