.deal-of-week{
    background-color: rgb(var(--accent), 0.2);
    background-image: url(../../../assets/deal-of-week-component/dealOfWeek-homeBg.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.container{
    width: 100%;
    min-height: 500px;
}
.deal-weak-text{
    width: 60%;
    & p {
        font-size: 20px !important;
        color: rgb(var(--primary));
        font-weight: 500;
    }
    & h3{
        font-size: 42px !important;
        font-weight: 400;
        letter-spacing: 1.2px;
    }
    & h5 {
        font-size:  18px !important;
        text-transform: uppercase;
        font-weight: 700;
    }
}
.deal-weak-img{
    width: 40%;
    & img{
        max-height: 400px;   
    }
}



@media screen and (max-width: 768px) {
    .container{
        flex-direction: column;
        padding-block: 40px;
        gap: 20px;
    }

    .deal-weak-text{
        width: 100%;
        text-align: center;
        margin-block: 20px 0;
        & p {
            font-size: 16px !important;
            color: rgb(var(--primary));
            font-weight: 500;
        }
        & h3{
            font-size: 30px !important;
            font-weight: 400;
            letter-spacing: 1.2px;
        }
        & h5 {
            font-size:  14px !important;
            text-transform: uppercase;
            font-weight: 700;
        }
    }
    .deal-weak-img{
        width: 100%;
        & img{
            max-height: 300px;   
        }
    }
}