<section id="deal-of-week" *ngIf="Details" [style]="'background-color:'+Details.colors.backgroundColor">
    <div class="container d-flex align-item-center" [ngStyle]="{'flex-direction':Details.contentAlign === 'Right' ? 'row-reverse' : 'row' }">
        <div class="sub-heading">
            <h5 [style]="'color:'+Details.colors.subTitleColor">{{Details.subTitle}}</h5>
            <!-- <p>Starts at ₹499</p>   -->
            <h3 [style]="'color:'+Details.colors.titleColor"><span style="font-weight: 700;">{{Details.Title.split(' ')[0]}}</span> {{Details.Title.split(' ')[1]}} <span></span></h3>
            <div class="shop__button d-flex gap-5 align-item-center">
                <a [href]="Details.buttonLink" class="btn" [style]="'color:'+Details.colors.buttonColor">{{Details.buttonText}}</a>
                <span class="icons material-symbols-outlined">arrow_right_alt</span>
            </div>
        </div>
        <div class="deal-week-img d-flex justify-content-center">
            <img src="../../../assets/deal-of-week-component/shirt.png" alt="Product on deal">
        </div>
    </div>
</section>