.app-cart {
    & .product-info {
        width: 50%;

        & h4 {
            width: 17ch;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
            font-weight: 500;
        }

        & p {
            font-size: 12px !important;
        }
    }

    & .ProductINFO {
        width: 85%;
        display: flex;
        justify-content: space-between;
    }

    & .product-image {
        /* width: 12%; */
        width: 15%;
    }
    
    & .common{
        flex-direction: column;
        /* width: 50%; */
    }

    & .final-price[_ngcontent-ng-c1912923569] {
        justify-content: center;
    }
}

.app-cart{
    height: calc(100dvh - 90px);
    overflow-y: auto;
    padding-block-start: 4px;
    padding-block-end: 70px;

    &::-webkit-scrollbar{
        width: 7px;
    }
    &::-webkit-scrollbar-track{
        background: transparent;
        border-radius: 25px;
    }
    &::-webkit-scrollbar-thumb{
        background: transparent;
        border-radius: 25px;
    }
}

.total-price {
    padding-block: 8px;
    padding-inline: 20px;
    border-radius: 6px;
    background-color : rgba(var(--whiteClr));
    color: rgba(var(--primaryClr));

    transition: 0.3s ease-in-out;
}


.proceed-btn {
    position: absolute;
    inset-block-end: 0px;
    inset-inline-end: 0px;
    z-index: 2; 

    &:hover{
        &:not(:disabled):hover {
            background-color: rgb(var(--primaryClr), 1);
        }
        & .total-price{
            border-radius: 50px;
        }
    }
}

@media screen and (max-width: 560px) {
    .app-cart {
        & .product-image {
            width: 21%;
        }

        & .common{
            flex-direction: row;
        }
    }
}