.sidecart {
    z-index: 4000;
    width: 0;
    width: 100%;
    max-width: 450px;
    height: 100vh;
    background: #fff;
    position: fixed;
    right: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    transition: all 0.3s ease;
    transition-delay: 0.2s;
}

.sidecart__overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    /* z-index: 99999998; */
    /* background: rgba(0, 0, 0, 0.5); */
    visibility: visible;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: all 0.3s cubic-bezier(0.77, 0.26, 0, 0.98);
    box-shadow: -5px 0 10px rgba(0, 0, 0, 0.3);
}

.sidecart__overlay--hide {
    opacity: 0;
    visibility: hidden;
}

.close {
    opacity: 0;
    visibility: hidden;
}

.sidecart__title {
    position: relative;
    height: 70px;
    padding-inline: 19px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #b0b0b0;
    background: #f6f6f6;
    flex-direction: row-reverse;
}

.sidecart__title-text {
    font-size: 17px;
    font-weight: 600;
    color: black;
}

.sidecart__close {
    font-size: 18px;
    color: grey;
    cursor: pointer;
    font-size: inherit;
}

.sidecart__items {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.sidecart__items--empty {
    justify-content: center;
}

.sidecart__empty-text {
    font-size: 18px;
    font-weight: 500;
    align-self: center;
    visibility: visible;
    transition: all 0.3s ease;
}

.sidecart__empty-text--hide {
    opacity: 0;
    visibility: hidden;
}

.sidecart--close {
    transform: translateX(460px);
    opacity: 0.2;
    cursor: pointer;
}


.bottom-fixed {
    position: absolute;
    /* border-top: 1px solid #b0b0b0; */
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
    padding: 10px;
    display: flex;
    justify-content: center;
    cursor: pointer;

    & a {
        color: #fff;
    }
}

.close-hover:hover {
    color: red !important;
    cursor: pointer;
}

.my-3 {
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;
}

.text-emerald-600 {
    --tw-text-opacity: 1;
    color: rgb(5 150 105/var(--tw-text-opacity));
}

.bg-emerald-500 {
    --tw-bg-opacity: 1;
    background-color: rgb(16 185 129/var(--tw-bg-opacity));
}

.font-bold {
    font-weight: 700;
}

.py-2 {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}
.px-3 {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
}
.bg-white {
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255/var(--tw-bg-opacity));
}
.rounded-lg {
    border-radius: 0.5rem;
}


.px-3 {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
}

.py-3 {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
}
.bg-emerald-500 {
    --tw-bg-opacity: 1;
    background-color: rgb(16 185 129/var(--tw-bg-opacity));
}
.rounded-lg {
    border-radius: 0.5rem;
}
.justify-between {
    justify-content: space-between;
}
.items-center {
    align-items: center;
}
.w-full {
    width: 100%;
}
.flex {
    display: flex;
}

.text-white {
    --tw-text-opacity: 1;
    color: rgb(255 255 255/var(--tw-text-opacity));
    font-weight: 500;
    font-size: 1rem;
}

.hover\:bg-emerald-600:hover {
    --tw-bg-opacity: 1;
    background-color: rgb(5 150 105/var(--tw-bg-opacity));
}

drawer-left.drawer-open, .drawer-right.drawer-open {
    width: 100%;
}
.drawer.drawer-open {
    transition: transform .3s cubic-bezier(.78,.14,.15,.86);
}
.drawer-right {
    top: 0;
    right: 0;
}
.drawer-left, .drawer-right {
    width: 0;
    height: 100%;
}
.drawer {
    position: fixed;
    z-index: 9999;
    transition: width 0s ease .3s,height 0s ease .3s,transform .3s cubic-bezier(.78,.14,.15,.86);
}
.drawer {
    overflow: visible;
}

drawer.drawer-open .drawer-mask {
    opacity: .3;
    height: 100%;
    transition: opacity .3s cubic-bezier(.78,.14,.15,.86);
}
.drawer .drawer-mask {
    background: #000;
    opacity: 0;
    width: 100%;
    height: 0;
    position: absolute;
    top: 0;
    left: 0;
    transition: opacity .3s cubic-bezier(.78,.14,.15,.86),height 0s ease .3s;
}
.drawer>* {
    transition: transform .3s cubic-bezier(.78,.14,.15,.86),opacity .3s cubic-bezier(.78,.14,.15,.86),box-shadow .3s cubic-bezier(.78,.14,.15,.86);
}

.drawer-right .drawer-handle, .drawer-right.drawer-open .drawer-content-wrapper {
    box-shadow: -2px 0 8px rgba(0,0,0,.15);
}
.drawer-right .drawer-content-wrapper {
    right: 0;
}
.drawer-left .drawer-content, .drawer-left .drawer-content-wrapper, .drawer-right .drawer-content, .drawer-right .drawer-content-wrapper {
    height: 100%;
}

.drawer .drawer-content-wrapper {
    width: 100%;
}
.drawer-content-wrapper {
    position: absolute;
    background: #fff;
}
.drawer>* {
    transition: transform .3s cubic-bezier(.78,.14,.15,.86),opacity .3s cubic-bezier(.78,.14,.15,.86),box-shadow .3s cubic-bezier(.78,.14,.15,.86);
}


.drawer-left .drawer-content, .drawer-left .drawer-content-wrapper, .drawer-right .drawer-content, .drawer-right .drawer-content-wrapper {
    height: 100%;
}
.drawer-content {
    z-index: 1;
    position: relative;
}

.bg-white {
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255/var(--tw-bg-opacity));
}
.rounded {
    border-radius: 0.25rem;
}
.justify-between {
    justify-content: space-between;
}
.flex-col {
    flex-direction: column;
}
.cursor-pointer {
    cursor: pointer;
}
.w-full {
    width: 100%;
}
.h-full {
    height: 100%;
}
.flex {
    display: flex;
}

drawer-right .drawer-handle, .drawer-right.drawer-open .drawer-content-wrapper {
    box-shadow: -2px 0 8px rgba(0,0,0,.15);
}
.drawer-right .drawer-handle {
    left: -40px;
    border-radius: 4px 0 0 4px;
}
.drawer-handle {
    position: absolute;
    top: 72px;
    width: 41px;
    height: 40px;
    cursor: pointer;
    z-index: 0;
    text-align: center;
    line-height: 40px;
    font-size: 16px;
    display: none;
    justify-content: center;
    align-items: center;
    background: #fff;
}

.drawer.drawer-open .drawer-handle-icon {
    background: transparent;
}
.drawer-handle-icon {
    width: 14px;
    height: 2px;
    background: #333;
    position: relative;
    transition: background .3s cubic-bezier(.78,.14,.15,.86);
}

@media (min-width: 480px){
    .drawer .drawer-content-wrapper {
        width: 420px;
    }
}

.py-4 {
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.px-5 {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
}
.bg-indigo-50 {
    --tw-bg-opacity: 1;
    background-color: rgb(238 242 255/var(--tw-bg-opacity));
}
.border-gray-100 {
    --tw-border-opacity: 1;
    border-color: rgb(243 244 246/var(--tw-border-opacity));
}
.border-b {
    border-bottom-width: 1px;
}
.justify-between {
    justify-content: space-between;
}
.items-center {
    align-items: center;
}
.w-full {
    width: 100%;
}
.flex {
    display: flex;
}
.relative {
    position: relative;
}

.font-semibold {
    font-weight: 600;
}
.text-lg {
    font-size: 1.125rem;
    line-height: 1.75rem;
}
.font-serif {
    font-family: Inter,sans-serif;
}
.items-center {
    align-items: center;
}
.flex {
    display: flex;
}
.m-0 {
    margin: 0;
}
blockquote, dd, dl, figure, h1, h2, h3, h4, h5, h6, hr, p, pre {
    margin: 0;
}
h1, h2, h3, h4, h5, h6 {
    font-size: inherit;
    font-weight: inherit;
}

audio, canvas, embed, iframe, img, object, svg, video {
    display: block;
    vertical-align: middle;
}

.font-semibold {
    font-weight: 600;
}
.text-lg {
    font-size: 1.125rem;
    line-height: 1.75rem;
}
.font-serif {
    font-family: Inter,sans-serif;
}
.items-center {
    align-items: center;
}
.flex {
    display: flex;
}
.m-0 {
    margin: 0;
}
blockquote, dd, dl, figure, h1, h2, h3, h4, h5, h6, hr, p, pre {
    margin: 0;
}
h1, h2, h3, h4, h5, h6 {
    font-size: inherit;
    font-weight: inherit;
}

.transition-opacity {
    transition-property: opacity;
    transition-timing-function: cubic-bezier(.4,0,.2,1);
    transition-duration: .15s;
}
.text-gray-500 {
    --tw-text-opacity: 1;
    color: rgb(107 114 128/var(--tw-text-opacity));
}
.text-base {
    font-size: 1rem;
    line-height: 1.5rem;
}
.p-2 {
    padding: 0.5rem;
}
.justify-center {
    justify-content: center;
}
.items-center {
    align-items: center;
}
.inline-flex {
    display: inline-flex;
}
[role=button], button {
    cursor: pointer;
}
[type=button], [type=reset], [type=submit], button {
    -webkit-appearance: button;
    background-color: transparent;
    background-image: none;
}
button, select {
    text-transform: none;
}
button, input, optgroup, select, textarea {
    font-family: inherit;
    font-size: 100%;
    font-weight: inherit;
    line-height: inherit;
    color: inherit;
    margin: 0;
    padding: 0;
}

.text-gray-500 {
    --tw-text-opacity: 1;
    color: rgb(107 114 128/var(--tw-text-opacity));
}
.text-sm {
    font-size: .875rem;
    line-height: 1.25rem;
}
.ml-1 {
    margin-left: 0.25rem;
}

text-xl {
    font-size: 1.25rem;
    line-height: 1.75rem;
}
.mr-2 {
    margin-right: 0.5rem;
}
.mb-1 {
    margin-bottom: 0.25rem;
}

.transition-opacity {
    transition-property: opacity;
    transition-timing-function: cubic-bezier(.4,0,.2,1);
    transition-duration: .15s;
}
.text-gray-500 {
    --tw-text-opacity: 1;
    color: rgb(107 114 128/var(--tw-text-opacity));
}
.text-base {
    font-size: 1rem;
    line-height: 1.5rem;
}
.p-2 {
    padding: 0.5rem;
}
.justify-center {
    justify-content: center;
}
.items-center {
    align-items: center;
}
.inline-flex {
    display: inline-flex;
}
[role=button], button {
    cursor: pointer;
}
[type=button], [type=reset], [type=submit], button {
    -webkit-appearance: button;
    background-color: transparent;
    background-image: none;
}
button, select {
    text-transform: none;
}
button, input, optgroup, select, textarea {
    font-family: inherit;
    font-size: 100%;
    font-weight: inherit;
    line-height: inherit;
    color: inherit;
    margin: 0;
    padding: 0;
}

.text-gray-500 {
    --tw-text-opacity: 1;
    color: rgb(107 114 128/var(--tw-text-opacity));
}
.text-sm {
    font-size: .875rem;
    line-height: 1.25rem;
}
.ml-1 {
    margin-left: 0.25rem;
}

.overflow-y-scroll {
    overflow-y: scroll;
}
.flex-grow {
    flex-grow: 1;
}
.w-full {
    width: 100%;
}
.max-h-full {
    max-height: 100%;
}

.last\:border-b-0:last-child {
    border-bottom-width: 0;
}
.transition-all {
    transition-property: all;
    transition-timing-function: cubic-bezier(.4,0,.2,1);
    transition-duration: .15s;
}
.px-4 {
    padding-left: 1rem;
    padding-right: 1rem;
}
.py-3 {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
}
.bg-white {
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255/var(--tw-bg-opacity));
}
.border-gray-100 {
    --tw-border-opacity: 1;
    border-color: rgb(243 244 246/var(--tw-border-opacity));
}
.border-b {
    border-bottom-width: 1px;
}
.justify-start {
    justify-content: flex-start;
}
.items-center {
    align-items: center;
}
.w-full {
    width: 100%;
}
.h-auto {
    height: auto;
}
.flex {
    display: flex;
}
.relative {
    position: relative;
}

.shadow, .shadow-sm {
    box-shadow: var(--tw-ring-offset-shadow,0 0 #0000),var(--tw-ring-shadow,0 0 #0000),var(--tw-shadow);
}
.shadow-sm {
    --tw-shadow: 0 1px 2px 0 rgba(0,0,0,.05);
    --tw-shadow-colored: 0 1px 2px 0 var(--tw-shadow-color);
}
.border-gray-100 {
    --tw-border-opacity: 1;
    border-color: rgb(243 244 246/var(--tw-border-opacity));
}
.border {
    border-width: 1px;
}
.rounded-full {
    border-radius: 9999px;
}
.overflow-hidden {
    overflow: hidden;
}
.cursor-pointer {
    cursor: pointer;
}
.flex-shrink-0 {
    flex-shrink: 0;
}
.flex {
    display: flex;
}
.mr-4 {
    margin-right: 1rem;
}
.relative {
    position: relative;
}

img, video {
    max-width: 100%;
    height: auto;
}
audio, canvas, embed, iframe, img, object, svg, video {
    display: block;
    vertical-align: middle;
}

.overflow-hidden {
    overflow: hidden;
}
.flex-col {
    flex-direction: column;
}
.w-full {
    width: 100%;
}
.flex {
    display: flex;
}

.text-gray-700 {
    --tw-text-opacity: 1;
    color: rgb(55 65 81/var(--tw-text-opacity));
}
.font-medium {
    font-weight: 500;
}
.text-sm {
    font-size: .875rem;
    line-height: 1.25rem;
}
.truncate, .whitespace-nowrap {
    white-space: nowrap;
}
.truncate {
    overflow: hidden;
    text-overflow: ellipsis;
}
a {
    color: inherit;
    text-decoration: inherit;
}

.text-gray-400 {
    --tw-text-opacity: 1;
    color: rgb(156 163 175/var(--tw-text-opacity));
}
.text-xs {
    font-size: .75rem;
    line-height: 1rem;
}
.mb-1 {
    margin-bottom: 0.25rem;
}

@media (min-width: 768px){
    .md\:text-base {
        font-size: 1rem;
        line-height: 1.5rem;
    }
    .leading-5 {
        line-height: 1.25rem;
    }
    .font-bold {
        font-weight: 700;
    }
    .text-sm {
        font-size: .875rem;
        line-height: 1.25rem;
    }
}
.md\:text-base {
    font-size: 1rem;
    line-height: 1.5rem;
}
.leading-5 {
    line-height: 1.25rem;
}
.font-bold {
    font-weight: 700;
}
.text-sm {
    font-size: .875rem;
    line-height: 1.25rem;
}

@media (min-width: 1024px){
    .lg\:w-24 {
        width: 6rem;
    }
}
@media (min-width: 768px)
{
    .md\:w-24 {
        width: 6rem;
    }
}
.text-gray-600 {
    --tw-text-opacity: 1;
    color: rgb(75 85 99/var(--tw-text-opacity));
}
.p-1 {
    padding: 0.25rem;
}
.bg-white {
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255/var(--tw-bg-opacity));
}
.border-gray-100 {
    --tw-border-opacity: 1;
    border-color: rgb(243 244 246/var(--tw-border-opacity));
}
.border {
    border-width: 1px;
}
.rounded-md {
    border-radius: 0.375rem;
}
.justify-evenly {
    justify-content: space-evenly;
}
.items-center {
    align-items: center;
}
.flex-wrap {
    flex-wrap: wrap;
}
.h-8 {
    height: 2rem;
}
.flex {
    display: flex;
}

.text-base {
    font-size: 1rem;
    line-height: 1.5rem;
}

.font-semibold {
    font-weight: 600;
}
.text-sm {
    font-size: .875rem;
    line-height: 1.25rem;
}
.px-1 {
    padding-left: 0.25rem;
    padding-right: 0.25rem;
}
blockquote, dd, dl, figure, h1, h2, h3, h4, h5, h6, hr, p, pre {
    margin: 0;
}

.text-base {
    font-size: 1rem;
    line-height: 1.5rem;
}

.text-red-400 {
    --tw-text-opacity: 1;
    color: rgb(248 113 113/var(--tw-text-opacity));
}
.text-lg {
    font-size: 1.125rem;
    line-height: 1.75rem;
}
.cursor-pointer {
    cursor: pointer;
}
[role=button], button {
    cursor: pointer;
}
[type=button], [type=reset], [type=submit], button {
    -webkit-appearance: button;
    background-color: transparent;
    background-image: none;
}
button, select {
    text-transform: none;
}
button, input, optgroup, select, textarea {
    font-family: inherit;
    font-size: 100%;
    font-weight: inherit;
    line-height: inherit;
    color: inherit;
    margin: 0;
    padding: 0;
}

.text-gray-600 {
    --tw-text-opacity: 1;
    color: rgb(75 85 99/var(--tw-text-opacity));
}
.p-1 {
    padding: 0.25rem;
}
.bg-white {
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255/var(--tw-bg-opacity));
}
.border-gray-100 {
    --tw-border-opacity: 1;
    border-color: rgb(243 244 246/var(--tw-border-opacity));
}
.border {
    border-width: 1px;
}
.rounded-md {
    border-radius: 0.375rem;
}
.justify-evenly {
    justify-content: space-evenly;
}
.items-center {
    align-items: center;
}
.flex-wrap {
    flex-wrap: wrap;
}
.h-8 {
    height: 2rem;
}
.flex {
    display: flex;
}

.text-gray-600 {
    --tw-text-opacity: 1;
    color: rgb(75 85 99/var(--tw-text-opacity));
}
.p-1 {
    padding: 0.25rem;
}
.bg-white {
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255/var(--tw-bg-opacity));
}
.border-gray-100 {
    --tw-border-opacity: 1;
    border-color: rgb(243 244 246/var(--tw-border-opacity));
}
.border {
    border-width: 1px;
}
.rounded-md {
    border-radius: 0.375rem;
}
.justify-evenly {
    justify-content: space-evenly;
}
.items-center {
    align-items: center;
}
.flex-wrap {
    flex-wrap: wrap;
}
.h-8 {
    height: 2rem;
}
.flex {
    display: flex;
}

@media (min-width: 640px){
    .sm\:text-base {
        font-size: 1rem;
        line-height: 1.5rem;
    }
}
.duration-300 {
    transition-duration: .3s;
}
.transition {
    transition-property: color,background-color,border-color,fill,stroke,opacity,box-shadow,transform,filter,-webkit-text-decoration-color,-webkit-backdrop-filter;
    transition-property: color,background-color,border-color,text-decoration-color,fill,stroke,opacity,box-shadow,transform,filter,backdrop-filter;
    transition-property: color,background-color,border-color,text-decoration-color,fill,stroke,opacity,box-shadow,transform,filter,backdrop-filter,-webkit-text-decoration-color,-webkit-backdrop-filter;
    transition-timing-function: cubic-bezier(.4,0,.2,1);
    transition-duration: .15s;
}
.text-white {
    --tw-text-opacity: 1;
    color: rgb(255 255 255/var(--tw-text-opacity));
}
.text-sm {
    font-size: .875rem;
    line-height: 1.25rem;
}
.px-3 {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
}
.py-3 {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
}
.bg-emerald-500 {
    --tw-bg-opacity: 1;
    background-color: rgb(16 185 129/var(--tw-bg-opacity));
}
.rounded-lg {
    border-radius: 0.5rem;
}
.justify-between {
    justify-content: space-between;
}
.items-center {
    align-items: center;
}
.w-full {
    width: 100%;
}
.flex {
    display: flex;
}
[role=button], button {
    cursor: pointer;
}
[type=button], [type=reset], [type=submit], button {
    -webkit-appearance: button;
    background-color: transparent;
    background-image: none;
}
button, select {
    text-transform: none;
}
button, input, optgroup, select, textarea {
    font-family: inherit;
    font-size: 100%;
    font-weight: inherit;
    line-height: inherit;
    color: inherit;
    margin: 0;
    padding: 0;
}
.text-gray-700 {
    --tw-text-opacity: 1;
    color: rgb(55 65 81/var(--tw-text-opacity));
}
.font-medium {
    font-weight: 500;
}
.text-sm {
    font-size: .875rem;
    line-height: 1.25rem;
}
.truncate, .whitespace-nowrap {
    white-space: nowrap;
}
.truncate {
    overflow: hidden;
    text-overflow: ellipsis;
}
a {
    color: inherit;
    text-decoration: inherit;
}
img, video {
    max-width: 100%;
    height: auto;
}
audio, canvas, embed, iframe, img, object, svg, video {
    display: block;
    vertical-align: middle;
}

.text-red-400 {
    --tw-text-opacity: 1;
    color: rgb(248 113 113/var(--tw-text-opacity));
}
.text-lg {
    font-size: 1.125rem;
    line-height: 1.75rem;
}
.cursor-pointer {
    cursor: pointer;
}
[role=button], button {
    cursor: pointer;
}
[type=button], [type=reset], [type=submit], button {
    -webkit-appearance: button;
    background-color: transparent;
    background-image: none;
}
button, select {
    text-transform: none;
}
button, input, optgroup, select, textarea {
    font-family: inherit;
    font-size: 100%;
    font-weight: inherit;
    line-height: inherit;
    color: inherit;
    margin: 0;
    padding: 0;
}



@media (min-width: 640px)
{
    .sm\:text-base {
        font-size: 1rem;
        line-height: 1.5rem;
    }
}
.duration-300 {
    transition-duration: .3s;
}
.transition {
    transition-property: color,background-color,border-color,fill,stroke,opacity,box-shadow,transform,filter,-webkit-text-decoration-color,-webkit-backdrop-filter;
    transition-property: color,background-color,border-color,text-decoration-color,fill,stroke,opacity,box-shadow,transform,filter,backdrop-filter;
    transition-property: color,background-color,border-color,text-decoration-color,fill,stroke,opacity,box-shadow,transform,filter,backdrop-filter,-webkit-text-decoration-color,-webkit-backdrop-filter;
    transition-timing-function: cubic-bezier(.4,0,.2,1);
    transition-duration: .15s;
}
.text-white {
    --tw-text-opacity: 1;
    color: rgb(255 255 255/var(--tw-text-opacity));
}
.text-sm {
    font-size: .875rem;
    line-height: 1.25rem;
}
.px-3 {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
}
.py-3 {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
}
.bg-emerald-500 {
    --tw-bg-opacity: 1;
    background-color: rgb(16 185 129/var(--tw-bg-opacity));
}
.rounded-lg {
    border-radius: 0.5rem;
}
.justify-between {
    justify-content: space-between;
}
.items-center {
    align-items: center;
}
.w-full {
    width: 100%;
}
.flex {
    display: flex;
}
[role=button], button {
    cursor: pointer;
}
[type=button], [type=reset], [type=submit], button {
    -webkit-appearance: button;
    background-color: transparent;
    background-image: none;
}
button, select {
    text-transform: none;
}
button, input, optgroup, select, textarea {
    font-family: inherit;
    font-size: 100%;
    font-weight: inherit;
    line-height: inherit;
    color: inherit;
    margin: 0;
    padding: 0;
}

.font-medium {
    font-weight: 500;
}
.font-serif {
    font-family: Inter,sans-serif;
}
.align-middle {
    vertical-align: middle;
}

.text-emerald-600 {
    --tw-text-opacity: 1;
    color: rgb(5 150 105/var(--tw-text-opacity));
}
.font-bold {
    font-weight: 700;
}
.font-serif {
    font-family: Inter,sans-serif;
}
.py-2 {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}
.px-3 {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
}
.bg-white {
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255/var(--tw-bg-opacity));
}
.rounded-lg {
    border-radius: 0.5rem;
}

.drawer-right .drawer-handle, .drawer-right.drawer-open .drawer-content-wrapper {
    box-shadow: -2px 0 8px rgba(0,0,0,.15);
}
.drawer-right .drawer-handle {
    left: -40px;
    border-radius: 4px 0 0 4px;
}
.drawer-handle {
    position: absolute;
    top: 72px;
    width: 41px;
    height: 40px;
    cursor: pointer;
    z-index: 0;
    text-align: center;
    line-height: 40px;
    font-size: 16px;
    display: none;
    justify-content: center;
    align-items: center;
    background: #fff;
}

.drawer.drawer-open .drawer-handle-icon {
    background: transparent;
}
.drawer-handle-icon {
    width: 14px;
    height: 2px;
    background: #333;
    position: relative;
    transition: background .3s cubic-bezier(.78,.14,.15,.86);
}

.drawer-left {
    top: 0;
    left: 0;
}
.drawer-left, .drawer-right {
    width: 0;
    height: 100%;
}
.drawer {
    position: fixed;
    z-index: 9999;
    transition: width 0s ease .3s,height 0s ease .3s,transform .3s cubic-bezier(.78,.14,.15,.86);
}
.drawer {
    overflow: visible;
}

.drawer .drawer-mask {
    background: #000;
    opacity: 0;
    width: 100%;
    height: 0;
    position: absolute;
    top: 0;
    left: 0;
    transition: opacity .3s cubic-bezier(.78,.14,.15,.86),height 0s ease .3s;
}
.drawer>* {
    transition: transform .3s cubic-bezier(.78,.14,.15,.86),opacity .3s cubic-bezier(.78,.14,.15,.86),box-shadow .3s cubic-bezier(.78,.14,.15,.86);
}

.mx-5 {
    margin-left: 1.25rem;
    margin-right: 1.25rem;
}
.my-3 {
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;
}


@media (min-width: 640px){
    .sm\:text-base {
        font-size: 1rem;
        line-height: 1.5rem;
    }
}

.duration-300 {
    transition-duration: .3s;
}
.transition {
    transition-property: color,background-color,border-color,fill,stroke,opacity,box-shadow,transform,filter,-webkit-text-decoration-color,-webkit-backdrop-filter;
    transition-property: color,background-color,border-color,text-decoration-color,fill,stroke,opacity,box-shadow,transform,filter,backdrop-filter;
    transition-property: color,background-color,border-color,text-decoration-color,fill,stroke,opacity,box-shadow,transform,filter,backdrop-filter,-webkit-text-decoration-color,-webkit-backdrop-filter;
    transition-timing-function: cubic-bezier(.4,0,.2,1);
    transition-duration: .15s;
}
.text-white {
    --tw-text-opacity: 1;
    color: rgb(255 255 255/var(--tw-text-opacity));
}
.text-sm {
    font-size: .875rem;
    line-height: 1.25rem;
}
.px-3 {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
}
.py-3 {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
}
.bg-emerald-500 {
    --tw-bg-opacity: 1;
    background-color: rgb(16 185 129/var(--tw-bg-opacity));
}
.rounded-lg {
    border-radius: 0.5rem;
}
.justify-between {
    justify-content: space-between;
}
.items-center {
    align-items: center;
}
.w-full {
    width: 100%;
}
.flex {
    display: flex;
}
[role=button], button {
    cursor: pointer;
}
[type=button], [type=reset], [type=submit], button {
    -webkit-appearance: button;
    background-color: transparent;
    background-image: none;
}
button, select {
    text-transform: none;
}
button, input, optgroup, select, textarea {
    font-family: inherit;
    font-size: 100%;
    font-weight: inherit;
    line-height: inherit;
    color: inherit;
    margin: 0;
    padding: 0;
}

.font-medium {
    font-weight: 500;
}
.font-serif {
    font-family: Inter,sans-serif;
}
.align-middle {
    vertical-align: middle;
}

.text-emerald-600 {
    --tw-text-opacity: 1;
    color: rgb(5 150 105/var(--tw-text-opacity));
}
.font-bold {
    font-weight: 700;
}
.font-serif {
    font-family: Inter,sans-serif;
}
.py-2 {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}
.px-3 {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
}
.bg-white {
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255/var(--tw-bg-opacity));
}
.rounded-lg {
    border-radius: 0.5rem;
}