<div class="d-flex flex-column gap-20">
    <div class="card card__pd-20 d-flex justify-content-md-between align-item-center">
        <h3>Customise Banner</h3>
        <div class="operation_button d-flex gap-10">
            <!-- <button class="btn-primary" (click)="bannerForm.enable()">Edit</button> -->
            <button class="btn btn-xs fw-500 btn-rounded btn-primary" (click)="showForm = true"
                *ngIf="showForm==false">Add banner</button>
            <button class="btn btn-xs fw-500 btn-rounded btn-secondary" (click)="showForm = false"
                *ngIf="showForm==true">Cancel</button>
            <button class="btn btn-xs fw-500 btn-rounded btn-primary" (click)="onSave()" *ngIf="showForm == true"
                [ngClass]="{'disabled':bannerForm.invalid}" [disabled]="this.bannerForm.invalid">Save</button>
        </div>
    </div>
    <form class="form__card d-flex gap-15 flex-column" [formGroup]="bannerForm" *ngIf="showForm === true">
        <div class="card card__pd-25 mw100 relative d-flex flex-column gap-20">
            <div class="d-flex gap-15">
                <div class="image-upload-div d-flex justify-content-center align-item-center relative">
                    <div class="upload-image d-flex flex-column gap-10 align-item-center">
                        <input type="file" [id]="'backgroundImage'" accept="image/jpg, image/jpeg, image/png"
                            (input)="bannerImageUpload($event)" />
                        <label [for]="'backgroundImage'" class="upload__block d-flex flex-column flex-center pointer">
                            <span class="upload_icon material-symbols-outlined">
                                cloud_upload
                            </span>
                        </label>
                        <small class="banner-label">Upload Banner Image</small>
                        <img [src]="getImagePreview()" [style.display]="getImagePreview() ? 'flex' : 'none'"
                            class="banner-image">
                        <span class="material-symbols-outlined remove-btn pointer"
                            [style.display]="getImagePreview() ? 'flex' : 'none'"
                            (click)="onRemove()">
                            close
                        </span>
                        <!-- <div class="loader" ></div> -->
                    </div>
                </div>
                <div class="data-upload-div d-flex gap-15">
                    <div class="d-flex flex-column mw100 gap-10">
                        <div class="internal-div">
                            <label class="form__title" for="title">Title</label>
                            <input class="form__input" type="text" id="title" formControlName="title" />
                        </div>
                        <div class="internal-div">
                            <label class="form__title" for="subTitle">Description</label>
                            <input class="form__input" type="text" id="subTitle" formControlName="subTitle" />
                        </div>
                        <div class="internal-div">
                            <label class="form__title" for="buttonText">Button</label>
                            <input class="form__input" type="text" id="buttonText" formControlName="buttonText" />
                        </div>
                        <div class="internal-div">
                            <label class="form__title" for="buttonLink">Button Link</label>
                            <input class="form__input" type="text" id="buttonLink" formControlName="buttonLink" />
                        </div>
                    </div>
                    <div class="d-flex flex-column mw100 gap-10">
                        <div class="internal-div">
                            <label class="form__title" for="contentAlign">Content Align</label>
                            <app-custom-select [_id]="'alignment'" [options]="alignment"
                                [selectedOption]="(bannerForm.get('contentAlign')?.value ? bannerForm.get('contentAlign')?.value : 'Select..')"></app-custom-select>
                        </div>
                        <ng-container formGroupName="colors">
                            <div class="internal-div">
                                <label class="form__title" [for]="'titleText'">Title Color</label>
                                <input class="form__input" type="color" name="" [id]="'titleText'"
                                    formControlName="titleColor">
                            </div>
                            <div class="internal-div">
                                <label class="form__title" [for]="'subTitleText'">Subtitle Color</label>
                                <input class="form__input" type="color" [id]="'subTitleText'"
                                    formControlName="subTitleColor" />
                            </div>
                            <div class="internal-div">
                                <label class="form__title" [for]="'buttonText'">Button Color</label>
                                <input class="form__input" type="color" [id]="'buttonText'"
                                    formControlName="buttonColor" />
                            </div>
                        </ng-container>
                    </div>
                </div>
            </div>
            <div class="d-flex gap-10 checkbox align-item-center">
                <input type="checkbox" name="layput" id="layout" (change)="isChecked($event)"
                    class="custom-check">
                <label for="layout">Add only banner and link</label>
            </div>
        </div>
    </form>

    <div class="table-list card">
        <table class="mw100">
            <thead>
                <tr>
                    <th class="items">Sr.</th>
                    <th class="items">Image</th>
                    <th class="items">Title</th>
                    <th class="items">Subtitle</th>
                    <th class="items">Button Text</th>
                    <th class="items">Link</th>
                    <th class="items">Align</th>
                    <th class="items">Title color</th>
                    <th class="items">Subtitle color</th>
                    <th class="items">Button Color</th>
                    <th class="items">Active</th>
                    <th class="items">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let banner of bannerData; let i = index">
                    <td class="ellipsis items serial-number">
                        <div class="d-flex justify-content-center">
                            {{i+1}}
                        </div>
                    </td>
                    <td class="ellipsis items">
                        <a [href]="banner.backgroundImage" style="color: rgb(0, 119, 255); text-decoration: underline;">
                            Link
                        </a>
                    </td>

                    <td class="items">
                        <div class="text-ellipsis">
                            {{banner.title ? banner.title : '-'}}
                        </div>
                    </td>
                    <td class="items">
                        <div class="text-ellipsis">{{banner.subTitle ? banner.subTitle : '-'}}</div>
                    </td>
                    <td class="items">{{banner.buttonText ? banner.buttonText : '-'}}</td>
                    <td class="items">
                        <div class="text-ellipsis">{{banner.buttonLink}}</div>
                    </td>
                    <td class="items">{{banner.contentAlign ? banner.contentAlign : '-'}}</td>
                    <td class="items">
                        <div [class.color-circle]="banner?.colors?.titleColor"
                            [style.background-color]="banner?.colors?.titleColor">
                            {{banner?.colors?.titleColor ? "" : '-'}}
                        </div>
                    </td>
                    <td class="items">
                        <div [class.color-circle]="banner?.colors?.subTitleColor"
                            [style.background-color]="banner?.colors?.subTitleColor">
                            {{banner?.colors?.subTitleColor ? "" : '-'}}
                        </div>
                    </td>
                    <td class="items">
                        <div [class.color-circle]="banner?.colors?.buttonColor"
                            [style.background-color]="banner?.colors?.buttonColor">
                            {{banner?.colors?.buttonColor ? "" : '-'}}
                        </div>
                    </td>
                    <td class="items">
                        <div class="slide-button d-flex align-item-center">
                            <input type="checkbox" [checked]="banner.active" (change)="toggleBanner(banner._id, $event)"
                                [id]="i + 'Available'" />
                            <label [for]="i + 'Available'"></label>
                        </div>
                    </td>
                    <td class="items action-btns">
                        <span class="d-flex align-item-center gap-5 transition">

                            <span class="tooltip">
                                <i class="fs-18 action__btn-icon pointer material-symbols-outlined"
                                    (click)="showForm = true; edit(i)">edit</i>
                                <span class="tooltiptext">Edit</span>
                            </span>
                            <span class="tooltip">
                                <i class="fs-18 action__btn-icon pointer material-symbols-outlined">delete</i>
                                <span class="tooltiptext" (click)="delete(banner._id)">Remove</span>
                            </span>
                        </span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

</div>