<section>
    <div class="container d-flex">

        <nav class="navbar d-flex flex-column align-item-center gap-25">
            <ul class="nav-items">
                <li class="nav-links" [ngClass]="{'nav-link-active': this.showData === 'profile'}"><a
                        (click)="changeComponent('profile')">
                        <span class="nav-txt">Profile</span>
                    </a></li>
                <li class="nav-links" [ngClass]="{'nav-link-active': this.showData === 'orders'}"
                    (click)="changeComponent('orders')">
                    <a>
                        <span class="nav-txt">My Order</span>
                    </a>
                </li>
                <li class="nav-links" [ngClass]="{'nav-link-active': this.showData === 'wishlist'}"><a>
                        <span class="nav-txt">My Wishlist</span>
                    </a></li>


                <li class="nav-links" [ngClass]="{'nav-link-active': this.showData === 'addresses'}"><a>
                        <span class="nav-txt">Addresses</span>
                    </a></li>

                <li class="nav-links" [ngClass]="{'nav-link-active': this.showData === 'changePassword'}"
                    (click)="changeComponent('changePassword')"><a>

                        <span class="nav-txt">Change Password</span>
                    </a></li>
            </ul>
        </nav>

        <div class="profile d-flex flex-column gap-20" *ngIf="showData=='profile'">

            <h2>
                Profile Details
            </h2>

            <form [formGroup]="signupForm" class="d-flex gap-15 disableInput"
                [ngClass]="isReadOnly === true ? 'disableInput' : 'enableInput'">
                <div class="form__group relative d-flex flex-column">
                    <label class="form__label">NAME<span>*</span></label>
                    <span class="material-symbols-outlined form__icon absolute">person</span>
                    <input type="text" id="name" formControlName="username" placeholder="Enter Your Name">
                </div>

                <div class="form__group relative d-flex flex-column">
                    <label class="form__label">EMAIL<span>*</span></label>
                    <span class="material-symbols-outlined form__icon absolute">mail</span>
                    <input type="text" id="email" formControlName="email" placeholder="Enter Your Email">
                </div>


                <div class="form__group relative d-flex flex-column">
                    <label class="form__label">MOBILENO<span>*</span></label>
                    <span class="material-symbols-outlined form__icon absolute">call</span>
                    <input type="text" id="mobileNo" formControlName="mobileNo" placeholder="Enter Your MobileNo">
                </div>


                <div class="form__group relative d-flex flex-column">
                    <label class="form__label">GENDER<span>*</span></label>
                    <div class="radios">
                        <div class="genders">
                            <div class="radiocustom">
                                <input class="mradio" type="radio" id="male" name="gender" value="Male">
                                <label for="male"></label>
                                <span>Male</span>
                            </div>
                            <div class="radiocustom">
                                <input class="mradio" type="radio" id="female" name="gender" value="Female">
                                <label for="female"></label>
                                <span>Female</span>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="form__group relative d-flex flex-column">
                    <label class="form__label">DOB<span>*</span></label>
                    <span class="material-symbols-outlined form__icon absolute">person</span>
                    <input type="date" id="dob" formControlName="dob" placeholder="Enter Your Username">
                </div>

                <!-- <div class="form__group relative d-flex flex-column">
                    <label class="form__label">ADDRESS<span>*</span></label>
                    <span class="material-symbols-outlined form__icon absolute">home</span>
                    <input type="text" id="address" formControlName="address" placeholder="Enter Your Address">
                </div> -->

            </form>


            <div class="d-flex gap-15">
                <button class="width-160 cancelbtn" (click)="editClick()" *ngIf="!isReadOnly">Cancel</button>
                <button class="btn-primary width-160" #EditBtn (click)="editClick()">Edit Profile</button>
            </div>


        </div>

        <div class="Allorders" *ngIf="showData=='orders'">
            <div *ngFor="let order of userData.orders" class="order">

                <div class="d-flex justify-content-md-between orderDetails">



                    <div class="orderDetailFirstColumn">
                        <div>
                            <p class="orderDetialsHeading"> Order Id</p>
                            <p> {{order.orderId}}</p>
                        </div>


                        <div>
                            <p class="orderDetialsHeading"> Order Date </p>
                            <p> {{order.orderDate}}</p>
                        </div>


                        <div>
                            <p class="orderDetialsHeading"> Total Amount </p>
                            <p> {{order.orderTotal}}</p>
                        </div>


                    </div>

                    <div class="orderDetailSecondColumn">
                        <button (click)="ViewProduct(order)">View Order
                            <span class="material-symbols-outlined" #expand>
                                expand_more
                            </span>
                        </button>
                        <button>View Invoice</button>
                    </div>

                </div>



                <div class="productsList" [ngClass]="{ expanded2: order.expanded }">
                    <div *ngFor="let product of order.products"
                        class="d-flex flex-column gap-20 justify-content-md-between productItem">


                        <div class="productItemFirstRow">
                            <div class="d-flex gap-20">
                                <img src="{{product.image}}" style="width: 100px; height: 100px;">

                                <div class="product-detials">
                                    <h3>{{product.name}}</h3>
                                    <p>Size: {{product.size}}</p>
                                    <p>Color: {{product.color}}</p>


                                </div>


                            </div>



                            <div class="d-flex flex-column gap-15 justify-content-evenly">

                                <div class="d-flex justify-content-md-between">
                                    <div class="status relative">


                                        <span class="absolute material-symbols-outlined pending"
                                            *ngIf="product.status=='pending'">
                                            local_shipping
                                        </span>

                                        <span class="absolute material-symbols-outlined done_logo"
                                            *ngIf="product.status=='delivered'" cla>
                                            done
                                        </span>

                                        <p>{{product.status}}</p>
                                    </div>
                                    <p class="price d-flex">₹{{product.price}}</p>
                                </div>

                                <div class="btns">
                                    <button class="viewProduct">View Product</button>
                                    <button>Buy Again</button>
                                </div>



                            </div>

                        </div>

                    </div>

                </div>
            </div>

            <!-- <div class="pagination">
            <div class="d-flex" *ngIf="showData=='orders'">


                <button (click)="PreviousPage()">Previous</button>
        
        
        
        
        
                <button *ngIf="CurrentPage!=1" (click)="Gotopage(1)">{{1}}</button>
                <p *ngIf="CurrentPage>2"> ....</p>
                <button *ngIf="CurrentPage>2" (click)="Gotopage(CurrentPage-1)">{{CurrentPage-1}}</button>
        
                <button class="blue">{{CurrentPage}}</button>
        
                <button (click)="Gotopage(CurrentPage+1)" *ngIf="CurrentPage!=TotalPages">{{CurrentPage+1}}</button>
                <p *ngIf="CurrentPage!=TotalPages-1 && CurrentPage!=TotalPages "> ....</p>
                <button (click)="Gotopage(TotalPages)"
                    *ngIf="CurrentPage!=TotalPages && CurrentPage!=TotalPages-1">{{TotalPages}}</button>
        
        
        
                <button (click)="NextPage()">Next</button>
            </div>
        </div> -->
        </div>

        <div class="changePassword" *ngIf="showData=='changePassword'">
            <h2>
                Change Password
            </h2>
            <form [formGroup]="ChangePasswordForm" class="d-flex flex-column flex-wrap">

                <div class="form__group relative d-flex flex-column">
                    <label class="form__label">CURRENT PASSWORD<span>*</span></label>
                    <span class="material-symbols-outlined key form__icon absolute">key</span>
                    <input type="text" id="currentPassword" formControlName="currentPassword"
                        placeholder="Enter current password">

                </div>

                <div class="form__group relative d-flex flex-column">
                    <label class="form__label">NEW PASSWORD<span>*</span></label>
                    <span class="material-symbols-outlined key form__icon absolute">key</span>
                    <input type="text" id="newPassword" formControlName="newPassword" placeholder="Enter new password">
                </div>


                <div class="form__group relative d-flex flex-column">
                    <label class="form__label">CONFIRM NEW PASSWORD<span>*</span></label>
                    <span class="material-symbols-outlined key form__icon absolute">key</span>
                    <input type="text" id="confirmPassword" formControlName="confirmPassword"
                        placeholder="Retype new password">

                </div>

            </form>


            <button class="btn-primary width-160" (click)="ChangePasswordHandler()">Save</button>
        </div>





    </div>












</section>