.container {
    padding-block-start: 30px;
    padding-block-end: 50px;
}
.content {
    width: calc(100% - 260px);
}

.width-160 {

    width: 160px;
}

.disableInput {

    & input {
        pointer-events: none;
    }

}

.address__heading{
    padding-inline: 12px 10px;
}

.default__btn {
    background-color: rgb(var(--textClr), 0.09) !important;
    color: rgb(var(--blackClr));
    border-radius: 10px !important;
    font-weight: 400;
    font-size: 9px !important;
    padding: 0px 6px !important;
}


.enableInput {

    & input {
        pointer-events: initial;
        background-color: #f5f5f58c !important;
    }

}

form {
    row-gap: 15px;
    column-gap: 30px;
    width: 100%;

    & .form__group {
        width: calc(50% - 15px);

        & input {
            width: 100%;
            height: 52px;
            padding-inline-start: 50px;
            border-radius: 8px;
            border: 1px solid transparent;
            background-color: #f5f5f5cf;
            font-size: 14px;
            outline: none;
        }

        & .key {
            transform: rotate(90deg);
        }

        & input:focus {
            border-color: rgb(var(--textClr), 0.4);
        }

        & label {
            font-size: 14px;
            color: rgb(var(--textClr), 0.9);
            padding-bottom: 5px;
        }



        & .form__icon {
            display: flex;
            align-items: center;
            font-size: 23px;
            justify-content: center;
            width: 50px;
            inset-block-start: 40px;
            inset-inline-start: 0;
            background-color: transparent;
            color: rgb(var(--textClr), 0.5);
        }

        & ::placeholder {
            color: rgb(var(--textClr), 0.3);
        }




    }







}

.cancelbtn {
    background: transparent;
    border: 1px solid rgba(var(--blackClr), 0.2);
    color: rgba(var(--primaryClr));
}


.navbar {
    min-width: 260px;
    padding-block: 40px;
    height: 426px;
    position: sticky;
    border-right: 1px solid rgba(var(--blackClr), 0.2);

    & .nav-items {
        width: 100%;
        gap: 18px;
        height: 100%;

        & .nav-links {
            width: 100%;
            transition: all 0.3s ease-in;
        }



        & .nav-links a {
            display: flex;
            /*this look wrong */
            cursor: pointer;
            align-items: center;
            padding-inline: 22px;
            padding-block: 12px;



            & .nav-txt {
                font-size: 14px;
                font-weight: 300;
            }

        }

    }

}


.nav-link-active {
    border-left: 3.5px solid rgb(var(--primaryClr));
    /* background: rgb(var(--primaryClr), 0.1);
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px; */
    margin-inline-end: 20px;
}

.nav-links a span:hover {
    color: rgb(var(--primaryClr))
}

.profile,
.changePassword,
.address {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-inline: 50px;

    & h2 {
        font-size: 24px;
        font-weight: 600;
    }

    & .edit-btn {
        cursor: pointer;
    }

}

label span {
    color: rgb(var(--danger));
}

/*  RADIO BUTTON CSS */
.radio {
    padding-block: 40px;

    & label {
        width: 200px;
        cursor: pointer;

        & span {
            color: rgba(var(--blackClr), 0.9);
        }

        & input {
            display: none;

        }

        & input[type='radio']:checked+span::before {
            background-color: rgba(var(--primaryClr));
            border: none;
        }

        & span {
            display: flex;
            gap: 4px;
            align-items: center;
            position: relative;
        }

        & span::before {
            content: "";
            height: 25px;
            transition: all 0.5s;
            width: 25px;
            /* border: none; */
            background-color: #fff;
            border: 1px solid black;
            border-radius: 50%;
        }

        & span::after {
            content: "";
            height: 10px;
            width: 10px;
            position: absolute;
            border: none;
            background-color: #fff;
            border-radius: 50%;
            align-items: center;
            left: 7px;
            justify-content: center;
        }

    }
}

/*  RADIO BUTTON CSS */

.right__icon,
.left__icon {
    display: none;
}


.addAddress__div {
    gap: 2px;

    & span,
    p {
        color: rgba(var(--primaryClr), 0.8);
    }
}






.address__firstdiv {
    & .name {
        font-weight: 500;
    }

    /* & .other__details{
        font-weight: 100;
    } */

    /* & button {
        background: transparent;
        padding: 0px 15px !important;
        border-radius: 0;


    } */

  
}

.edit__btn {
    color: rgba(var(--blackClr), 0.7);
}
.remove__btn {
    color: rgba(var(--danger), 0.8); 
}

.edit__btn,.remove__btn{
    cursor: pointer;
    font-weight: 300;
    font-size: 21px;
}

/* .edit__btn:hover{
    color: rgba(var(--primaryClr), 1);
}

.remove__btn:hover{
    color: rgba(var(--danger), 0.8);
} */
/* .show{

    & .addressForm{
        opacity: 1;
        visibility: initial;
    }
    & .addressFormContent{
        top: 0px !important;
        left:50% !important;
        transform: translate(-50%, -50%) scale(1.1);
        transition: transform 0.4s cubic-bezier(0, 0.59, 0.25, 1), -webkit-transform 0.4s cubic-bezier(0, 0.59, 0.25, 1);
    }
 }  */









/* MEDIA QUERY */
@media (max-width:989px) {

    .content {
        transform: translateX(100%);
    }

    .container {
        overflow: hidden;
        position: relative;
        padding-inline: 0px !important;

    }

    .navbar {
        border: none;
        min-width: 100%;
        padding-inline: 10px !important;

        & ul {
            width: 100%;

            & li {
                border: 1px solid rgba(var(--blackClr), 0.2);
                display: flex;
                align-items: center;
                cursor: pointer;
                justify-content: space-between;
                padding: 12px 22px;

                & a {
                    padding: 0 !important;
                }

                & span {
                    display: flex;
                }
            }
        }
    }

    .profile,
    .changePassword,
    .address {
        opacity: 1 !important;
        padding: 0 !important;
        width: 100% !important;

        & .h2_div {
            & span {
                display: flex !important;
                transform: translateX(-8px);
                opacity: 0.8;
            }

        }




    }

    .nav-link-active {
        border: none;
    }



    .expand {
        position: absolute !important;
        background-color: white;
        height: 100%;
        width: 100%;
        transform: translateX(0%) !important;
        transition: transform 0.4s cubic-bezier(0, 0.59, 0.25, 1), -webkit-transform 0.4s cubic-bezier(0, 0.59, 0.25, 1);
        padding-inline: 20px !important;

    }



}

/* new css */
.addressDiv {
    /* border: 1px solid rgb(var(--textClr), 0.5); */
    padding: 24px;
    background-color: rgb(var(--whiteClr));
    border-radius: 6px;

    /* & .name{
         text-transform: capitalize; 
    } */
    & .remove::hover {
        color: rgb(var(--danger))
    }
}



/* ORDERS  CSS */
.Orders {
    width: 100%;
    padding-inline: 50px;

}

.orders__p {
    color: rgba(var(--blackClr), 0.6);
}

.particularOrder {
    /* border-top: 1px solid rgba(var(--blackClr), 0.6); */
    /* border-right-radius: 5px; */
    /* border-left-radius: 5px; */
    border-top-right-radius: 9px;
    border-top-left-radius: 9px;
    border: 1px solid rgba(var(--blackClr), 0.2);
    padding-inline: 30px;
    padding-block: 20px;

}


.order__basic {
    & span {
        color: rgba(var(--blackClr), 0.6);
    }

    & p {
        font-weight: 500;
    }
}

.order {
    padding-block: 20px;
}

.order__firstDiv__btn {
    & button {
        padding-inline: 15px;
        padding-block: 10px;
        background: transparent;
        border: 1px dashed rgba(var(--primaryClr));
        color: rgba(var(--blackClr), 0.6);

    }
}

.imgDiv {
    width: 80px;
    overflow: hidden;
    border-radius: 8px;
    height: 100px;


    /* background-color: black; */
}

.order:not(:last-child) {
    border-block-end: 0.8px solid rgb(var(--textClr), 0.2);
}


.productDetails {
    & p {
        opacity: 0.7;
        /* font-size: 12px !important; */
    }
}

.prodName {
    font-size: 22px;
    font-weight: 500;
    font-size: 16px !important;
    opacity: 1 !important;
}

.price {
    font-weight: 500;
}

/* .order:not(:last-child){
    border-block-end : 0.8px solid rgba(var(--blackClr), 0.6);
} */
.delivery {
    & span {
        color: rgb(var(--whiteClr));
        background-color: rgb(var(--success));
        width: 15px;
        height: 15px;
        font-size: 15px;
        border-radius: 50%;
    }
}

.btns button {
    background-color: transparent;
    padding: 0;
    color: rgb(var(--primaryClr))
}

.color__div {
    height: 15px;
    width: 15px;
    border-radius: 50%;
}
.main-address:not(:last-child) {
    padding-block-end: 15px;
    border-bottom: 0.5px solid rgb(var(--blackClr), 0.6);
}

/*  WISHLISTS CSS */
.accordian {
    & .content {
        font-size: 13px !important;
    }
}

.accordian:not(:last-child) {
    border-block-end: 1px solid rgb(var(--textClr), 0.2);
}

.accordian__head {
    padding-block: 10px;
    font-size: 16px !important;

    & span {
        transition: all 0.3s ease-in-out;
        font-size: 18px;
        opacity: 0.6;
    }
}

.accordian__body {
    /* padding-block-start: 20px; */
    padding-block-end: 10px;
    display: none;
    transition: all 0.3s ease-in-out;
}

.accordian__body.active {
    display: flex;
    justify-content: space-between;
}

/* .accordian__body.active:has(.accordian__head) {
    & span {
        transform: rotate(-180deg);
    }
} */

.accordian__head:has(+ .accordian__body.active) > span {

    transform: rotate(-180deg);

}
.no-item-label {
    font-size: 12px !important;
    opacity: 0.6;
}


.wishlist {
    padding-inline: 50px;

    & h2 {
        font-weight: 600;
    }
}

.prod-img img {
    max-width: 60px;
    max-height: 110px;
    object-fit: cover;
}

.product {
    border-block-end: 1px solid rgba(var(--textClr), 0.1);
    padding-block: 20px;

    /* &:first-child {
        padding-block: 10px;
        padding-block-end: 20px;
    } */
}

.product:last-child {
    border-block-end: none;
}

.prod-name {
    font-size: 15px !important;
    font-weight: 600;
}

.remove-btn {
    padding: 0 !important;
    border: none;
    cursor: pointer;
    font-size: 14px;
    max-width: 22px;
    max-height: 22px;
    position: absolute;
    inset-block-start: -5.5px;
    inset-inline-start: -2px;
    background-color: rgb(var(--textClr));
    border-radius: 50%;
    transition: background-color 0.3s ease-in-out;
    border: 2px solid rgb(var(--whiteClr));

    & span {
        color: rgb(var(--whiteClr));
        font-weight: 600;
        font-size: 14px;
    }
}

.cart-btn {
    padding-block: 10px;
    padding-inline: 18px;
    font-size: 14px !important;

    & span {
        font-size: 18px;
    }
}

.wishlist-name {
    font-size: 15px !important;
    font-weight: 500;
}

