<section>
    <div class="container d-flex">
        <nav class="navbar d-flex flex-column align-item-center gap-25">
            <ul class="nav-items d-flex flex-column align-item-center">
                <li class="nav-links" [ngClass]="{'nav-link-active': this.showData === 'profile'}"
                    (click)="changeComponent('profile')"><a class="d-flex">
                        <span class="nav-txt">Profile</span>
                    </a>
                    <span class="material-symbols-outlined right__icon">
                        chevron_right
                    </span>
                </li>
                <li class="nav-links" [ngClass]="{'nav-link-active': this.showData === 'orders'}" (click)="getOrders()">
                    <a>
                        <span class="nav-txt">My Order</span>
                    </a>
                    <span class="material-symbols-outlined right__icon">
                        chevron_right
                    </span>
                </li>
                <li class="nav-links" [ngClass]="{'nav-link-active': this.showData === 'wishlist'}"
                    (click)="changeComponent('wishlist')"><a>
                        <span class="nav-txt">My Wishlist</span>
                    </a>
                    <span class="material-symbols-outlined right__icon">
                        chevron_right
                    </span>
                </li>


                <li class="nav-links" [ngClass]="{'nav-link-active': this.showData === 'addresses'}"
                    (click)="getAddresses()"><a>
                        <span class="nav-txt">Addresses</span>
                    </a>
                    <span class="material-symbols-outlined right__icon">
                        chevron_right
                    </span>
                </li>

                <li class="nav-links" [ngClass]="{'nav-link-active': this.showData === 'changePassword'}"
                    (click)="changeComponent('changePassword')"><a>

                        <span class="nav-txt">Change Password</span>
                    </a>
                    <span class="material-symbols-outlined right__icon">
                        chevron_right
                    </span>
                </li>
            </ul>
        </nav>

        <div class="content" [ngClass]="{'expand':TranslateData}">
            <div class="profile selected d-flex flex-column gap-20" *ngIf="showData=='profile'">

                <div class="d-flex align-item-center pointer h2_div" (click)="TranslateBack()">
                    <span class="material-symbols-outlined left__icon">
                        chevron_left
                    </span>
                    <h2>
                        Profile Details
                    </h2>


                </div>


                <form [formGroup]="ProfileForm" class="d-flex gap-15 disableInput flex-wrap"
                    [ngClass]="isReadOnly === true ? 'disableInput' : 'enableInput'">
                    <div class="form__group relative d-flex flex-column">
                        <label class="form__label">FIRSTNAME<span>*</span></label>
                        <span class="material-symbols-outlined form__icon absolute">person</span>
                        <input type="text" id="firstname" formControlName="firstname"
                            placeholder="Enter Your First Name">
                    </div>

                    <div class="form__group relative d-flex flex-column">
                        <label class="form__label">LASTNAME<span>*</span></label>
                        <span class="material-symbols-outlined form__icon absolute">person</span>
                        <input type="text" id="lastname" formControlName="lastname" placeholder="Enter Your Last Name">
                    </div>
                    <div class="form__group relative d-flex flex-column">
                        <label class="form__label">EMAIL<span>*</span></label>
                        <span class="material-symbols-outlined form__icon absolute">mail</span>
                        <input type="text" id="email" formControlName="email" placeholder="Enter Your Email">
                        <small *ngIf="ProfileForm.get('email')?.hasError('email') && ProfileForm.get('email')?.touched"
                            class="invalid">
                            *Please enter valid Email.
                        </small>
                    </div>


                    <div class="form__group relative d-flex flex-column">
                        <label class="form__label">MOBILENO<span>*</span></label>
                        <span class="material-symbols-outlined form__icon absolute">call</span>
                        <input type="text" id="mobile" formControlName="mobile" placeholder="Enter Your MobileNo">

                        <small
                            *ngIf="ProfileForm.get('mobile')?.hasError('notvalid') && ProfileForm.get('mobile')?.touched"
                            class="invalid">*Mobile No is invalid.</small>

                    </div>



                    <div class="form__group relative d-flex flex-column">
                        <label class="form__label">DOB<span>*</span></label>
                        <span class="material-symbols-outlined form__icon absolute">person</span>
                        <input type="date" id="dob" formControlName="dob" placeholder="Enter Your Username">
                    </div>

                    <div class="form__group relative radio d-flex" *ngIf="!isReadOnly">

                        <label for="male" class="d-flex align-item-center">
                            <input type="radio" id="male" name="gender" value="male" formControlName="gender"
                                [attr.checked]="this?.ProfileForm?.get('gender')?.value=='male' ? true: null">
                            <span>
                                Male
                            </span>
                        </label>

                        <label>
                            <input type="radio" id="female" name="gender" formControlName="gender" value="female"
                                [attr.checked]="this?.ProfileForm?.get('gender')?.value=='female'  ? true : null">
                            <span>
                                female
                            </span>
                        </label>
                    </div>

                </form>


                <div class="d-flex gap-15">
                    <button class="width-160 cancelbtn" (click)="editClick()" *ngIf="!isReadOnly">Cancel</button>
                    <button class="btn-primary width-160" #EditBtn (click)="editClick()" *ngIf="isReadOnly">Edit
                        Profile</button>
                    <button class="btn-primary width-160" #EditBtn (click)="saveDetails()"
                        *ngIf="!isReadOnly">Save</button>
                </div>



            </div>

            <div *ngIf="showData=='addresses'" class="address">
                <div class="d-flex  align-item-center justify-content-md-between pointer h2_div"
                    (click)="TranslateBack()">

                    <div class="d-flex align-item-center pointer h2_div" (click)="TranslateBack()">
                        <span class="material-symbols-outlined left__icon">
                            chevron_left
                        </span>
                        <h2>
                            My Addresses
                        </h2>
                    </div>

                    <div class="d-flex align-item-center addAddress__div" (click)="AddAddress()">
                        <span class="material-symbols-outlined">
                            add_circle
                        </span>
                        <p>ADD NEW ADDRESS</p>
                    </div>

                </div>
                <div class="d-flex flex-column gap-10">
                    <div *ngFor="let address of userAddresses;let i=index" class="addressDiv d-flex flex-column gap-15">
                        <div class="d-flex justify-content-md-between align-item-center address__firstdiv">
                            <p class="name text-capitalize">{{address.firstname}} {{address.lastname}}</p>
                            <div class="d-flex">
                                <!-- <button></button> -->
                                <span *ngIf="address.defaultAddress">Default Address</span>
                                <button class="btn default__btn" (click)="MakeDefault(address)" *ngIf="i!=0">Make this
                                    Defult</button>

                                <button class="edit__btn d-flex align-item-center"
                                    (click)="EditAddress(address,i)">Edit</button>
                                <button class="remove" (click)="RemoveAddress(address,i)">Remove</button>
                            </div>
                        </div>
                        <div>
                            <p>{{address.apartment}} {{address.area}} {{address.landmark}}, {{address.town_city}}</p>
                            <p>{{address.state}}- {{address.pincode}}</p>
                        </div>
                    </div>
                </div>


            </div>

            <div class="changePassword" *ngIf="showData=='changePassword'">
                <div class="d-flex align-item-center pointer h2_div" (click)="TranslateBack()">
                    <span class="material-symbols-outlined left__icon">
                        chevron_left
                    </span>
                    <h2>
                        Change Password
                    </h2>


                </div>

                <form [formGroup]="changePasswordForm" class="d-flex flex-column flex-wrap">


                    <div class="form__group relative d-flex flex-column">
                        <label class="form__label">CURRENT PASSWORD<span>*</span></label>
                        <span class="material-symbols-outlined form__icon absolute key">key</span>
                        <input [type]="password3" id="name" formControlName="currentPassword"
                            placeholder="Enter Current Password">
                        <button class="eye-btn flex justify-content-center align-items-center"
                            (click)="showPassword3 = !showPassword3 ; password3 = showPassword3? 'text' : 'password';"><span
                                class="material-symbols-outlined eye">{{showPassword3? 'visibility' :
                                'visibility_off'}}</span>
                        </button>
                    </div>

                    <div class="form__group relative d-flex flex-column">
                        <label class="form__label">NEW PASSWORD<span>*</span></label>

                        <span class="material-symbols-outlined form__icon absolute key">key</span>
                        <input [type]="password2" id="email" formControlName="newPassword"
                            placeholder="Enter New Password">
                        <button class="eye-btn flex justify-content-center align-items-center"
                            (click)="showPassword2 = !showPassword2 ; password2 = showPassword2 ? 'text' : 'password';"><span
                                class="material-symbols-outlined eye">{{showPassword2? 'visibility' :
                                'visibility_off'}}</span>
                        </button>
                        <div class="password-helper d-flex justify-content-md-between">


                            <div class="helper-inside d-flex flex-column ">
                                <p [ngClass]="{'red-text': changePasswordForm.get('newPassword')?.hasError('minlength') && !changePasswordForm.get('newPassword')?.hasError('required'),
                     'green-text': !changePasswordForm.get('newPassword')?.hasError('minlength') && !changePasswordForm.get('newPassword')?.hasError('required')}"
                                    *ngIf="!changePasswordForm.get('newPassword')?.hasError('required')">
                                    <small class="material-symbols-outlined">
                                        check_circle
                                    </small>Minimum 8 characters
                                </p>

                                <p [ngClass]="{'red-text': changePasswordForm.get('newPassword')?.hasError('uppercase') && !changePasswordForm.get('newPassword')?.hasError('required'),
                     'green-text': !changePasswordForm.get('newPassword')?.hasError('uppercase') && !changePasswordForm.get('newPassword')?.hasError('required')}"
                                    *ngIf="!changePasswordForm.get('newPassword')?.hasError('required')">
                                    <small class="material-symbols-outlined">
                                        check_circle
                                    </small>One uppercase letter
                                </p>

                                <p [ngClass]="{'red-text': changePasswordForm.get('newPassword')?.hasError('lowercase') && !changePasswordForm.get('newPassword')?.hasError('required'),
               'green-text': !changePasswordForm.get('newPassword')?.hasError('lowercase') && !changePasswordForm.get('newPassword')?.hasError('required')}"
                                    *ngIf="!changePasswordForm?.get('newPassword')?.hasError('required')">
                                    <small class="material-symbols-outlined">
                                        check_circle
                                    </small>One lowercase letter
                                </p>
                            </div>

                            <div class="helper-inside d-flex flex-column ">
                                <p [ngClass]="{'red-text': changePasswordForm.get('newPassword')?.hasError('digit') && !changePasswordForm.get('newPassword')?.hasError('required'),
               'green-text': !changePasswordForm.get('newPassword')?.hasError('digit') && !changePasswordForm.get('newPassword')?.hasError('required')}"
                                    *ngIf="!changePasswordForm?.get('newPassword')?.hasError('required')">
                                    <small class="material-symbols-outlined">
                                        check_circle
                                    </small>One numeric character
                                </p>

                                <p [ngClass]="{'red-text': changePasswordForm.get('newPassword')?.hasError('specialCharacter') && !changePasswordForm.get('newPassword')?.hasError('required'),
               'green-text': !changePasswordForm.get('newPassword')?.hasError('specialCharacter') && !changePasswordForm.get('newPassword')?.hasError('required')}"
                                    *ngIf="!changePasswordForm?.get('newPassword')?.hasError('required')">
                                    <small class="material-symbols-outlined">
                                        check_circle
                                    </small>One special character
                                </p>
                            </div>
                        </div>

                    </div>


                    <div class="form__group relative d-flex flex-column">
                        <label class="form__label">CONFIRM NEW PASSWORD<span>*</span></label>
                        <span class="material-symbols-outlined key form__icon absolute">key</span>
                        <input [type]="password" id=" againNewPassword" formControlName="againNewPassword"
                            placeholder="Retype new password">
                        <button class="eye-btn flex justify-content-center align-items-center"
                            (click)="showPassword = !showPassword ; password = showPassword ? 'text' : 'password';"><span
                                class="material-symbols-outlined eye">{{showPassword? 'visibility' :
                                'visibility_off'}}</span>
                        </button>
                    </div>

                </form>


                <button class="btn-primary width-160" (click)="onPasswordChange()">Save</button>
            </div>

            <div class="Orders  d-flex flex-column gap-20" *ngIf="showData=='orders'">

                <div class="d-flex align-item-center pointer h2_div" (click)="TranslateBack()">
                    <span class="material-symbols-outlined left__icon">
                        chevron_left
                    </span>
                    <h2 style="font-weight: 600;">
                        Orders History
                    </h2>


                </div>
                <p class="orders__p">Check the status of recent orders, manage returns, and discover similar products
                </p>

                <div class="AllOrders d-flex flex-column gap-25">
                    <div *ngFor="let order of AllOrders ; let i=index" class="particularOrder">
                        <div class="order__firstDiv d-flex gap-25 justify-content-md-between">
                            <div class=" d-flex gap-25 align-item-center order__basic">
                                <div>
                                    <p>Order Number</p>
                                    <span>{{order._id}}</span>
                                </div>
                                <div>
                                    <p>Date Placed</p>
                                    <span>{{getDate(order.orderDate)}}</span>
                                </div>
                                <div>
                                    <p>Total Amount</p>
                                    <span>{{order.orderAmount}}</span>
                                </div>
                            </div>

                            <div class="d-flex gap-20 order__firstDiv__btn">
                                <button>View Order</button>
                                <button>View Invoice</button>
                            </div>

                        </div>
                        <div class="order__secondDiv" *ngFor="let product of order.products">
                            <div class="order d-flex flex-column gap-20">
                                <div class=" d-flex justify-content-md-between">
                                    <div class="d-flex gap-15">
                                        <!-- <div > -->
                                        <img src={{product.image}} class="imgDiv">
                                        <!-- </div> -->
                                        <div class="d-flex flex-column productDetails">
                                            <p class="prodName">{{product.name}}</p>
                                            <div class="d-flex align-item-center gap-5">
                                                <p>Product</p>
                                                <div [style.background-color]="product.color" class="color__div"></div>
                                            </div>
                                            <p>Qty - {{product.quantity}}</p>
                                            <!-- <p>Order Id - {{order._id}}</p> -->
                                        </div>
                                    </div>
                                    <div class="d-flex justify-content-center align-item-center">
                                        <p class="price">₹ {{product.price}}</p>
                                    </div>
                                </div>
                                <div class="deliverDiv d-flex justify-content-md-between">
                                    <div class="d-flex gap-10 delivery align-item-center">
                                        <span class="material-symbols-outlined">
                                            done
                                        </span>
                                        <p class="delivery-status">Delivered</p>
                                    </div>
                                    <div class="d-flex gap-10 btns">
                                        <button routerLink="/product/{{product.sku}}">
                                            View Product
                                        </button>
                                        <p>|</p>
                                        <button (click)="BuyAgain(product)">
                                            Buy Again
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <!-- <div class="order d-flex flex-column gap-20">
                                <div class=" d-flex justify-content-md-between">
                                    <div class="d-flex gap-15">
                                        <div class="imgDiv">

                                        </div>
                                        <div class="d-flex flex-column productDetails">
                                            <p class="prodName">Product Name</p>
                                            <p>Product Brand</p>
                                            <p>Qty - 3</p>
                                            <p>Order Id - njc3323e</p>
                                        </div>
                                    </div>
                                    <div class="d-flex justify-content-center align-item-center">
                                        <p class="price">$897</p>
                                    </div>
                                </div>
                                <div class="deliverDiv d-flex justify-content-md-between">
                                    <div class="d-flex gap-10 delivery align-item-center">
                                        <span class="material-symbols-outlined">
                                            done
                                        </span>
                                        <p class="delivery-status">{{product.status.shipment}}</p>
                                    </div>
                                    <div class="d-flex gap-10 btns">
                                        <button>
                                            View Product
                                        </button>
                                        <p>|</p>
                                        <button>
                                            Buy Again
                                        </button>
                                    </div>
                                </div>
                            </div> -->

                        </div>
                    </div>
                </div>
            </div>

            <div *ngIf="showData=='wishlist'" class="wishlist">

                <div class="d-flex align-item-center pointer h2_div" (click)="TranslateBack()">
                    <span class="material-symbols-outlined left__icon">
                        chevron_left
                    </span>
                    <h2 style="margin-block-end: 15px;">
                        Wishlists
                    </h2>


                </div>


                <div class="d-flex flex-column">

                    <div class="accordian mw-100" *ngFor="let item of list; let i = index">
                        <h3 class="accordian__head relative pointer" (click)="showWishlistedProducts(item, i)">
                            {{item}}
                        </h3>
                        <div class="accordian__body openedAccordionIndex === i" class=""
                            *ngIf="openedAccordionIndex === i">

                            <ng-container *ngFor="let product of wishlistedProducts">
                                <div class="product d-flex justify-content-md-between">
                                    <div class="d-flex gap-20">
                                        <div class="prod-img relative">
                                            <a href="/product/{{product.productDetails.sku}}">
                                                <img [src]="product.productDetails.assets[0].photo[0]"
                                                    alt="Product Image">
                                            </a>
                                            <button
                                                class="absolute remove-btn d-flex justify-content-center align-item-center"
                                                (click)="removeFromWishlist(product.productDetails._id, item, i)">
                                                <span class="material-symbols-outlined">
                                                    close
                                                </span>
                                            </button>
                                        </div>
                                        <div class="d-flex flex-column gap-5">
                                            <p class="prod-name">
                                                {{product.productDetails.name}}
                                            </p>
                                            <p>{{product.productDetails.info.brand}}</p>
                                            <p>Price: {{ product.productDetails.price }}</p>
                                        </div>
                                    </div>
                                    <div class="d-flex justify-content-center align-item-center">
                                        <button class="btn-primary cart-btn"
                                            (click)="moveToCart(product.productDetails.sku)">
                                            MOVE TO CART
                                        </button>
                                    </div>
                                </div>
                            </ng-container>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

</section>

<app-address [ShowComponent]="ShowComponent" [receiveData]="receiveData"
    (AddressHandler)="AddressHandler($event)"></app-address>