.gender-top {
    display: flex;
    width: 198.1px;
    gap: 51px;
}


/* 
.Allorders {
    display: flex;
    flex-direction: column;
    gap: 20px;

    & .order {
        gap: 20px;
        width: 100%;
        display: flex;
       
        flex-direction: column;
        border: 1px solid (rgba(var(--text-black), 0.5));

        & p {
            font-size: 12px !important;
        }

        & .orderDetails {
            display: flex;
            justify-content: space-between;
            background-color: rgba(var(--primary), 0.9);

            padding: 10px;
            color: rgba(var(--text-white));

            & .common {
                display: flex;
                flex-direction: column;
                gap: 5px;
            }

        }

        & .productsList {
            display: flex;
            flex-direction: column;
            gap: 20px;

            & .productItem {
                width: 100%;
                display: flex;
                padding-inline: 10px;
                align-items: center;
                border-block-end: 1px solid rgba(var(--text-black), 0.1);
                padding-block-end: 20px;
                position: relative;

                & h4 {
                    width: 25ch;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    white-space: nowrap;
                    font-weight: 500;
                }

                & img {
                    max-width: 60px;
                    height: 100%;
                    object-fit: cover;
                }

                & .price {
                    justify-content: flex-end;
                    font-size: 22px;
                    width: 7ch;
                }

            }
        }

        .productItem:last-child {
            border-block-end: none;
        }

    }

} */




.active {
    border-right: 3px solid rgb(var(--primary)) !important;
    border-radius: 0px;


}


.buttonDiv {
    display: flex;
    justify-content: center;
    padding-block: 15px;

    & button {
        width: 200px;
        height: 50px;

    }
}





/*  ---------------------NEW CODE-------------------------  */


/* 

    min-height: 100%;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 400;
    font-size: 22px;
}
*/


/* Nav bar */


/* profile section */


section {
    padding-block: 50px;

    & .container {
        width: 80%;
        margin: 0 auto;

        padding-block-end: 50px;

        & .navbar {
            min-width: 279px;
            border-radius: 10px;
            box-shadow: 0px -1px 10px 3px #0000000f;
            min-height: 100%;
            background-color: #ffe7d854;
            padding-block: 40px;



            & .nav-items {


                & .nav-links {
                    width: 100%;
                }

                position: relative;
                gap: 18px;
                display: flex;
                flex-direction: column;
                align-items: center;
                height: 100%;

                & .nav-links a {
                    display: flex;
                    gap: 10px;
                    cursor: pointer;

                    align-items: center;
                    padding-inline-start: 70px;


                    & .nav-icons {
                        font-size: 30px;
                        color: rgba(var(--primary), 1);
                        font-weight: 400;
                        display: flex;
                        justify-content: center;
                        width: 50px;
                        align-items: center;
                        height: 40px;
                        transform: translateX(-15px);
                    }


                    & .nav-txt {
                        font-size: 18px;
                        font-weight: 300;
                    }




                }



                & .nav-links:last-child {
                    position: absolute;
                    inset-block-end: 0;

                }
            }

        }

        & .profile {

            display: flex;
            flex-direction: column;
            gap: 20px;

            padding-inline: 120px;


            & .common {
                & h2 {
                    font-size: 32px;
                    font-weight: 300;

                }


                & .edit-btn {
                    cursor: pointer;
                    display: flex;
                    align-items: center;
                }

                display: flex;
                justify-content: space-between;
                border-bottom: 1px solid rgba(var(--text-black), 0.2);
            }





            & form {
                row-gap: 15px;
                flex-wrap: wrap;
                column-gap: 30px;

                & .form__group {


                    width: calc(50% - 16px);

                    & input {
                        width: 100%;
                        height: 52px;
                        padding-inline-start: 50px;
                        border-radius: 8px;
                        border: 1px solid transparent;
                        background-color: #f5f5f5cf;
                        /* background-color: rgb(var(--primary), 0.05); */
                        font-size: 14px;
                        outline: none;

                    }

                    & input:focus {
                        border-color: rgb(var(--text-black), 0.4);
                    }

                    & label {
                        font-size: 14px;
                        color: rgb(var(--text-black), 0.9);
                        padding-bottom: 5px;
                    }

                    & label span {
                        color: rgb(var(--danger));
                    }

                    & .form__icon {
                        display: flex;
                        align-items: center;
                        font-size: 23px;
                        justify-content: center;
                        width: 50px;
                        inset-block-start: 40px;
                        inset-inline-start: 0;
                        background-color: transparent;
                        color: rgb(var(--text-black), 0.5);
                    }

                    & ::placeholder {
                        color: rgb(var(--text-black), 0.3);
                    }




                }







            }






        }


        & .Allorders {
            width: calc(100% - 279px);
            display: flex;
            flex-direction: column;
            gap: 30px;

            & .order {

                /* 
                border: 1px solid rgb(var(--text-black), 0.3);
                border-radius: 6px; */
                padding-inline: 30px;

                & .orderDetails {

                    display: flex;
                    justify-content: space-between;
                    padding-inline: 40px;
                    border: 0.2px solid rgba(68, 66, 66, 0.274);
                    border-radius: 5px 5px 0px 0px;

                    & .orderDetailFirstColumn {
                        height: 70px;
                        align-items: center;
                        display: flex;
                        gap: 30px;

                        & .orderDetialsHeading {
                            font-weight: 600;
                            color: rgb(var(--text-black), 0.9);
                            text-transform: capitalize;
                            margin-bottom: 5px;

                        }

                        & .orderDetialsHeading+p {
                            font-weight: 500;
                            color: dimgrey;
                            text-align: center;
                            letter-spacing: 0.4px;
                            font-size: 14px !important;
                        }
                    }

                    & .orderDetailSecondColumn {
                        display: flex;
                        align-items: center;
                        gap: 20px;

                        & button {
                            color: dimgrey;
                            border: 1px dotted #e23200;
                            background: none;
                            height: 45px;
                            width: 130px;
                            font-size: 14px;
                            font-weight: 500;


                        }
                    }
                }


                & .productsList {

                    & .productItem {
                        padding-inline: 40px;
                        border: 0.2px solid rgba(68, 66, 66, 0.274);
                        border-top: none;
                        padding-block: 40px;

                        & .productItemFirstRow {
                            display: flex;
                            width: 100%;
                            justify-content: space-between;

                            & img {
                                border-radius: 5px;
                            }
                        }

                        & .productItemSecondRow {
                            display: flex;
                            justify-content: space-between;

                            & .status {
                                display: flex;
                                gap: 3px;
                                align-items: center;

                                & span {
                                    color: rgba(var(--primary), 0.8);
                                }

                                & .pending {
                                    /* color: rgba(var(--primary), 0.8); */
                                    border-radius: 50%;
                                    font-size: 20px;
                                    padding: 5px;
                                    color: white;
                                    background:rgb(var(--danger));
                                }

                                & .done_logo {
                                    padding: 2px;
                                    background-color: rgb(10, 220, 118);
                                    border-radius: 50%;
                                    color: white;
                                    font-size: 16px;
                                
                                }

                            }

                            & .btns {
                                display: flex;
                                /* gap: 10px; */
                                height: 30px;

                                & button {
                                    background: none;
                                    border-radius: 0px;
                                    height: 100%;
                                    font-size: 14px;
                                    font-weight: 500;
                                    padding-block: 0 !important;
                                    color: rgba(var(--primary), 1);
                                    transition: scale 0.5s;

                                    &:hover {
                                        scale: 1.23;
                                    }
                                }

                                & .viewProduct {
                                    border-right: 0.2px solid rgba(68, 66, 66, 0.274);


                                }

                            }

                        }


                    }
                }

            }
        }

    }
}




.disableInput {

    & input {
        pointer-events: none;
    }

}


.enableInput {

    & input {
        pointer-events: initial;
        background-color: #f5f5f58c !important;
    }

}