<section>
    <div class="container d-flex">
        <!--BUTTONS DIV -->

        <nav class="navbar d-flex flex-column gap-25">

            <ul class="nav-items">
                <li class="nav-links"><a (click)="changeComponent('profile')">
                        <span class="nav-icons material-symbols-outlined">
                            person
                        </span>
                        <span class="nav-txt">Home</span>
                    </a></li>
                <li class="nav-links"><a (click)="changeComponent('orders')">
                        <span class="nav-icons material-symbols-outlined">
                            favorite
                        </span>
                        <span class="nav-txt">Order</span>
                    </a></li>
                <li class="nav-links"><a href="#">
                        <span class="nav-icons material-symbols-outlined">
                            logout
                        </span>
                        <span class="nav-txt">Logout</span>
                    </a></li>
            </ul>
        </nav>



        <!-- 
        <div class="constant">
            <div>
            <h2>User Profiles</h2>
       
            <button (click)="changeComponent('orders')" class="active">
                <span class="material-symbols-outlined">
                    person
                    </span>
               Orders 
            </button>
            <button (click)="changeComponent('profile')">
                <span class="material-symbols-outlined">
                    favorite
                    </span>
              Profile
            </button>
        </div>
        <button (click)="changeComponent('profile')" class="logout">
            <span class="material-symbols-outlined">
                logout
                </span>
         LOGOUT
        </button>

           
        </div> -->

        <!-- COMPONENT SHOW DIV -->

        <div class="profile" *ngIf="showData=='profile'">


            <div class="common">
                <h2>

                    Profile Details



                </h2>

                <span class="material-symbols-outlined edit-btn" *ngIf="isReadOnly" (click)="editClick()">
                    edit
                </span>

                <button class="btn-primary" *ngIf="!isReadOnly" (click)="editClick()" #myButton>Save</button>

            </div>








            <form [formGroup]="signupForm" class="d-flex gap-15 disableInput"
                [ngClass]="isReadOnly === true ? 'disableInput' : 'enableInput'">
                <div class="form__group relative d-flex flex-column">
                    <label class="form__label">NAME<span>*</span></label>
                    <span class="material-symbols-outlined form__icon absolute">person</span>
                    <input type="text" id="name" formControlName="username" placeholder="Enter Your Username">

                </div>


                <div class="form__group relative d-flex flex-column">
                    <label class="form__label">USERNAME<span>*</span></label>
                    <span class="material-symbols-outlined form__icon absolute">person</span>
                    <input type="text" id="username" formControlName="username" placeholder="Enter Your Username">

                </div>




                <div class="form__group relative d-flex flex-column">
                    <label class="form__label">USEREMAIL<span>*</span></label>
                    <span class="material-symbols-outlined form__icon absolute">person</span>
                    <input type="text" id="email" formControlName="email" placeholder="Enter Your Username">

                </div>


                <div class="form__group relative d-flex flex-column">
                    <label class="form__label">MOBILENO<span>*</span></label>
                    <span class="material-symbols-outlined form__icon absolute">person</span>
                    <input type="text" id="mobileNo" formControlName="mobileNo" placeholder="Enter Your Username">

                </div>


                <div class="form__group relative d-flex flex-column">
                    <label class="form__label">GENDER<span>*</span></label>
                    <span class="material-symbols-outlined form__icon absolute">person</span>
                    <input type="text" id="gender" formControlName="gender" placeholder="Enter Your Username">

                </div>


                <div class="form__group relative d-flex flex-column">
                    <label class="form__label">DOB<span>*</span></label>
                    <span class="material-symbols-outlined form__icon absolute">person</span>
                    <input type="text" id="dob" formControlName="dob" placeholder="Enter Your Username">

                </div>

                <div class="form__group relative d-flex flex-column">
                    <label class="form__label">ADDRESS<span>*</span></label>
                    <span class="material-symbols-outlined form__icon absolute">person</span>
                    <input type="text" id="address" formControlName="address" placeholder="Enter Your Username">

                </div>


            </form>





        </div>

     

            <div class="Allorders"  *ngIf="showData=='orders'">
                <div *ngFor="let order of userData.orders" class="order">
                    <div class="d-flex justify-content-md-between orderDetails">



                        <div class="orderDetailFirstColumn">
                            <div>
                                <p class="orderDetialsHeading"> Order Id</p>
                                <p> {{order.orderId}}</p>
                            </div>


                            <div>
                                <p class="orderDetialsHeading"> Order Date </p>
                                <p> {{order.orderDate}}</p>
                            </div>


                            <div>
                                <p class="orderDetialsHeading"> Total Amount </p>
                                <p> {{order.orderTotal}}</p>
                            </div>


                        </div>

                        <div class="orderDetailSecondColumn">
                            <button>View Order</button>
                            <button>View Invoice</button>
                        </div>

                    </div>


                    <div class="productsList">
                        <div *ngFor="let product of order.products"
                            class="d-flex flex-column gap-20 justify-content-md-between productItem">


                            <div class="productItemFirstRow">
                                <div class="d-flex gap-20">
                                    <img src="{{product.image}}" style="width: 100px; height: 100px;">

                                    <div class="d-flex flex-column gap-5">
                                        <p>{{product.name}}</p>
                                        <p>{{product.description}}</p>

                                    </div>


                                </div>
                                <!-- <p>Status:{{product.status}}</p> -->

                                <p class="price d-flex">{{product.price}}</p>
                            </div>

                            <div class="productItemSecondRow">
                                <div class="status">
                                    <span class="material-symbols-outlined pending" *ngIf="product.status=='pending'">
                                        local_shipping
                                        </span>

                                        <span class="material-symbols-outlined done_logo" *ngIf="product.status=='delivered'" cla>
                                            done
                                            </span> 
                                        
                                    <p>{{product.status}}</p>
                                </div>
                                <div class="btns">
                                    <button class="viewProduct">View Product</button>
                                    <button>Buy Again</button>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>

            </div>
    




    </div>
</section>